// Code generated by Fern. DO NOT EDIT.

package organizationtemplates

import (
	context "context"
	http "net/http"

	management "github.com/auth0/go-auth0/v3/management"
	core "github.com/auth0/go-auth0/v3/management/core"
	internal "github.com/auth0/go-auth0/v3/management/internal"
	option "github.com/auth0/go-auth0/v3/management/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Retrieve a list of Organization Templates. This endpoint supports Checkpoint pagination. Results are returned in a stable order, sorted by their identifier (`id`) in ascending order.
func (c *Client) List(
	ctx context.Context,
	request *management.ListOrganizationTemplatesRequestParameters,
	opts ...option.RequestOption,
) (*core.Page[*string, *management.OrganizationTemplate, *management.ListOrganizationTemplatesPaginatedResponseContent], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://%7BTENANT%7D.auth0.com/api/v2",
	)
	endpointURL := baseURL + "/organization-templates"
	queryParams, err := internal.QueryValuesWithDefaults(
		request,
		map[string]any{
			"take": 5,
		},
	)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("from", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(management.ErrorCodes),
		}
	}
	readPageResponse := func(response *management.ListOrganizationTemplatesPaginatedResponseContent) *core.PageResponse[*string, *management.OrganizationTemplate, *management.ListOrganizationTemplatesPaginatedResponseContent] {
		var zeroValue *string
		next := response.Next
		results := response.OrganizationTemplates
		return &core.PageResponse[*string, *management.OrganizationTemplate, *management.ListOrganizationTemplatesPaginatedResponseContent]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.From)
}

// Create an Organization Template.
func (c *Client) Create(
	ctx context.Context,
	request *management.CreateOrganizationTemplateRequestContent,
	opts ...option.RequestOption,
) (*management.OrganizationTemplate, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieve details about a single Organization Template specified by ID.
func (c *Client) Get(
	ctx context.Context,
	// Organization Template identifier.
	id string,
	opts ...option.RequestOption,
) (*management.OrganizationTemplate, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		id,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Update the details of a specific Organization Template.
func (c *Client) Update(
	ctx context.Context,
	// Organization Template identifier.
	id string,
	request *management.UpdateOrganizationTemplateRequestContent,
	opts ...option.RequestOption,
) (*management.OrganizationTemplate, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		id,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieve a list of organizations assigned to an Organization Template. This endpoint supports Checkpoint pagination. Results are returned in a stable order, sorted by their identifier (`id`) in ascending order.
func (c *Client) ListOrganizations(
	ctx context.Context,
	// The ID of the organization template.
	id string,
	request *management.ListTemplateOrganizationsRequestParameters,
	opts ...option.RequestOption,
) (*core.Page[*string, *management.OrganizationTemplateAssignedOrganization, *management.ListTemplateOrganizationsPaginatedResponseContent], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://%7BTENANT%7D.auth0.com/api/v2",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/organization-templates/%v/organizations",
		id,
	)
	queryParams, err := internal.QueryValuesWithDefaults(
		request,
		map[string]any{
			"take": 5,
		},
	)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("from", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(management.ErrorCodes),
		}
	}
	readPageResponse := func(response *management.ListTemplateOrganizationsPaginatedResponseContent) *core.PageResponse[*string, *management.OrganizationTemplateAssignedOrganization, *management.ListTemplateOrganizationsPaginatedResponseContent] {
		var zeroValue *string
		next := response.Next
		results := response.Organizations
		return &core.PageResponse[*string, *management.OrganizationTemplateAssignedOrganization, *management.ListTemplateOrganizationsPaginatedResponseContent]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.From)
}
