---
version: 1
interactions:
    - request:
        body: |
            {"name":"Test-LogStream-1674586425","type":"segment","sink":{"segmentWriteKey":"121233123455"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/log-streams
        method: POST
      response:
        body: '{"id":"lst_0000000000011466","name":"Test-LogStream-1674586425","type":"segment","status":"active","sink":{"segmentWriteKey":"121233123455"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1ms
    - request:
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000011466
        method: GET
      response:
        body: '{"id":"lst_0000000000011466","name":"Test-LogStream-1674586425","type":"segment","status":"active","sink":{"segmentWriteKey":"121233123455"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1ms
[...]
