// Code generated by Fern. DO NOT EDIT.

package segments

import (
	context "context"
	http "net/http"

	management "github.com/auth0/go-auth0/v2/management"
	core "github.com/auth0/go-auth0/v2/management/core"
	internal "github.com/auth0/go-auth0/v2/management/internal"
	option "github.com/auth0/go-auth0/v2/management/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Retrieve a paginated list of segments for the tenant.
func (c *Client) List(
	ctx context.Context,
	request *management.ListSegmentsRequestParameters,
	opts ...option.RequestOption,
) (*core.Page[*string, *management.Segment, *management.ListSegmentsResponseContent], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://%7BTENANT%7D.auth0.com/api/v2",
	)
	endpointURL := baseURL + "/experimentation/segments"
	queryParams, err := internal.QueryValuesWithDefaults(
		request,
		map[string]any{
			"take": 50,
		},
	)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("from", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(management.ErrorCodes),
		}
	}
	readPageResponse := func(response *management.ListSegmentsResponseContent) *core.PageResponse[*string, *management.Segment, *management.ListSegmentsResponseContent] {
		var zeroValue *string
		next := response.Next
		results := response.Segments
		return &core.PageResponse[*string, *management.Segment, *management.ListSegmentsResponseContent]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.From)
}

// Create a new segment with rule-based membership criteria for use in experiments.
func (c *Client) Create(
	ctx context.Context,
	request *management.CreateSegmentRequestContent,
	opts ...option.RequestOption,
) (*management.CreateSegmentResponseContent, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieve a single segment by its ID.
func (c *Client) Get(
	ctx context.Context,
	// The ID of the segment to retrieve.
	id string,
	opts ...option.RequestOption,
) (*management.GetSegmentResponseContent, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		id,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Delete a segment by ID. Idempotent: returns 204 even if segment does not exist.
func (c *Client) Delete(
	ctx context.Context,
	// The ID of the segment to delete.
	id string,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Delete(
		ctx,
		id,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Partially update a segment by ID. Only provided fields are updated. Sending rules replaces the entire rules array.
func (c *Client) Update(
	ctx context.Context,
	// The ID of the segment to update.
	id string,
	request *management.UpdateSegmentRequestContent,
	opts ...option.RequestOption,
) (*management.UpdateSegmentResponseContent, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		id,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
