---
version: 1
interactions:
- request:
    body: |
      {"name":"test-rule878","script":"function (user, context, callback) { callback(null, user, context); }","enabled":false}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/rules
    method: POST
  response:
    body: '{"id":"rul_fEL1CJrgnq3NjCBe","enabled":false,"script":"function (user,
      context, callback) { callback(null, user, context); }","name":"test-rule878","order":1,"stage":"login_success"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/rules/rul_fEL1CJrgnq3NjCBe
    method: GET
  response:
    body: '{"id":"rul_fEL1CJrgnq3NjCBe","enabled":false,"script":"function (user,
      context, callback) { callback(null, user, context); }","name":"test-rule878","order":1,"stage":"login_success"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
