---
version: 1
interactions:
- request:
    body: |
      {"name":"smtp","enabled":true,"default_from_address":"no-reply@example.com","credentials":{"smtp_host":"smtp.example.com","smtp_port":587,"smtp_user":"user","smtp_pass":"pass"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/emails/provider
    method: POST
  response:
    body: '{"statusCode":409,"error":"Conflict","message":"An email provider is already
      configured: mandrill","errorCode":"email_provider_conflict"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 409 Conflict
    code: 409
    duration: 1ms
