---
version: 1
interactions:
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/actions/triggers
    method: GET
  response:
    body: '{"triggers":[{"id":"post-login","version":"v1","status":"DEPRECATED","runtimes":["node12"],"default_runtime":"node12","compatible_triggers":[]},{"id":"post-login","version":"v2","status":"DEPRECATED","runtimes":["node12","node16"],"default_runtime":"node16","compatible_triggers":[]},{"id":"post-login","version":"v3","status":"CURRENT","runtimes":["node12","node16"],"default_runtime":"node16","compatible_triggers":[{"id":"post-login","version":"v2"}]},{"id":"credentials-exchange","version":"v1","status":"DEPRECATED","runtimes":["node12"],"default_runtime":"node12","compatible_triggers":[]},{"id":"credentials-exchange","version":"v2",[...]
