---
version: 1
interactions:
- request:
    body: |
      {"name":"test-rule636","script":"function (user, context, callback) { callback(null, user, context); }","enabled":false}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/rules
    method: POST
  response:
    body: '{"id":"rul_S1AlazU6UMOVkcrN","enabled":false,"script":"function (user,
      context, callback) { callback(null, user, context); }","name":"test-rule636","order":1,"stage":"login_success"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      {"order":5,"enabled":true}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/rules/rul_S1AlazU6UMOVkcrN
    method: PATCH
  response:
    body: '{"id":"rul_S1AlazU6UMOVkcrN","enabled":true,"script":"function (user, context,
      callback) { callback(null, user, context); }","name":"test-rule636","order":5,"stage":"login_success"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
