---
version: 1
interactions:
- request:
    body: |
      {"name":"test-hook407","script":"function (user, context, callback) { callback(null, { user }); }","triggerId":"pre-user-registration","enabled":false}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/hooks
    method: POST
  response:
    body: '{"id":"01G4WJJP891QK561CW4AWQ9XPF","name":"test-hook-407","script":"function
      (user, context, callback) { callback(null, { user }); }","dependencies":{},"triggerId":"pre-user-registration","enabled":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/hooks/01G4WJJP891QK561CW4AWQ9XPF
    method: GET
  response:
    body: '{"id":"01G4WJJP891QK561CW4AWQ9XPF","name":"test-hook-407","script":"function
      (user, context, callback) { callback(null, { user }); }","dependencies":{},"enabled":false,"triggerId":"pre-user-registration"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
