---
version: 1
interactions:
- request:
    body: |
      {"connection":"Username-Password-Authentication","email":"chuck152@example.com","given_name":"Chuck","family_name":"Sanchez","username":"test-user357","nickname":"Chucky","password":"Passwords hide their chuck","user_metadata":{"favourite_attack":"roundhouse_kick"},"verify_email":false,"app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]},"picture":"https://example-picture-url.jpg","blocked":false,"email_verified":true}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/users
    method: POST
  response:
    body: '{"blocked":false,"created_at":"2022-06-06T13:26:21.735Z","email":"chuck152@example.com","email_verified":true,"family_name":"Sanchez","given_name":"Chuck","identities":[{"connection":"Username-Password-Authentication","user_id":"629e007d937877006e4faa29","provider":"auth0","isSocial":false}],"name":"chuck152@example.com","nickname":"Chucky","picture":"https://example-picture-url.jpg","updated_at":"2022-06-06T13:26:21.735Z","user_id":"auth0|629e007d937877006e4faa29","user_metadata":{"favourite_attack":"roundhouse_kick"},"username":"test-user357","app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
[...]
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Username-Password-Authentication&per_page=50
    method: GET
  response:
    body: '{"total":1,"start":0,"limit":50,"connections":[{"id":"con_ftSSLHb0O7rcUGmF","options":{"mfa":{"active":true,"return_enroll_settings":true},"validation":{"username":{"max":15,"min":1}},"import_mode":false,"configuration":{},"customScripts":{"login":"function
      login(email, password, callback) {\n  // This script should authenticate a user
      against the credentials stored in\n  // your database.\n  // It is executed
      when a user attempts to log in or immediately after signing\n  // up (as a verification
      that the user was successfully signed up).\n  //\n  // Everything returned by
      this script will be set as part of the user profile\n  // and will be visible
      by any of the tenant admins. Avoid adding attributes\n[...]
- request:
    body: |
      {"connection_id":"con_ftSSLHb0O7rcUGmF","user_id":"auth0|629e007e8894720068e6a2f8","provider":"auth0"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C629e007d937877006e4faa29/identities
    method: POST
  response:
    body: '[{"profileData":{"email":"chuck152@example.com","given_name":"Chuck","family_name":"Sanchez","username":"test-user357","nickname":"Chucky","picture":"https://example-picture-url.jpg","email_verified":true},"connection":"Username-Password-Authentication","user_id":"629e007d937877006e4faa29","provider":"auth0","isSocial":false},{"profileData":{"email":"chuck718@example.com","given_name":"Chuck","family_name":"Sanchez","username":"test-user84","nickname":"Chucky","picture":"https://example-picture-url.jpg","email_verified":true},"connection":"Username-Password-Authentication","user_id":"629e007e8894720068e6a2f8","provider":"auth0","isSocial":false}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C629e007d937877006e4faa29/identities/auth0/629e007e8894720068e6a2f8
    method: DELETE
  response:
    body: '[{"profileData":{"email":"chuck152@example.com","given_name":"Chuck","family_name":"Sanchez","username":"test-user357","nickname":"Chucky","picture":"https://example-picture-url.jpg","email_verified":true},"connection":"Username-Password-Authentication","user_id":"629e007d937877006e4faa29","provider":"auth0","isSocial":false}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C629e007e8894720068e6a2f8
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 204 No Content
    code: 204
    duration: 1ms
[...]
