---
version: 1
interactions:
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/stats/daily
    method: GET
  response:
    body: '[{"date":"2021-09-16T00:00:00.000Z","created_at":"2021-09-16T09:21:33.903Z","leaked_passwords":0,"logins":3,"signups":1,"updated_at":"2021-09-16T23:21:32.480Z"},{"date":"2021-09-17T00:00:00.000Z","created_at":"2021-09-17T08:21:35.219Z","leaked_passwords":0,"logins":5,"signups":0,"updated_at":"2021-09-17T23:21:32.120Z"},{"date":"2021-09-27T00:00:00.000Z","created_at":"2021-09-27T14:21:35.719Z","leaked_passwords":0,"logins":6,"signups":0,"updated_at":"2021-09-27T23:21:33.975Z"},{"date":"2021-10-08T00:00:00.000Z","created_at":"2021-10-08T17:21:31.899Z","leaked_passwords":0,"logins":5,"signups":0,"updated_at":"2021-10-08T23:21:27[...]
