---
version: 1
interactions:
- request:
    body: |
      {"name":"Test Client (Jun  6 15:12:21.296)","description":"This is just a test client.","organization_usage":"allow"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/clients
    method: POST
  response:
    body: '{"name":"Test Client (Jun  6 15:12:21.296)","description":"This is just
      a test client.","client_id":"S9fgeH83YC5uwUA6O7ohYUq0rzFbrhSI","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"organization_usage":"allow"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/clients?fields=client_id&include_fields=true&include_totals=true&per_page=50
    method: GET
  response:
    body: '{"total":7,"start":0,"limit":50,"clients":[{"tenant":"go-auth0-dev","client_id":"Z3FKRhWMsXg7iwljDHcNtAkUnCRXYttO"},{"tenant":"go-auth0-dev","client_id":"O6L9dP0GnD10qe4NVE6K67PiDEHxZEid"},{"tenant":"go-auth0-dev","client_id":"3tjbn4dFI04fpHKnVlGs1GYDzQKIEmbF"},{"tenant":"go-auth0-dev","client_id":"uRWKdiFmUEC3Kohfpq4HKjgKe26ynMSj"},{"tenant":"go-auth0-dev","client_id":"8IgJbmEeGNsF7A4GXnYaiO6hScFYMjAv"},{"tenant":"go-auth0-dev","client_id":"S9fgeH83YC5uwUA6O7ohYUq0rzFbrhSI"},{"tenant":"go-auth0-dev","client_id":"vugiCcTHg2cZOhKIA8bwDVw3cwLZYzaf"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <http://go-auth0-dev.eu.auth0.com/api/v2/clients?fields=client_id&include_fields=true&include_totals=true&per_page=50&page=0>;
        rel="first", <http://go-auth0-dev.eu.auth0.com/api/v2/clients?fields=client_id&include_fields=true&include_totals=true&per_page=50&page=0>;
        rel="last"
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/clients/S9fgeH83YC5uwUA6O7ohYUq0rzFbrhSI
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 204 No Content
    code: 204
    duration: 1ms
