---
version: 1
interactions:
- request:
    body: |
      {"domain":"1654521096.auth.uat.auth0.com","type":"auth0_managed_certs","tls_policy":"recommended"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains
    method: POST
  response:
    body: '{"custom_domain_id":"cd_LKQaeqz1q0KnNapM","domain":"1654521096.auth.uat.auth0.com","primary":true,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"cname","record":"go-auth0-dev-cd-lkqaeqz1q0knnapm.edge.tenants.eu.auth0.com"}]},"tls_policy":"recommended"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      "\u003c!DOCTYPE html\u003e\u003chtml\u003e\u003chead\u003e{%- auth0:head -%}\u003c/head\u003e\u003cbody\u003e{%- auth0:widget -%}\u003c/body\u003e\u003c/html\u003e"
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/branding/templates/universal-login
    method: PUT
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/branding/templates/universal-login
    method: GET
  response:
    body: '{"body":"<!DOCTYPE html><html><head>{%- auth0:head -%}</head><body>{%-
      auth0:widget -%}</body></html>"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_LKQaeqz1q0KnNapM
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 204 No Content
    code: 204
    duration: 1ms
