---
version: 1
interactions:
- request:
    body: |
      {"name":"Test-Auth0-Connection-1654521254","strategy":"auth0"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
    method: POST
  response:
    body: '{"id":"con_xmsvQClZICoRbndj","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"brute_force_protection":true},"strategy":"auth0","name":"Test-Auth0-Connection-1654521254","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Auth0-Connection-1654521254"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_xmsvQClZICoRbndj
    method: DELETE
  response:
    body: '{"deleted_at":"2022-06-06T13:14:14.767Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 202 Accepted
    code: 202
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_xmsvQClZICoRbndj
    method: GET
  response:
    body: '{"statusCode":404,"error":"Not Found","message":"The connection does not
      exist","errorCode":"inexistent_connection"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 404 Not Found
    code: 404
    duration: 1ms
[...]
