---
version: 1
interactions:
- request:
    body: |
      {"name":"test-rule407","script":"function (user, context, callback) { callback(null, user, context); }","enabled":false}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/rules
    method: POST
  response:
    body: '{"id":"rul_s5pFXkQD0cV67h2y","enabled":false,"script":"function (user,
      context, callback) { callback(null, user, context); }","name":"test-rule407","order":1,"stage":"login_success"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/rules/rul_s5pFXkQD0cV67h2y
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 204 No Content
    code: 204
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/rules/rul_s5pFXkQD0cV67h2y
    method: GET
  response:
    body: '{"statusCode":404,"error":"Not Found","message":"The rule does not exist","errorCode":"inexistent_rule"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 404 Not Found
    code: 404
    duration: 1ms
[...]
