---
version: 1
interactions:
- request:
    body: |
      {"name":"test-rule","script":"function (user, context, callback) { callback(null, user, context); }","enabled":false}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/rules
    method: POST
  response:
    body: '{"id":"rul_8lafoeTQnPIh4fG3","enabled":false,"script":"function (user,
      context, callback) { callback(null, user, context); }","name":"test-rule","order":1,"stage":"login_success"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/rules/rul_8lafoeTQnPIh4fG3
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 204 No Content
    code: 204
    duration: 1ms
