---
version: 1
interactions:
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/branding
    method: GET
  response:
    body: '{"colors":{"primary":"#ea5323","page_background":{"type":"linear-gradient","start":"#000000","end":"#ffffff","angle_deg":35}},"favicon_url":"https://mycompany.org/favicon.ico","font":{"url":"https://mycompany.org/font.otf"},"logo_url":"https://mycompany.org/logo.png"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
