---
version: 1
interactions:
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/tenants/settings
    method: GET
  response:
    body: '{"allowed_logout_urls":["https://mycompany.org/logoutCallback"],"change_password":{"enabled":true,"html":"<html>Change
      Password</html>"},"default_redirection_uri":"https://example.com/login","enabled_locales":["de","fr"],"error_page":{"html":"<html>Error
      Page</html>","url":"https://mycompany.org/error","show_log_link":false},"flags":{"allow_changing_enable_sso":false,"change_pwd_flow_v1":false,"disable_impersonation":true,"enable_apis_section":false,"enable_client_connections":true,"enable_custom_domain_in_emails":false,"enable_dynamic_client_registration":false,"enable_legacy_logs_search_v2":false,"enable_public_signup_user_exists_error":true,"enable_sso":true,"new_universal_login_experience_enabled":false,"universal_login":false,"use_scope_descriptions_for_consent":false,"revoke_refresh_token_grant":false,"disable_clickjack_protection_headers":false,"enable_pipeline2":false},"friendly_name":"My
      Example Tenant","guardian_mfa_page":{"enabled":true,"html":"<html>MFA</html>"},"idle_session_lifetime":720,"picture_url":"https://mycompany.org/logo.png","sandbox_version":"12","session_lifetime":1080,"support_email":"support@example.com","support_url":"https://support.example.com","universal_login":{"colors":{"primary":"#ea5323","page_background":{"type":"linear-gradient","start":"#000000","end":"#ffffff","angle_deg":35}}},"sandbox_versions_available":["12"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      {"friendly_name":"My Example Tenant","support_email":"support@example.com","support_url":"https://support.example.com","session_lifetime":1080,"idle_session_lifetime":720,"default_redirection_uri":"https://example.com/login","session_cookie":{"mode":"non-persistent"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/tenants/settings
    method: PATCH
  response:
    body: '{"allowed_logout_urls":["https://mycompany.org/logoutCallback"],"change_password":{"enabled":true,"html":"<html>Change
      Password</html>"},"default_redirection_uri":"https://example.com/login","enabled_locales":["de","fr"],"error_page":{"html":"<html>Error
      Page</html>","url":"https://mycompa[...]
[...]
- request:
    body: |
      {"change_password":{"enabled":true,"html":"\u003chtml\u003eChange Password\u003c/html\u003e"},"guardian_mfa_page":{"enabled":true,"html":"\u003chtml\u003eMFA\u003c/html\u003e"},"error_page":{"html":"\u003chtml\u003eError Page\u003c/html\u003e","show_log_link":false,"url":"https://mycompany.org/error"},"friendly_name":"My Example Tenant","picture_url":"https://mycompany.org/logo.png","support_email":"support@example.com","support_url":"https://support.example.com","al[...]
