---
version: 1
interactions:
- request:
    body: |
      {"domain":"1654521313.auth.uat.auth0.com","type":"auth0_managed_certs","tls_policy":"recommended"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains
    method: POST
  response:
    body: '{"custom_domain_id":"cd_S9d405WlrFuzfh7U","domain":"1654521313.auth.uat.auth0.com","primary":true,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"cname","record":"go-auth0-dev-cd-s9d405wlrfuzfh7u.edge.tenants.eu.auth0.com"}]},"tls_policy":"recommended"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_S9d405WlrFuzfh7U
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 204 No Content
    code: 204
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_S9d405WlrFuzfh7U
    method: GET
  response:
    body: '{"statusCode":404,"error":"Not Found","message":"The custom domain cd_S9d405WlrFuzfh7U
      does not exist","errorCode":"inexistent_custom_domain"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 404 Not Found
    code: 404
    duration: 1ms
[...]
