---
version: 1
interactions:
- request:
    body: |
      {"name":"Test Client (Jun  6 15:11:32.862)","description":"This is just a test client.","organization_usage":"allow"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/clients
    method: POST
  response:
    body: '{"name":"Test Client (Jun  6 15:11:32.862)","description":"This is just
      a test client.","client_id":"spwGX4IE7zfx9PdbRiM0QlBFxFdL8R4e","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"organization_usage":"allow"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      {"aud":"spwGX4IE7zfx9PdbRiM0QlBFxFdL8R4e","jti":"test"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/blacklists/tokens
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 204 No Content
    code: 204
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/blacklists/tokens?aud=spwGX4IE7zfx9PdbRiM0QlBFxFdL8R4e&include_totals=true&per_page=50
    method: GET
  response:
    body: '[{"aud":"spwGX4IE7zfx9PdbRiM0QlBFxFdL8R4e","jti":"test"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/clients/spwGX4IE7zfx9PdbRiM0QlBFxFdL8R4e
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 204 No Content
    code: 204
    duration: 1ms
