---
version: 1
interactions:
  - request:
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Username-Password-Authentication&per_page=50
      method: GET
    response:
      body: '{"total":1,"start":0,"limit":50,"connections":[{"id":"con_ftSSLHb0O7rcUGmF","options":{"mfa":{"active":true,"return_enroll_settings":true},"validation":{"username":{"max":15,"min":1}},"import_mode":false,"configuration":{},"passwordPolicy":"good","password_history":{"size":5,"enable":false},"strategy_version":2,"requires_username":true,"password_dictionary":{"enable":false,"dictionary":[]},"brute_force_protection":true,"password_no_personal_info":{"enable":false},"password_complexity_options":{"min_length":8},"enabledDatabaseCustomization":false},"strategy":"auth0","name":"Username-Password-Authentication","is_domain_connection":false,"realms":["Username-Password-Authentication"],"enabled_clients":[]}]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - request:
      body: "--f99f9780d74b67b0be02248265c67010514956afeed2d7716af0e1c67010\r\nContent-Disposition: form-data; name=\"connection_id\"\r\n\r\ncon_ftSSLHb0O7rcUGmF\r\n--f99f9780d74b67b0be02248265c67010514956afeed2d7716af0e1c67010\r\nContent-Disposition: form-data; name=\"upsert\"\r\n\r\ntrue\r\n--f99f9780d74b67b0be02248265c67010514956afeed2d7716af0e1c67010\r\nContent-Disposition: form-data; name=\"external_id\"\r\n\r\n\r\n--f99f9780d74b67b0be02248265c67010514956afeed2d7716af0e1c67010\r\nContent-Disposition: form-data; name=\"send_completion_email\"\r\n\r\nfalse\r\n--f99f9780d74b67b0be02248265c67010514956afeed2d7716af0e1c67010\r\nContent-Disposition: form-data; name=\"users\"; filename=\"users.json\"\r\nContent-Type: application/json\r\n\r\n[{\"email\":\"auzironian@example.com\",\"email_verified\":true}]\r\n--f99f9780d74b67b0be02248265c67010514956afeed2d7716af0e1c67010--\r\n"
      form: { }
      headers:
        Content-Type:
          - multipart/form-data; boundary=f99f9780d74b67b0be02248265c67010514956afeed2d7716af0e1c67010
      url: https://go-auth0-dev.eu.auth0.com/api/v2/jobs/users-imports
      method: POST
    response:
      body: '{"type":"users_import","status":"pending","connection_id":"con_ftSSLHb0O7rcUGmF","connection":"Username-Password-Authentication","created_at":"2022-12-19T11:08:17.996Z","id":"job_mtPybUbEVgQxGUM7"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 202 Accepted
      code: 202
      duration: 1ms
  - request:
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://go-auth0-dev.eu.auth0.com/api/v2/jobs/job_mtPybUbEVgQxGUM7
      method: GET
    response:
      body: '{"type":"users_import","status":"completed","connection_id":"con_ftSSLHb0O7rcUGmF","summary":{"failed":0,"updated":0,"inserted":1,"total":1},"connection":"Username-Password-Authentication","created_at":"2022-12-19T11:08:17.996Z","id":"job_mtPybUbEVgQxGUM7"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - request:
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://go-auth0-dev.eu.auth0.com/api/v2/users-by-email?email=auzironian%40example.com
      method: GET
    response:
      body: '[{"email":"auzironian@example.com","email_verified":true,"created_at":"2022-12-19T11:08:18.097Z","updated_at":"2022-12-19T11:08:18.097Z","identities":[{"provider":"auth0","connection":"Username-Password-Authentication","isSocial":false,"user_id":"63a046228d8c6eeaff6c8a9b"}],"user_id":"auth0|63a046228d8c6eeaff6c8a9b","name":"auzironian@example.com","picture":"https://secure.gravatar.com/avatar/1eafdbc62a30a384b6d9a04e1cc21500?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fau.png","nickname":"auzironian"}]'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - request:
      body: ""
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C63a046228d8c6eeaff6c8a9b
      method: DELETE
    response:
      body: ""
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 204 No Content
      code: 204
      duration: 1ms
