---
version: 1
interactions:
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Username-Password-Authentication&per_page=50
    method: GET
  response:
    body: '{"total":1,"start":0,"limit":50,"connections":[{"id":"con_ftSSLHb0O7rcUGmF","options":{"mfa":{"active":true,"return_enroll_settings":true},"validation":{"username":{"max":15,"min":1}},"import_mode":false,"configuration":{},"customScripts":{"login":"function
      login(email, password, callback) {\n  // This script should authenticate a user
      against the credentials stored in\n  // your database.\n  // It is executed
      when a user attempts to log in or immediately after signing\n  // up (as a verification
      that the user was successfully signed up).\n  //\n  // Everything returned by
      this script will be set as part of the user profile\n  // and will be visible
      by any of the tenant admins. Avoid adding attributes\n[...]
- request:
    body: "--707b65b7f8acce394486978813f928d2a15d8d0aa6d0b1fd54f289974f29\r\nContent-Disposition:
      form-data; name=\"connection_id\"\r\n\r\ncon_ftSSLHb0O7rcUGmF\r\n--707b65b7f8acce394486978813f928d2a15d8d0aa6d0b1fd54f289974f29\r\nContent-Disposition:
      form-data; name=\"upsert\"\r\n\r\ntrue\r\n--707b65b7f8acce394486978813f928d2a15d8d0aa6d0b1fd54f289974f29\r\nContent-Disposition:
      form-data; name=\"send_completion_email\"\r\n\r\nfalse\r\n--707b65b7f8acce394486978813f928d2a15d8d0aa6d0b1fd54f289974f29\r\nContent-Disposition:
      form-data; name=\"users\"; filename=\"users.json\"\r\nContent-Type: application/json\r\n\r\n[{\"email\":\"auzironian@example.com\",\"email_verified\":true}]\r\n--707b65b7f8acce394486978813f928d2a15d8d0aa6d0b1fd54f289974f29--\r\n"
    form: {}
    headers:
      Content-Type:
      - multipart/form-data; boundary=707b65b7f8acce394486978813f928d2a15d8d0aa6d0b1fd54f289974f29
    url: https://go-auth0-dev.eu.auth0.com/api/v2/jobs/users-imports
    method: POST
  response:
    body: '{"type":"users_import","status":"pending","connection_id":"con_ftSSLHb0O7rcUGmF","connection":"Username-Password-Authentication","created_at":"2022-06-06T13:17:33.452Z","id":"job_O1GC5zszHVNeERh2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 202 Accepted
    code: 202
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/users-by-email?email=auzironian%40example.com
    method: GET
  response:
    body: '[{"email":"auzironian@example.com","email_verified":true,"created_at":"2022-06-06T13:17:33.562Z","updated_at":"2022-06-06T13:17:33.562Z","identities":[{"provider":"auth0","connection":"Username-Password-Authentication","isSocial":false,"user_id":"629dfe6dc9e63c0019dca017"}],"user_id":"auth0|629dfe6dc9e63c0019dca017","name":"auzironian@example.com","picture":"https://secure.gravatar.com/avatar/1eafdbc62a30a384b6d9a04e1cc21500?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fau.png","nickname":"auzironian"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C629dfe6dc9e63c0019dca017
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 204 No Content
    code: 204
    duration: 1ms
