---
version: 1
interactions:
- request:
    body: |
      {"name":"smtp","enabled":true,"default_from_address":"no-reply@example.com","credentials":{"smtp_host":"smtp.example.com","smtp_port":587,"smtp_user":"user","smtp_pass":"pass"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/emails/provider
    method: POST
  response:
    body: '{"name":"smtp","enabled":true,"default_from_address":"no-reply@example.com","credentials":{"smtp_host":"smtp.example.com","smtp_port":587,"smtp_user":"user"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      {"template":"verify_email","body":"\u003chtml\u003e\u003cbody\u003e\u003ch1\u003eVerify your email\u003c/h1\u003e\u003c/body\u003e\u003c/html\u003e","from":"me@example.com","resultUrl":"https://www.example.com/verify-email","subject":"Verify your email","syntax":"liquid","enabled":true,"includeEmailInRedirect":true}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/email-templates
    method: POST
  response:
    body: '{"statusCode":409,"error":"Conflict","message":"Template verify_email already
      exists."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 409 Conflict
    code: 409
    duration: 1ms
- request:
    body: |
      {"template":"verify_email","body":"\u003chtml\u003e\u003cbody\u003e\u003ch1\u003eLet's get you verified!\u003c/h1\u003e\u003c/body\u003e\u003c/html\u003e","from":"someone@example.com","resultUrl":"https://www.example.com/verify-email","subject":"Let's get you verified!","syntax":"liquid","enabled":true,"includeEmailInRedirect":true}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/email-templates/verify_email
    method: PUT
  response:
    body: '{"syntax":"liquid","body":"<html><body><h1>Let''s get you verified!</h1></body></html>","from":"someone@example.com","subject":"Let''s
      get you verified!","urlLifetimeInSeconds":432000,"template":"verify_email","includeEmailInRedirect":true,"resultUrl":"https://www.example.com/verify-email","enabled":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/email-templates/verify_email
    method: GET
  response:
    body: '{"syntax":"liquid","body":"<html><body><h1>Let''s get you verified!</h1></body></html>","from":"someone@example.com","subject":"Let''s
      get you verified!","urlLifetimeInSeconds":432000,"template":"verify_email","includeEmailInRedirect":true,"resultUrl":"https://www.example.com/verify-email","enabled":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
