---
version: 1
interactions:
- request:
    body: |
      {"name":"Test Resource Server (Jun  6 15:23:48.404)","identifier":"https://api.example.com/","scopes":[{"value":"create:resource","description":"Create Resource"}],"signing_alg":"HS256","token_lifetime":7200,"token_lifetime_for_web":3600}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/resource-servers
    method: POST
  response:
    body: '{"id":"629dffe440e70e004513f4a3","name":"Test Resource Server (Jun  6 15:23:48.404)","identifier":"https://api.example.com/","scopes":[{"value":"create:resource","description":"Create
      Resource"}],"signing_alg":"HS256","allow_offline_access":false,"token_lifetime":7200,"token_lifetime_for_web":3600,"skip_consent_for_verifiable_first_party_clients":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/resource-servers?fields=id&include_fields=true&include_totals=true&per_page=50
    method: GET
  response:
    body: '{"total":2,"start":0,"limit":50,"resource_servers":[{"id":"6141ac5ace2f54003e06e4c3"},{"id":"629dffe440e70e004513f4a3"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <http://go-auth0-dev.eu.auth0.com/api/v2/resource-servers?fields=id&include_fields=true&include_totals=true&per_page=50&page=0>;
        rel="first", <http://go-auth0-dev.eu.auth0.com/api/v2/resource-servers?fields=id&include_fields=true&include_totals=true&per_page=50&page=0>;
        rel="last"
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/resource-servers/629dffe440e70e004513f4a3
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 204 No Content
    code: 204
    duration: 1ms
