---
version: 1
interactions:
- request:
    body: |
      {"name":"test-role983","description":"Test Role"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/roles
    method: POST
  response:
    body: '{"id":"rol_ArwXOv16SRK5ZyJp","name":"test-role983","description":"Test
      Role"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/roles?include_totals=true&name_filter=test-role983&per_page=50
    method: GET
  response:
    body: '{"roles":[{"id":"rol_ArwXOv16SRK5ZyJp","name":"test-role983","description":"Test
      Role"}],"start":0,"limit":50,"total":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      {}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/roles/rol_ArwXOv16SRK5ZyJp
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
