---
version: 1
interactions:
    - request:
        body: |
            {"name":"smtp","enabled":true,"default_from_address":"no-reply@example.com","credentials":{"smtp_host":"smtp.example.com","smtp_port":587,"smtp_user":"user","smtp_pass":"pass"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/emails/provider
        method: POST
      response:
        body: '{"name":"smtp","enabled":true,"default_from_address":"no-reply@example.com","credentials":{"smtp_host":"smtp.example.com","smtp_port":587,"smtp_user":"user"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1ms
    - request:
        body: |
            {"name":"smtp","enabled":false,"default_from_address":"info@example.com","credentials":{"smtp_host":"smtp.example.com","smtp_port":587,"smtp_user":"user"},"settings":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/emails/provider
        method: PATCH
      response:
        body: '{"name":"smtp","enabled":false,"default_from_address":"info@example.com","credentials":{"smtp_host":"smtp.example.com","smtp_port":587,"smtp_user":"user"},"settings":{}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1ms
    - request:
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/emails/provider?fields=name%2Cenabled%2Cdefault_from_address%2Ccredentials%2Csettings&include_fields=true
        method: GET
      response:
        body: '{"name":"smtp","enabled":false,"default_from_address":"info@example.com","credentials":{"smtp_host":"smtp.example.com","smtp_port":587,"smtp_user":"user"},"settings":{}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1ms
[...]
