---
version: 1
interactions:
- request:
    body: |
      {"name":"Test Client (Jun  6 15:12:19.231)","description":"This is just a test client.","organization_usage":"allow"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/clients
    method: POST
  response:
    body: '{"name":"Test Client (Jun  6 15:12:19.231)","description":"This is just
      a test client.","client_id":"W9gOqS6yru6d8pNcwGYcDcBvTQnKeVbQ","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"organization_usage":"allow"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/clients/W9gOqS6yru6d8pNcwGYcDcBvTQnKeVbQ
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 204 No Content
    code: 204
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/clients/W9gOqS6yru6d8pNcwGYcDcBvTQnKeVbQ
    method: GET
  response:
    body: '{"statusCode":404,"error":"Not Found","message":"The client does not exist","errorCode":"inexistent_client"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 404 Not Found
    code: 404
    duration: 1ms
[...]
