---
version: 1
interactions:
- request:
    body: |
      {"name":"test-hook895","script":"function (user, context, callback) { callback(null, { user }); }","triggerId":"pre-user-registration","enabled":false}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/hooks
    method: POST
  response:
    body: '{"id":"01G4WJJTE6DATMHJ2QTP35S013","name":"test-hook-895","script":"function
      (user, context, callback) { callback(null, { user }); }","dependencies":{},"triggerId":"pre-user-registration","enabled":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/hooks/01G4WJJTE6DATMHJ2QTP35S013
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 204 No Content
    code: 204
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/hooks/01G4WJJTE6DATMHJ2QTP35S013
    method: GET
  response:
    body: '{"statusCode":404,"error":"Not Found","message":"Error: Hook does not exist","errorCode":"HookDoesNotExist"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 404 Not Found
    code: 404
    duration: 1ms
[...]
