---
version: 1
interactions:
  - request:
      body: |
        {"connection":"Username-Password-Authentication","email":"chuck878@example.com","given_name":"Chuck","family_name":"Sanchez","username":"test-user636","nickname":"Chucky","password":"Passwords hide their chuck","user_metadata":{"favourite_attack":"roundhouse_kick"},"verify_email":false,"app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]},"picture":"https://example-picture-url.jpg","blocked":false,"email_verified":true}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://go-auth0-dev.eu.auth0.com/api/v2/users
      method: POST
    response:
      body: '{"blocked":false,"created_at":"2022-12-19T12:51:38.614Z","email":"chuck878@example.com","email_verified":true,"family_name":"Sanchez","given_name":"Chuck","identities":[{"connection":"Username-Password-Authentication","user_id":"63a05e5a6ea7634fae1893af","provider":"auth0","isSocial":false}],"name":"chuck878@example.com","nickname":"Chucky","picture":"https://example-picture-url.jpg","updated_at":"2022-12-19T12:51:38.614Z","user_id":"auth0|63a05e5a6ea7634fae1893af","user_metadata":{"favourite_attack":"roundhouse_kick"},"username":"test-user636","app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 1ms
  - request:
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Username-Password-Authentication&per_page=50
      method: GET
    response:
      body: '{"total":1,"start":0,"limit":50,"connections":[{"id":"con_ftSSLHb0O7rcUGmF","options":{"mfa":{"active":true,"return_enroll_settings":true},"validation":{"username":{"max":15,"min":1}},"import_mode":false,"configuration":{},"passwordPolicy":"good","password_history":{"size":5,"enable":false},"strategy_version":2,"requires_username":true,"password_dictionary":{"enable":false,"dictionary":[]},"brute_force_protection":true,"password_no_personal_info":{"enable":false},"password_complexity_options":{"min_length":8},"enabledDatabaseCustomization":false},"strategy":"auth0","name":"Username-Password-Authentication","is_domain_connection":false,"realms":["Username-Password-Authentication"],"enabled_clients":[]}]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - request:
      body: "--86d8458dcd43f0d49b30ae345c6469ce927f3429a5c0c6b0a201643d51d8\r\nContent-Disposition: form-data; name=\"connection_id\"\r\n\r\ncon_ftSSLHb0O7rcUGmF\r\n--86d8458dcd43f0d49b30ae345c6469ce927f3429a5c0c6b0a201643d51d8\r\nContent-Disposition: form-data; name=\"upsert\"\r\n\r\nfalse\r\n--86d8458dcd43f0d49b30ae345c6469ce927f3429a5c0c6b0a201643d51d8\r\nContent-Disposition: form-data; name=\"external_id\"\r\n\r\n\r\n--86d8458dcd43f0d49b30ae345c6469ce927f3429a5c0c6b0a201643d51d8\r\nContent-Disposition: form-data; name=\"send_completion_email\"\r\n\r\nfalse\r\n--86d8458dcd43f0d49b30ae345c6469ce927f3429a5c0c6b0a201643d51d8\r\nContent-Disposition: form-data; name=\"users\"; filename=\"users.json\"\r\nContent-Type: application/json\r\n\r\n[{\"email\":\"chuck878@example.com\",\"email_verified\":true}]\r\n--86d8458dcd43f0d49b30ae345c6469ce927f3429a5c0c6b0a201643d51d8--\r\n"
      form: { }
      headers:
        Content-Type:
          - multipart/form-data; boundary=86d8458dcd43f0d49b30ae345c6469ce927f3429a5c0c6b0a201643d51d8
      url: https://go-auth0-dev.eu.auth0.com/api/v2/jobs/users-imports
      method: POST
    response:
      body: '{"type":"users_import","status":"pending","connection_id":"con_ftSSLHb0O7rcUGmF","connection":"Username-Password-Authentication","created_at":"2022-12-19T12:51:39.606Z","id":"job_Atb40xBugG7DP1bz"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 202 Accepted
      code: 202
      duration: 1ms
  - request:
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://go-auth0-dev.eu.auth0.com/api/v2/jobs/job_Atb40xBugG7DP1bz/errors
      method: GET
    response:
      body: '[{"user":{"email":"chuck878@example.com","email_verified":true},"errors":[{"code":"DUPLICATED_USER","message":"The user already exist and upsert parameter is false"}]}]'
      headers:
        Content-Type:
          - application/json
      status: 200 OK
      code: 200
      duration: 1ms
  - request:
      body: ""
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C63a05e5a6ea7634fae1893af
      method: DELETE
    response:
      body: ""
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 204 No Content
      code: 204
      duration: 1ms
