---
version: 1
interactions:
- request:
    body: |
      {"name":"Test Resource Server (Jun  6 15:23:46.838)","identifier":"https://api.example.com/","scopes":[{"value":"create:resource","description":"Create Resource"}],"signing_alg":"HS256","token_lifetime":7200,"token_lifetime_for_web":3600}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/resource-servers
    method: POST
  response:
    body: '{"id":"629dffe3f2d756003e940c09","name":"Test Resource Server (Jun  6 15:23:46.838)","identifier":"https://api.example.com/","scopes":[{"value":"create:resource","description":"Create
      Resource"}],"signing_alg":"HS256","allow_offline_access":false,"token_lifetime":7200,"token_lifetime_for_web":3600,"skip_consent_for_verifiable_first_party_clients":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/resource-servers/629dffe3f2d756003e940c09
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 204 No Content
    code: 204
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/resource-servers/629dffe3f2d756003e940c09
    method: GET
  response:
    body: '{"statusCode":404,"error":"Not Found","message":"The resource server does
      not exist","errorCode":"inexistent_resource_server"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 404 Not Found
    code: 404
    duration: 1ms
[...]
