---
version: 1
interactions:
- request:
    body: |
      {"connection":"Username-Password-Authentication","email":"chuck520@example.com","given_name":"Chuck","family_name":"Sanchez","username":"test-user998","nickname":"Chucky","password":"Passwords hide their chuck","user_metadata":{"favourite_attack":"roundhouse_kick"},"verify_email":false,"app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]},"picture":"https://example-picture-url.jpg","blocked":false,"email_verified":true}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/users
    method: POST
  response:
    body: '{"blocked":false,"created_at":"2022-06-06T13:25:50.579Z","email":"chuck520@example.com","email_verified":true,"family_name":"Sanchez","given_name":"Chuck","identities":[{"connection":"Username-Password-Authentication","user_id":"629e005e66c65100687af1cc","provider":"auth0","isSocial":false}],"name":"chuck520@example.com","nickname":"Chucky","picture":"https://example-picture-url.jpg","updated_at":"2022-06-06T13:25:50.580Z","user_id":"auth0|629e005e66c65100687af1cc","user_metadata":{"favourite_attack":"roundhouse_kick"},"username":"test-user998","app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/users?include_totals=true&per_page=50&q=username%3A%22test-user998%22&search_engine=v3
    method: GET
  response:
    body: '{"start":0,"limit":50,"length":1,"users":[{"blocked":false,"created_at":"2022-06-06T13:25:50.579Z","email":"chuck520@example.com","email_verified":true,"family_name":"Sanchez","given_name":"Chuck","identities":[{"connection":"Username-Password-Authentication","user_id":"629e005e66c65100687af1cc","provider":"auth0","isSocial":false}],"name":"chuck520@example.com","nickname":"Chucky","picture":"https://example-picture-url.jpg","updated_at":"2022-06-06T13:25:50.580Z","user_id":"auth0|629e005e66c65100687af1cc","user_metadata":{"favourite_attack":"roundhouse_kick"},"username":"test-user998","app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]}}],"total":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C629e005e66c65100687af1cc
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 204 No Content
    code: 204
    duration: 1ms
