---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: '{"authenticator_id":"totp|dev_id","challenge_type":"otp","client_id":"test-client_id","client_secret":"test-client_secret","mfa_token":"mfa-token"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/mfa/challenge
        method: POST
      response:
        body: '{"challenge_type":"otp"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 331.64075ms
