// Code generated by Fern. DO NOT EDIT.

package enabledconnections

import (
	context "context"
	fmt "fmt"
	management "github.com/auth0/go-auth0/v2/management"
	core "github.com/auth0/go-auth0/v2/management/core"
	internal "github.com/auth0/go-auth0/v2/management/internal"
	option "github.com/auth0/go-auth0/v2/management/option"
	http "net/http"
	strconv "strconv"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Retrieve details about a specific connection currently enabled for an Organization. Information returned includes details such as connection ID, name, strategy, and whether the connection automatically grants membership upon login.
func (c *Client) List(
	ctx context.Context,
	// Organization identifier.
	id string,
	request *management.ListOrganizationConnectionsRequestParameters,
	opts ...option.RequestOption,
) (*core.Page[*management.OrganizationConnection], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://%7BTENANT%7D.auth0.com/api/v2",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/organizations/%v/enabled_connections",
		id,
	)
	queryParams, err := internal.QueryValuesWithDefaults(
		request,
		map[string]any{
			"page":           0,
			"per_page":       50,
			"include_totals": true,
		},
	)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *internal.PageRequest[*int]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("page", fmt.Sprintf("%v", *pageRequest.Cursor))
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(management.ErrorCodes),
		}
	}
	next := 1
	if queryParams.Has("page") {
		var err error
		if next, err = strconv.Atoi(queryParams.Get("page")); err != nil {
			return nil, err
		}
	}

	readPageResponse := func(response *management.ListOrganizationConnectionsOffsetPaginatedResponseContent) *internal.PageResponse[*int, *management.OrganizationConnection] {
		next += 1
		results := response.EnabledConnections
		return &internal.PageResponse[*int, *management.OrganizationConnection]{
			Next:    &next,
			Results: results,
		}
	}
	pager := internal.NewOffsetPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, &next)
}

// Enable a specific connection for a given Organization. To enable a connection, it must already exist within your tenant; connections cannot be created through this action.
//
// <a href="https://auth0.com/docs/authenticate/identity-providers">Connections</a> represent the relationship between Auth0 and a source of users. Available types of connections include database, enterprise, and social.
func (c *Client) Add(
	ctx context.Context,
	// Organization identifier.
	id string,
	request *management.AddOrganizationConnectionRequestContent,
	opts ...option.RequestOption,
) (*management.AddOrganizationConnectionResponseContent, error) {
	response, err := c.WithRawResponse.Add(
		ctx,
		id,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieve details about a specific connection currently enabled for an Organization. Information returned includes details such as connection ID, name, strategy, and whether the connection automatically grants membership upon login.
func (c *Client) Get(
	ctx context.Context,
	// Organization identifier.
	id string,
	// Connection identifier.
	connectionID string,
	opts ...option.RequestOption,
) (*management.GetOrganizationConnectionResponseContent, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		id,
		connectionID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Disable a specific connection for an Organization. Once disabled, Organization members can no longer use that connection to authenticate.
//
// <b>Note</b>: This action does not remove the connection from your tenant.
func (c *Client) Delete(
	ctx context.Context,
	// Organization identifier.
	id string,
	// Connection identifier.
	connectionID string,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Delete(
		ctx,
		id,
		connectionID,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Modify the details of a specific connection currently enabled for an Organization.
func (c *Client) Update(
	ctx context.Context,
	// Organization identifier.
	id string,
	// Connection identifier.
	connectionID string,
	request *management.UpdateOrganizationConnectionRequestContent,
	opts ...option.RequestOption,
) (*management.UpdateOrganizationConnectionResponseContent, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		id,
		connectionID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
