// Code generated by Fern. DO NOT EDIT.

package clients

import (
	context "context"
	http "net/http"

	management "github.com/auth0/go-auth0/v3/management"
	core "github.com/auth0/go-auth0/v3/management/core"
	internal "github.com/auth0/go-auth0/v3/management/internal"
	option "github.com/auth0/go-auth0/v3/management/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// List all clients associated with an organization, using checkpoint pagination.
// <ul>
//
//	<li>
//	  <b>Note</b>: The first time you call this endpoint, omit the <code>from</code> parameter. If there are more results, a <code>next</code> value is included in the response. You can use this for subsequent API calls. When <code>next</code> is no longer included in the response, no further results are remaining.
//	</li>
//
// </ul>
func (c *Client) List(
	ctx context.Context,
	// ID of the organization.
	id string,
	request *management.ListOrganizationClientsRequestParameters,
	opts ...option.RequestOption,
) (*core.Page[*string, *management.OrganizationClient, *management.ListOrganizationClientsResponseContent], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://%7BTENANT%7D.auth0.com/api/v2",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/organizations/%v/clients",
		id,
	)
	queryParams, err := internal.QueryValuesWithDefaults(
		request,
		map[string]any{
			"take": 50,
		},
	)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("from", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(management.ErrorCodes),
		}
	}
	readPageResponse := func(response *management.ListOrganizationClientsResponseContent) *core.PageResponse[*string, *management.OrganizationClient, *management.ListOrganizationClientsResponseContent] {
		var zeroValue *string
		next := response.Next
		results := response.Clients
		return &core.PageResponse[*string, *management.OrganizationClient, *management.ListOrganizationClientsResponseContent]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.From)
}

// Associate one or more clients with an organization.
func (c *Client) Create(
	ctx context.Context,
	// ID of the organization.
	id string,
	request *management.CreateOrganizationClientsRequestContent,
	opts ...option.RequestOption,
) (management.CreateOrganizationClientsResponseContent, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		id,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Remove one or more client associations from an organization.
func (c *Client) Delete(
	ctx context.Context,
	// ID of the organization.
	id string,
	request *management.DeleteOrganizationClientsRequestContent,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Delete(
		ctx,
		id,
		request,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Get a specific client association for an organization.
func (c *Client) Get(
	ctx context.Context,
	// ID of the organization.
	id string,
	// ID of the client association to retrieve.
	clientID string,
	opts ...option.RequestOption,
) (*management.GetOrganizationClientResponseContent, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		id,
		clientID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Update an organization client association.
func (c *Client) Update(
	ctx context.Context,
	// ID of the organization.
	id string,
	// ID of the client association to update.
	clientID string,
	request *management.UpdateOrganizationClientRequestContent,
	opts ...option.RequestOption,
) (*management.UpdateOrganizationClientResponseContent, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		id,
		clientID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
