// Code generated by Fern. DO NOT EDIT.

package client

import (
	context "context"
	http "net/http"

	management "github.com/auth0/go-auth0/v3/management"
	core "github.com/auth0/go-auth0/v3/management/core"
	variations "github.com/auth0/go-auth0/v3/management/experimentation/featureflags/variations"
	internal "github.com/auth0/go-auth0/v3/management/internal"
	option "github.com/auth0/go-auth0/v3/management/option"
)

type Client struct {
	WithRawResponse *RawClient
	Variations      *variations.Client

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		Variations:      variations.NewClient(options),
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Retrieve a paginated list of feature flags for the tenant.
func (c *Client) List(
	ctx context.Context,
	request *management.ListFeatureFlagsRequestParameters,
	opts ...option.RequestOption,
) (*core.Page[*string, *management.FeatureFlag, *management.ListFeatureFlagsResponseContent], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://%7BTENANT%7D.auth0.com/api/v2",
	)
	endpointURL := baseURL + "/experimentation/feature-flags"
	queryParams, err := internal.QueryValuesWithDefaults(
		request,
		map[string]any{
			"take": 50,
		},
	)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("from", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(management.ErrorCodes),
		}
	}
	readPageResponse := func(response *management.ListFeatureFlagsResponseContent) *core.PageResponse[*string, *management.FeatureFlag, *management.ListFeatureFlagsResponseContent] {
		var zeroValue *string
		next := response.Next
		results := response.FeatureFlags
		return &core.PageResponse[*string, *management.FeatureFlag, *management.ListFeatureFlagsResponseContent]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.From)
}

// Create a new feature flag with parameters for use in experiments.
func (c *Client) Create(
	ctx context.Context,
	request *management.CreateFeatureFlagRequestContent,
	opts ...option.RequestOption,
) (*management.CreateFeatureFlagResponseContent, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieve a single feature flag by its ID.
func (c *Client) Get(
	ctx context.Context,
	// The ID of the feature flag to retrieve.
	id string,
	opts ...option.RequestOption,
) (*management.GetFeatureFlagResponseContent, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		id,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Delete a feature flag by ID. Idempotent: returns 204 even if flag does not exist.
func (c *Client) Delete(
	ctx context.Context,
	// The ID of the feature flag to delete.
	id string,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Delete(
		ctx,
		id,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Partially update a feature flag by ID. Only provided fields are updated.
func (c *Client) Update(
	ctx context.Context,
	// The ID of the feature flag to update.
	id string,
	request *management.UpdateFeatureFlagRequestContent,
	opts ...option.RequestOption,
) (*management.UpdateFeatureFlagResponseContent, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		id,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Transitions a feature flag through its lifecycle states: draft → active, draft → archived, active → archived.
func (c *Client) UpdateStatus(
	ctx context.Context,
	// The ID of the feature flag to transition.
	id string,
	request *management.UpdateFeatureFlagStatusRequestContent,
	opts ...option.RequestOption,
) (*management.UpdateFeatureFlagStatusResponseContent, error) {
	response, err := c.WithRawResponse.UpdateStatus(
		ctx,
		id,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
