---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Wordpress-Connection-1743077318","strategy":"wordpress","options":{"strategy_version":2,"authorizationURL":null,"tokenURL":null,"upstream_params":{"screen_name":{"alias":"login_hint"}},"custom_headers":[{"X-Auth0-Client":"my-client"}],"scope":["email","profile","openid"]}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_r2m1k7b6HBf72TSo","options":{"strategy_version":2,"authorizationURL":null,"tokenURL":null,"upstream_params":{"screen_name":{"alias":"login_hint"}},"custom_headers":[{"X-Auth0-Client":"my-client"}],"scope":["profile"],"profile":true},"strategy":"wordpress","name":"Test-Wordpress-Connection-1743077318","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Wordpress-Connection-1743077318"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.245704334s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_r2m1k7b6HBf72TSo
        method: GET
      response:
        body: '{"id":"con_r2m1k7b6HBf72TSo","options":[...]
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_r2m1k7b6HBf72TSo
        method: DELETE
      response:
        body: '{"deleted_at":"2025-03-27T12:08:40.386Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 445.066583ms
[...]
