---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-OAuth1-Connection-1761733321","strategy":"oauth1","options":{"consumer_key":"test-consumer-key","consumer_secret":"test-consumer-secret","requestTokenURL":"https://api.twitter.com/oauth/request_token","accessTokenURL":"https://api.twitter.com/oauth/access_token","userAuthorizationURL":"https://api.twitter.com/oauth/authorize","signatureMethod":"HMAC-SHA1","scripts":{"fetchUserProfile":"function(token, tokenSecret, ctx, cb) { return cb(null, {}); }"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_yKCOTD5Pa9mbWtuO","options":{"consumer_key":"test-consumer-key","consumer_secret":"test-consumer-secret","requestTokenURL":"https://api.twitter.com/oauth/request_token","accessTokenURL":"https://api.twitter.com/oauth/access_token","userAuthorizationURL":"https://api.twitter.com/oauth/authorize","signatureMethod":"HMAC-SHA1","scripts":{"fetchUserProfile":"function(token, tokenSecret, ctx, cb) { return cb(null, {}); }"}},"strategy":"oauth1","name":"Test-OAuth1-Connection-1761733321","is_domain_connection":false,"enabled_clients":[],"realms":["Test-OAuth1-Connection-1761733321"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 906.304167ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_yKCOTD5Pa9mbWtuO
        method: GET
      response:
        body: '{"id":"con_yKCOTD5Pa9mbWtuO","options":{"scripts":{"fetchUserProfile":"function(token, tokenSecret, ctx, cb) { return cb(null, {}); }"},"consumer_key":"test-consumer-key","accessTokenURL":"https://api.twitter.com/oauth/access_token","consumer_secret":"test-consumer-secret","requestTokenURL":"https://api.twitter.com/oauth/request_token","signatureMethod":"HMAC-SHA1","userAuthorizationURL":"https://api.twitter.com/oauth/authorize"},"strategy":"oauth1","name":"Test-OAuth1-Connection-1761733321","is_domain_connection":false,"enabled_clients":[],"realms":["Test-OAuth1-Connection-1761733321"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 415.852416ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_yKCOTD5Pa9mbWtuO
        method: DELETE
      response:
        body: '{"deleted_at":"2025-10-29T10:22:03.165Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 379.254417ms
[...]
