---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-GoogleApps-Connection-1713858608","strategy":"google-apps","options":{"domain":"example.com","tenant_domain":"example.com","basic_profile":true,"ext_profile":true,"ext_groups":true,"ext_is_admin":true,"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_uI2zcjygMM7zzyeg","options":{"domain":"example.com","tenant_domain":"example.com","basic_profile":true,"ext_profile":true,"ext_groups":true,"ext_is_admin":true,"upstream_params":{"screen_name":{"alias":"login_hint"}},"map_user_id_to_id":false,"email":true,"profile":true,"scope":["email","profile"],"handle_login_from_social":true},"strategy":"google-apps","name":"Test-GoogleApps-Connection-1713858608","provisioning_ticket_url":"https://login.us.auth0.com/go-auth0-dev.eu.auth0.com/p/google-apps/S0oxYtOa","is_domain_connection":false,"show_as_button":false,"enabled_clients":[],"realms":["Test-GoogleApps-Connection-1713858608"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 427.726625ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_uI2zcjygMM7zzyeg
        method: GET
      response:
        body: '{"id":"con_uI2zcjygMM7zzyeg","options":{"email":true,"scope":["email","profile"],"domain":"example.com","profile":true,"ext_groups":true,"ext_profile":true,"ext_is_admin":true,"basic_profile":true,"tenant_domain":"example.com","upstream_params":{"screen_name":{"alias":"login_hint"}},"map_user_id_to_id":false,"handle_login_from_social":true},"strategy":"google-apps","name":"Test-GoogleApps-Connection-1713858608","provisioning_ticket_url":"https://login.us.auth0.com/go-auth0-dev.eu.auth0.com/p/google-apps/S0oxYtOa","is_domain_connection":false,"show_as_button":false,"enabled_clients":[],"realms":["Test-GoogleApps-Connection-1713858608"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 421.8105ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_uI2zcjygMM7zzyeg
        method: DELETE
      response:
        body: '{"deleted_at":"2024-04-23T07:50:12.861Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 409.091792ms
[...]
