---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Wordpress-Connection-1714473198","strategy":"wordpress","options":{"authorizationURL":null,"tokenURL":null,"upstream_params":{"screen_name":{"alias":"login_hint"}},"scope":["email","profile","openid"]}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_QgVJdPChZqeIauvG","options":{"authorizationURL":null,"tokenURL":null,"upstream_params":{"screen_name":{"alias":"login_hint"}},"scope":["profile"],"profile":true},"strategy":"wordpress","name":"Test-Wordpress-Connection-1714473198","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Wordpress-Connection-1714473198"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 332.632125ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_QgVJdPChZqeIauvG
        method: GET
      response:
        body: '{"id":"con_QgVJdPChZqeIauvG","options":[...]
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_QgVJdPChZqeIauvG
        method: DELETE
      response:
        body: '{"deleted_at":"2024-04-30T10:33:20.954Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 342.890084ms
[...]
