---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-WindowsLive-Connection-1714039119","strategy":"windowslive","options":{"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_s20VSSN0ch6UGDsH","options":{"upstream_params":{"screen_name":{"alias":"login_hint"}},"signin":true,"scope":["wl.signin"]},"strategy":"windowslive","name":"Test-WindowsLive-Connection-1714039119","is_domain_connection":false,"enabled_clients":[],"realms":["Test-WindowsLive-Connection-1714039119"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 306.423875ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_s20VSSN0ch6UGDsH
        method: GET
      response:
        body: '{"id":"con_s20VSSN0ch6UGDsH","options":[...]
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_s20VSSN0ch6UGDsH
        method: DELETE
      response:
        body: '{"deleted_at":"2024-04-25T09:59:12.363Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 291.101917ms
[...]
