---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Line-Connection-1768388415","strategy":"line","options":{"client_id":"line_client_id","client_secret":"line_client_secret","authorizationURL":null,"tokenURL":null,"upstream_params":{"screen_name":{"alias":"login_hint"}},"email":true,"scope":["profile","openid","email"]}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_ZpoUPTQCPAuHokXb","options":{"client_id":"line_client_id","client_secret":"line_client_secret","authorizationURL":null,"tokenURL":null,"upstream_params":{"screen_name":{"alias":"login_hint"}},"email":true,"scope":["openid","email","profile"],"profile":true},"strategy":"line","name":"Test-Line-Connection-1768388415","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"enabled_clients":[],"realms":["Test-Line-Connection-1768388415"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.090371125s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_ZpoUPTQCPAuHokXb
        method: GET
      response:
        body: '{"id":"con_ZpoUPTQCPAuHokXb","options":{"email":true,"scope":["openid","email","profile"],"profile":true,"client_id":"line_client_id","client_secret":"line_client_secret","upstream_params":{"screen_name":{"alias":"login_hint"}}},"strategy":"line","name":"Test-Line-Connection-1768388415","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"enabled_clients":[],"realms":["Test-Line-Connection-1768388415"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 403.062125ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_ZpoUPTQCPAuHokXb
        method: DELETE
      response:
        body: '{"deleted_at":"2026-01-14T11:00:17.424Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 414.880333ms
[...]
