---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-WindowsLive-Connection-1726668924","strategy":"windowslive","options":{"strategy_version":2,"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_Zmhux7qaZxz4vUq6","options":{"strategy_version":2,"upstream_params":{"screen_name":{"alias":"login_hint"}},"signin":true,"scope":[]},"strategy":"windowslive","name":"Test-WindowsLive-Connection-1726668924","is_domain_connection":false,"enabled_clients":[],"realms":["Test-WindowsLive-Connection-1726668924"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 182.592542ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_Zmhux7qaZxz4vUq6
        method: GET
      response:
        body: '{"id":"con_Zmhux7qaZxz4vUq6","options":[...]
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_Zmhux7qaZxz4vUq6
        method: DELETE
      response:
        body: '{"deleted_at":"2024-09-18T14:15:59.402Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 178.805292ms
[...]
