---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-LinkedIn-Connection-1714380703","strategy":"linkedin","options":{"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_uHo4LFZQvDqOd9mc","options":{"upstream_params":{"screen_name":{"alias":"login_hint"}},"profile":true,"scope":["r_basicprofile"]},"strategy":"linkedin","name":"Test-LinkedIn-Connection-1714380703","is_domain_connection":false,"enabled_clients":[],"realms":["Test-LinkedIn-Connection-1714380703"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 552.580917ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_uHo4LFZQvDqOd9mc
        method: GET
      response:
        body: '{"id":"con_uHo4LFZQvDqOd9mc","options":[...]
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_uHo4LFZQvDqOd9mc
        method: DELETE
      response:
        body: '{"deleted_at":"2024-04-29T08:52:09.347Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 404.518333ms
[...]
