---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-LinkedIn-Connection-1726595088","strategy":"linkedin","options":{"strategy_version":2,"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_Vt6Lqon2PcGWzFdb","options":{"strategy_version":2,"upstream_params":{"screen_name":{"alias":"login_hint"}},"profile":true,"scope":["r_liteprofile"]},"strategy":"linkedin","name":"Test-LinkedIn-Connection-1726595088","is_domain_connection":false,"enabled_clients":[],"realms":["Test-LinkedIn-Connection-1726595088"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 164.77075ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_Vt6Lqon2PcGWzFdb
        method: GET
      response:
        body: '{"id":"con_Vt6Lqon2PcGWzFdb","options":[...]
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_Vt6Lqon2PcGWzFdb
        method: DELETE
      response:
        body: '{"deleted_at":"2024-09-17T17:45:49.009Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 152.93775ms
[...]
