---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-OIDC-Connection-1747381016","strategy":"oidc","options":{"client_id":"4ef8d976-71bd-4473-a7ce-087d3f0fafd8","discovery_url":"https://www.paypalobjects.com/.well-known/openid-configuration","authorization_endpoint":"https://example.com","issuer":"https://example.com","jwks_uri":"https://example.com/jwks","type":"front_channel","userinfo_endpoint":null,"token_endpoint":null,"scope":"openid","upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_AFnWE6Byk7IJ0hEL","options":{"client_id":"4ef8d976-71bd-4473-a7ce-087d3f0fafd8","discovery_url":"https://www.paypalobjects.com/.well-known/openid-configuration","authorization_endpoint":"https://example.com","issuer":"https://example.com","jwks_uri":"https://example.com/jwks","type":"front_channel","userinfo_endpoint":null,"token_endpoint":null,"scope":"openid","upstream_params":{"screen_name":{"alias":"login_hint"}},"oidc_metadata":{"issuer":"https://www.paypal.com","authorization_endpoint":"https://www.paypal.com/signin/authorize","registration_endpoint":"https://api.paypal.com/v1/oauth2/applications","token_endpoint":"https://api.paypal.com/v1/oauth2/token","userinfo_endpoint":"https://api.paypal.com/v1/oauth2/token/userinfo","jwks_uri":"https://api.paypal.com/v1/oauth2/certs","revocation_endpoint":"https://api.paypal.com/v1/oauth2/revoke","token_endpoint_auth_methods_supported":["client_secret_basic"],"response_types_supported":["code","code id_token"],"response_modes_supported":["query","form_post"],"grant_types_supported":["authorization_code","refresh_token"],"subject_types_supported":["pairwise"],"scopes_supported":["email","address","phone","openid","profile","https://uri.paypal.com/services/wallet/sendmoney","https://uri.paypal.com/services/payments/futurepayments","https://uri.paypal.com/services/expresscheckout"],"id_token_signing_alg_values_supported":["HS256","RS256"],"claims_supported":["aud","iss","iat","exp","auth_time","nonce","sessionIndex","user_id"],"code_challenge_methods_supported":["RS256","ES256","S256"]}},"strategy":"oidc","name":"Test-OIDC-Connection-1747381016","is_domain_connection":false,"show_as_button":false,"enabled_clients":[],"realms":["Test-OIDC-Connection-1747381016"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 485.150708ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_AFnWE6Byk7IJ0hEL
        method: GET
      response:
        body: '{"id":"con_AFnWE6Byk7IJ0hEL","options":{"type":"front_channel","scope":"openid","issuer":"https://example.com","jwks_uri":"https://example.com/jwks","client_id":"4ef8d976-71bd-4473-a7[...]
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_AFnWE6Byk7IJ0hEL
        method: DELETE
      response:
        body: '{"deleted_at":"2025-05-16T07:37:30.459Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 379.906291ms
[...]
