---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Wordpress-Connection-1747381016","strategy":"wordpress","options":{"strategy_version":2,"authorizationURL":null,"tokenURL":null,"upstream_params":{"screen_name":{"alias":"login_hint"}},"customHeaders":{"X-Auth0-Client":"my-client","X-Auth0-Client-Secret":"my-secret"},"scope":["email","profile","openid"]}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_LH1nLFAl3RR4YsRl","options":{"strategy_version":2,"authorizationURL":null,"tokenURL":null,"upstream_params":{"screen_name":{"alias":"login_hint"}},"customHeaders":{"X-Auth0-Client":"my-client","X-Auth0-Client-Secret":"my-secret"},"scope":["profile"],"profile":true},"strategy":"wordpress","name":"Test-Wordpress-Connection-1747381016","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Wordpress-Connection-1747381016"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 375.401333ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_LH1nLFAl3RR4YsRl
        method: GET
      response:
        body: '{"id":"con_LH1nLFAl3RR4YsRl","options":[...]
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_LH1nLFAl3RR4YsRl
        method: DELETE
      response:
        body: '{"deleted_at":"2025-05-16T07:36:59.828Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 362.987292ms
[...]
