---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Custom-SMS-Connection-1714039119","strategy":"sms","options":{"name":"Test-Connection-Custom-SMS","from":"+17777777777","syntax":"liquid","template":"Your verification code is { code }}","totp":{"time_step":110,"length":5},"messaging_service_sid":null,"provider":"sms_gateway","gateway_url":"https://test.com/sms-gateway","gateway_authentication":{"method":"bearer","subject":"test.us.auth0.com:sms","audience":"test.com/sms-gateway","secret":"my-secret","secret_base64_encoded":false},"forward_req_info":true,"disable_signup":true,"brute_force_protection":true,"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_kg5g3CWVxE01lql9","options":{"name":"Test-Connection-Custom-SMS","from":"+17777777777","syntax":"liquid","template":"Your verification code is { code }}","totp":{"time_step":110,"length":5},"messaging_service_sid":null,"provider":"sms_gateway","gateway_url":"https://test.com/sms-gateway","gateway_authentication":{"method":"bearer","subject":"test.us.auth0.com:sms","audience":"test.com/sms-gateway","secret":"my-secret","secret_base64_encoded":false},"forward_req_info":true,"disable_signup":true,"brute_force_protection":true,"upstream_params":{"screen_name":{"alias":"login_hint"}}},"strategy":"sms","name":"Test-Custom-SMS-Connection-1714039119","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Custom-SMS-Connection-1714039119"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 533.0365ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_kg5g3CWVxE01lql9
        method: GET
      response:
        body: '{"id":"con_kg5g3CWVxE01lql9","options":{"from":"+17777777777","name":"Test-Connection-Custom-SMS","totp":{"length":5,"time_step":110},"syntax":"liquid","provider":"sms_gateway","template":"Your verification code is { code }}","gateway_url":"https://test.com/sms-gateway","disable_signup":true,"upstream_params":{"screen_name":{"alias":"login_hint"}},"forward_req_info":true,"messaging_service_sid":null,"brute_force_protection":true,"gateway_authentication":{"method":"bearer","secret":"my-secret","subject":"test.us.auth0.com:sms","audience":"test.com/sms-gateway","secret_base64_encoded":false}},"strategy":"sms","name":"Test-Custom-SMS-Connection-1714039119","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Custom-SMS-Connection-1714039119"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 321.263833ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_kg5g3CWVxE01lql9
        method: DELETE
      response:
        body: '{"deleted_at":"2024-04-25T09:58:50.789Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 532.929208ms
[...]
