---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-LinkedIn-Connection-1726668924","strategy":"linkedin","options":{"strategy_version":2,"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_WhpVcwgs0GetZQeV","options":{"strategy_version":2,"upstream_params":{"screen_name":{"alias":"login_hint"}},"profile":true,"scope":["r_liteprofile"]},"strategy":"linkedin","name":"Test-LinkedIn-Connection-1726668924","is_domain_connection":false,"enabled_clients":[],"realms":["Test-LinkedIn-Connection-1726668924"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 164.137ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_WhpVcwgs0GetZQeV
        method: GET
      response:
        body: '{"id":"con_WhpVcwgs0GetZQeV","options":[...]
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_WhpVcwgs0GetZQeV
        method: DELETE
      response:
        body: '{"deleted_at":"2024-09-18T14:15:51.968Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 175.8705ms
[...]
