// Code generated by Fern. DO NOT EDIT.

package encryption

import (
	context "context"
	fmt "fmt"
	management "github.com/auth0/go-auth0/v2/management"
	core "github.com/auth0/go-auth0/v2/management/core"
	internal "github.com/auth0/go-auth0/v2/management/internal"
	option "github.com/auth0/go-auth0/v2/management/option"
	http "net/http"
	strconv "strconv"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Retrieve details of all the encryption keys associated with your tenant.
func (c *Client) List(
	ctx context.Context,
	request *management.ListEncryptionKeysRequestParameters,
	opts ...option.RequestOption,
) (*core.Page[*management.EncryptionKey], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://%7BTENANT%7D.auth0.com/api/v2",
	)
	endpointURL := baseURL + "/keys/encryption"
	queryParams, err := internal.QueryValuesWithDefaults(
		request,
		map[string]any{
			"page":           0,
			"per_page":       50,
			"include_totals": true,
		},
	)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *internal.PageRequest[*int]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("page", fmt.Sprintf("%v", *pageRequest.Cursor))
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(management.ErrorCodes),
		}
	}
	next := 1
	if queryParams.Has("page") {
		var err error
		if next, err = strconv.Atoi(queryParams.Get("page")); err != nil {
			return nil, err
		}
	}

	readPageResponse := func(response *management.ListEncryptionKeyOffsetPaginatedResponseContent) *internal.PageResponse[*int, *management.EncryptionKey] {
		next += 1
		results := response.Keys
		return &internal.PageResponse[*int, *management.EncryptionKey]{
			Next:    &next,
			Results: results,
		}
	}
	pager := internal.NewOffsetPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, &next)
}

// Create the new, pre-activated encryption key, without the key material.
func (c *Client) Create(
	ctx context.Context,
	request *management.CreateEncryptionKeyRequestContent,
	opts ...option.RequestOption,
) (*management.CreateEncryptionKeyResponseContent, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Perform rekeying operation on the key hierarchy.
func (c *Client) Rekey(
	ctx context.Context,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Rekey(
		ctx,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Retrieve details of the encryption key with the given ID.
func (c *Client) Get(
	ctx context.Context,
	// Encryption key ID
	kid string,
	opts ...option.RequestOption,
) (*management.GetEncryptionKeyResponseContent, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		kid,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Import wrapped key material and activate encryption key.
func (c *Client) Import(
	ctx context.Context,
	// Encryption key ID
	kid string,
	request *management.ImportEncryptionKeyRequestContent,
	opts ...option.RequestOption,
) (*management.ImportEncryptionKeyResponseContent, error) {
	response, err := c.WithRawResponse.Import(
		ctx,
		kid,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Delete the custom provided encryption key with the given ID and move back to using native encryption key.
func (c *Client) Delete(
	ctx context.Context,
	// Encryption key ID
	kid string,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Delete(
		ctx,
		kid,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Create the public wrapping key to wrap your own encryption key material.
func (c *Client) CreatePublicWrappingKey(
	ctx context.Context,
	// Encryption key ID
	kid string,
	opts ...option.RequestOption,
) (*management.CreateEncryptionKeyPublicWrappingResponseContent, error) {
	response, err := c.WithRawResponse.CreatePublicWrappingKey(
		ctx,
		kid,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
