---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"connection":"Username-Password-Authentication","email":"chuck782@example.com","given_name":"Chuck","family_name":"Sanchez","username":"test-user438","nickname":"Chucky","password":"Passwords hide their chuck","user_metadata":{"favourite_attack":"roundhouse_kick"},"verify_email":false,"app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]},"picture":"https://example-picture-url.jpg","blocked":false,"email_verified":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"blocked":false,"created_at":"2025-08-11T06:22:38.009Z","email":"chuck782@example.com","email_verified":true,"family_name":"Sanchez","given_name":"Chuck","identities":[{"connection":"Username-Password-Authentication","user_id":"68998c2d684ac37fcd52bfbe","provider":"auth0","isSocial":false}],"name":"chuck782@example.com","nickname":"Chucky","picture":"https://example-picture-url.jpg","updated_at":"2025-08-11T06:22:38.009Z","user_id":"auth0|68998c2d684ac37fcd52bfbe","user_metadata":{"favourite_attack":"roundhouse_kick"},"username":"test-user438","app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.417970292s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"user_id":"auth0|68998c2d684ac37fcd52bfbe","email":"jon@example.com","factor":"push-notification","allow_multiple_enrollments":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/guardian/enrollments/ticket
        method: POST
      response:
        body: '{"ticket_id":"jip3H2Q20fiUyQCcMmS0gBAinoBe4rOV","ticket_url":"https://go-auth0-dev.eu.auth0.com.us.auth0.com/mfa/enrollment?ticket=jip3H2Q20fiUyQCcMmS0gBAinoBe4rOV"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 388.9275ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C68998c2d684ac37fcd52bfbe
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 632.82725ms
