---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: '{"authenticator_types":["otp"],"client_id":"test-client_id","client_secret":"test-client_secret"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/mfa/associate
        method: POST
      response:
        body: '{"authenticator_type":"otp","secret":"HJ6XM2DNERXDAVCUONGWKRTCMNTU6VDF","barcode_uri":"otpauth://totp/My%20Test%20Tenant:user%40example.com?secret=HJ6XM2DNERXDAVCUONGWKRTCMNTU6VDF&issuer=My%20Test%20Tenant&algorithm=SHA1&digits=6&period=30"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 502.489417ms
