---
version: 1
interactions:
- request:
    body: |
      {"name":"Test-Apple-Connection-1654521050","strategy":"apple","options":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
    method: POST
  response:
    body: '{"id":"con_h7sPx4WCrizeEugg","options":{},"strategy":"apple","name":"Test-Apple-Connection-1654521050","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Apple-Connection-1654521050"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_h7sPx4WCrizeEugg
    method: DELETE
  response:
    body: '{"deleted_at":"2022-06-06T13:12:34.863Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 202 Accepted
    code: 202
    duration: 1ms
