---
version: 1
interactions:
- request:
    body: |
      {"name":"Test-Email-Connection-1654521050","strategy":"email","options":{"name":"Test-Connection-Email","email":{"syntax":"liquid","from":"{{application.name}} \u003ctest@example.com\u003e","subject":"Email Login - {{application.name}}","body":"\u003chtml\u003e\u003cbody\u003eemail contents\u003c/body\u003e\u003c/html\u003e"},"totp":{"time_step":100,"length":4},"authParams":{"scope":"openid profile"},"disable_signup":true,"brute_force_protection":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
    method: POST
  response:
    body: '{"id":"con_by9zmDJ7sfSm3RdP","options":{"name":"Test-Connection-Email","email":{"syntax":"liquid","from":"{{application.name}}
      <test@example.com>","subject":"Email Login - {{application.name}}","body":"<html><body>email
      contents</body></html>"},"totp":{"time_step":100,"length":4},"authParams":{"scope":"openid
      profile"},"disable_signup":true,"brute_force_protection":true},"strategy":"email","name":"Test-Email-Connection-1654521050","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Email-Connection-1654521050"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_by9zmDJ7sfSm3RdP
    method: DELETE
  response:
    body: '{"deleted_at":"2022-06-06T13:12:28.363Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 202 Accepted
    code: 202
    duration: 1ms
