---
version: 1
interactions:
- request:
    body: |
      {"name":"Test-GitHub-Connection-1654521050","strategy":"github","options":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
    method: POST
  response:
    body: '{"id":"con_tbwYulgVqb5EWfyX","options":{"scope":[]},"strategy":"github","name":"Test-GitHub-Connection-1654521050","is_domain_connection":false,"enabled_clients":[],"realms":["Test-GitHub-Connection-1654521050"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_tbwYulgVqb5EWfyX
    method: DELETE
  response:
    body: '{"deleted_at":"2022-06-06T13:12:36.655Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 202 Accepted
    code: 202
    duration: 1ms
