---
version: 1
interactions:
- request:
    body: |
      {"name":"Test-Custom-SMS-Connection-1654521050","strategy":"sms","options":{"name":"Test-Connection-Custom-SMS","from":"+17777777777","syntax":"liquid","template":"Your verification code is { code }}","totp":{"time_step":110,"length":5},"provider":"sms_gateway","gateway_url":"https://test.com/sms-gateway","gateway_authentication":{"method":"bearer","subject":"test.us.auth0.com:sms","audience":"test.com/sms-gateway","secret":"my-secret","secret_base64_encoded":false},"forward_request_info":true,"disable_signup":true,"brute_force_protection":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
    method: POST
  response:
    body: '{"id":"con_9a0HjIbY1QnFr4pH","options":{"name":"Test-Connection-Custom-SMS","from":"+17777777777","syntax":"liquid","template":"Your
      verification code is { code }}","totp":{"time_step":110,"length":5},"provider":"sms_gateway","gateway_url":"https://test.com/sms-gateway","gateway_authentication":{"method":"bearer","subject":"test.us.auth0.com:sms","audience":"test.com/sms-gateway","secret":"my-secret","secret_base64_encoded":false},"forward_request_info":true,"disable_signup":true,"brute_force_protection":true},"strategy":"sms","name":"Test-Custom-SMS-Connection-1654521050","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Custom-SMS-Connection-1654521050"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_9a0HjIbY1QnFr4pH
    method: DELETE
  response:
    body: '{"deleted_at":"2022-06-06T13:12:30.323Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 202 Accepted
    code: 202
    duration: 1ms
