---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-LogStream-1751995559","type":"segment","isPriority":true,"pii_config":{"log_fields":["first_name"],"method":"mask","algorithm":"xxhash"},"sink":{"segmentWriteKey":"121233123455"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/log-streams
        method: POST
      response:
        body: '{"id":"lst_0000000000012791","name":"Test-LogStream-1751995559","type":"segment","status":"active","sink":{"segmentWriteKey":"121233123455"},"filters":[{"type":"category","name":"security"}],"isPriority":true,"pii_config":{"log_fields":["first_name"],"method":"mask","algorithm":"xxhash"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 396.715917ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000012791
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 371.050541ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000012791
        method: GET
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"The log stream does not exist."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 384.523875ms
[...]
