---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: '{"client_id":"test-client_id","client_assertion":"test-client_assertion","client_assertion_type":"urn:ietf:params:oauth:client-assertion-type:jwt-bearer","connection":"Username-Password-Authentication","email":"test-email@example.com","allow_signup":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/otp/challenge
        method: POST
      response:
        body: '{"auth_session":"test-auth_session"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 312.5ms
