---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: auth_session=test-auth_session&client_assertion=test-client_assertion&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_id=test-client_id&grant_type=http%3A%2F%2Fauth0.com%2Foauth%2Fgrant-type%2Fpasswordless%2Fotp&otp=test-otp
        form:
            auth_session:
                - test-auth_session
            client_assertion:
                - test-client_assertion
            client_assertion_type:
                - urn:ietf:params:oauth:client-assertion-type:jwt-bearer
            client_id:
                - test-client_id
            grant_type:
                - http://auth0.com/oauth/grant-type/passwordless/otp
            otp:
                - test-otp
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://go-auth0-dev.eu.auth0.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"test-access-token","expires_in":86400,"refresh_token":"test-refresh-token","token_type":"Bearer"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 312.5ms
