---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-LogStream-1751995843","type":"datadog","isPriority":true,"pii_config":{"log_fields":["first_name"],"method":"mask","algorithm":"xxhash"},"sink":{"datadogRegion":"us","datadogApiKey":"121233123455"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/log-streams
        method: POST
      response:
        body: '{"id":"lst_0000000000012805","name":"Test-LogStream-1751995843","type":"datadog","status":"active","sink":{"datadogApiKey":"121233123455","datadogRegion":"us"},"filters":[{"type":"category","name":"security"}],"isPriority":true,"pii_config":{"log_fields":["first_name"],"method":"mask","algorithm":"xxhash"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 428.067292ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"filters":[{"name":"auth.login.fail","type":"category"}],"pii_config":{"log_fields":["last_name"],"method":"hash","algorithm":"xxhash"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000012805
        method: PATCH
      response:
        body: '{"id":"lst_0000000000012805","name":"Test-LogStream-1751995843","type":"datadog","status":"active","sink":{"datadogApiKey":"121233123455","datadogRegion":"us"},"filters":[{"type":"category","name":"security"}],"isPriority":true,"pii_config":{"log_fields":["last_name"],"method":"hash","algorithm":"xxhash"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 375.629ms
[...]
