---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-LogStream-1674668511","type":"segment","sink":{"segmentWriteKey":"121233123455"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/log-streams
        method: POST
      response:
        body: '{"id":"lst_0000000000011637","name":"Test-LogStream-1674668511","type":"segment","status":"active","sink":{"segmentWriteKey":"121233123455"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 143.076875ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"filters":[{"name":"auth.login.fail","type":"category"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000011637
        method: PATCH
      response:
        body: '{"id":"lst_0000000000011637","name":"Test-LogStream-1674668511","type":"segment","status":"active","sink":{"segmentWriteKey":"121233123455"},"filters":[{"name":"auth.login.fail","type":"category"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 141.710833ms
[...]
