---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-LogStream-1751995843","type":"sumo","isPriority":true,"pii_config":{"log_fields":["first_name"],"method":"mask","algorithm":"xxhash"},"sink":{"sumoSourceAddress":"https://example.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/log-streams
        method: POST
      response:
        body: '{"id":"lst_0000000000012808","name":"Test-LogStream-1751995843","type":"sumo","status":"active","sink":{"sumoSourceAddress":"https://example.com"},"filters":[{"type":"category","name":"security"}],"isPriority":true,"pii_config":{"log_fields":["first_name"],"method":"mask","algorithm":"xxhash"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 379.07575ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"filters":[{"name":"auth.login.fail","type":"category"}],"pii_config":{"log_fields":["last_name"],"method":"hash","algorithm":"xxhash"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000012808
        method: PATCH
      response:
        body: '{"id":"lst_0000000000012808","name":"Test-LogStream-1751995843","type":"sumo","status":"active","sink":{"sumoSourceAddress":"https://example.com"},"filters":[{"type":"category","name":"security"}],"isPriority":true,"pii_config":{"log_fields":["last_name"],"method":"hash","algorithm":"xxhash"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 395.727833ms
[...]
