---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/event-streams/est_pHoutt1yJkJLEq4ykE6qLr/stats?date_from=2025-08-01T11%3A55%3A47%2B05%3A30&date_to=2025-08-01T12%3A15%3A47%2B05%3A30
        method: GET
      response:
        body: '{"id":"est_pHoutt1yJkJLEq4ykE6qLr","name":"failing-webhook-test-stream","window":{"date_from":"2025-08-01T06:00:00.000Z","date_to":"2025-08-01T06:00:00.000Z","bucket_interval":{"scale_factor":3600}},"buckets":["2025-08-01T06:00:00.000Z"],"metrics":[{"name":"auth0.event_streams.successful_deliveries","window_total":0,"type":"sum","data":[0]},{"name":"auth0.event_streams.failed_deliveries","window_total":4,"type":"sum","data":[4]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 371.8315ms
