---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/event-streams/est_iCyT3rLLXTowdhCgCJH6hX/deliveries/evt_248hCPsVtmMBUeBMJ6iesd
        method: GET
      response:
        body: '{"id":"evt_248hCPsVtmMBUeBMJ6iesd","event_stream_id":"est_iCyT3rLLXTowdhCgCJH6hX","event_type":"user.updated","status":"failed","attempts":[{"status":"failed","error_message":"404 - {\"error\":\"Debug endpoint not found\"}","timestamp":"2025-08-01T07:06:19.225Z","duration":175.813604},{"status":"retrying","timestamp":"2025-08-01T07:07:07.570Z"},{"status":"failed","error_message":"404 - {\"error\":\"Debug endpoint not found\"}","timestamp":"2025-08-01T07:07:16.196Z","duration":176.454236},{"status":"retrying","timestamp":"2025-08-01T07:08:08.808Z"},{"status":"failed","error_message":"404 - {\"error\":\"Debug endpoint not found\"}","timestamp":"2025-08-01T07:08:18.719Z","duration":184.116362}],"event":{"id":"evt_248hCPsVtmMBUeBMJ6iesd","source":"urn:auth0:","specversion":"1.0","type":"user.updated","time":"2025-08-01T07:06:05.434Z","data":{"object":{"app_metadata":{"plan":"pro"},"blocked":false,"created_at":"2025-02-01T12:34:56Z","email":"john.doe@gmail.com","email_verified":false,"family_name":"Doe","given_name":"John","identities":[{"connection":"Username-Password-Authentication","provider":"auth0","user_id":"507f1f77bcf86cd799439020"}],"last_ip":"10.0.0.1","last_login":"2025-02-01T12:34:56Z","logins_count":42,"name":"John Doe","nickname":"John Doe","phone_number":"+15555555555","phone_verified":false,"picture":"https://secure.gravatar.com/avatar/15626c5e0c749cb912f9d1ad48dba440?s=480&r=pg&d=https%3A%2F%2Fssl.gstatic.com%2Fs2%2Fprofiles%2Fimages%2Fsilhouette80.png","updated_at":"2025-02-01T12:34:56Z","user_id":"auth0|507f1f77bcf86cd799439020","user_metadata":{"hobby":"skydiving"},"username":"johndoe"}},"a0tenant":"go-auth0-dev.eu.auth0.com","a0stream":"est_iCyT3rLLXTowdhCgCJH6hX"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 372.472ms
