---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/event-streams/est_pHoutt1yJkJLEq4ykE6qLr/deliveries?event_types=user.created%2Cuser.updated
        method: GET
      response:
        body: '{"deliveries":[{"id":"evt_dbnRZ5R1cEsVHLhd6QnStY","event_stream_id":"est_pHoutt1yJkJLEq4ykE6qLr","event_type":"user.created","status":"failed","attempts":[{"status":"failed","error_message":"404 - {\"error\":\"Debug endpoint not found\"}","timestamp":"2025-08-01T06:35:18.389Z","duration":210.643327}],"event":{"id":"evt_dbnRZ5R1cEsVHLhd6QnStY","source":"urn:auth0:","specversion":"1.0","type":"user.created","time":"2025-08-01T06:35:00.721Z","data":{"object":{"app_metadata":{"plan":"pro"},"blocked":false,"created_at":"2025-02-01T12:34:56Z","email":"john.doe@gmail.com","email_verified":false,"family_name":"Doe","given_name":"John","identities":[{"connection":"Username-Password-Authentication","provider":"auth0","user_id":"507f1f77bcf86cd799439020"}],"last_ip":"10.0.0.1","last_login":"2025-02-01T12:34:56Z","logins_count":42,"name":"John Doe","nickname":"John Doe","phone_number":"+15555555555","phone_verified":false,"picture":"https://secure.gravatar.com/avatar/15626c5e0c749cb912f9d1ad48dba440?s=480&r=pg&d=https%3A%2F%2Fssl.gstatic.com%2Fs2%2Fprofiles%2Fimages%2Fsilhouette80.png","updated_at":"2025-02-01T12:34:56Z","user_id":"auth0|507f1f77bcf86cd799439020","user_metadata":{"hobby":"skydiving"},"username":"johndoe"}},"a0tenant":"go-auth0-dev.eu.auth0.com","a0stream":"est_pHoutt1yJkJLEq4ykE6qLr"}},{"id":"evt_cdfDDWXQGM1wCh3tgTcnMu","event_stream_id":"est_pHoutt1yJkJLEq4ykE6qLr","event_type":"user.created","status":"failed","attempts":[{"status":"failed","error_message":"404 - {\"error\":\"Debug endpoint not found\"}","timestamp":"2025-08-01T06:35:18.570Z","duration":174.648685}],"event":{"id":"evt_cdfDDWXQGM1wCh3tgTcnMu","source":"urn:auth0:","specversion":"1.0","type":"user.created","time":"2025-08-01T06:35:02.051Z","data":{"object":{"app_metadata":{"plan":[...]
