---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/event-streams/est_tW75Q54Dc8F7NVaU9Qiura/deliveries/evt_5rZwwXHcnBchT6U2i7cvNN
        method: GET
      response:
        body: '{"id":"evt_5rZwwXHcnBchT6U2i7cvNN","event_stream_id":"est_tW75Q54Dc8F7NVaU9Qiura","event_type":"user.updated","status":"failed","attempts":[{"status":"failed","error_message":"404 - {\"error\":\"Debug endpoint not found\"}","timestamp":"2025-08-01T06:48:06.181Z","duration":179.149353},{"status":"retrying","timestamp":"2025-08-01T06:48:50.362Z"},{"status":"failed","error_message":"404 - {\"error\":\"Debug endpoint not found\"}","timestamp":"2025-08-01T06:48:53.092Z","duration":179.465285},{"status":"retrying","timestamp":"2025-08-01T06:49:51.724Z"},{"status":"failed","error_message":"404 - {\"error\":\"Debug endpoint not found\"}","timestamp":"2025-08-01T06:49:55.094Z","duration":175.355336}],"event":{"id":"evt_5rZwwXHcnBchT6U2i7cvNN","source":"urn:auth0:","specversion":"1.0","type":"user.updated","time":"2025-08-01T06:47:48.095Z","data":{"object":{"app_metadata":{"plan":"pro"},"blocked":false,"created_at":"2025-02-01T12:34:56Z","email":"john.doe@gmail.com","email_verified":false,"family_name":"Doe","given_name":"John","identities":[{"connection":"Username-Password-Authentication","provider":"auth0","user_id":"507f1f77bcf86cd799439020"}],"last_ip":"10.0.0.1","last_login":"2025-02-01T12:34:56Z","logins_count":42,"name":"John Doe","nickname":"John Doe","phone_number":"+15555555555","phone_verified":false,"picture":"https://secure.gravatar.com/avatar/15626c5e0c749cb912f9d1ad48dba440?s=480&r=pg&d=https%3A%2F%2Fssl.gstatic.com%2Fs2%2Fprofiles%2Fimages%2Fsilhouette80.png","updated_at":"2025-02-01T12:34:56Z","user_id":"auth0|507f1f77bcf86cd799439020","user_metadata":{"hobby":"skydiving"},"username":"johndoe"}},"a0tenant":"go-auth0-dev.eu.auth0.com","a0stream":"est_tW75Q54Dc8F7NVaU9Qiura"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 335.355959ms
