// Code generated by Fern. DO NOT EDIT.

package versions

import (
	context "context"
	fmt "fmt"
	management "github.com/auth0/go-auth0/v2/management"
	core "github.com/auth0/go-auth0/v2/management/core"
	internal "github.com/auth0/go-auth0/v2/management/internal"
	option "github.com/auth0/go-auth0/v2/management/option"
	http "net/http"
	strconv "strconv"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Retrieve all of an action's versions. An action version is created whenever an action is deployed. An action version is immutable, once created.
func (c *Client) List(
	ctx context.Context,
	// The ID of the action.
	actionID string,
	request *management.ListActionVersionsRequestParameters,
	opts ...option.RequestOption,
) (*core.Page[*management.ActionVersion], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://%7BTENANT%7D.auth0.com/api/v2",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/actions/actions/%v/versions",
		actionID,
	)
	queryParams, err := internal.QueryValuesWithDefaults(
		request,
		map[string]any{
			"page":     0,
			"per_page": 50,
		},
	)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *internal.PageRequest[*int]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("page", fmt.Sprintf("%v", *pageRequest.Cursor))
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(management.ErrorCodes),
		}
	}
	next := 1
	if queryParams.Has("page") {
		var err error
		if next, err = strconv.Atoi(queryParams.Get("page")); err != nil {
			return nil, err
		}
	}

	readPageResponse := func(response *management.ListActionVersionsPaginatedResponseContent) *internal.PageResponse[*int, *management.ActionVersion] {
		next += 1
		results := response.Versions
		return &internal.PageResponse[*int, *management.ActionVersion]{
			Next:    &next,
			Results: results,
		}
	}
	pager := internal.NewOffsetPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, &next)
}

// Retrieve a specific version of an action. An action version is created whenever an action is deployed. An action version is immutable, once created.
func (c *Client) Get(
	ctx context.Context,
	// The ID of the action.
	actionID string,
	// The ID of the action version.
	id string,
	opts ...option.RequestOption,
) (*management.GetActionVersionResponseContent, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		actionID,
		id,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Performs the equivalent of a roll-back of an action to an earlier, specified version. Creates a new, deployed action version that is identical to the specified version. If this action is currently bound to a trigger, the system will begin executing the newly-created version immediately.
func (c *Client) Deploy(
	ctx context.Context,
	// The ID of an action.
	actionID string,
	// The ID of an action version.
	id string,
	request *management.DeployActionVersionRequestContent,
	opts ...option.RequestOption,
) (*management.DeployActionVersionResponseContent, error) {
	response, err := c.WithRawResponse.Deploy(
		ctx,
		actionID,
		id,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
