---
version: 1
interactions:
- request:
    body: |
      {"name":"Test-AD-Connection-1654521050","strategy":"ad","options":{"ips":null}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
    method: POST
  response:
    body: '{"id":"con_WcXRkCuGWDFloucF","options":{"ips":null,"brute_force_protection":true},"strategy":"ad","name":"Test-AD-Connection-1654521050","provisioning_ticket_url":"https://go-auth0-dev.eu.auth0.com/p/ad/xXCylUdcr68GYIB58dWdlJ5FLXS0gQ0F","is_domain_connection":false,"show_as_button":false,"enabled_clients":[],"realms":["Test-AD-Connection-1654521050"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Test-AD-Connection-1654521050&per_page=50
    method: GET
  response:
    body: '{"total":1,"start":0,"limit":50,"connections":[{"id":"con_WcXRkCuGWDFloucF","options":{"ips":null,"brute_force_protection":true},"strategy":"ad","name":"Test-AD-Connection-1654521050","provisioning_ticket_url":"https://go-auth0-dev.eu.auth0.com/p/ad/xXCylUdcr68GYIB58dWdlJ5FLXS0gQ0F","is_domain_connection":false,"show_as_button":false,"realms":["Test-AD-Connection-1654521050"],"enabled_clients":[]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <http://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Test-AD-Connection-1654521050&per_page=50&page=0>;
        rel="first", <http://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Test-AD-Connection-1654521050&per_page=50&page=0>;
        rel="last"
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_WcXRkCuGWDFloucF
    method: DELETE
  response:
    body: '{"deleted_at":"2022-06-06T13:13:22.130Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 202 Accepted
    code: 202
    duration: 1ms
[...]
