---
version: 1
interactions:
- request:
    body: |
      {"name":"Test-GoogleApps-Connection-1654521050","strategy":"google-apps","options":{"domain":"example.com","tenant_domain":"example.com","basic_profile":true,"ext_profile":true,"ext_groups":true,"ext_is_admin":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
    method: POST
  response:
    body: '{"id":"con_VBdD9mp57UN73wWE","options":{"domain":"example.com","tenant_domain":"example.com","basic_profile":true,"ext_profile":true,"ext_groups":true,"ext_is_admin":true,"email":true,"profile":true,"scope":["email","profile"],"handle_login_from_social":true},"strategy":"google-apps","name":"Test-GoogleApps-Connection-1654521050","provisioning_ticket_url":"https://login.eu.auth0.com/go-auth0-dev/p/google-apps/cIgfBELQ","is_domain_connection":false,"show_as_button":false,"enabled_clients":[],"realms":["Test-GoogleApps-Connection-1654521050"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Test-GoogleApps-Connection-1654521050&per_page=50
    method: GET
  response:
    body: '{"total":1,"start":0,"limit":50,"connections":[{"id":"con_VBdD9mp57UN73wWE","options":{"email":true,"scope":["email","profile"],"domain":"example.com","profile":true,"ext_groups":true,"ext_profile":true,"ext_is_admin":true,"basic_profile":true,"tenant_domain":"example.com","handle_login_from_social":true},"strategy":"google-apps","name":"Test-GoogleApps-Connection-1654521050","provisioning_ticket_url":"https://login.eu.auth0.com/go-auth0-dev/p/google-apps/cIgfBELQ","is_domain_connection":false,"show_as_button":false,"realms":["Test-GoogleApps-Connection-1654521050"],"enabled_clients":[]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <http://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Test-GoogleApps-Connection-1654521050&per_page=50&page=0>;
        rel="first", <http://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Test-GoogleApps-Connection-1654521050&per_page=50&page=0>;
        rel="last"
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_VBdD9mp57UN73wWE
    method: DELETE
  response:
    body: '{"deleted_at":"2022-06-06T13:13:12.437Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 202 Accepted
    code: 202
    duration: 1ms
[...]
