---
version: 1
interactions:
- request:
    body: |
      {"name":"Test-LinkedIn-Connection-1654521050","strategy":"linkedin","options":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
    method: POST
  response:
    body: '{"id":"con_jaklaUe1vYetRjkH","options":{"profile":true,"scope":["r_basicprofile"]},"strategy":"linkedin","name":"Test-LinkedIn-Connection-1654521050","is_domain_connection":false,"enabled_clients":[],"realms":["Test-LinkedIn-Connection-1654521050"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Test-LinkedIn-Connection-1654521050&per_page=50
    method: GET
  response:
    body: '{"total":1,"start":0,"limit":50,"connections":[{"id":"con_jaklaUe1vYetRjkH","options":{"scope":["r_basicprofile"],"profile":true},"strategy":"linkedin","name":"Test-LinkedIn-Connection-1654521050","is_domain_connection":false,"realms":["Test-LinkedIn-Connection-1654521050"],"enabled_clients":[]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <http://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Test-LinkedIn-Connection-1654521050&per_page=50&page=0>;
        rel="first", <http://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Test-LinkedIn-Connection-1654521050&per_page=50&page=0>;
        rel="last"
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_jaklaUe1vYetRjkH
    method: DELETE
  response:
    body: '{"deleted_at":"2022-06-06T13:13:27.516Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 202 Accepted
    code: 202
    duration: 1ms
[...]
