---
version: 1
interactions:
- request:
    body: |
      {"name":"Test-SMS-Connection-1654521050","strategy":"sms","options":{"name":"Test-Connection-SMS","from":"+17777777777","syntax":"liquid","template":"Your verification code is { code }}","totp":{"time_step":110,"length":5},"authParams":{"scope":"openid profile"},"twilio_sid":"abc132asdfasdf56","twilio_token":"234127asdfsada23","messaging_service_sid":"273248090982390423","disable_signup":true,"brute_force_protection":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
    method: POST
  response:
    body: '{"id":"con_UxKJAFlYUfo3esPh","options":{"name":"Test-Connection-SMS","from":"+17777777777","syntax":"liquid","template":"Your
      verification code is { code }}","totp":{"time_step":110,"length":5},"authParams":{"scope":"openid
      profile"},"twilio_sid":"abc132asdfasdf56","twilio_token":"234127asdfsada23","messaging_service_sid":"273248090982390423","disable_signup":true,"brute_force_protection":true},"strategy":"sms","name":"Test-SMS-Connection-1654521050","is_domain_connection":false,"enabled_clients":[],"realms":["Test-SMS-Connection-1654521050"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Test-SMS-Connection-1654521050&per_page=50
    method: GET
  response:
    body: '{"total":1,"start":0,"limit":50,"connections":[{"id":"con_UxKJAFlYUfo3esPh","options":{"from":"+17777777777","name":"Test-Connection-SMS","totp":{"length":5,"time_step":110},"syntax":"liquid","template":"Your
      verification code is { code }}","authParams":{"scope":"openid profile"},"twilio_sid":"abc132asdfasdf56","twilio_token":"234127asdfsada23","disable_signup":true,"messaging_service_sid":"273248090982390423","brute_force_protection":true},"strategy":"sms","name":"Test-SMS-Connection-1654521050","is_domain_connection":false,"realms":["Test-SMS-Connection-1654521050"],"enabled_clients":[]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <http://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Test-SMS-Connection-1654521050&per_page=50&page=0>;
        rel="first", <http://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Test-SMS-Connection-1654521050&per_page=50&page=0>;
        rel="last"
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_UxKJAFlYUfo3esPh
    method: DELETE
  response:
    body: '{"deleted_at":"2022-06-06T13:13:16.196Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 202 Accepted
    code: 202
    duration: 1ms
[...]
