---
version: 1
interactions:
- request:
    body: |
      {"name":"Test-WindowsLive-Connection-1654521050","strategy":"windowslive","options":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
    method: POST
  response:
    body: '{"id":"con_Nf47OKJLMJ7USe9T","options":{"signin":true,"scope":["wl.signin"]},"strategy":"windowslive","name":"Test-WindowsLive-Connection-1654521050","is_domain_connection":false,"enabled_clients":[],"realms":["Test-WindowsLive-Connection-1654521050"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Test-WindowsLive-Connection-1654521050&per_page=50
    method: GET
  response:
    body: '{"total":1,"start":0,"limit":50,"connections":[{"id":"con_Nf47OKJLMJ7USe9T","options":{"scope":["wl.signin"],"signin":true},"strategy":"windowslive","name":"Test-WindowsLive-Connection-1654521050","is_domain_connection":false,"realms":["Test-WindowsLive-Connection-1654521050"],"enabled_clients":[]}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <http://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Test-WindowsLive-Connection-1654521050&per_page=50&page=0>;
        rel="first", <http://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Test-WindowsLive-Connection-1654521050&per_page=50&page=0>;
        rel="last"
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_Nf47OKJLMJ7USe9T
    method: DELETE
  response:
    body: '{"deleted_at":"2022-06-06T13:13:31.509Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 202 Accepted
    code: 202
    duration: 1ms
[...]
