---
version: 1
interactions:
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/keys/signing/rotate
    method: POST
  response:
    body: '{"kid":"111111111111111111111","cert":"-----BEGIN CERTIFICATE-----\\r\\n[REDACTED]\\r\\n-----END
      CERTIFICATE-----","pkcs7":"-----BEGIN PKCS7-----\\r\\n[REDACTED]\\r\\n-----END
      PKCS7-----","current":true,"next":false,"previous":true,"fingerprint":"[REDACTED]","thumbprint":"[REDACTED]","revoked":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
