---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-LogStream-1751995559","type":"splunk","isPriority":true,"pii_config":{"log_fields":["first_name"],"method":"mask","algorithm":"xxhash"},"sink":{"splunkDomain":"demo.splunk.com","splunkToken":"12a34ab5-c6d7-8901-23ef-456b7c89d0c1","splunkPort":"8080","splunkSecure":true}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/log-streams
        method: POST
      response:
        body: '{"id":"lst_0000000000012771","name":"Test-LogStream-1751995559","type":"splunk","status":"active","sink":{"splunkDomain":"demo.splunk.com","splunkPort":"8080","splunkToken":"12a34ab5-c6d7-8901-23ef-456b7c89d0c1","splunkSecure":true},"filters":[{"type":"category","name":"security"}],"isPriority":true,"pii_config":{"log_fields":["first_name"],"method":"mask","algorithm":"xxhash"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 436.139083ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000012771
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 425.360875ms
