---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/keys/signing
        method: GET
      response:
        body: '[{"kid":"111111111111111111111","cert":"-----BEGIN CERTIFICATE-----\\r\\n[REDACTED]\\r\\n-----END CERTIFICATE-----","pkcs7":"-----BEGIN PKCS7-----\\r\\n[REDACTED]\\r\\n-----END PKCS7-----","current":true,"next":false,"previous":true,"fingerprint":"[REDACTED]","thumbprint":"[REDACTED]","revoked":false},{"kid":"222222222222222222222","cert":"-----BEGIN CERTIFICATE-----\\r\\n[REDACTED]\\r\\n-----END CERTIFICATE-----","pkcs7":"-----BEGIN PKCS7-----\\r\\n[REDACTED]\\r\\n-----END PKCS7-----","current":false,"next":true,"previous":true,"fingerprint":"[REDACTED]","thumbprint":"[REDACTED]","revoked":false}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 497.105125ms
