// Code generated by Fern. DO NOT EDIT.

package client

import (
	context "context"
	fmt "fmt"
	management "github.com/auth0/go-auth0/v2/management"
	versions "github.com/auth0/go-auth0/v2/management/actions/modules/versions"
	core "github.com/auth0/go-auth0/v2/management/core"
	internal "github.com/auth0/go-auth0/v2/management/internal"
	option "github.com/auth0/go-auth0/v2/management/option"
	http "net/http"
	strconv "strconv"
)

type Client struct {
	WithRawResponse *RawClient
	Versions        *versions.Client

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		Versions:        versions.NewClient(options),
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Retrieve a paginated list of all Actions Modules with optional filtering and totals.
func (c *Client) List(
	ctx context.Context,
	request *management.GetActionModulesRequestParameters,
	opts ...option.RequestOption,
) (*core.Page[*int, *management.ActionModuleListItem, *management.GetActionModulesResponseContent], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://%7BTENANT%7D.auth0.com/api/v2",
	)
	endpointURL := baseURL + "/actions/modules"
	queryParams, err := internal.QueryValuesWithDefaults(
		request,
		map[string]any{
			"page":     0,
			"per_page": 50,
		},
	)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*int]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("page", fmt.Sprintf("%v", *pageRequest.Cursor))
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(management.ErrorCodes),
		}
	}
	next := 1
	if queryParams.Has("page") {
		var err error
		if next, err = strconv.Atoi(queryParams.Get("page")); err != nil {
			return nil, err
		}
	}

	readPageResponse := func(response *management.GetActionModulesResponseContent) *core.PageResponse[*int, *management.ActionModuleListItem, *management.GetActionModulesResponseContent] {
		next += 1
		results := response.Modules
		return &core.PageResponse[*int, *management.ActionModuleListItem, *management.GetActionModulesResponseContent]{
			Results:  results,
			Response: response,
			Next:     &next,
		}
	}
	pager := internal.NewOffsetPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, &next)
}

// Create a new Actions Module for reusable code across actions.
func (c *Client) Create(
	ctx context.Context,
	request *management.CreateActionModuleRequestContent,
	opts ...option.RequestOption,
) (*management.CreateActionModuleResponseContent, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieve details of a specific Actions Module by its unique identifier.
func (c *Client) Get(
	ctx context.Context,
	// The ID of the action module to retrieve.
	id string,
	opts ...option.RequestOption,
) (*management.GetActionModuleResponseContent, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		id,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Permanently delete an Actions Module. This will fail if the module is still in use by any actions.
func (c *Client) Delete(
	ctx context.Context,
	// The ID of the Actions Module to delete.
	id string,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Delete(
		ctx,
		id,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Update properties of an existing Actions Module, such as code, dependencies, or secrets.
func (c *Client) Update(
	ctx context.Context,
	// The ID of the action module to update.
	id string,
	request *management.UpdateActionModuleRequestContent,
	opts ...option.RequestOption,
) (*management.UpdateActionModuleResponseContent, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		id,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Lists all actions that are using a specific Actions Module, showing which deployed action versions reference this Actions Module.
func (c *Client) ListActions(
	ctx context.Context,
	// The unique ID of the module.
	id string,
	request *management.GetActionModuleActionsRequestParameters,
	opts ...option.RequestOption,
) (*core.Page[*int, *management.ActionModuleAction, *management.GetActionModuleActionsResponseContent], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://%7BTENANT%7D.auth0.com/api/v2",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/actions/modules/%v/actions",
		id,
	)
	queryParams, err := internal.QueryValuesWithDefaults(
		request,
		map[string]any{
			"page":     0,
			"per_page": 50,
		},
	)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*int]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("page", fmt.Sprintf("%v", *pageRequest.Cursor))
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(management.ErrorCodes),
		}
	}
	next := 1
	if queryParams.Has("page") {
		var err error
		if next, err = strconv.Atoi(queryParams.Get("page")); err != nil {
			return nil, err
		}
	}

	readPageResponse := func(response *management.GetActionModuleActionsResponseContent) *core.PageResponse[*int, *management.ActionModuleAction, *management.GetActionModuleActionsResponseContent] {
		next += 1
		results := response.Actions
		return &core.PageResponse[*int, *management.ActionModuleAction, *management.GetActionModuleActionsResponseContent]{
			Results:  results,
			Response: response,
			Next:     &next,
		}
	}
	pager := internal.NewOffsetPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, &next)
}

// Rolls back an Actions Module's draft to a previously created version. This action copies the code, dependencies, and secrets from the specified version into the current draft.
func (c *Client) Rollback(
	ctx context.Context,
	// The unique ID of the module to roll back.
	id string,
	request *management.RollbackActionModuleRequestParameters,
	opts ...option.RequestOption,
) (*management.RollbackActionModuleResponseContent, error) {
	response, err := c.WithRawResponse.Rollback(
		ctx,
		id,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
