---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Auth0-Connection-List-1714380902","strategy":"auth0"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_Iek2PPEpyGg3xPtz","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"authentication_methods":{"password":{"enabled":true},"passkey":{"enabled":false}},"passkey_options":{"challenge_ui":"both","progressive_enrollment_enabled":true,"local_enrollment_enabled":true},"brute_force_protection":true},"strategy":"auth0","name":"Test-Auth0-Connection-List-1714380902","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Auth0-Connection-List-1714380902"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 889.26025ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections?fields=id&include_fields=true&include_totals=true&per_page=50
        method: GET
      response:
        body: '{"total":5,"start":0,"limit":50,"connections":[{"id":"con_zKW9Xxoj0tFV5LnK","is_domain_connection":false},{"id":"con_hxpwEaue9vG1Nmah","is_domain_connection":false},{"id":"con_Iek2PPEpyGg3xPtz","is_domain_connection":false},{"id":"con_j2mkms4M0wmxNiSx","is_domain_connection":false},{"id":"con_o1RfqDaIvuekh5T5","is_domain_connection":false}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 363.943458ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_Iek2PPEpyGg3xPtz
        method: DELETE
      response:
        body: '{"deleted_at":"2024-04-29T08:55:03.899Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 358.0875ms
