---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"description":"some-description-match-all","active":true,"priority":1,"rule":{"action":{"block":true},"scope":"authentication","match_all":true}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/network-acls
        method: POST
      response:
        body: '{"description":"some-description-match-all","active":true,"priority":1,"rule":{"scope":"authentication","action":{"block":true},"match_all":true},"created_at":"2026-09-04T09:30:17.324Z","updated_at":"2026-09-04T09:30:17.324Z","id":"acl_jf67PDExRF2gtyvcvDBA1U"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 787.877166ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_jf67PDExRF2gtyvcvDBA1U
        method: GET
      response:
        body: '{"tenant_id":"go-auth0-dev.eu.auth0.com","description":"some-description-match-all","active":true,"priority":1,"rule":{"scope":"authentication","action":{"block":true},"match_all":true},"created_at":"2026-09-04T09:30:17.324Z","updated_at":"2026-09-04T09:30:17.324Z","deleted_at":null,"id":"acl_jf67PDExRF2gtyvcvDBA1U"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 383.181667ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_jf67PDExRF2gtyvcvDBA1U
        method: DELETE
      response:
        body: '{"code":204,"object":""}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 320.784167ms
