---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"content":{"syntax":"liquid","from":"1234567890","body":{"text":"We Detected a security breach in your account. Please reset your password. {{user.source_ip}}{% if user.city %} from {{user.city}}, {{user.country}}{% elsif user.country %} from {{user.country}}{% endif %}.","voice":"We Detected a security breach in your account. Please reset your password. {{user.source_ip}}{% if user.city %} from {{user.city}}, {{user.country}}{% elsif user.country %} from {{user.country}}{% endif %}."}},"type":"change_password","disabled":false}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/branding/phone/templates
        method: POST
      response:
        body: '{"id":"tem_mEp7mwxJxnU2FvdWojw1v2","tenant":"go-auth0-dev.eu.auth0.com","channel":"phone","type":"change_password","disabled":false,"created_at":"2025-02-10T11:53:13.007Z","updated_at":"2025-02-10T11:53:13.007Z","content":{"syntax":"liquid","body":{"text":"We Detected a security breach in your account. Please reset your password. {{user.source_ip}}{% if user.city %} from {{user.city}}, {{user.country}}{% elsif user.country %} from {{user.country}}{% endif %}.","voice":"We Detected a security breach in your account. Please reset your password. {{user.source_ip}}{% if user.city %} from {{user.city}}, {{user.country}}{% elsif user.country %} from {{user.country}}{% endif %}."},"from":"1234567890"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 871.131917ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/branding/phone/templates/tem_mEp7mwxJxnU2FvdWojw1v2
        method: GET
      response:
        body: '{"id":"tem_mEp7mwxJxnU2FvdWojw1v2","tenant":"go-auth0-dev.eu.auth0.com","channel":"phone","type":"change_password","disabled":false,"created_at":"2025-02-10T11:53:13.007Z","updated_at":"2025-02-10T11:53:13.007Z","content":{"syntax":"liquid","body":{"text":"We Detected a security breach in your account. Please reset your password. {{user.source_ip}}{% if user.city %} from {{user.city}}, {{user.country}}{% elsif user.country %} from {{user.country}}{% endif %}.","voice":"We Detected a security breach in your account. Please reset your password. {{user.source_ip}}{% if user.city %} from {{user.city}}, {{user.country}}{% elsif user.country %} from {{user.country}}{% endif %}."},"from":"1234567890"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 349.040041ms
[...]
