---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-rule764","script":"function (user, context, callback) { callback(null, user, context); }","enabled":false}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/rules
        method: POST
      response:
        body: '{"id":"rul_6Jo3sm9pEwoAejSu","enabled":false,"script":"function (user, context, callback) { callback(null, user, context); }","name":"test-rule764","order":1,"stage":"login_success"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 100.837125ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/rules/rul_6Jo3sm9pEwoAejSu
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 107.3585ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/rules/rul_6Jo3sm9pEwoAejSu
        method: GET
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"The rule does not exist","errorCode":"inexistent_rule"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 117.260583ms
[...]
