---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"connection":"Username-Password-Authentication","email":"chuck843@example.com","given_name":"Chuck","family_name":"Sanchez","username":"test-user608","nickname":"Chucky","password":"Passwords hide their chuck","user_metadata":{"favourite_attack":"roundhouse_kick"},"verify_email":false,"app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]},"picture":"https://example-picture-url.jpg","blocked":false,"email_verified":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"blocked":false,"created_at":"2025-01-08T06:16:17.101Z","email":"chuck843@example.com","email_verified":true,"family_name":"Sanchez","given_name":"Chuck","identities":[{"connection":"Username-Password-Authentication","user_id":"677e183104cb56de4c43408a","provider":"auth0","isSocial":false}],"name":"chuck843@example.com","nickname":"Chucky","picture":"https://example-picture-url.jpg","updated_at":"2025-01-08T06:16:17.101Z","user_id":"auth0|677e183104cb56de4c43408a","user_metadata":{"favourite_attack":"roundhouse_kick"},"username":"test-user608","app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.02425075s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C677e183104cb56de4c43408a/sessions?take=50
        method: GET
      response:
        body: '{"sessions":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 432.664166ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C677e183104cb56de4c43408a
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 373.715541ms
