---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-flow","description":"A test flow","synchronous":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows
        method: POST
      response:
        body: '{"id":"af_7pti9ktAAeVVXGndKU5Gqf","name":"test-flow","description":"A test flow","synchronous":true,"actions":[],"triggers":{"webhook":{"enabled":false,"secret":null}},"security":{"rateLimits":[]},"created_at":"2024-09-10T07:12:33.824Z","updated_at":"2024-09-10T07:12:33.824Z","executed_at":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 585.082875ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"limit":50,"start":0,"total":2,"flows":[{"id":"af_7pti9ktAAeVVXGndKU5Gqf","name":"test-flow","description":"A test flow","synchronous":true,"created_at":"2024-09-10T07:12:33.824Z","updated_at":"2024-09-10T07:12:33.824Z","executed_at":null},{"id":"af_sCzMbZkwNS4w6HZ79Ce2Ad","name":"Update user_metadata","description":null,"synchronous":true,"created_at":"2024-08-11T18:50:34.374Z","updated_at":"2024-08-12T12:48:29.106Z","executed_at":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 266.426833ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/af_7pti9ktAAeVVXGndKU5Gqf
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 245.263ms
