---
version: 2
interactions:
  - id: 0
    request:
      host: go-auth0-dev.eu.auth0.com
      body: |
        {"name":"Test Client (Jan 25 18:43:01.653)","description":"This is just a test client.","organization_usage":"allow"}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://go-auth0-dev.eu.auth0.com/api/v2/clients
      method: POST
    response:
      body: '{"name":"Test Client (Jan 25 18:43:01.653)","description":"This is just a test client.","client_id":"SvStOMA7tiUjzAIytYFlTYnyJTlI1ovm","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"organization_usage":"allow"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 392.490833ms
  - id: 1
    request:
      host: go-auth0-dev.eu.auth0.com
      body: |
        {"name":"Test Resource Server (Jan 25 18:43:02.046)","identifier":"https://api.example.com/","scopes":[{"value":"create:resource","description":"Create Resource"}],"signing_alg":"HS256","token_lifetime":7200,"token_lifetime_for_web":3600}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://go-auth0-dev.eu.auth0.com/api/v2/resource-servers
      method: POST
    response:
      body: '{"id":"63d16a26f2a5bdbc6364494b","name":"Test Resource Server (Jan 25 18:43:02.046)","identifier":"https://api.example.com/","scopes":[{"value":"create:resource","description":"Create Resource"}],"signing_alg":"HS256","allow_offline_access":false,"token_lifetime":7200,"token_lifetime_for_web":3600,"skip_consent_for_verifiable_first_party_clients":false}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 132.099125ms
  - id: 2
    request:
      host: go-auth0-dev.eu.auth0.com
      body: |
        {"client_id":"SvStOMA7tiUjzAIytYFlTYnyJTlI1ovm","audience":"https://api.example.com/","scope":["create:resource"]}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://go-auth0-dev.eu.auth0.com/api/v2/client-grants
      method: POST
    response:
      body: '{"id":"cgr_h1uMVCW4nYELv34v","client_id":"SvStOMA7tiUjzAIytYFlTYnyJTlI1ovm","audience":"https://api.example.com/","scope":["create:resource"]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 109.121667ms
[...]
{"scope":["create:resource","update:resource"]}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://go-auth0-dev.eu.auth0.com/api/v2/client-grants/cgr_h1uMVCW4nYELv34v
      method: PATCH
    response:
      body: '{"id":"cgr_h1uMVCW4nYELv34v","client_id":"SvStOMA7tiUjzAIytYFlTYnyJTlI1ovm","audience":"https://api.example.com/","scope":["create:resource","update:resource"]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 96.772625ms
[...]
  - id: 5
    request:
      host: go-auth0-dev.eu.auth0.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://go-auth0-dev.eu.auth0.com/api/v2/resource-servers/63d16a26f2a5bdbc6364494b
      method: DELETE
    response:
      body: ""
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 204 No Content
      code: 204
      duration: 232.015166ms
  - id: 6
    request:
      host: go-auth0-dev.eu.auth0.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://go-auth0-dev.eu.auth0.com/api/v2/clients/SvStOMA7tiUjzAIytYFlTYnyJTlI1ovm
      method: DELETE
    response:
      body: ""
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 204 No Content
      code: 204
      duration: 118.23375ms