---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-hook998","script":"function (user, context, callback) { callback(null, { user }); }","triggerId":"pre-user-registration","enabled":false}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/hooks
        method: POST
      response:
        body: '{"id":"01GQN0PBFKAGVGFCERC0128CMK","name":"test-hook-998","script":"function (user, context, callback) { callback(null, { user }); }","dependencies":{},"triggerId":"pre-user-registration","enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 286.455791ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"SECRET1":"value1","SECRET2":"value2"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/hooks/01GQN0PBFKAGVGFCERC0128CMK/secrets
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 235.468667ms
[...]
    - id: 4
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/hooks/01GQN0PBFKAGVGFCERC0128CMK
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 455.584709ms
