---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"identifier":"urn:auth0:express-configure"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"6916d29a60a17e4afdbce013","name":"Okta OIN Express Configuration API","identifier":"urn:auth0:express-configure","scopes":[{"value":"express_configure:sso","description":"Ability to create SSO configurations"},{"value":"express_configure:scim","description":"Ability to create scim configurations"}],"signing_alg":"RS256","allow_offline_access":false,"token_lifetime":300,"token_lifetime_for_web":7200,"skip_consent_for_verifiable_first_party_clients":false,"enforce_policies":true,"is_system":true,"subject_type_authorization":{"user":{"policy":"allow_all"},"client":{"policy":"deny_all"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.028919083s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/resource-servers/6916d29a60a17e4afdbce013
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 408.150416ms
[...]
    - id: 9
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/resource-servers?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"total":13,"start":0,"limit":50,"resource_servers":[{"id":"660bf8bc2cd7cc0b5b37194c","name":"Auth0 Management API","identifier":"https://go-auth0-dev.eu.auth0.com.us.auth0.com/api/v2/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"subject_type_authorization":{"client":{"policy":"require_client_grant"},"user":{"policy":"allow_all"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","scopes":[{"description":"Read Client Grants","value":"read:client_grants"},{"description":"Create Cli[...]
[...]
