---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"connection":"Username-Password-Authentication","email":"chuck@example.com","username":"chuck","password":"I have a password and its a secret"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"created_at":"2023-01-25T19:00:26.187Z","email":"chuck@example.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"63d17c4a8869daf88ed7db97","provider":"auth0","isSocial":false}],"name":"chuck@example.com","nickname":"chuck","picture":"https://s.gravatar.com/avatar/0b79e7da7bc7877560620cf8f2cc93ae?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fch.png","updated_at":"2023-01-25T19:00:26.187Z","user_id":"auth0|63d17c4a8869daf88ed7db97","username":"chuck"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 452.152417ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C63d17c4a8869daf88ed7db97
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 130.831667ms
