---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/logs?page=1&per_page=5
        method: GET
      response:
        body: '[{"_id":"90020231110110819308230000000000000001223372060221940944","log_id":"90020231110110819308230000000000000001223372060221940944","date":"2023-11-10T11:08:19.262Z","type":"sapi","description":"Delete organization","connection":null,"connection_id":null,"organization_id":null,"organization_name":null,"client_id":"11tYwy5rk6iavoGW9BgtXYuzcVrCasjE","client_name":"","ip":"[REDACTED]","hostname":null,"details":{"request":{"auth":{"credentials":{},"strategy":"jwt","user":{}},"body":{},"channel":"api","ip":"2a02:8084:6024:b100:6c86:1b9c:de81:f3aa","method":"delete","path":"/api/v2/organizations/org_VvIJTfJhf3NwyCie","query":{},"userAgent":"Go-Auth0/latest"},"response":{"body":{},"statusCode":204}},"user_id":null,"user_name":null,"user_agent":"Other 0.0.0 / Other 0.0.0","audience":null,"strategy":null,"strategy_type":null,"isMobile":false,"location_info":null},{"_id":"90020231110110818979303000000000000001223372060221940339","log_id":"90020231110110818979303000000000000001223372060221940339","date":"2023-11-10T11:08:18.965Z","type":"sapi","description":"Add members to an organization","connection":null,"connection_id":null,"organization_id":null,"organization_name":null,"client_id":"11tYwy5rk6iavoGW9BgtXYuzcVrCasjE","client_name":"","ip":"[REDACTED]","hostname":null,"details":{"request":{"auth":{"credentials":{},"strategy":"jwt","user":{}},"body":{"members":["auth0|654e0f2209d0e266cf0aa508"]},"channel":"api","ip":"2a02:8084:6024:b100:6c86:1b9c:de81:f3aa","method":"post","path":"/api/v2/organizations/org_VvIJTfJhf3NwyCie/members","query":{},"userAgent":"Go-Auth0/latest"},"response":{"body":{},"statusCode":204}},"user_id":null,"user_name":null,"user_agent":"Other 0.0.0 / Other 0.0.0","audience":null,"strategy":null,"strategy_type":null,"isMobile":false,"location_info":null},{"_id":"90020231110110818877262000000000000001223372060221940137","log_id":"90020231110110818877262000000000000001223372060221940137","date":"2023-11-10T11:08:18.825Z","type":"sapi","description":"Create an Organization","connection":null,"connection_id":null,"organization_id":null,"organization_name":null,"client_id":"11tYwy5rk6iavoGW9BgtXYuzcVrCasjE","client_name":"","ip":"[REDACTED]","hostname":null,"details":{"request":{"auth":{"credentials":{},"strategy":"jwt","user":{}},"body":{"name":"test-organization368"},"channel":"api","ip":"2a02:8084:6024:b100:6c86:1b9c:de81:f3aa","method":"post","path":"/api/v2/organizations","query":{},"userAgent":"Go-Auth0/latest"},"response":{"body":{"id":"org_VvIJTfJhf3NwyCie","name":"test-organization368"},"statusCode":201}},"user_id":null,"user_name":null,"user_agent":"Other 0.0.0 / Other 0.0.0","audience":null,"strategy":null,"strategy_type":null,"isMobile":false,"location_info":null},{"_id":"90020231110110818731591000000000000001223372060221939866","log_id":"90020231110110818731591000000000000001223372060221939866","date":"2023-11-10T11:08:18.669Z","type":"fn","description":"To: chuck253@example.com","connection":"Username-Password-Authentication","connection_id":"","organization_id":null,"organization_name":null,"client_id":"11tYwy5rk6iavoGW9BgtXYuzcVrCasjE","client_name":null,"ip":"[REDACTED]","hostname":null,"details":{"email_type":"welcome_email","error":"the domain is blacklisted","to":"chuck253@example.com"},"user_id":"auth0|654e0f2209d0e266cf0aa508","user_name":"chuck253@example.com","user_agent":"Other 0.0.0 / Other 0.0.0","audience":null,"strategy":null,"strategy_type":null,"isMobile":false,"location_info":null},{"_id":"90020231110110818714046000000000000001223372060221939810","log_id":"90020231110110818714046000000000000001223372060221939810","date":"2023-11-10T11:08:18.652Z","type":"ss","description":"","connection":"Username-Password-Authentication","connection_id":"con_AFENSpbGUJYLjZz6","organization_id":null,"organization_name":null,"client_id":"11tYwy5rk6iavoGW9BgtXYuzcVrCasjE","client_name":"Auth0 CLI","ip":"[REDACTED]","hostname":null,"details":{"authentication_methods":["pwd"],"body":{"app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]},"blocked":false,"client_id":"11tYwy5rk6iavoGW9BgtXYuzcVrCasjE","connection":"Username-Password-Authentication","email":"chuck253@example.com","email_verified":true,"family_name":"Sanchez","given_name":"Chuck","is_signup":false,"nickname":"Chucky","password":"*****","picture":"https://example-picture-url.jpg","tenant":"go-auth0-dev.eu.auth0.com","user_metadata":{"favourite_attack":"roundhouse_kick"},"username":"test-user892"}},"user_id":"auth0|654e0f2209d0e266cf0aa508","user_name":"test-user892","user_agent":"Other 0.0.0 / Other 0.0.0","audience":null,"strategy":"auth0","strategy_type":"database","isMobile":false,"location_info":null}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 424.815209ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/logs/90020231110110819308230000000000000001223372060221940944
        method: GET
      response:
        body: '{"_id":"90020231110110819308230000000000000001223372060221940944","log_id":"90020231110110819308230000000000000001223372060221940944","date":"2023-11-10T11:08:19.262Z","type":"sapi","description":"Delete organization","connection":null,"connection_id":null,"organization_id":null,"organization_name":null,"client_id":"11tYwy5rk6iavoGW9BgtXYuzcVrCasjE","client_name":"","ip":"[REDACTED]","hostname":null,"details":[...]
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/logs?per_page=5&q=type%3A%22sapi%22
        method: GET
      response:
        body: '[{"_id":"90020231110110819436518000000000000001223372060221941173","log_id":"90020231110110819436518000000000000001223372060221941173","date":"2023-11-10T11:08:19.425Z","type":"sapi","description":"Delete a User","connection":null,"connection_id":null,"organization_id":null,"organization_name":null,"client_id":"11tYwy5rk6iavoGW9BgtXYuzcVrCasjE","client_name":"","ip":"[REDACTED]","hostname":null,"details":{"request":{"auth":{"credentials":{"scopes":["read:client_grants","create:client_grants","delete:client_grants","update:client_grants","read:users","update:users","delete:users","create:users","read:users_app_metadata","update:users_app_metadata","delete:users_app_metadata","create:users_app_metadata","read:user_custom_blocks","create:user_custom_blocks","delete:user_custom_blocks","create:user_tickets","read:clients","update:clients","delete:clients","create:clients","read:client_keys","update:client_keys","delete:client_keys","create:cl[...]
[...]
{"request":{"auth":{"credentials":{"scopes":["read:client_grants","create:client_grants","delete:client_grants","update:client_grants","read:users","update:users","delete:users","create:users","read:users_app_metadata","update:users_app_metadata","delete:users_app_metadata","create:users_app_metadata","read:user_custom_blocks","create:user_custom_blocks","delete:user_custom_blocks","create:user_tickets","read:clients","update:clients","delete:clients","create:clients","read:client_keys","update:[...]
