---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-flow","description":"A test flow","synchronous":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows
        method: POST
      response:
        body: '{"id":"af_2P7B1xokW1pNuFFWizs9n8","name":"test-flow","description":"A test flow","synchronous":true,"actions":[],"triggers":{"webhook":{"enabled":false,"secret":null}},"security":{"rateLimits":[]},"created_at":"2024-09-11T08:25:22.157Z","updated_at":"2024-09-11T08:25:22.157Z","executed_at":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 223.510959ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"limit":50,"start":0,"total":2,"flows":[{"id":"af_2P7B1xokW1pNuFFWizs9n8","name":"test-flow","description":"A test flow","synchronous":true,"created_at":"2024-09-11T08:25:22.157Z","updated_at":"2024-09-11T08:25:22.157Z","executed_at":null},{"id":"af_sCzMbZkwNS4w6HZ79Ce2Ad","name":"Update user_metadata","description":null,"synchronous":true,"created_at":"2024-08-11T18:50:34.374Z","updated_at":"2024-08-12T12:48:29.106Z","executed_at":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 258.266708ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/af_2P7B1xokW1pNuFFWizs9n8
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 227.483542ms
