---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: GET
      response:
        body: '{"allowed_logout_urls":["http://localhost:3001"],"default_audience":"","default_directory":"Username-Password-Authentication","enabled_locales":["en"],"flags":{"allow_changing_enable_sso":false,"disable_impersonation":true,"enable_sso":true,"new_universal_login_experience_enabled":true,"universal_login":true,"revoke_refresh_token_grant":false,"dashboard_new_onboarding":false,"disable_clickjack_protection_headers":false},"idle_session_lifetime":0.08333333333333333,"ephemeral_session_lifetime":0.08333333333333333,"idle_ephemeral_session_lifetime":0.08333333333333333,"picture_url":"https://cdn.auth0.com/manhattan/versions/1.3935.0/assets/badge.png","sandbox_version":"18","session_lifetime":0.08333333333333333,"sessions":{"oidc_logout_prompt_enabled":false},"oidc_logout":{"rp_logout_end_session_endpoint_discovery":true},"customize_mfa_in_postlogin_action":true,"universal_login":{"colors":{"page_background":"#000000","primary":"#635dff"}},"session_cookie":{"mode":"non-persistent"},"sandbox_versions_available":["22","18"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 2.040341584s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"friendly_name":"My Example Tenant","support_email":"support@example.com","support_url":"https://support.example.com","allowed_logout_urls":["https://app.com/logout","http://localhost/logout"],"session_lifetime":1080,"idle_session_lifetime":720,"ephemeral_session_lifetime":2,"default_redirection_uri":"https://example.com/login","enabled_locales":["fr","en","es"],"session_cookie":{"mode":"non-persistent"},"sessions":{"oidc_logout_prompt_enabled":false},"oidc_logout":{"rp_logout_end_session_endpoint_discovery":true},"acr_values_supported":["foo","bar"],"mtls":{"enable_endpoint_aliases":true},"pushed_authorization_requests_supported":true,"default_token_quota":{"clients":{"client_credentials":{"enforce":true,"per_day":100,"per_hour":10}},"organizations":{"client_credentials":{"enforce":true,"per_day":100,"per_hour":10}}},"idle_ephemeral_session_lifetime_in_minutes":15}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: PATCH
      response:
        body: '{"statusCode":403,"error":"Forbidden","message":"Please upgrade your subscription to use acr_values_supported, mtls, pushed_authorization_requests_supported.","errorCode":"feature_not_enabled"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 403 Forbidden
        code: 403
        duration: 372.432167ms
[...]
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"friendly_name":"My Example Tenant"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: PATCH
      response:
        body: '{"allowed_logout_urls":["http://localhost:3001"],"default_audience":"","default_directory":"Username-Password-Authentication","enabled_locales":["en"],"flags":{"allow_changing_enable_sso":false,"cannot_change_enforce_client_authentication_on_passwordless_start":true,"disable_impersonation":true,"enable_sso":true,"enforce_client_authentication_on_passwordless_start":true,"new_universal_login_experience_enabled":true,"universal_login":true,"revoke_refresh_token_grant":false,"dashboard_new_onboarding":false,"disable_clickjack_protection_headers":false},"friendly_name":"My Example Tenant","idle_session_lifetime":0.08333333333333333,"ephemeral_session_lifetime":0.08333333333333333,"idle_ephemeral_session_lifetime":0.08333333333333333,"picture_url":"https://cdn.auth0.com/manhattan/versions/1.3935.0/assets/badge.png","sandbox_version":"18","session_lifetime":0.08333333333333333,"sessions":{"oidc_logout_prompt_enabled":false},"oidc_logout":{"rp_logout_end_session_endpoint_discovery":true},"customize_mfa_in_postlogin_action":true,"universal_login":{"colors":{"page_background":"#000000","primary":"#635dff"},"is_custom_theme_set":true,"is_custom_template_set":true,"identifier_first":true,"webauthn_platform_first_factor":false},"session_cookie":{"mode":"non-persistent"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 355.770417ms
[...]
    - id: 5
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"default_audience":"","default_directory":"Username-Password-Authentication","picture_url":"https://cdn.auth0.com/manhattan/versions/1.3935.0/assets/badge.png","allowed_logout_urls":["http://localhost:3001"],"sandbox_version":"18","enabled_locales":["en"],"session_cookie":{"mode":"non-persistent"},"sessions":{"oidc_logout_prompt_enabled":false},"oidc_logout":{"rp_logout_end_session_endpoint_discovery":true},"customize_mfa_in_postlogin_action":true,"session_lifetime_in_minutes":5,"idle_session_lifetime_in_minutes":5,"ephemeral_session_lifetime_in_minutes":5,"idle_ephemeral_session_lifetime_in_minutes":5}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: PATCH
      response:
        body: '{"allowed_logout_urls":["http://localhost:3001"],"default_audience":"","default_directory":"Username-Password-Authentication","enabled_locales":["en"],"flags":{"allow_changing_enable_sso":false,"cannot_change_enforce_client_authent[...]
