---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"connection":"Username-Password-Authentication","email":"chuck986@example.com","given_name":"Chuck","family_name":"Sanchez","username":"test-user679","nickname":"Chucky","password":"Passwords hide their chuck","user_metadata":{"favourite_attack":"roundhouse_kick"},"verify_email":false,"app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]},"picture":"https://example-picture-url.jpg","blocked":false,"email_verified":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"blocked":false,"created_at":"2023-03-14T13:41:28.257Z","email":"chuck986@example.com","email_verified":true,"family_name":"Sanchez","given_name":"Chuck","identities":[{"connection":"Username-Password-Authentication","user_id":"64107988d3534be8b2dc383c","provider":"auth0","isSocial":false}],"name":"chuck986@example.com","nickname":"Chucky","picture":"https://example-picture-url.jpg","updated_at":"2023-03-14T13:41:28.257Z","user_id":"auth0|64107988d3534be8b2dc383c","user_metadata":{"favourite_attack":"roundhouse_kick"},"username":"test-user679","app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 2.276510875s
[...]
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-role256","description":"Test Role"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/roles
        method: POST
      response:
        body: '{"id":"rol_DOPHBiWKzIuAJihL","name":"test-role256","description":"Test Role"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 112.046292ms
    - id: 4
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"users":["auth0|64107988d3534be8b2dc383c","auth0|6410798838b3e02b77fdd6ae","auth0|64107988d3534be8b2dc383d"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/roles/rol_DOPHBiWKzIuAJihL/users
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 135.21225ms
    - id: 5
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/roles/rol_DOPHBiWKzIuAJihL/users?include_totals=true&per_page=50&take=2
        method: GET
      response:
        body: '{"users":[{"user_id":"auth0|6410798838b3e02b77fdd6ae","email":"chuck499@example.com","picture":"https://example-picture-url.jpg","name":"chuck499@example.com"},{"user_id":"auth0|64107988d3534be8b2dc383c","email":"chuck986@example.com","picture":"https://example-picture-url.jpg","name":"chuck986@example.com"}],"next":"MjAyMy0wMy0xNCAxMzo0MToyOC45NjEwMDBVVEMsYXV0aDB8NjQxMDc5ODhkMzUzNGJlOGIyZGMzODNj"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 89.347083ms
    - id: 6
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/roles/rol_DOPHBiWKzIuAJihL/users?from=MjAyMy0wMy0xNCAxMzo0MToyOC45NjEwMDBVVEMsYXV0aDB8NjQxMDc5ODhkMzUzNGJlOGIyZGMzODNj&include_totals=true&per_page=50&take=2
        method: GET
      response:
        body: '{"users":[{"user_id":"auth0|64107988d3534be8b2dc383d","email":"chuck908@example.com","picture":"https://example-picture-url.jpg","name":"chuck908@example.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 104.524208ms
    - id: 7
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/roles/rol_DOPHBiWKzIuAJihL
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 110.803167ms
    - id: 8
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C64107988d3534be8b2dc383d
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 228.266208ms
[...]
