---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Username-Password-Authentication&per_page=50
        method: GET
      response:
        body: '{"total":1,"start":0,"limit":50,"connections":[{"id":"con_ftSSLHb0O7rcUGmF","options":{"mfa":{"active":true,"return_enroll_settings":true},"validation":{"username":{"max":15,"min":1}},"import_mode":false,"configuration":{},"customScripts":{},"passwordPolicy":"good","password_history":{"size":5,"enable":false},"strategy_version":2,"requires_username":true,"password_dictionary":{"enable":false,"dictionary":[]},"brute_force_protection":true,"password_no_personal_info":{"enable":false},"password_complexity_options":{"min_length":8},"enabledDatabaseCustomization":false},"strategy":"auth0","name":"Username-Password-Authentication","is_domain_connection":false,"realms":["Username-Password-Authentication"],"enabled_clients":["x6JQCUgTHFxLjAUqJE7Fx2Iyud62IlhI","8IgJbmEeGNsF7A4GXnYaiO6hScFYMjAv","JjLnHphshQijjCMloEAHgJFRmI0EUpgE","ExUOsL33W3KwCF6eOHIlTJdlrCxr6CT9","rpj0to9e68MdNFAQCh3DmCWo81OvqK6c","oZGzW6Pcxf3rZdzSUPv8NlPA7ij7MlM1","Z3FKRhWMsXg7iwljDHcNtAkUnCRXYttO","uRWKdiFmUEC3Kohfpq4HKjgKe26ynMSj","3tjbn4dFI04fpHKnVlGs1GYDzQKIEmbF"]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 197.956625ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: "--a87fa57dcb26f6569261c83906626efc21e04ee3692a7d96f7443d3e5a85\r\nContent-Disposition: form-data; name=\"connection_id\"\r\n\r\ncon_ftSSLHb0O7rcUGmF\r\n--a87fa57dcb26f6569261c83906626efc21e04ee3692a7d96f7443d3e5a85\r\nContent-Disposition: form-data; name=\"upsert\"\r\n\r\ntrue\r\n--a87fa57dcb26f6569261c83906626efc21e04ee3692a7d96f7443d3e5a85\r\nContent-Disposition: form-data; name=\"external_id\"\r\n\r\n\r\n--a87fa57dcb26f6569261c83906626efc21e04ee3692a7d96f7443d3e5a85\r\nContent-Disposition: form-data; name=\"send_completion_email\"\r\n\r\nfalse\r\n--a87fa57dcb26f6569261c83906626efc21e04ee3692a7d96f7443d3e5a85\r\nContent-Disposition: form-data; name=\"users\"; filename=\"users.json\"\r\nContent-Type: application/json\r\n\r\n[{\"email\":\"auzironian@example.com\",\"email_verified\":true}]\r\n--a87fa57dcb26f6569261c83906626efc21e04ee3692a7d96f7443d3e5a85--\r\n"
        form: {}
        headers:
            Content-Type:
                - multipart/form-data; boundary=a87fa57dcb26f6569261c83906626efc21e04ee3692a7d96f7443d3e5a85
        url: https://go-auth0-dev.eu.auth0.com/api/v2/jobs/users-imports
        method: POST
      response:
        body: '{"type":"users_import","status":"pending","connection_id":"con_ftSSLHb0O7rcUGmF","connection":"Username-Password-Authentication","created_at":"2023-01-25T17:48:16.543Z","id":"job_6nNLiwFZksN0YmRR"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 333.18325ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/jobs/job_6nNLiwFZksN0YmRR
        method: GET
      response:
        body: '{"type":"users_import","status":"completed","connection_id":"con_ftSSLHb0O7rcUGmF","summary":{"failed":0,"updated":0,"inserted":1,"total":1},"connection":"Username-Password-Authentication","created_at":"2023-01-25T17:48:16.543Z","id":"job_6nNLiwFZksN0YmRR"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 107.009625ms
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users-by-email?email=auzironian%40example.com
        method: GET
      response:
        body: '[{"email":"auzironian@example.com","email_verified":true,"created_at":"2023-01-25T17:48:16.647Z","updated_at":"2023-01-25T17:48:16.647Z","identities":[{"provider":"auth0","connection":"Username-Password-Authentication","isSocial":false,"user_id":"63d16b60c55b3650a5c9fff9"}],"user_id":"auth0|63d16b60c55b3650a5c9fff9","name":"auzironian@example.com","picture":"https://secure.gravatar.com/avatar/1eafdbc62a30a384b6d9a04e1cc21500?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fau.png","nickname":"auzironian"}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 94.15575ms
    - id: 4
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C63d16b60c55b3650a5c9fff9
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 130.978209ms
