---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"smtp","enabled":true,"default_from_address":"no-reply@example.com","credentials":{"smtp_host":"smtp.example.com","smtp_port":587,"smtp_user":"user","smtp_pass":"pass"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/emails/provider
        method: POST
      response:
        body: '{"name":"smtp","enabled":true,"default_from_address":"no-reply@example.com","credentials":{"smtp_host":"smtp.example.com","smtp_port":587,"smtp_user":"user"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 94.688541ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"template":"verify_email","body":"\u003chtml\u003e\u003cbody\u003e\u003ch1\u003eVerify your email\u003c/h1\u003e\u003c/body\u003e\u003c/html\u003e","from":"me@example.com","resultUrl":"https://www.example.com/verify-email","subject":"Verify your email","syntax":"liquid","enabled":true,"includeEmailInRedirect":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/email-templates
        method: POST
      response:
        body: '{"statusCode":409,"error":"Conflict","message":"Template verify_email already exists."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 409 Conflict
        code: 409
        duration: 157.330666ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"template":"verify_email","body":"\u003chtml\u003e\u003cbody\u003e\u003ch1\u003eLet's get you verified!\u003c/h1\u003e\u003c/body\u003e\u003c/html\u003e","from":"someone@example.com","resultUrl":"https://www.example.com/verify-email","subject":"Let's get you verified!","syntax":"liquid","enabled":true,"includeEmailInRedirect":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/email-templates/verify_email
        method: PUT
      response:
        body: '{"template":"verify_email","body":"<html><body><h1>Let''s get you verified!</h1></body></html>","from":"someone@example.com","resultUrl":"https://www.example.com/verify-email","subject":"Let''s get you verified!","syntax":"liquid","includeEmailInRedirect":true,"enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 108.788708ms
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/email-templates/verify_email
        method: GET
      response:
        body: '{"template":"verify_email","body":"<html><body><h1>Let''s get you verified!</h1></body></html>","from":"someone@example.com","resultUrl":"https://www.example.com/verify-email","subject":"Let''s get you verified!","syntax":"liquid","includeEmailInRedirect":true,"enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 6.209955875s
[...]
