---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Client MemberManagement (Sep 16 19:39:32.450)","description":"Client with member management my_organization_configuration fields.","my_organization_configuration":{"allowed_strategies":["okta"],"connection_deletion_behavior":"allow","enforce_permission_ceiling":false,"enforce_self_assignment_restriction":false}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Test Client MemberManagement (Sep 16 19:39:32.450)","description":"Client with member management my_organization_configuration fields.","client_id":"BsxN0snvWrXVxrfINsoLrr1m1hrwUJFu","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"my_organization_configuration":{"allowed_strategies":["okta"],"connection_deletion_behavior":"allow","enforce_permission_ceiling":false,"enforce_self_assignment_restriction":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 931.281708ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"my_organization_configuration":{"allowed_strategies":["okta"],"connection_deletion_behavior":"allow","enforce_permission_ceiling":true,"enforce_self_assignment_restriction":true}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/clients/BsxN0snvWrXVxrfINsoLrr1m1hrwUJFu
        method: PATCH
      respo[...]
[...]
