---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/logs?page=1&per_page=5
        method: GET
      response:
        body: '[{"_id":"90020230314144709188593000000000000001223372037868840734","log_id":"90020230314144709188593000000000000001223372037868840734","date":"2023-03-14T14:47:08.713Z","type":"seccft","description":"","connection":null,"connection_id":"","organization_id":null,"organization_name":null,"client_id":"naTYUHwINwCEtmhj8umEL7bHoB57L5e2","client_name":"CDT Testing","ip":"[REDACTED]","hostname":"go-auth0-dev.eu.auth0.com.eu.auth0.com","details":null,"user_id":"","user_name":"","user_agent":"Other 0.0.0 / Other 0.0.0","audience":"https://go-auth0-dev.eu.auth0.com.eu.auth0.com/api/v2/","scope":"read:client_grants create:client_grants delete:client_grants update:client_grants read:users update:users delete:users create:users read:users_app_metadata update:users_app_metadata delete:users_app_metadata create:users_app_metadata read:user_custom_blocks create:user_custom_blocks delete:user_custom_blocks create:user_tickets read:clients update:clients delete:clients create:clients read:client_keys update:client_keys delete:client_keys create:client_keys read:connections update:connections d[...]
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/logs?from=90020230314144133747333000000000000001223372037868248435&take=2
        method: GET
      response:
        body: '[{"_id":"90020230314144217205713000000000000001223372037868325410","log_id":"9002023031414421720571300000000000000122337203786[...]
