---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"appId":"HTTP","name":"test-vault-connection"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/vault/connections
        method: POST
      response:
        body: '{"id":"ac_8aUEJF51FKmqdGXaGD2jNi","app_id":"HTTP","name":"test-vault-connection","ready":false,"created_at":"2024-09-11T08:25:50.393Z","updated_at":"2024-09-11T08:25:50.393Z","refreshed_at":null,"fingerprint":"e3448d3b9c2cedfd57686630cb1f0e06"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 220.164291ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/vault/connections/ac_8aUEJF51FKmqdGXaGD2jNi
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 224.422875ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/vault/connections/ac_8aUEJF51FKmqdGXaGD2jNi
        method: DELETE
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"Connection not found"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 286.848ms
