---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"app_id":"HTTP","name":"test-vault-connection"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/vault/connections
        method: POST
      response:
        body: '{"id":"ac_bz9Ds2yxVLGsLmP1R68Kmv","app_id":"HTTP","name":"test-vault-connection","ready":false,"created_at":"2024-09-12T12:52:16.553Z","updated_at":"2024-09-12T12:52:16.553Z","refreshed_at":null,"fingerprint":"e5a6d604e16b993f46f3c52be398906b"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 356.341ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/vault/connections/ac_bz9Ds2yxVLGsLmP1R68Kmv
        method: GET
      response:
        body: '{"id":"ac_bz9Ds2yxVLGsLmP1R68Kmv","app_id":"HTTP","name":"test-vault-connection","ready":false,"created_at":"2024-09-12T12:52:16.553Z","updated_at":"2024-09-12T12:52:16.553Z","fingerprint":"e5a6d604e16b993f46f3c52be398906b"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 340.83575ms
[...]
