---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/logs?page=1&per_page=10
        method: GET
      response:
        body: '[{"_id":"90020230602105805996607000000000000001223372045029306413","log_id":"90020230602105805996607000000000000001223372045029306413","date":"2023-06-02T10:58:01.495Z","type":"ss","description":"","connection":"Username-Password-Authentication","connection_id":"con_RM2Tx4kqsiaBfHkh","organization_id":null,"organization_name":null,"client_id":"naTYUHwINwCEtmhj8umEL7bHoB57L5e2","client_name":"CDT Testing","ip":"[REDACTED]","hostname":null,"details":{"body":{"app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]},"blocked":false,"client_id":"naTYUHwINwCEtmhj8umEL7bHoB57L5e2","connection":"Username-Password-Authentication","email":"chuck312@example.com","email_verified":true,"family_name":"Sanchez","given_name":"Chuck","nickname":"Chucky","password":"*****","picture":"https://example-picture-url.jpg","tenant":"go-auth0-dev.eu.auth0.com","user_metadata":{"favourite_attack":"roundhouse_kick"},"username":"test-user846"}},"user_id":"auth0|6479cb390fb950ad138c1992","user_name":"test-user846","user_agent":"Other 0.0.0 / Other 0.0.0","audience":null,"strategy":"auth0","strategy_type":"database","isMobile":false,"location_info":null},{"_id":"90020230602105805996607000000000000001223372045029306401","log_id":"90020230602105805996607000000000000001223372045029306401","date":"2023-06-02T10:58:00.754Z","type":"ss","description":"","connection":"Username-Password-Authentication","connection_id":"con_RM2Tx4kqsiaBfHkh","organization_id":null,"organization_name":null,"client_id":"naTYUHwINwCEtmhj8umEL7bHoB57L5e2","client_name":"CDT Testing","ip":"[REDACTED]","hostname":null,"details":{"body":{"app_metadata":{"facts":["count_to[...]
{"request":{"auth":{"credentials":{"scopes":["read:client_grants","create:client_grants","delete:client_grants","update:client_grants","read:users","update:users","delete:users","create:users","read:users_app_metadata","update:users_app_metadata","delete:users_app_metadata","create:users_app_metadata","read:user_custom_blocks","create:user_custom_blocks","delete:user_custom_blocks","create:user_tickets","read:clients","update:clients","delete:clients","create:clients","read:client_keys","update:client_keys","delete:client_keys","create:cl[...]
[...]
{"request":{"auth":{"credentials":{},"strategy":"jwt","user":{}},"body":{},"channel":"api","ip":"2a02:8084:601e:7700:6045:e399:fb8:c4ff","method":"delete","path":"/api/v2/organizations/org_Kd8VdNUd1DgRhnSk","query":{},"userAgent":"Go-Auth0-SDK/latest"},"response":{"body":{},"statusCode":204}},"user_id":null,"user_name":null,"user_agent":"Other 0.0.0 / Other 0.0.0","audience":null,"strategy":null,"strategy_type":null,"isMobile":false,"location_info":null},{"_id":"90020230602105804990194000000000000001223372045029305123","log_id":"90020230602105804990194000000000000001223372045029305123","date":"2023-06-02T10:58:02.532Z","type":"ss","description":"","connection":"Username-Password-Authentication","connection_id":"con_RM2Tx4kqsiaBfHkh","organization_id":null,"organization_name":nu[...]
{"request":{"auth":{"credentials":{},"strategy":"jwt","user":{}},"body":{"client_id":"cCEixOL6trwL6wyTEP0zR5Zyi38c3GSV","invitee":{"email":"test@example.com"},"inviter":{"name":"Test Inviter"}},"channel":"api","ip":"2a02:8084:601e:7700:6045:e399:fb8:c4ff","method":"post","path":"/api/v2/organizations/org_Kd8VdNUd1DgRhnSk/invitations","query":{},"userAgent":"Go-Auth0-SDK/latest"},"response":{"body":{"client_id":"cCEixOL6trwL6wyTEP0zR5Zyi38c3GSV","id":"uinv_iX0KcmjKsYEy9XjF","invitee":{"email":"test@example.com"},"inviter":{"name":"Test Inviter"}},"statusCode":201}},"user_id":null,"user_name":null,"user_agent":"Other 0.0.0 / Other 0.0.0","audience":null,"strategy":null,"strategy_type":null,"isMobile":false,"location_info":null},{"_id":"90020230602105804570299000000000000001223372045029304536","log_id":"90020230602105804570299000000000000001223372045029304536","date":"2023-06-02T10:57:59.449Z","type":"sapi","description":"Delete organization","connection":null,"connection_id":null,"organization_id":null,"organization_name":null,"client_id":"naTYUHwINwCEtmhj8umEL7bHoB57L5e2","client_name":"","ip":"[REDACTED]","hostname":null,"details":{"request":{"auth":{"credentials":{},"strategy":"jwt","user":{}},"body":{},"channel":"api","ip":"2a02:8084:601e:7700:6045:e399:fb8:c4ff","method":"delete","path":"/api/v2/organizations/org_kUlZkhnQWYKaYljn","query":{},"userAgent":"Go-Auth0-SDK/latest"},"response":{"body":{},"statusCode":204}},"user_id":null,"user_name":null,"user_agent":"Other 0.0.0 / Other 0.0.0","audience":null,"strategy":null,"strategy_type":null,"isMobile":false,"location_info":null},{"_id":"90020230602105804441281000000000000001223372045029304287","log_id":"90020230602105804441281000000000000001223372045029304287","date":"2023-06-02T10:57:59.007Z","type":"fn","description":"To: test@example.com","connection":null,"connection_id":"","organization_id":null,"organization_name":null,"client_id":"WC5ESxuFU9JEQOQNnUskg3Lr5if0nRVG","client_name":null,"ip":"[REDACTED]","hostname":null,"details":{"email_type":"organization_invitation","error":"the domain is blacklisted","to":"test@example.com"},"user_id":"","user_name":"test@example.com","user_agent":"Other 0.0.0 / Other 0.0.0","audience":null,"strategy":null,"strategy_type":null,"isMobile":false,"location_info":null},{"_id":"90020230602105804120563000000000000001223372045029303662","log_id":"90020230602105804120563000000000000001223372045029303662","date":"2023-06-02T10:58:02.822Z","type":"sapi","description":"Add members to an organization","connection":null,"connection_id":null,"organization_id":null,"organization_name":null,"client_id":"naTYUHwINwCEtmhj8umEL7bHoB57L5e2","client_name":"","ip":"[REDACTED]","hostname":null,"details":{"request":{"auth":{"credentials":{},"strategy":"jwt","user":{}},"body":{"members":["auth0|6479cb3a0e3c39ebb97b4661"]},"channel":"api","ip":"2a02:8084:601e:7700:6045:e399:fb8:c4ff","method":"post","path":"/api/v2/organizations/org_sdctFYYOeeCzupfA/members","query":{},"userAgent":"Go-Auth0-SDK/latest"},"response":{"body":{},"statusCode":204}},"user_id":null,"user_name":null,"user_agent":"Other 0.0.0 / Other 0.0.0","audience":null,"strategy":null,"strategy_type":null,"isMobile":false,"location_info":null}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 475.929666ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/logs?from=90020230602105804120563000000000000001223372045029303662&take=2
        method: GET
      response:
        body: '[{"_id":"90020230602105804441281000000000000001223372045029304287","log_id":"90020230602105804441281000000000000001223372045029304287","date":"2023-06-02T10:57:59.007Z","type":"fn","description":"To: test@example.com","connection":null,"connection_id":"","organization_id":null,"organization_name":null,"client_id":"WC5ESxuFU9JEQOQNnUskg3Lr5if0nRVG","client_name":null,"ip":"[REDACTED]","hostname":null,"details":{"email_type":"organization_invitation","error":"the domain is blacklisted","to":"test@example.com"},"user_id":"","user_name":"test@example.com","user_agent":"Other 0.0.0 / Other 0.0.0","audience":null,"strategy":null,"strategy_type":null,"isMobile":false,"location_info":null},{"_id":"90020230602105804570299000000000000001223372045029304536","log_id":"90020230602105804570299000000000000001223372045029304536","date":"2023-06-02T10:57:59.449Z","type":"sapi","description":"Delete organization","connection":null,"connection_id":null,"organization_id":null,"organization_name":null,"client_id":"naTYUHwINwCEtmhj8umEL7bHoB57L5e2","client_name":"","ip":"[REDACTED]","hostname":null,"details":[...]
