---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Client (Jun  7 15:55:45.882)","description":"This is just a test client.","jwt_configuration":{"alg":"RS256"},"organization_usage":"allow","client_authentication_methods":{"private_key_jwt":{"credentials":[{"name":"Test Credential (Jun  7 15:55:45.882)","credential_type":"public_key","pem":"-----BEGIN PUBLIC KEY-----\nMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAua6LXMfgDE/tDdkOL1Oe\n3oWUwg1r4dSTg9L7RCcI5hItUzmkVofHtWN0H4CH2lm2ANmaJUsnhzctYowYW2+R\ntHvU9afTmtbdhpy993972hUqZSYLsE3iGziphYkOKVsqq38+VRH3TNg93zSLoRao\nJnTTkMXseVqiyqYRmFN8+gQQoEclHSGPUWQG5XMZ+hhuXeFyo+Yw/qbZWca/6/2I\n3rsca9jXR1alhxhHrXrg8N4Dm3gBgGbmiht6YYYT2Tyl1OqB9+iOI/9D7dfoCF6X\nAWJXRE454cmC8k8oucpjZVpflA+ocKshwPDR6YTLQYbXYiaWxEoaz0QGUErNQBnG\nI+sr9jDY3ua/s6HF6h0qyi/HVZH4wx+m4CtOfJoYTjrGBbaRszzUxhtSN2/MhXDu\n+a35q9/2zcu/3fjkkfVvGUt+NyyiYOKQ9vsJC1g/xxdUWtowjNwjfZE2zcG4usi8\nr38Bp0lmiipAsMLduZM/D5dFXkRdWCBNDfULmmg/4nv2wwjbjQuLemAMh7mmrztW\ni/85WMnjKQZT8NqS43pmgyIzg1gK1neMqdS90YmQ/PvJ36qALxCs245w1JpN9BAL\nJbwxCg/dbmKT7PalfWrksx9hGcJxtGqebldaOpw+5GVIPxxtC1C0gVr9BKeiDS3f\naibASY5pIRiKENmbZELDtucCAwEAAQ==\n-----END PUBLIC KEY-----"}]}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Test Client (Jun  7 15:55:45.882)","description":"This is just a test client.","client_id":"TPfwVLwY91rlgwEcgU1ng9kaiUOQFxwn","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"alg":"RS256"},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"organization_usage":"allow","client_authentication_methods":{"private_key_jwt":{"credentials":[{"id":"cred_rVnane3TrneiRuchCP5tGc","name":"Test Credential (Jun  7 15:55:45.882)","kid":"4e7yYf0TKdyTLbVnpq2wLN6mZ8t7eb9UJkMksyHj9iU","credential_type":"public_key","alg":"RS256","created_at":"2024-06-07T10:25:46.547Z","updated_at":"2024-06-07T10:25:46.547Z"}]}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 831.5705ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-conn914","display_name":"Test Connection 929","strategy":"ad","enabled_clients":["QjlAo2nIDERZYBBZozsv8apykJUBtCq4","TPfwVLwY91rlgwEcgU1ng9kaiUOQFxwn"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_EzwODffAjZ5aSmo6","options":{"ips":null,"brute_force_protection":true},"strategy":"ad","name":"test-conn914","provisioning_ticket_url":"https://go-auth0-dev.eu.auth0.com.us.auth0.com/p/ad/tO3iXkxUxNo10jPRsJvlvccbiLhVHN64","is_domain_connection":false,"show_as_button":false,"display_name":"Test Connection 929","enabled_clients":["QjlAo2nIDERZYBBZozsv8apykJUBtCq4","TPfwVLwY91rlgwEcgU1ng9kaiUOQFxwn"],"realms":["test-conn914"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 371.88825ms
[...]
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-conn654","display_name":"Test Connection 634","strategy":"auth0","enabled_clients":["QjlAo2nIDERZYBBZozsv8apykJUBtCq4","CODhRTL598S5JMdEDX6zvDVkm1tYa28B"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_rKdSzkTDLemrwV4p","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"authentication_methods":{"password":{"enabled":true},"passkey":{"enabled":false}},"passkey_options":{"challenge_ui":"both","progressive_enrollment_enabled":true,"local_enrollment_enabled":true},"brute_force_protection":true},"strategy":"auth0","name":"test-conn654","is_domain_connection":false,"display_name":"Test Connection 634","enabled_clients":["CODhRTL598S5JMdEDX6zvDVkm1tYa28B","QjlAo2nIDERZYBBZozsv8apykJUBtCq4"],"realms":["test-conn654"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 275.966959ms
    - id: 4
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-organization994","display_name":"Test Organization","branding":{"logo_url":"https://example.com/logo.gif"},"enabled_connections":[{"connection_id":"con_EzwODffAjZ5aSmo6","assign_membership_on_login":true,"show_as_button":true},{"connection_id":"con_rKdSzkTDLemrwV4p","assign_membership_on_login":true,"is_signup_enabled":true}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"branding":{"logo_url":"https://example.com/logo.gif"},"id":"org_dR2LLWOFc3TasIdw","display_name":"Test Organization","name":"test-organization994","enabled_connections":[{"connection_id":"con_EzwODffAjZ5aSmo6","assign_membership_on_login":true,"show_as_button":true,"connection":{"name":"test-conn914","strategy":"ad"}},{"connection_id":"con_rKdSzkTDLemrwV4p","assign_membership_on_login":true,"is_signup_enabled":true,"show_as_button":true,"connection":{"name":"test-conn654","strategy":"auth0"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 281.563542ms
    - id: 5
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/organizations/org_dR2LLWOFc3TasIdw
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 303.364791ms
    - id: 6
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_rKdSzkTDLemrwV4p
        method: DELETE
      response:
        body: '{"deleted_at":"2024-06-07T10:25:48.555Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 305.357333ms
    - id: 7
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/clients/CODhRTL598S5JMdEDX6zvDVkm1tYa28B
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 373.198416ms
    - id: 8
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_EzwODffAjZ5aSmo6
        method: DELETE
      response:
        body: '{"deleted_at":"2024-06-07T10:25:49.230Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 297.484417ms
    - id: 9
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/clients/TPfwVLwY91rlgwEcgU1ng9kaiUOQFxwn
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 371.929541ms
