---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"description":"some-description","active":true,"priority":5,"rule":{"action":{"block":true},"match":{"ipv6_cidrs":["2001:db8::/32"]},"scope":"management"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/network-acls
        method: POST
      response:
        body: '{"id":"e61ef105-3220-44f7-91cb-9025b2d63d09","description":"some-description","active":true,"priority":5,"rule":{"match":{"ipv6_cidrs":["2001:db8::/32"]},"scope":"management","action":{"block":true}},"created_at":"2025-02-10T15:29:51.830Z","updated_at":"2025-02-10T15:29:51.830Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 888.694625ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/network-acls/e61ef105-3220-44f7-91cb-9025b2d63d09
        method: GET
      response:
        body: '{"id":"e61ef105-3220-44f7-91cb-9025b2d63d09","tenant_id":"go-auth0-dev.eu.auth0.com","description":"some-description","active":true,"priority":5,"rule":{"match":{"ipv6_cidrs":["2001:db8::/32"]},"scope":"management","action":{"block":true}},"created_at":"2025-02-10T15:29:51.830Z","updated_at":"2025-02-10T15:29:51.830Z","deleted_at":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 387.969708ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/network-acls/e61ef105-3220-44f7-91cb-9025b2d63d09
        method: DELETE
      response:
        body: '{"code":204,"object":""}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 376.812458ms
