---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Action (Jan 13 11:50:54.438)","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"code":"exports.onExecutePostLogin = async (event, api) =\u003e {}","runtime":"node18","secrets":[{"name":"mySecretName","value":"mySecretValue"}],"deploy":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"295d7c28-06dc-4d72-93a6-da8a6d947fbe","name":"Test Action (Jan 13 11:50:54.438)","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"created_at":"2025-01-13T06:20:55.301776679Z","updated_at":"2025-01-13T06:20:55.322282673Z","code":"exports.onExecutePostLogin = async (event, api) => {}","dependencies":[],"runtime":"node18","status":"pending","secrets":[{"name":"mySecretName","updated_at":"2025-01-13T06:20:55.322282673Z"}],"current_version":{"id":"0b4cb071-f22c-462a-b082-f0c01133da14","code":"exports.onExecutePostLogin = async (event, api) => {}","runtime":"node18","status":"PENDING","number":1,"created_at":"2025-01-13T06:20:55.338500320Z","updated_at":"2025-01-13T06:20:55.338500320Z"},"deployed_version":{"code":"exports.onExecutePostLogin = async (event, api) => {}","dependencies":[],"id":"0b4cb071-f22c-462a-b082-f0c01133da14","deployed":true,"number":1,"secrets":[{"name":"mySecretName","updated_at":"2025-01-13T06:20:55.322282673Z"}],"status":"pending","created_at":"2025-01-13T06:20:55.338500320Z","updated_at":"2025-01-13T06:20:55.338500320Z","runtime":"node18","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.034613083s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/actions/actions/295d7c28-06dc-4d72-93a6-da8a6d947fbe
        method: GET
      response:
        body: '{"id":"295d7c28-06dc-4d72-93a6-da8a6d947fbe","name":"Test Action (Jan 13 11:50:54.438)","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"created_at":"2025-01-13T06:20:55.301776679Z","updated_at":"2025-01-13T06:20:55.434787308Z","code":"exports.onExecutePostLogin = async (event, api) => {}","dependencies":[],"runtime":"node18","status":"built","secrets":[{"name":"mySecretName","updated_at":"2025-01-13T06:20:55.322282673Z"}],"current_version":{"id":"0b4cb071-f22c-462a-b082-f0c01133da14","code":"exports.onExecutePostLogin = async (event, api) => {}","runtime":"node18","status":"BUILT","number":1,"build_time":"2025-01-13T06:20:55.421432243Z","created_at":"2025-01-13T06:20:55.338500320Z","updated_at":"2025-01-13T06:20:55.423197118Z"},"deployed_version":{"code":"exports.onExecutePostLogin = async (event, api) => {}","dependencies":[],"id":"0b4cb071-f22c-462a-b082-f0c01133da14","deployed":true,"number":1,"built_at":"2025-01-13T06:20:55.421432243Z","secrets":[{"name":"mySecretName","updated_at":"2025-01-13T06:20:55.322282673Z"}],"status":"built","created_at":"2025-01-13T06:20:55.338500320Z","updated_at":"2025-01-13T06:20:55.423197118Z","runtime":"node18","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 419.495583ms
[...]
