---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test User Attribute Profile (Mar 31 11:47:34.824)","user_id":{"oidc_mapping":"sub","saml_mapping":["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress"],"scim_mapping":"userName"},"user_attributes":{"email":{"description":"User's email address","label":"Email","profile_required":true,"auth0_mapping":"email","oidc_mapping":{"mapping":"email"},"saml_mapping":["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress"],"scim_mapping":"emails[primary eq true].value"},"name":{"description":"User's full name","label":"Name","profile_required":false,"auth0_mapping":"name","oidc_mapping":{"mapping":"email"},"saml_mapping":["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress"],"scim_mapping":"displayName","strategy_overrides":{"oidc":{"scim_mapping":"name.givenName"}}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/user-attribute-profiles
        method: POST
      response:
        body: '{"id":"uap_1cyzEQFSNB3A82BQCargzi","name":"Test User Attribute Profile (Mar 31 11:47:34.824)","user_id":{"oidc_mapping":"sub","saml_mapping":["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress"],"scim_mapping":"userName"},"user_attributes":{"name":{"label":"Name","description":"User''s full name","oidc_mapping":{"mapping":"email"},"saml_mapping":["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress"],"scim_mapping":"displayName","auth0_mapping":"name","profile_required":false,"strategy_overrides":{"oidc":{"scim_mapping":"name.givenName"}}},"email":{"label":"Email","description":"User''s email address","oidc_mapping":{"mapping":"email"},"saml_mapping":["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress"],"scim_mapping":"emails[primary eq true].value","auth0_mapping":"email","profile_required":true}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.002260833s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Client Full MyOrgConfig (Mar 31 11:47:35.828)","description":"Client with full my_organization_configuration.","my_organization_configuration":{"connection_profile_id":"cop_1cu7hYRotxr9BYXXwLH14g","user_attribute_profile_id":"uap_1cyzEQFSNB3A82BQCargzi","allowed_strategies":["pingfederate","adfs","waad","google-apps","okta","oidc","samlp"],"connection_deletion_behavior":"allow"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Test Client Full MyOrgConfig (Mar 31 11:47:35.828)","description":"Client with full my_organization_configuration.","client_id":"xPkWwI7ROs4DbniMiwKfs5W0dq94tfP6","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"my_organization_configuration":{"connection_profile_id":"cop_1cu7hYRotxr9BYXXwLH14g","user_attribute_profile_id":"uap_1cyzEQFSNB3A82BQCargzi","allowed_strategies":["pingfederate","adfs","waad","google-apps","okta","oidc","samlp"],"connection_deletion_behavior":"allow"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 543.97975ms
[...]
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/clients?fields=client_id%2Cmy_organization_configuration&include_fields=true&include_totals=true&per_page=50
        method: GET
      response:
        body: '{"total":98,"start":0,"limit":50,"clients":[{"tenant":"go-auth0-dev.eu.auth0.com","client_id":"u15kDcCf5WRegxf93WUzGNcoAMaedsDZ"},{"tenant":"go-auth0-dev.eu.auth0.com","client_id":"T2QUXhLciH0CSlDCICirlExjNDIrsHJQ"},{"tenant":"go-auth0-dev.eu.auth0.com","client_id":"z8LPbXcO2vfnz6Xq0fERNCbJhvBL1Prp"},{"tenant":"go-auth0-dev.eu.auth0.com","client_id":"spOzDv4VNJc9yHh6NPOFLaOkttZ8cSKd"},{"tenant":"go-auth0-dev.eu.auth0.com","client_id":"QjlAo2nIDERZYBBZozsv8apykJUBtCq4"},{"tenant":"go-auth0-dev.eu.auth0.com","client_id":"GjP0CbEjCSSqMuG4EJcM42qQ9RwKs[...]
    - id: 4
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/clients/xPkWwI7ROs4DbniMiwKfs5W0dq94tfP6
        method: GET
      response:
        body: '{"name":"Test Client Full MyOrgConfig (Mar 31 11:47:35.828)","description":"Client with full my_organization_configuration.","client_id":"xPkWwI7ROs4DbniMiwKfs5W0dq94tfP6","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"my_organization_configuration":{"connection_profile_id":"cop_1cu7hYRotxr9BYXXwLH14g","user_attribute_profile_id":"uap_1cyzEQFSNB3A82BQCargzi","allowed_strategies":["pingfederate","adfs","waad","google-apps","okta","oidc","samlp"],"connection_deletion_behavior":"allow"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 337.167375ms
[...]
    - id: 6
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/user-attribute-profiles/uap_1cyzEQFSNB3A82BQCargzi
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 560.87975ms
