---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"eventbridge-example","subscriptions":[{"event_type":"user.created"},{"event_type":"user.deleted"}],"destination":{"type":"eventbridge","configuration":{"aws_account_id":"242109005777","aws_region":"us-east-2"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/event-streams
        method: POST
      response:
        body: '{"id":"est_4o4zA1yDbzpykKZdrS19Lm","status":"enabled","name":"eventbridge-example","subscriptions":[{"event_type":"user.created"},{"event_type":"user.deleted"}],"created_at":"2025-07-29T04:20:24.340Z","updated_at":"2025-07-29T04:20:24.340Z","destination":{"type":"eventbridge","configuration":{"aws_region":"us-east-2","aws_account_id":"242109005777","aws_partner_event_source":"aws.partner/auth0.com/go-auth0-dev.eu.auth0.com-9ac5d2a8-1d64-4e15-949b-ca198393f9a8/auth0.events"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.384943292s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"status":"enabled","name":"updated-stream-name","subscriptions":[{"event_type":"user.created"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/event-streams/est_4o4zA1yDbzpykKZdrS19Lm
        method: PATCH
      response:
        body: '{"id":"est_4o4zA1yDbzpykKZdrS19Lm","status":"enabled","name":"updated-stream-name","subscriptions":[{"event_type":"user.created"}],"created_at":"2025-07-29T04:20:24.340Z","updated_at":"2025-07-29T04:20:24.685Z","destination":{"type":"eventbridge","configuration":{"aws_region":"us-east-2","aws_account_id":"242109005777","aws_partner_event_source":"aws.partner/auth0.com/go-auth0-dev.eu.auth0.com-9ac5d2a8-1d64-4e15-949b-ca198393f9a8/auth0.events"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 357.904125ms
[...]
