---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"1736161786-Test-Action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"code":"exports.onExecutePostLogin = async (event, api) =\u003e {}","runtime":"node18"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"c0aac266-4e49-4203-8d29-8e10b188f599","name":"1736161786-Test-Action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"created_at":"2025-01-06T11:09:46.968859942Z","updated_at":"2025-01-06T11:09:46.981419590Z","code":"exports.onExecutePostLogin = async (event, api) => {}","dependencies":[],"runtime":"node18","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 359.698ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/actions/actions/c0aac266-4e49-4203-8d29-8e10b188f599
        method: GET
      response:
        body: '{"id":"c0aac266-4e49-4203-8d29-8e10b188f599","name":"1736161786-Test-Action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"created_at":"2025-01-06T11:09:46.968859942Z","updated_at":"2025-01-06T11:09:46.981419590Z","code":"exports.onExecutePostLogin = async (event, api) => {}","dependencies":[],"runtime":"node18","status":"built","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 2.143503333s
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/actions/actions/c0aac266-4e49-4203-8d29-8e10b188f599/deploy
        method: POST
      response:
        body: '{"code":"exports.onExecutePostLogin = async (event, api) => {}","dependencies":[],"id":"66cfb1e4-12b4-4c91-8cf3-fce901fd0a51","deployed":false,"number":1,"secrets":[],"status":"built","created_at":"2025-01-06T11:09:49.470953691Z","updated_at":"2025-01-06T11:09:49.470953691Z","runtime":"node18","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"action":{"id":"c0aac266-4e49-4203-8d29-8e10b188f599","name":"1736161786-Test-Action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"created_at":"2025-01-06T11:09:46.968859942Z","updated_at":"2025-01-06T11:09:46.968859942Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 354.656416ms
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"1736161789-Test-Token-Exchange-Profile","subject_token_type":"https://acme.com/cis-token","action_id":"c0aac266-4e49-4203-8d29-8e10b188f599","type":"custom_authentication"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/token-exchange-profiles
        method: POST
      response:
        body: '{"id":"tep_87oztSsJ7fEn8GwU","name":"1736161789-Test-Token-Exchange-Profile","type":"custom_authentication","subject_token_type":"https://acme.com/cis-token","action_id":"c0aac266-4e49-4203-8d29-8e10b188f599","created_at":"2025-01-06T11:09:49.841Z","updated_at":"2025-01-06T11:09:49.841Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 352.673875ms
    - id: 4
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/token-exchange-profiles/tep_87oztSsJ7fEn8GwU
        method: GET
      response:
        body: '{"id":"tep_87oztSsJ7fEn8GwU","name":"1736161789-Test-Token-Exchange-Profile","type":"custom_authentication","subject_token_type":"https://acme.com/cis-token","action_id":"c0aac266-4e49-4203-8d29-8e10b188f599","created_at":"2025-01-06T11:09:49.841Z","updated_at":"2025-01-06T11:09:49.841Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 327.977584ms
[...]
