---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"custom","disabled":false,"configuration":{"delivery_methods":["text"]},"credentials":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/branding/phone/providers
        method: POST
      response:
        body: '{"id":"pro_6n3tVjusDnQuuf9f3S8L8Q","tenant":"go-auth0-dev.eu.auth0.com","name":"custom","channel":"phone","disabled":false,"configuration":{"delivery_methods":["text"]},"created_at":"2025-02-03T12:43:17.645Z","updated_at":"2025-02-03T12:43:17.645Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.154833792s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/branding/phone/providers/pro_6n3tVjusDnQuuf9f3S8L8Q
        method: GET
      response:
        body: '{"id":"pro_6n3tVjusDnQuuf9f3S8L8Q","tenant":"go-auth0-dev.eu.auth0.com","name":"custom","channel":"phone","disabled":false,"configuration":{"delivery_methods":["text"]},"created_at":"2025-02-03T12:43:17.645Z","updated_at":"2025-02-03T12:43:17.645Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 479.4055ms
[...]
