---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/sessions/SessionID
        method: GET
      response:
        body: '{"id":"SessionID","user_id":"UserID","created_at":"2024-05-01T13:00:30.380Z","updated_at":"2024-05-01T13:00:30.380Z","authenticated_at":"2024-05-01T13:00:30.380Z","idle_expires_at":"2024-05-01T13:00:30.380Z","expires_at":"2024-05-01T13:00:30.380Z","last_interacted_at":"2024-05-01T13:00:30.380Z","device":{"initial_user_agent":"InitialUserAgent","initial_ip":"InitialIP","initial_asn":"InitialASN","last_user_agent":"LastUserAgent","last_ip":"LastIP","last_asn":"LastASN"},"clients":[{"client_id":"ClientID"}],"authentication":{"methods":[{"name":"Name","timestamp":"2024-05-01T13:00:30.380Z","type":"Type"}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.022522208s
