---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"domain":"1769586909183561000.tempdomain.com","type":"auth0_managed_certs","tls_policy":"recommended","domain_metadata":{"key":"value"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains
        method: POST
      response:
        body: '{"custom_domain_id":"cd_Fu3HaVeYz43exN9u","domain":"1769586909183561000.tempdomain.com","primary":true,"is_default":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"go-auth0-dev.eu.auth0.com-cd-fu3haveyz43exn9u.edge.tenants.us.auth0.com","domain":"1769586909183561000.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key":"value"},"created_at":"2026-01-28T07:55:09.500Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 456.76675ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_Fu3HaVeYz43exN9u
        method: GET
      response:
        body: '{"custom_domain_id":"cd_Fu3HaVeYz43exN9u","domain":"1769586909183561000.tempdomain.com","primary":true,"is_default":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"go-auth0-dev.eu.auth0.com-cd-fu3haveyz43exn9u.edge.tenants.us.auth0.com","domain":"1769586909183561000.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key":"value"},"created_at":"2026-01-28T07:55:09.500Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 347.074667ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"tls_policy":"recommended","domain_metadata":{"key2":"value2"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_Fu3HaVeYz43exN9u
        method: PATCH
      response:
        body: '{"custom_domain_id":"cd_Fu3HaVeYz43exN9u","domain":"1769586909183561000.tempdomain.com","primary":true,"is_default":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"go-auth0-dev.eu.auth0.com-cd-fu3haveyz43exn9u.edge.tenants.us.auth0.com","domain":"1769586909183561000.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key":"value","key2":"value2"},"created_at":"2026-01-28T07:55:09.500Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 376.500792ms
[...]
    - id: 6
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"relying_party_identifier":"tempdomain.com"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_Fu3HaVeYz43exN9u
        method: PATCH
      response:
        body: '{"custom_domain_id":"cd_Fu3HaVeYz43exN9u","domain":"1769586909183561000.tempdomain.com","primary":true,"is_default":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"go-auth0-dev.eu.auth0.com-cd-fu3haveyz43exn9u.edge.tenants.us.auth0.com","domain":"1769586909183561000.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{},"created_at":"2026-01-28T07:55:09.500Z","relying_party_identifier":"tempdomain.com"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 370.650583ms
[...]
