---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-flow","description":"A test flow","synchronous":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows
        method: POST
      response:
        body: '{"id":"af_ts8t7umdiRSsJxAntopEeB","name":"test-flow","description":"A test flow","synchronous":true,"actions":[],"triggers":{"webhook":{"enabled":false,"secret":null}},"security":{"rateLimits":[]},"created_at":"2024-09-10T07:11:58.523Z","updated_at":"2024-09-10T07:11:58.523Z","executed_at":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 586.692458ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/af_ts8t7umdiRSsJxAntopEeB
        method: GET
      response:
        body: '{"id":"af_ts8t7umdiRSsJxAntopEeB","name":"test-flow","description":"A test flow","synchronous":true,"actions":[],"triggers":{"webhook":{"secret":null,"enabled":false}},"security":{"rateLimits":[]},"created_at":"2024-09-10T07:11:58.523Z","updated_at":"2024-09-10T07:11:58.523Z","executed_at":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 245.199083ms
[...]
