---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-flow"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows
        method: POST
      response:
        body: '{"id":"af_nMs6ocaGGsd31WFnestY6j","name":"test-flow","created_at":"2024-09-23T11:02:56.086Z","updated_at":"2024-09-23T11:02:56.086Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 2.012815792s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"update-test-flow"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/af_nMs6ocaGGsd31WFnestY6j
        method: PATCH
      response:
        body: '{"id":"af_nMs6ocaGGsd31WFnestY6j","name":"update-test-flow","created_at":"2024-09-23T11:02:56.086Z","updated_at":"2024-09-23T11:02:57.071Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 969.210541ms
[...]
