---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"appId":"HTTP","name":"test-vault-connection"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/vault/connections
        method: POST
      response:
        body: '{"id":"ac_kxctJqTodoApL6MGB1ooy6","app_id":"HTTP","name":"test-vault-connection","ready":false,"created_at":"2024-09-11T08:25:49.699Z","updated_at":"2024-09-11T08:25:49.699Z","refreshed_at":null,"fingerprint":"3552d94e98c34d47d48c8666a72562e3"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 226.496125ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"new-connection-name"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/vault/connections/ac_kxctJqTodoApL6MGB1ooy6
        method: PATCH
      response:
        body: '{"id":"ac_kxctJqTodoApL6MGB1ooy6","app_id":"HTTP","name":"new-connection-name","ready":false,"created_at":"2024-09-11T08:25:49.699Z","updated_at":"2024-09-11T08:25:49.944Z","refreshed_at":null,"fingerprint":"8fd2a19f4c87d40c8d7e3ebd80f2ca4d"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 254.676667ms
[...]
