---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/branding/phone/templates
        method: GET
      response:
        body: '{"templates":[{"tenant":"go-auth0-dev.eu.auth0.com","channel":"phone","type":"blocked_account","disabled":false,"created_at":"2025-02-10T12:00:53.221Z","updated_at":"2025-02-10T12:00:53.221Z","content":{"syntax":"liquid","body":{"text":"We detected suspicious activity on your account from the ip {{user.source_ip}}{% if user.city %} from {{user.city}}, {{user.country}}{% elsif user.country %} from {{user.country}}{% endif %}. Logins from this IP have been blocked on your account. If this is your IP, please reset your password to unblock your account. Otherwise, disregard this message.","voice":"We detected suspicious activity on your account from the ip {{user.source_ip}}{% if user.city %} from {{user.city}}, {{user.country}}{% elsif user.country %} from {{user.country}}{% endif %}. Logins from this IP have been blocked on your account. If this is your IP, please reset your password to unblock your account. Otherwise, disregard this message."},"from":""}},{"tenant":"go-auth0-dev.eu.auth0.com","channel":"phone","type":"change_password","disabled":false,"created_at":"2025-02-10T12:00:53.221Z","updated_at":"2025-02-10T12:00:53.221Z","content":{"syntax":"liquid","body":{"text":"{{ code | escape }} is your password change code for {{ friendly_name | escape }}","voice":"Hello. Your password change code for {{ friendly_name | escape }} is {{ pause }} {{ code | escape }}. I repeat, your password change code is {{ pause }} {{ code | escape }}"},"from[...]
