---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"1736161779-Test-Action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"code":"exports.onExecutePostLogin = async (event, api) =\u003e {}","runtime":"node18"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"b136b5da-3da6-4fd0-8d7a-025949b6cc3b","name":"1736161779-Test-Action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"created_at":"2025-01-06T11:09:39.622509117Z","updated_at":"2025-01-06T11:09:39.631558930Z","code":"exports.onExecutePostLogin = async (event, api) => {}","dependencies":[],"runtime":"node18","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 366.535167ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/actions/actions/b136b5da-3da6-4fd0-8d7a-025949b6cc3b
        method: GET
      response:
        body: '{"id":"b136b5da-3da6-4fd0-8d7a-025949b6cc3b","name":"1736161779-Test-Action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"created_at":"2025-01-06T11:09:39.622509117Z","updated_at":"2025-01-06T11:09:39.631558930Z","code":"exports.onExecutePostLogin = async (event, api) => {}","dependencies":[],"runtime":"node18","status":"built","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 329.899166ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/actions/actions/b136b5da-3da6-4fd0-8d7a-025949b6cc3b/deploy
        method: POST
      response:
        body: '{"code":"exports.onExecutePostLogin = async (event, api) => {}","dependencies":[],"id":"577888fd-a497-4011-bfa9-877a0b552ab5","deployed":false,"number":1,"secrets":[],"status":"built","created_at":"2025-01-06T11:09:40.307126280Z","updated_at":"2025-01-06T11:09:40.307126280Z","runtime":"node18","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"action":{"id":"b136b5da-3da6-4fd0-8d7a-025949b6cc3b","name":"1736161779-Test-Action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"created_at":"2025-01-06T11:09:39.622509117Z","updated_at":"2025-01-06T11:09:39.622509117Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.167273s
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"1736161781-Test-Token-Exchange-Profile","subject_token_type":"https://acme.com/cis-token","action_id":"b136b5da-3da6-4fd0-8d7a-025949b6cc3b","type":"custom_authentication"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/token-exchange-profiles
        method: POST
      response:
        body: '{"id":"tep_23W3Yyk1jvoLWsVZ","name":"1736161781-Test-Token-Exchange-Profile","type":"custom_authentication","subject_token_type":"https://acme.com/cis-token","action_id":"b136b5da-3da6-4fd0-8d7a-025949b6cc3b","created_at":"2025-01-06T11:09:41.536Z","updated_at":"2025-01-06T11:09:41.536Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 402.46675ms
    - id: 4
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/token-exchange-profiles?take=50
        method: GET
      response:
        body: '{"token_exchange_profiles":[{"id":"tep_23W3Yyk1jvoLWsVZ","name":"1736161781-Test-Token-Exchange-Profile","type":"custom_authentication","subject_token_type":"https://acme.com/cis-token","action_id":"b136b5da-3da6-4fd0-8d7a-025949b6cc3b","created_at":"2025-01-06T11:09:41.536Z","updated_at":"2025-01-06T11:09:41.536Z"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 383.865834ms
    - id: 5
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/token-exchange-profiles/tep_23W3Yyk1jvoLWsVZ
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 4.203427708s
[...]
