---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"type":"customer-provided-root-key"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/keys/encryption
        method: POST
      response:
        body: '{"kid":"9117434c-dd6c-41ec-b940-478be0882f35","type":"customer-provided-root-key","state":"pre-activation","created_at":"2024-08-21T09:35:12.913Z","updated_at":"2024-08-21T09:35:12.913Z","parent_kid":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 873.028ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/keys/encryption/9117434c-dd6c-41ec-b940-478be0882f35
        method: GET
      response:
        body: '{"kid":"9117434c-dd6c-41ec-b940-478be0882f35","type":"customer-provided-root-key","state":"pre-activation","created_at":"2024-08-21T09:35:12.913Z","updated_at":"2024-08-21T09:35:12.913Z","parent_kid":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 361.004958ms
[...]
