---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-organization947","display_name":"Test Organization","is_app_entitlement_active":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_Fw6w6tSQZ1kBWnZM","display_name":"Test Organization","name":"test-organization947","third_party_client_access":"block","is_app_entitlement_active":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 948.401375ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/organizations/org_Fw6w6tSQZ1kBWnZM
        method: GET
      response:
        body: '{"id":"org_Fw6w6tSQZ1kBWnZM","name":"test-organization947","display_name":"Test Organization","third_party_client_access":"block","is_app_entitlement_active":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 320.959791ms
[...]
