---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Auth0-Connection-PasswordOptions-1745000000","strategy":"auth0","options":{"password_options":{"complexity":{"min_length":10,"character_types":["uppercase","lowercase","number"],"identical_characters":"block","sequential_characters":"allow","max_length_exceeded":"error"},"profile_data":{"active":true,"blocked_fields":["name","username","email"]},"history":{"active":true,"size":3},"dictionary":{"active":true,"default":"en_100k"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_abc123passwordopt","options":{"mfa":{"active":true,"return_enroll_settings":true},"strategy_version":2,"authentication_methods":{"password":{"enabled":true}},"brute_force_protection":true,"password_options":{"complexity":{"min_length":10,"character_types":["uppercase","lowercase","number"],"identical_characters":"block","sequential_characters":"allow","max_length_exceeded":"error"},"profile_data":{"active":true,"blocked_fields":["name","username","email"]},"history":{"active":true,"size":3},"dictionary":{"active":true,"default":"en_100k"}}},"strategy":"auth0","name":"Test-Auth0-Connection-PasswordOptions-1745000000","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Auth0-Connection-PasswordOptions-1745000000"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 350ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_abc123passwordopt
        method: GET
      response:
        body: '{"id":"con_abc123passwordopt","options":{"mfa":{"active":true,"return_enroll_settings":true},"strategy_version":2,"authentication_methods":{"password":{"enabled":true}},"brute_force_protection":true,"password_options":{"complexity":{"min_length":10,"character_types":["uppercase","lowercase","number"],"identical_characters":"block","sequential_characters":"allow","max_length_exceeded":"error"},"profile_data":{"active":true,"blocked_fields":["name","username","email"]},"history":{"active":true,"size":3},"dictionary":{"active":true,"default":"en_100k"}}},"strategy":"auth0","name":"Test-Auth0-Connection-PasswordOptions-1745000000","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Auth0-Connection-PasswordOptions-1745000000"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 280ms
[...]
    - id: 4
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_abc123passwordopt
        method: DELETE
      response:
        body: '{"deleted_at":"2025-04-20T10:00:00.000Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 310ms
