---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"domain":"1724659065.tempdomain.com","type":"auth0_managed_certs","tls_policy":"recommended"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains
        method: POST
      response:
        body: '{"custom_domain_id":"cd_h3Zz4noJ4gzl10ND","domain":"1724659065.tempdomain.com","primary":true,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"go-auth0-dev.eu.auth0.com-cd-h3zz4noj4gzl10nd.edge.tenants.sus.auth0.com","domain":"1724659065.tempdomain.com"}]},"tls_policy":"recommended"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 2.062053709s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            "\u003c!DOCTYPE html\u003e\u003chtml\u003e\u003chead\u003e{%- auth0:head -%}\u003c/head\u003e\u003cbody\u003e{%- auth0:widget -%}\u003c/body\u003e\u003c/html\u003e"
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/branding/templates/universal-login
        method: PUT
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 924.149083ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"login":{"form-content-end":"\u003cdiv\u003eForm Content Start\u003c/div\u003e","form-content-start":"\u003cdiv\u003eForm Content Start\u003c/div\u003e"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/prompts/login/partials
        method: PUT
      response:
        body: '{"login":{"form-content-end":"<div>Form Content Start</div>","form-content-start":"<div>Form Content Start</div>"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 649.10675ms
[...]
    - id: 6
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_h3Zz4noJ4gzl10ND
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 967.181667ms
