---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-form","description":"A test form","languages":{"primary":"en"},"style":{"version":"MODERN","theme":"SOFT"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/forms
        method: POST
      response:
        body: '{"id":"ap_izfsarWkUb3BuuuLi2qZch","name":"test-form","description":"A test form","messages":{"custom":{},"errors":{}},"languages":{"primary":"en","default":null},"translations":{},"start":{"hiddenFields":[],"nextNode":null,"coordinates":null},"nodes":[],"ending":{"content":null,"redirection":null,"callback":null,"afterSubmit":{"flowId":null,"email":null},"resumeFlow":true,"coordinates":null},"social":[],"style":{"version":"MODERN","theme":"SOFT","css":null},"tags":[],"created_at":"2024-09-10T07:07:43.823Z","updated_at":"2024-09-10T07:07:43.823Z","embedded_at":null,"submitted_at":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 606.861542ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"description":"Updated Description test"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/forms/ap_izfsarWkUb3BuuuLi2qZch
        method: PATCH
      response:
        body: '{"id":"ap_izfsarWkUb3BuuuLi2qZch","name":"test-form","description":"Updated Description test","messages":{"custom":{},"errors":{}},"languages":{"default":null,"primary":"en"},"translations":{},"start":{"nextNode":null,"coordinates":null,"hiddenFields":[]},"nodes":[],"ending":{"content":null,"redirection":null,"callback":null,"afterSubmit":{"email":null,"flowId":null},"coordinates":null,"resumeFlow":true},"social":[],"style":{"css":null,"theme":"SOFT","version":"MODERN"},"tags":[],"created_at":"2024-09-10T07:07:43.823Z","updated_at":"2024-09-10T07:07:44.074Z","embedded_at":null,"submitted_at":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 246.011666ms
[...]
