---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"domain":"1746693341449837000.tempdomain.com","type":"auth0_managed_certs","tls_policy":"recommended","domain_metadata":{"key":"value"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains
        method: POST
      response:
        body: '{"custom_domain_id":"cd_6fbkzjrsAsH6qgJS","domain":"1746693341449837000.tempdomain.com","primary":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"go-auth0-dev.eu.auth0.com-cd-6fbkzjrsash6qgjs.edge.tenants.us.auth0.com","domain":"1746693341449837000.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key":"value"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 406.89625ms
[...]
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains?take=2
        method: GET
      response:
        body: '{"custom_domains":[{"custom_domain_id":"cd_5OhmCGeoVlOPsgh5","domain":"testing.acmetest.org","primary":true,"status":"ready","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"go-auth0-dev.eu.auth0.com-cd-5ohmcgeovlopsgh5.edge.tenants.us.auth0.com","domain":"testing.acmetest.org"}]},"tls_policy":"recommended"},{"custom_domain_id":"cd_6fbkzjrsAsH6qgJS","domain":"1746693341449837000.tempdomain.com","primary":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"go-auth0-dev.eu.auth0.com-cd-6fbkzjrsash6qgjs.edge.tenants.us.auth0.com","domain":"1746693341449837000.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key":"value"}}],"next":"Fe26.2*API2_1746594819*122b0702cc47fae1eaaee55610d1aa0c5e070008a120076c5dab551b37fc86e4*bJISOGVfCfhoeStrqSJv8Q*L70Tor5Ww3_NGFQLjjyT-4CVsBTXRDdnZhoucpfGhB0*1746779743033*19f6b0a6fd20d4ee78f24479fc040423094d25527fdedcc9d8d898be9b6d3f5f*9qtSbdMkSWKQTsmcMmiFo-YacQG7rJ6t5uo1NmqI3aA"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 327.6005ms
    - id: 4
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains?from=Fe26.2%2AAPI2_1746594819%2A122b0702cc47fae1eaaee55610d1aa0c5e070008a120076c5dab551b37fc86e4%2AbJISOGVfCfhoeStrqSJv8Q%2AL70Tor5Ww3_NGFQLjjyT-4CVsBTXRDdnZhoucpfGhB0%2A1746779743033%2A19f6b0a6fd20d4ee78f24479fc040423094d25527fdedcc9d8d898be9b6d3f5f%2[...]
    - id: 5
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_qLaHuTyBWQAw67Eh
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 460.05225ms
    - id: 6
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_DAA0OPTOy6zAxDQA
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 378.258125ms
    - id: 7
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_6fbkzjrsAsH6qgJS
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 415.678583ms
