---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-role14","description":"Test Role"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/roles
        method: POST
      response:
        body: '{"id":"rol_9yRKwo2Bl0zckceV","name":"test-role14","description":"Test Role"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 98.494875ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/roles?include_totals=true&name_filter=test-role14&per_page=50
        method: GET
      response:
        body: '{"roles":[{"id":"rol_9yRKwo2Bl0zckceV","name":"test-role14","description":"Test Role"}],"start":0,"limit":50,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 100.717583ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/roles/rol_9yRKwo2Bl0zckceV
        method: DELETE
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 112.444292ms
