---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"domain":"1769586917029371000.tempdomain.com","type":"auth0_managed_certs","tls_policy":"recommended","domain_metadata":{"key":"value"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains
        method: POST
      response:
        body: '{"custom_domain_id":"cd_BPd4ofwmT3R9TLtX","domain":"1769586917029371000.tempdomain.com","primary":true,"is_default":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"go-auth0-dev.eu.auth0.com-cd-bpd4ofwmt3r9tltx.edge.tenants.us.auth0.com","domain":"1769586917029371000.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key":"value"},"created_at":"2026-01-28T07:55:17.383Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 2.697887166s
[...]
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains?take=2
        method: GET
      response:
        body: '{"custom_domains":[{"custom_domain_id":"cd_BPd4ofwmT3R9TLtX","domain":"1769586917029371000.tempdomain.com","primary":true,"is_default":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"go-auth0-dev.eu.auth0.com-cd-bpd4ofwmt3r9tltx.edge.tenants.us.auth0.com","domain":"1769586917029371000.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key":"value"},"created_at":"2026-01-28T07:55:17.383Z"},{"custom_domain_id":"cd_7GOHQLHglq7z6XrQ","domain":"1769586919727588000.tempdomain.com","primary":false,"is_default":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"go-auth0-dev.eu.auth0.com-cd-7gohqlhglq7z6xrq.edge.tenants.us.auth0.com","domain":"1769586919727588000.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key":"value"},"created_at":"2026-01-28T07:55:20.020Z"}],"next":"Fe26.2*API2_1768883731*e7d0dfb70f98d4a40190964768af4a4004b35f5d88789739cd8a3ccab18397e4*cjUUn5t5AEmT0OR9FrlEPw*LNyT33yHmjoQfQL_qOeatXYO4BFU3FUrKDjB6ZuIyiUrVvVNzAc4v2MjqJKqVXzm*1769673320894*9163f006a26a4869afc8bd5074a8ecfeb6963e56a749695a9971aa5f7b683e23*tTRmsHxtkSTBpf1ziNIaK8GCHMUnHfVx9l1QCU7U4TM"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 347.279416ms
    - id: 4
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains?from=Fe26.2%2AAPI2_1768883731%2Ae7d0dfb70f98d4a40190964768af4a4004b35f5d88789739cd8a3ccab18397e4%2AcjUUn5t5AEmT0OR9FrlEPw%2ALNyT33yHmjoQfQL_qOeatXYO4BFU3FUrKDjB6ZuIyiUrVvVNzAc4v2MjqJKqVXzm%2A1769673320894%2A9163f006a26a4869afc8bd5074a8ecfeb6963e56a749695a9971aa5f7b683e23%2AtTRmsHxtkSTBpf1ziNIaK8GCHMUnHfVx9l1QCU7U4TM&take=2
        method: GET
      response:
        body: '{"custom_domains":[{"custom_domain_id":"cd_qmGM8fzQXoUFyORL","domain":"1769586920132973000.tempdomain.com","primary":false,"is_default":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"go-auth0-dev.eu.auth0.com-cd-qmgm8fzqxoufyorl.edge.tenants.us.auth0.com","domain":"1769586920132973000.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key":"value"},"created_at":"2026-01-28T07:55:20.438Z"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 360.609666ms
    - id: 5
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_qmGM8fzQXoUFyORL
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 410.111583ms
    - id: 6
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_7GOHQLHglq7z6XrQ
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 420.269583ms
    - id: 7
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_BPd4ofwmT3R9TLtX
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 725.583291ms
