---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"description":"some-description","active":true,"priority":1,"rule":{"action":{"block":true},"match":{"ipv6_cidrs":["2001:db8::/32"]},"scope":"management"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/network-acls
        method: POST
      response:
        body: '{"id":"d489d9e8-6a3f-427c-89cf-59218e290745","description":"some-description","active":true,"priority":1,"rule":{"match":{"ipv6_cidrs":["2001:db8::/32"]},"scope":"management","action":{"block":true}},"created_at":"2025-02-13T05:57:33.156Z","updated_at":"2025-02-13T05:57:33.156Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 840.036834ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/network-acls/d489d9e8-6a3f-427c-89cf-59218e290745
        method: GET
      response:
        body: '{"id":"d489d9e8-6a3f-427c-89cf-59218e290745","tenant_id":"go-auth0-dev.eu.auth0.com","description":"some-description","active":true,"priority":1,"rule":{"match":{"ipv6_cidrs":["2001:db8::/32"]},"scope":"management","action":{"block":true}},"created_at":"2025-02-13T05:57:33.156Z","updated_at":"2025-02-13T05:57:33.156Z","deleted_at":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 373.074792ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/network-acls/d489d9e8-6a3f-427c-89cf-59218e290745
        method: DELETE
      response:
        body: '{"code":204,"object":""}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 377.957833ms
