---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"filters":[{"key":"action_id","val":"act_123"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/actions/log-sessions
        method: POST
      response:
        body: '{"url":"https://go-auth0-dev.eu.auth0.com.eu.auth0.com/api/v2/actions/log-sessions/tail?token=tkn_123","expires":"2023-01-25T17:47:18.956969265Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 167.176584ms
