---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: GET
      response:
        body: '{"allowed_logout_urls":[],"acr_values_supported":[],"default_redirection_uri":"https://example.com/login","enabled_locales":["en"],"flags":{"allow_changing_enable_sso":false,"disable_impersonation":true,"enable_sso":true,"new_universal_login_experience_enabled":true,"universal_login":true,"revoke_refresh_token_grant":false,"mfa_show_factor_list_on_enrollment":false,"remove_alg_from_jwks":true,"disable_clickjack_protection_headers":false},"friendly_name":"My Example Tenant","guardian_mfa_page":{"enabled":true,"html":"<!DOCTYPE html>\n<html>\n<head>\n  <title>2nd Factor Authentication</title>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no\" />\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n  <style type=\"text/css\">\n\n    html, body { padding: 0; margin: 0; }\n\n    .table {\n      display: table;\n      position: absolute;\n      height: 100%;\n      width: 100%;\n      background-color: {{ pageBackgroundColor | default: ''#2b2b33'' }};\n    }\n\n    .cell {\n      display: table-cell;\n      vertical-align: middle;\n    }\n\n    .content {\n      padding: 25px 0px 25px 0px;\n      margin-left: auto;\n      margin-right: auto;\n      width: 280px; /* login widget width */\n    }\n\n  </style>\n</head>\n\n<body>\n\n  <div class=\"table\">\n    <div class=\"cell\">\n      <div class=\"content\">\n        <!-- WIDGET -->\n        <div class=\"js-mfa-container mfa-container\" id=\"container\"></div>\n      </div>\n    </div>\n  </div>\n\n  <script src=\"//cdn.auth0.com/js/mfa-widget/mfa-widget-1.8.min.js\"></script>\n\n  <script>\n    (function() {\n      return new Auth0MFAWidget({\n        container: \"container\",\n\n        theme: {\n          icon: \"{{ iconUrl | default: ''//cdn.auth0.com/styleguide/1.0.0/img/badge.png'' }}\",\n          primaryColor: \"{{ primaryColor | default: ''#ea5323'' }}\"\n        },\n\n        requesterErrors: [\n          {% for error in errors %}\n            { message: \"{{ error.message }}\", errorCode:[...]
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"friendly_name":"My Example Tenant","support_email":"support@example.com","support_url":"https://support.example.com","allowed_logout_urls":["https://app.com/logout","http://localhost/logout"],"session_lifetime":1080,"idle_session_lifetime":720,"default_redirection_uri":"https://example.com/login","default_token_quota":{"clients":{"client_credentials":{"enforce":true,"per_day":100,"per_hour":10}},"organizations":{"client_credentials":{"enforce":true,"per_day":100,"per_hour":10}}},"enabled_locales":["fr","en","es"],"session_cookie":{"mode":"non-persistent"},"sessions":{"oidc_logout_prompt_enabled":false},"oidc_logout":{"rp_logout_end_session_endpoint_discovery":true},"acr_values_supported":["foo","bar"],"mtls":{"enable_endpoint_aliases":true},"pushed_authorization_requests_supported":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: PATCH
      response:
        body: '{"allowed_logout_urls":["https://app.com/logout","http://localhost/logout"],"acr_values_supported":["foo","bar"],"default_redirection_uri":"https://example.com/login","default_token_quota":{"clients":{"client_credentials":{"enforce":true,"per_day":100,"per_hour":10}},"organi[...]
[...]
    - id: 5
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"guardian_mfa_page":{"enabled":true,"html":"\u003c!DOCTYPE html\u003e\n\u003chtml\u003e\n\u003chead\u003e\n  \u003ctitle\u003e2nd Factor Authentication\u003c/title\u003e\n  \u003cmeta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no\" /\u003e\n  \u003cmeta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"\u003e\n  \u003cstyle type=\"text/css\"\u00[...]
