---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"connection":"Username-Password-Authentication","email":"chuck152@example.com","given_name":"Chuck","family_name":"Sanchez","username":"test-user357","nickname":"Chucky","password":"Passwords hide their chuck","user_metadata":{"favourite_attack":"roundhouse_kick"},"verify_email":false,"app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]},"picture":"https://example-picture-url.jpg","blocked":false,"email_verified":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"blocked":false,"created_at":"2023-01-25T19:00:59.837Z","email":"chuck152@example.com","email_verified":true,"family_name":"Sanchez","given_name":"Chuck","identities":[{"connection":"Username-Password-Authentication","user_id":"63d17c6b8869daf88ed7dbb8","provider":"auth0","isSocial":false}],"name":"chuck152@example.com","nickname":"Chucky","picture":"https://example-picture-url.jpg","updated_at":"2023-01-25T19:00:59.837Z","user_id":"auth0|63d17c6b8869daf88ed7dbb8","user_metadata":{"favourite_attack":"roundhouse_kick"},"username":"test-user357","app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 198.744208ms
[...]
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Username-Password-Authentication&per_page=50
        method: GET
      response:
        body: '{"total":1,"start":0,"limit":50,"connections":[{"id":"con_ftSSLHb0O7rcUGmF","options":{"mfa":{"active":true,"return_enroll_settings":true},"validation":{"username":{"max":15,"min":1}},"import_mode":false,"configuration":{},"customScripts":{},"passwordPolicy":"good","password_history":{"size":5,"enable":false},"strategy_version":2,"requires_username":true,"password_dictionary":{"enable":false,"dictionary":[]},"brute_force_protection":true,"password_no_personal_info":{"enable":false},"password_complexity_options":{"min_length":8},"enabledDatabaseCustomization":false},"strategy":"auth0","name":"Username-Password-Authentication","is_domain_connection":false,"realms":["Username-Password-Authentication"],"enabled_clients":["x6JQCUgTHFxLjAUqJE7Fx2Iyud62IlhI","8IgJbmEeGNsF7A4GXnYaiO6hScFYMjAv","JjLnHphshQijjCMloEAHgJFRmI0EUpgE","ExUOsL33W3KwCF6eOHIlTJdlrCxr6CT9","rpj0to9e68MdNFAQCh3DmCWo81OvqK6c","oZGzW6Pcxf3rZdzSUPv8NlPA7ij7MlM1","Z3FKRhWMsXg7iwljDHcNtAkUnCRXYttO","uRWKdiFmUEC3Kohfpq4HKjgKe26ynMSj","3tjbn4dFI04fpHKnVlGs1GYDzQKIEmbF"]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 110.97625ms
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"connection_id":"con_ftSSLHb0O7rcUGmF","user_id":"auth0|63d17c6ce99d3933163bddc2","provider":"auth0"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C63d17c6b8869daf88ed7dbb8/identities
        method: POST
      response:
        body: '[{"profileData":{"email":"chuck152@example.com","given_name":"Chuck","family_name":"Sanchez","username":"test-user357","nickname":"Chucky","picture":"https://example-picture-url.jpg","email_verified":true},"connection":"Username-Password-Authentication","user_id":"63d17c6b8869daf88ed7dbb8","provider":"auth0","isSocial":false},{"profileData":{"email":"chuck718@example.com","given_name":"Chuck","family_name":"Sanchez","username":"test-user84","nickname":"Chucky","picture":"https://example-picture-url.jpg","email_verified":true},"connection":"Username-Password-Authentication","user_id":"63d17c6ce99d3933163bddc2","provider":"auth0","isSocial":false}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 142.986792ms
    - id: 4
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C63d17c6b8869daf88ed7dbb8/identities/auth0/63d17c6ce99d3933163bddc2
        method: DELETE
      response:
        body: '[{"profileData":{"email":"chuck152@example.com","given_name":"Chuck","family_name":"Sanchez","username":"test-user357","nickname":"Chucky","picture":"https://example-picture-url.jpg","email_verified":true},"connection":"Username-Password-Authentication","user_id":"63d17c6b8869daf88ed7dbb8","provider":"auth0","isSocial":false}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 129.519ms
    - id: 5
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C63d17c6ce99d3933163bddc2
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 6.227496708s
[...]
