---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"app_id":"HTTP","name":"test-vault-connection"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/vault/connections
        method: POST
      response:
        body: '{"id":"ac_t9JToPSSZ4deNc6qPXZ9B9","app_id":"HTTP","name":"test-vault-connection","ready":false,"created_at":"2024-09-12T12:52:19.790Z","updated_at":"2024-09-12T12:52:19.790Z","refreshed_at":null,"fingerprint":"525eccf582f7913f5383ff4b3332ca7c"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 319.718375ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/vault/connections?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"limit":50,"start":0,"total":1,"connections":[{"id":"ac_t9JToPSSZ4deNc6qPXZ9B9","name":"test-vault-connection","app_id":"HTTP","ready":false,"created_at":"2024-09-12T12:52:19.790Z","updated_at":"2024-09-12T12:52:19.790Z","fingerprint":"525eccf582f7913f5383ff4b3332ca7c"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 325.612458ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/vault/connections/ac_t9JToPSSZ4deNc6qPXZ9B9
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 426.515459ms
