---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/grants?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"total":4,"start":0,"limit":50,"grants":[{"user_id":"auth0|63ce75d9c67d5f2312d030c1","audience":"https://go-auth0-dev.eu.auth0.com.eu.auth0.com/api/v2/","scope":["openid","profile"],"clientID":"Z3FKRhWMsXg7iwljDHcNtAkUnCRXYttO","id":"63cff5bc7209008e35c888c1"},{"user_id":"auth0|63ce75d9c67d5f2312d030c1","audience":"https://go-auth0-dev.eu.auth0.com.eu.auth0.com/userinfo","scope":[],"clientID":"x6JQCUgTHFxLjAUqJE7Fx2Iyud62IlhI","id":"63cfab337209008e35387e3a"},{"user_id":"auth0|63ce75d9c67d5f2312d030c1","audience":"https://go-auth0-dev.eu.auth0.com.eu.auth0.com/userinfo","scope":["openid","profile"],"clientID":"Z3FKRhWMsXg7iwljDHcNtAkUnCRXYttO","id":"63ce85577209008e35b45369"},{"user_id":"auth0|63ce75d9c67d5f2312d030c1","audience":"https://go-auth0-dev.eu.auth0.com.eu.auth0.com/userinfo","scope":["openid","profile"],"clientID":"vugiCcTHg2cZOhKIA8bwDVw3cwLZYzaf","id":"63ce84bf7209008e359303d4"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 119.091ms
