---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"appId":"HTTP","name":"test-vault-connection"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/vault/connections
        method: POST
      response:
        body: '{"id":"ac_2KU5xHwQ19BK39BtNRFoyt","app_id":"HTTP","name":"test-vault-connection","ready":false,"created_at":"2024-09-11T08:25:51.162Z","updated_at":"2024-09-11T08:25:51.162Z","refreshed_at":null,"fingerprint":"4fc6860667cadb9904961288e46ad225"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 265.499542ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/vault/connections?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"limit":50,"start":0,"total":5,"connections":[{"id":"ac_bX9wyzE6DHumj2gJmc2vje","name":"Auth0 test","app_id":"AUTH0","ready":true,"account_name":"go-auth0-dev.eu.auth0.com.eu.auth0.com","created_at":"2024-08-12T12:42:36.419Z","updated_at":"2024-08-12T12:42:36.419Z","fingerprint":"798d8de90253962c2639c7037a3af087"},{"id":"ac_5Cy8N47rNvNixgNBShK8fT","name":"HTTP #1","app_id":"HTTP","ready":true,"account_name":"Bearer ***","created_at":"2024-09-02T06:53:06.758Z","updated_at":"2024-09-02T06:53:06.758Z","fingerprint":"fe77deec2f6cbdf38b7614266c6d83fe"},{"id":"ac_ayGXUNMVsECPVkfqnVZeAw","name":"HTTP new create","app_id":"HTTP","ready":true,"account_name":"Bearer ***","created_at":"2024-09-11T04:38:59.120Z","updated_at":"2024-09-11T04:38:59.120Z","fingerprint":"11b274dc3438f13b8b87fe346a56c9bd"},{"id":"ac_uBEatoBijKsmGKoxFBjrb5","name":"REPLACE_WITH_M2M_CONNECTION","app_id":"AUTH0","ready":false,"created_at":"2024-08-21T04:25:42.001Z","updated_at":"2024-08-21T04:25:42.001Z","fingerprint":"71ce79d94826d077646a45d209b4cb0b"},{"id":"ac_2KU5xHwQ19BK39BtNRFoyt","name":"test-vault-connection","app_id":"HTTP","ready":false,"created_at":"2024-09-11T08:25:51.162Z","updated_at":"2024-09-11T08:25:51.162Z","fingerprint":"4fc6860667cadb9904961288e46ad225"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 220.356042ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/vault/connections/ac_2KU5xHwQ19BK39BtNRFoyt
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 232.499041ms
