---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"connection":"Username-Password-Authentication","email":"chuck407@example.com","given_name":"Chuck","family_name":"Sanchez","username":"test-user983","nickname":"Chucky","password":"Passwords hide their chuck","user_metadata":{"favourite_attack":"roundhouse_kick"},"verify_email":false,"app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]},"picture":"https://example-picture-url.jpg","blocked":false,"email_verified":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"blocked":false,"created_at":"2023-01-25T19:00:27.084Z","email":"chuck407@example.com","email_verified":true,"family_name":"Sanchez","given_name":"Chuck","identities":[{"connection":"Username-Password-Authentication","user_id":"63d17c4bdf1ce171262c7e93","provider":"auth0","isSocial":false}],"name":"chuck407@example.com","nickname":"Chucky","picture":"https://example-picture-url.jpg","updated_at":"2023-01-25T19:00:27.084Z","user_id":"auth0|63d17c4bdf1ce171262c7e93","user_metadata":{"favourite_attack":"roundhouse_kick"},"username":"test-user983","app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 231.813458ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"connection":"Username-Password-Authentication","password":"I don't need one","app_metadata":{"foo":"bar"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C63d17c4bdf1ce171262c7e93
        method: PATCH
      response:
        body: '{"blocked":false,"created_at":"2023-01-25T19:00:27.084Z","email":"chuck407@example.com","email_verified":true,"family_name":"Sanchez","given_name":"Chuck","identities":[{"connection":"Username-Password-Authentication","user_id":"63d17c4bdf1ce171262c7e93","provider":"auth0","isSocial":false}],"name":"chuck407@example.com","nickname":"Chucky","picture":"https://example-picture-url.jpg","updated_at":"2023-01-25T19:00:27.321Z","user_id":"auth0|63d17c4bdf1ce171262c7e93","user_metadata":{"favourite_attack":"roundhouse_kick"},"username":"test-user983","last_password_reset":"2023-01-25T19:00:27.317Z","app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"],"foo":"bar"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 255.983083ms
[...]
