---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"status":"enabled","name":"failing-webhook-test-stream","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"destination":{"type":"webhook","configuration":{"webhook_authorization":{"method":"bearer","token":"123456789"},"webhook_endpoint":"https://api.hooklistener.com/w/random-turquoise-mead-xb3v"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/event-streams
        method: POST
      response:
        body: '{"id":"est_7jz3bHHVmHZesRjbqXG9mg","status":"enabled","name":"failing-webhook-test-stream","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"created_at":"2025-07-30T15:25:02.201Z","updated_at":"2025-07-30T15:25:02.201Z","destination":{"type":"webhook","configuration":{"webhook_endpoint":"https://api.hooklistener.com/w/random-turquoise-mead-xb3v","webhook_authorization":{"method":"bearer"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.105098125s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"event_type":"user.created"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/event-streams/est_7jz3bHHVmHZesRjbqXG9mg/test
        method: POST
      response:
        body: '{"id":"evt_rvbH3prqdcq7iHUxDhd7vN","event_stream_id":"est_7jz3bHHVmHZesRjbqXG9mg","event_type":"user.created","status":"pending","attempts":[],"event":{"specversion":"1.0","id":"evt_rvbH3prqdcq7iHUxDhd7vN","source":"urn:auth0:go-auth0-dev.eu.auth0.com.sus.auth0.com","type":"user.created","time":"2025-07-30T15:25:02.550Z","data":{"object":{"user_id":"auth0|507f1f77bcf86cd799439020","email":"john.doe@gmail.com","email_verified":false,"username":"johndoe","phone_number":"+15555555555","phone_verified":false,"created_at":"2025-02-01T12:34:56Z","updated_at":"2025-02-01T12:34:56Z","identities":[{"provider":"auth0","isSocial":false,"connection":"Username-Password-Authentication","user_id":"507f1f77bcf86cd799439020","profileData":{"email":"john.doe@gmail.com","email_verified":false,"name":"John Doe","username":"johndoe","given_name":"John","family_name":"Doe","phone_number":"+15555555555","phone_verified":false}}],"app_metadata":{"plan":"pro"},"user_metadata":{"hobby":"skydiving"},"picture":"https://secure.gravatar.com/avatar/15626c5e0c749cb912f9d1ad48dba440?s=480&r=pg&d=https%3A%2F%2Fssl.gstatic.com%2Fs2%2Fprofiles%2Fimages%2Fsilhouette80.png","name":"John Doe","nickname":"John Doe","multifactor":["sample"],"last_ip":"10.0.0.1","last_login":"2025-02-01T12:34:56Z","logins_count":42,"blocked":false,"given_name":"John","family_name":"Doe"}},"a0purpose":"test","a0stream":"est_7jz3bHHVmHZesRjbqXG9mg","a0tenant":"go-auth0-dev.eu.auth0.com"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 355.77775ms
[...]
    - id: 5
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/event-streams/est_7jz3bHHVmHZesRjbqXG9mg/deliveries?event_types=user.created%2Cuser.updated
        method: GET
      response:
        body: '{"deliveries":[{"id":"evt_rvbH3prqdcq7iHUxDhd7vN","event_stream_id":"est_7jz3bHHVmHZesRjbqXG9mg","event_type":"user.created","status":"failed","attempts":[{"status":"failed","error_message":"404 - {\"error\":\"Debug endpoint not found\"}","timestamp":"2025-07-30T15:25:26.973Z","duration":237.449953}],"event":{"id":"evt_rvbH3prqdcq7iHUxDhd7vN","source":"urn:auth0:","specversion":"1.0","type":"user.created","time":"2025-07-30T15:25:02.55Z","data":{"object":{"app_metadata":{"plan":"pro"},"blocked":false,"created_at":"2025-02-01T12:34:56Z","email":"john.doe@gmail.com","email_verified":false,"family_name":"Doe","given_name":"John","identities":[{"connection":"Username-Password-Authentication","provider":"auth0","user_id":"507f1f77bcf86cd799439020[...]
    - id: 6
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/event-streams/est_7jz3bHHVmHZesRjbqXG9mg/stats?date_from=2025-07-30T20%3A45%3A28%2B05%3A30&date_to=2025-07-30T21%3A05%3A28%2B05%3A30
        method: GET
      response:
        body: '{"id":"est_7jz3bHHVmHZesRjbqXG9mg","name":"failing-webhook-test-stream","window":{"date_from":"2025-07-30T15:00:00.000Z","date_to":"2025-07-30T15:00:00.000Z","bucket_interval":{"scale_factor":3600}},"buckets":["2025-07-30T15:00:00.000Z"],"metrics":[{"name":"auth0.event_streams.successful_deliveries","window_total":0,"type":"sum","data":[0]},{"name":"auth0.event_streams.failed_deliveries","window_total":4,"type":"sum","data":[4]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 381.599167ms
    - id: 7
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/event-streams/est_7jz3bHHVmHZesRjbqXG9mg/redeliver
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 345.4575ms
    - id: 8
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/event-streams/est_7jz3bHHVmHZesRjbqXG9mg/stats
        method: GET
      response:
        body: '{"id":"est_7jz3bHHVmHZesRjbqXG9mg","name":"failing-webhook-test-stream","window":{"date_from":"2025-07-16T15:00:00.000Z","date_to":"2025-07-30T16:00:00.000Z","bucket_interval":{"scale_factor":86400}},"buckets":["2025-07-16T00:00:00.000Z","2025-07-17T00:00:00.000Z","2025-07-18T00:00:00.000Z","2025-07-19T00:00:00.000Z","2025-07-20T00:00:00.000Z","2025-07-21T00:00:00.000Z","2025-07-22T00:00:00.000Z","2025-07-23T00:00:00.000Z","2025-07-24T00:00:00.000Z","2025-07-25T00:00:00.000Z","2025-07-26T00:00:00.000Z","2025-07-27T00:00:00.000Z","2025-07-28T00:00:00.000Z","2025-07-29T00:00:00.000Z","2025-07-30T00:00:00.000Z"],"metrics":[{"name":"auth0.event_streams.successful_deliveries","window_total":0,"type":"sum","data":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]},{"name":"auth0.event_streams.failed_deliveries","window_total":8,"type":"sum","data":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,8]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 516.988042ms
    - id: 9
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/event-streams/est_7jz3bHHVmHZesRjbqXG9mg/deliveries?event_types=user.updated
        method: GET
      response:
        body: '{"deliveries":[{"id":"evt_2TtbbxYuvAKgugEqTL4U1y","event_stream_id":"est_7jz3bHHVmHZesRjbqXG9mg","event_type":"user.updated","status":"failed","attempts":[{"status":"failed","error_message":"404 - {\"[...]
    - id: 10
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/event-streams/est_7jz3bHHVmHZesRjbqXG9mg/redeliver/evt_2TtbbxYuvAKgugEqTL4U1y
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 357.908208ms
    - id: 11
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/event-streams/est_7jz3bHHVmHZesRjbqXG9mg/deliveries/evt_2TtbbxYuvAKgugEqTL4U1y
        method: GET
      response:
        body: '{"id":"evt_2TtbbxYuvAKgugEqTL4U1y","event_stream_id":"est_7jz3bHHVmHZesRjbqXG9mg","event_type":"user.updated","status":"failed","attempts":[{"status":"failed","error_message":"404 - {\"error\":\"De[...]
    - id: 12
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/event-streams/est_7jz3bHHVmHZesRjbqXG9mg
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 343.373875ms
