---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"connection":"Username-Password-Authentication","email":"chuck334@example.com","given_name":"Chuck","family_name":"Sanchez","username":"test-user695","nickname":"Chucky","password":"Passwords hide their chuck","user_metadata":{"favourite_attack":"roundhouse_kick"},"verify_email":false,"app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]},"picture":"https://example-picture-url.jpg","blocked":false,"email_verified":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"blocked":false,"created_at":"2023-03-10T16:25:50.971Z","email":"chuck334@example.com","email_verified":true,"family_name":"Sanchez","given_name":"Chuck","identities":[{"connection":"Username-Password-Authentication","user_id":"640b5a0ed3534be8b2db9dd3","provider":"auth0","isSocial":false}],"name":"chuck334@example.com","nickname":"Chucky","picture":"https://example-picture-url.jpg","updated_at":"2023-03-10T16:25:50.971Z","user_id":"auth0|640b5a0ed3534be8b2db9dd3","user_metadata":{"favourite_attack":"roundhouse_kick"},"username":"test-user695","app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 5.183459s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"type":"email","name":"Test","email":"chuck334@example.com"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C640b5a0ed3534be8b2db9dd3/authentication-methods
        method: POST
      response:
        body: '{"type":"email","name":"Test","created_at":"2023-03-10T16:25:51.113Z","email":"chuc****@exam*******","id":"email|dev_f0O81fTcftc0kN2v"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 142.877375ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C640b5a0ed3534be8b2db9dd3/authentication-methods?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"authenticators":[{"id":"email|dev_f0O81fTcftc0kN2v","type":"email","confirmed":true,"name":"Test","email":"chuc****@exam*******","created_at":"2023-03-10T16:25:51.113Z"}],"total":1,"start":0,"limit":50}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 143.365125ms
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C640b5a0ed3534be8b2db9dd3/authentication-methods/email%7Cdev_f0O81fTcftc0kN2v?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"id":"email|dev_f0O81fTcftc0kN2v","type":"email","confirmed":true,"name":"Test","email":"chuc****@exam*******","created_at":"2023-03-10T16:25:51.113Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 114.130584ms
    - id: 4
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test2"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C640b5a0ed3534be8b2db9dd3/authentication-methods/email%7Cdev_f0O81fTcftc0kN2v
        method: PATCH
      response:
        body: '{"type":"email","name":"Test2","created_at":"2023-03-10T16:25:51.113Z","email":"chuc****@exam*******","id":"email|dev_f0O81fTcftc0kN2v"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 148.465625ms
[...]
    - id: 8
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            [{"type":"email","name":"MyEmail","email":"foo@example.com"},{"type":"phone","name":"MyPhone","phone_number":"+44207183875044","preferred_authentication_method":"sms"},{"type":"totp","name":"MyTotp","totp_secret":"5HCWXIP2MJNSUBGYVUZFLRB2HWIGXR4SYJQXNBQ"}]
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C640b5a0ed3534be8b2db9dd3/authentication-methods
        method: PUT
      response:
        body: '[{"id":"email|dev_jFUpfLan83lYSMIF","type":"email","name":"MyEmail","email":"foo@example.com","created_at":"2023-03-10T16:25:52.098Z"},{"id":"phone|dev_kXVq4drj3Mw6uCF5","type":"phone","name":"MyPhone","phone_number":"+44207183875044","created_at":"2023-03-10T16:25:52.099Z","preferred_authentication_method":"sms","authentication_methods":[{"id":"sms|dev_kXVq4drj3Mw6uCF5","type":"sms"}]},{"id":"totp|dev_F9T7cy0hM0IgHjwP","type":"totp","name":"MyTotp","created_at":"2023-03-10T16:25:52.099Z"}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 200.6885ms
[...]
    - id: 12
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C640b5a0ed3534be8b2db9dd3
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 186.156333ms
