---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Resource Server (Apr 22 16:55:00.521)","identifier":"https://mrrt","scopes":[{"value":"create:bar","description":"This is just a test client."},{"value":"read:bar","description":"This is just a test client."}],"allow_offline_access":true,"skip_consent_for_verifiable_first_party_clients":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"68077c8d3af73ae602b68cd3","name":"Test Resource Server (Apr 22 16:55:00.521)","identifier":"https://mrrt","scopes":[{"value":"create:bar","description":"This is just a test client."},{"value":"read:bar","description":"This is just a test client."}],"signing_alg":"RS256","allow_offline_access":true,"token_lifetime":86400,"token_lifetime_for_web":7200,"skip_consent_for_verifiable_first_party_clients":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 928.334584ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Client (Apr 22 16:55:01.450)","description":"This is just a test client.","is_first_party":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"expiring","policies":[{"audience":"https://mrrt","scope":["create:bar","read:bar"]}]}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Test Client (Apr 22 16:55:01.450)","description":"This is just a test client.","client_id":"G0SOhgrLMsCHlxmF53FrJ4tSLKmYoERR","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":false,"infinite_idle_token_lifetime":false,"idle_token_lifetime":1296000,"policies":[{"audience":"https://mrrt","scope":["create:bar","read:bar"]}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 456.478208ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/clients/G0SOhgrLMsCHlxmF53FrJ4tSLKmYoERR
        method: GET
      response:
        body: '{"name":"Test Client (Apr 22 16:55:01.450)","description":"This is just a test client.","client_id":"G0SOhgrLMsCHlxmF53FrJ4tSLKmYoERR","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":false,"infinite_idle_token_lifetime":false,"idle_token_lifetime":1296000,"policies":[{"audience":"https://mrrt","scope":["create:bar","read:bar"]}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 374.488417ms
[...]
    - id: 4
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/resource-servers/68077c8d3af73ae602b68cd3
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 931.577708ms
