---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-form","description":"A test form","languages":{"primary":"en"},"style":{"version":"MODERN","theme":"SOFT"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/forms
        method: POST
      response:
        body: '{"id":"ap_7EX8RtfuSC7WR21wT6cfcn","name":"test-form","description":"A test form","messages":{"custom":{},"errors":{}},"languages":{"primary":"en","default":null},"translations":{},"start":{"hiddenFields":[],"nextNode":null,"coordinates":null},"nodes":[],"ending":{"content":null,"redirection":null,"callback":null,"afterSubmit":{"flowId":null,"email":null},"resumeFlow":true,"coordinates":null},"social":[],"style":{"version":"MODERN","theme":"SOFT","css":null},"tags":[],"created_at":"2024-09-10T07:08:13.805Z","updated_at":"2024-09-10T07:08:13.805Z","embedded_at":null,"submitted_at":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 722.728792ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/forms/ap_7EX8RtfuSC7WR21wT6cfcn
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 252.674542ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/forms/ap_7EX8RtfuSC7WR21wT6cfcn
        method: DELETE
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"Form not found"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 232.700542ms
