---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-rule638","script":"function (user, context, callback) { callback(null, user, context); }","enabled":false}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/rules
        method: POST
      response:
        body: '{"id":"rul_PSIFIoVURH0AvNE7","enabled":false,"script":"function (user, context, callback) { callback(null, user, context); }","name":"test-rule638","order":1,"stage":"login_success"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 120.558625ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"order":5,"enabled":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/rules/rul_PSIFIoVURH0AvNE7
        method: PATCH
      response:
        body: '{"id":"rul_PSIFIoVURH0AvNE7","enabled":true,"script":"function (user, context, callback) { callback(null, user, context); }","name":"test-rule638","order":5,"stage":"login_success"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 6.186380084s
[...]
