---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"content":{"syntax":"liquid","from":"1234567890","body":{"text":"We Detected a security breach in your account. Please reset your password. {{user.source_ip}}{% if user.city %} from {{user.city}}, {{user.country}}{% elsif user.country %} from {{user.country}}{% endif %}.","voice":"We Detected a security breach in your account. Please reset your password. {{user.source_ip}}{% if user.city %} from {{user.city}}, {{user.country}}{% elsif user.country %} from {{user.country}}{% endif %}."}},"type":"otp_verify","disabled":false}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/branding/phone/templates
        method: POST
      response:
        body: '{"id":"tem_4AgSVs5KcemmkX2Swf2opZ","tenant":"go-auth0-dev.eu.auth0.com","channel":"phone","type":"otp_verify","disabled":false,"created_at":"2025-02-11T12:07:29.986Z","updated_at":"2025-02-11T12:07:29.986Z","content":{"syntax":"liquid","body":{"text":"We Detected a security breach in your account. Please reset your password. {{user.source_ip}}{% if user.city %} from {{user.city}}, {{user.country}}{% elsif user.country %} from {{user.country}}{% endif %}.","voice":"We Detected a security breach in your account. Please reset your password. {{user.source_ip}}{% if user.city %} from {{user.city}}, {{user.country}}{% elsif user.country %} from {{user.country}}{% endif %}."},"from":"1234567890"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 938.972459ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/branding/phone/templates
        method: GET
      response:
        body: '{"templates":[{"id":"tem_4AgSVs5KcemmkX2Swf2opZ","tenant":"go-auth0-dev.eu.auth0.com","channel":"phone","type":"otp_verify","disabled":false,"created_at":"2025-02-11T12:07:29.986Z","updated_at":"2025-02-11T12:07:29.986Z","content":{"syntax":"liquid","body":{"text":"We Detected a security breach in your account. Please reset your password. {{user.source_ip}}{% if user.city %} from {{user.city}}, {{user.country}}{% elsif user.country %} from {{user.country}}{% endif %}.","voice":"We Detected a security breach [...]
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/branding/phone/templates/tem_4AgSVs5KcemmkX2Swf2opZ
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 958.914417ms
