---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: GET
      response:
        body: '{"enabled_locales":["en"],"flags":{"allow_changing_enable_sso":false,"disable_impersonation":true,"enable_sso":true,"new_universal_login_experience_enabled":true,"universal_login":true,"revoke_refresh_token_grant":false,"disable_clickjack_protection_headers":false},"friendly_name":"TF Test — redirection_uri","picture_url":"https://example2.com/logo.svg","sandbox_version":"22","oidc_logout":{"rp_logout_end_session_endpoint_discovery":true},"universal_login":{},"phone_consolidated_experience":false,"country_codes":{"list":["US","GB"],"mode":"allow"},"sandbox_versions_available":["22","18"],"resource_parameter_profile":"audience","client_id_metadata_document_supported":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 293.917333ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"country_codes":{"list":["US","GB"],"mode":"allow"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: PATCH
      response:
        body: '{"enabled_locales":["en"],"flags":{"allow_changing_enable_sso":false,"cannot_change_enforce_client_authentication_on_passwordless_start":true,"disable_impersonation":true,"enable_sso":true,"enforce_client_authentication_on_passwordless_start":true,"new_universal_login_experience_enabled":true,"universal_login":true,"revoke_refresh_token_grant":false,"disable_clickjack_protection_headers":false},"friendly_name":"TF Test — redirection_uri","picture_url":"https://example2.com/logo.svg","sandbox_version":"22","oidc_logout":{"rp_logout_end_session_endpoint_discovery":true},"universal_login":{"is_custom_theme_set":false},"phone_consolidated_experience":false,"country_codes":{"list":["US","GB"],"mode":"allow"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 546.67675ms
[...]
    - id: 7
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"friendly_name":"TF Test — redirection_uri","picture_url":"https://example2.com/logo.svg","sandbox_version":"22","enabled_locales":["en"],"oidc_logout":{"rp_logout_end_session_endpoint_discovery":true},"phone_consolidated_experience":false,"client_id_metadata_document_supported":false,"resource_parameter_profile":"audience","country_codes":{"list":["US","GB"],"mode":"allow"}}
        form: {}
        [...]
