---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-flow","description":"A test flow","synchronous":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows
        method: POST
      response:
        body: '{"id":"af_rZZ2cwdkHn3x6D7mW5taFc","name":"test-flow","description":"A test flow","synchronous":true,"actions":[],"triggers":{"webhook":{"enabled":false,"secret":null}},"security":{"rateLimits":[]},"created_at":"2024-09-10T07:12:07.937Z","updated_at":"2024-09-10T07:12:07.937Z","executed_at":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 595.581417ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"description":"Updated flow description test"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/af_rZZ2cwdkHn3x6D7mW5taFc
        method: PATCH
      response:
        body: '{"id":"af_rZZ2cwdkHn3x6D7mW5taFc","name":"test-flow","description":"Updated flow description test","synchronous":true,"actions":[],"triggers":{"webhook":{"secret":null,"enabled":false}},"security":{"rateLimits":[]},"created_at":"2024-09-10T07:12:07.937Z","updated_at":"2024-09-10T07:12:08.181Z","executed_at":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 238.217083ms
[...]
