---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"twilio","disabled":false,"configuration":{"default_from":"1234567890","sid":"sid","delivery_methods":["text"]},"credentials":{"auth_token":"auth_token"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/branding/phone/providers
        method: POST
      response:
        body: '{"id":"pro_qvSf3x5ErYUUCk86x56EmB","tenant":"go-auth0-dev.eu.auth0.com","name":"twilio","channel":"phone","disabled":false,"configuration":{"sid":"sid","default_from":"1234567890","delivery_methods":["text"]},"created_at":"2025-02-03T12:43:29.110Z","updated_at":"2025-02-03T12:43:29.110Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.237981834s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/branding/phone/providers/pro_qvSf3x5ErYUUCk86x56EmB
        method: GET
      response:
        body: '{"id":"pro_qvSf3x5ErYUUCk86x56EmB","tenant":"go-auth0-dev.eu.auth0.com","name":"twilio","channel":"phone","disabled":false,"configuration":{"sid":"sid","default_from":"1234567890","delivery_methods":["text"]},"created_at":"2025-02-03T12:43:29.110Z","updated_at":"2025-02-03T12:43:29.110Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 473.501542ms
[...]
