---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"type":"customer-provided-root-key"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/keys/encryption
        method: POST
      response:
        body: '{"kid":"de03ae46-f823-4cba-af2c-91e5022ad0c4","type":"customer-provided-root-key","state":"pre-activation","created_at":"2024-08-21T09:35:48.221Z","updated_at":"2024-08-21T09:35:48.221Z","parent_kid":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 813.873417ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/keys/encryption/de03ae46-f823-4cba-af2c-91e5022ad0c4
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 766.065708ms
[...]
