---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Auth0-Connection-PasswordOptions-1776875461","strategy":"auth0","options":{"password_options":{"complexity":{"min_length":10,"character_types":["uppercase","lowercase","number"],"identical_characters":"block","sequential_characters":"allow","max_length_exceeded":"error"},"profile_data":{"active":true,"blocked_fields":["name","username","email"]},"history":{"active":true,"size":3},"dictionary":{"active":true,"default":"en_100k"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_myjW2DUE51S4wHgK","options":{"mfa":{"active":true,"return_enroll_settings":true},"password_options":{"complexity":{"character_type_rule":"all","identical_characters":"block","sequential_characters":"allow","max_length_exceeded":"error","min_length":10,"character_types":["uppercase","lowercase","number"]},"profile_data":{"active":true,"blocked_fields":["name","username","email"]},"history":{"active":true,"size":3},"dictionary":{"active":true,"custom":[],"default":"en_100k"}},"strategy_version":2,"authentication_methods":{"password":{"enabled":true,"api_behavior":"required","signup_behavior":"allow"},"passkey":{"enabled":false}},"passkey_options":{"challenge_ui":"both","progressive_enrollment_enabled":true,"local_enrollment_enabled":true},"brute_force_protection":true},"strategy":"auth0","name":"Test-Auth0-Connection-PasswordOptions-1776875461","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"enabled_clients":[],"realms":["Test-Auth0-Connection-PasswordOptions-1776875461"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.028411583s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_myjW2DUE51S4wHgK
        method: GET
      response:
        body: '{"id":"con_myjW2DUE51S4wHgK","strategy":"auth0","name":"Test-Auth0-Connection-PasswordOptions-1776875461","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"enabled_clients":[],"realms":["Test-Auth0-Connection-PasswordOptions-1776875461"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 318.269208ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_myjW2DUE51S4wHgK
        method: DELETE
      response:
        body: '{"deleted_at":"2026-04-22T16:31:03.354Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 410.633ms
