---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"1736161775-Test-Action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"code":"exports.onExecutePostLogin = async (event, api) =\u003e {}","runtime":"node18"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"beac6c23-5f32-45ca-b236-def1ecdecc5f","name":"1736161775-Test-Action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"created_at":"2025-01-06T11:09:36.194687954Z","updated_at":"2025-01-06T11:09:36.209365917Z","code":"exports.onExecutePostLogin = async (event, api) => {}","dependencies":[],"runtime":"node18","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 936.476291ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/actions/actions/beac6c23-5f32-45ca-b236-def1ecdecc5f
        method: GET
      response:
        body: '{"id":"beac6c23-5f32-45ca-b236-def1ecdecc5f","name":"1736161775-Test-Action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"created_at":"2025-01-06T11:09:36.194687954Z","updated_at":"2025-01-06T11:09:36.209365917Z","code":"exports.onExecutePostLogin = async (event, api) => {}","dependencies":[],"runtime":"node18","status":"built","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 367.940375ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/actions/actions/beac6c23-5f32-45ca-b236-def1ecdecc5f/deploy
        method: POST
      response:
        body: '{"code":"exports.onExecutePostLogin = async (event, api) => {}","dependencies":[],"id":"e06cf3f7-eba8-4a64-a859-5d7d48b59923","deployed":false,"number":1,"secrets":[],"status":"built","created_at":"2025-01-06T11:09:36.939552612Z","updated_at":"2025-01-06T11:09:36.939552612Z","runtime":"node18","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"action":{"id":"beac6c23-5f32-45ca-b236-def1ecdecc5f","name":"1736161775-Test-Action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"created_at":"2025-01-06T11:09:36.194687954Z","updated_at":"2025-01-06T11:09:36.194687954Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 352.9445ms
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Token-Exchange-Profile","subject_token_type":"https://acme.com/cis-token","action_id":"beac6c23-5f32-45ca-b236-def1ecdecc5f","type":"custom_authentication"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/token-exchange-profiles
        method: POST
      response:
        body: '{"id":"tep_Kw2Lou6VhQ8YCFbP","name":"Test-Token-Exchange-Profile","type":"custom_authentication","subject_token_type":"https://acme.com/cis-token","action_id":"beac6c23-5f32-45ca-b236-def1ecdecc5f","created_at":"2025-01-06T11:09:37.596Z","updated_at":"2025-01-06T11:09:37.596Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 647.118042ms
    - id: 4
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/token-exchange-profiles/tep_Kw2Lou6VhQ8YCFbP
        method: GET
      response:
        body: '{"id":"tep_Kw2Lou6VhQ8YCFbP","name":"Test-Token-Exchange-Profile","type":"custom_authentication","subject_token_type":"https://acme.com/cis-token","action_id":"beac6c23-5f32-45ca-b236-def1ecdecc5f","created_at":"2025-01-06T11:09:37.596Z","updated_at":"2025-01-06T11:09:37.596Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 345.401625ms
[...]
