---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"domain":"1762331457814397000.tempdomain.com","type":"auth0_managed_certs","tls_policy":"recommended","domain_metadata":{"key":"value"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains
        method: POST
      response:
        body: '{"custom_domain_id":"cd_ghXKoh8KuBOyxomT","domain":"1762331457814397000.tempdomain.com","primary":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"go-auth0-dev.eu.auth0.com-cd-ghxkoh8kuboyxomt.edge.tenants.us.auth0.com","domain":"1762331457814397000.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key":"value"},"created_at":"2025-11-05T08:30:58.622Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 888.567584ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            "\u003c!DOCTYPE html\u003e\u003chtml\u003e\u003chead\u003e{%- auth0:head -%}\u003c/head\u003e\u003cbody\u003e{%- auth0:widget -%}\u003c/body\u003e\u003c/html\u003e"
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/branding/templates/universal-login
        method: PUT
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 691.825541ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Client (Nov  5 14:00:59.396)","description":"This is just a test client.","jwt_configuration":{"alg":"RS256"},"organization_usage":"allow","client_authentication_methods":{"private_key_jwt":{"credentials":[{"name":"Test Credential (Nov  5 14:00:59.396)","credential_type":"public_key","pem":"-----BEGIN PUBLIC KEY-----\nMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAua6LXMfgDE/tDdkOL1Oe\n3oWUwg1r4dSTg9L7RCcI5hItUzmkVofHtWN0H4CH2lm2ANmaJUsnhzctYowYW2+R\ntHvU9afTmtbdhpy993972hUqZSYLsE3iGziphYkOKVsqq38+VRH3TNg93zSLoRao\nJnTTkMXseVqiyqYRmFN8+gQQoEclHSGPUWQG5XMZ+hhuXeFyo+Yw/qbZWca/6/2I\n3rsca9jXR1alhxhHrXrg8N4Dm3gBgGbmiht6YYYT2Tyl1OqB9+iOI/9D7dfoCF6X\nAWJXRE454cmC8k8oucpjZVpflA+ocKshwPDR6YTLQYbXYiaWxEoaz0QGUErNQBnG\nI+sr9jDY3ua/s6HF6h0qyi/HVZH4wx+m4CtOfJoYTjrGBbaRszzUxhtSN2/MhXDu\n+a35q9/2zcu/3fjkkfVvGUt+NyyiYOKQ9vsJC1g/xxdUWtowjNwjfZE2zcG4usi8\nr38Bp0lmiipAsMLduZM/D5dFXkRdWCBNDfULmmg/4nv2wwjbjQuLemAMh7mmrztW\ni/85WMnjKQZT8NqS43pmgyIzg1gK1neMqdS90YmQ/PvJ36qALxCs245w1JpN9BAL\nJbwxCg/dbmKT7PalfWrksx9hGcJxtGqebldaOpw+5GVIPxxtC1C0gVr9BKeiDS3f\naibASY5pIRiKENmbZELDtucCAwEAAQ==\n-----END PUBLIC KEY-----"}]}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Test Client (Nov  5 14:00:59.396)","description":"This is just a test client.","client_id":"qoiqa7dK8UGRpHXij1VwQzgXD3nRTfvz","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"alg":"RS256"},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"organization_usage":"allow","client_authentication_methods":{"private_key_jwt":{"credentials":[{"id":"cred_rTU7B7zayjM1m5VfXot3mz","name":"Test Credential (Nov  5 14:00:59.396)","kid":"4e7yYf0TKdyTLbVnpq2wLN6mZ8t7eb9UJkMksyHj9iU","credential_type":"public_key","alg":"RS256","created_at":"2025-11-05T08:30:59.743Z","updated_at":"2025-11-05T08:30:59.743Z"}]}},"async_approval_notification_channels":["guardian-push"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 587.911709ms
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"configs":[{"prompt":"signup","screen":"signup","rendering_mode":"advanced","context_configuration":["branding.settings"],"default_head_tags_disabled":false,"head_tags":[{"attributes":{"async":true,"src":"https://example.com/script1.js"},"content":"","tag":"script"}],"filters":{"match_type":"includes_any","clients":[{"id":"qoiqa7dK8UGRpHXij1VwQzgXD3nRTfvz"}]},"use_page_template":true},{"prompt":"signup-id","screen":"signup-id","rendering_mode":"advanced","context_configuration":["branding.themes.default"],"default_head_tags_disabled":true,"head_tags":[{"attributes":{"href":"https://example.com/styles.css","rel":"stylesheet"},"content":"","tag":"link"}],"use_page_template":false},{"prompt":"login","screen":"login","rendering_mode":"advanced","context_configuration":["branding.settings","branding.themes.default"],"default_head_tags_disabled":false,"head_tags":[{"attributes":{"defer":true,"src":"https://example.com/login-script.js"},"content":"","tag":"script"}],"use_page_template":true}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/prompts/rendering
        method: PATCH
      response:
        body: '{"configs":[{"prompt":"signup","screen":"signup","rendering_mode":"advanced","context_configuration":["branding.settings"],"default_head_tags_disabled":false,"head_tags":[{"attributes":{"async":true,"src":"https://example.com/script1.js"},"content":"","tag":"script"}],"filters":{"match_type":"includes_any","clients":[{"id":"qoiqa7dK8UGRpHXij1VwQzgXD3nRTfvz"}]},"use_page_template":true},{"prompt":"signup-id","screen":"signup-id","rendering_mode":"advanced","context_configuration":["branding.themes.default"],"default_head_tags_disabled":true,"head_tags":[{"attributes":{"href":"https://example.com/styles.css","rel":"stylesheet"},"content":"","tag":"link"}],"use_page_template":false},{"prompt":"login","screen":"login","rendering_mode":"advanced","context_configuration":["branding.settings","branding.themes.default"],"default_head_tags_disabled":false,"head_tags":[{"attributes":{"defer":true,"src":"https://example.com/login-script.js"},"content":"","tag":"script"}],"use_page_template":true}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 475.779542ms
    - id: 4
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/prompts/signup/screen/signup/rendering
        method: GET
      response:
        body: '{"tenant":"go-auth0-dev.eu.auth0.com","prompt":"signup","screen":"signup","rendering_mode":"advanced","context_configuration":["branding.settings"],"default_head_tags_disabled":false,"head_tags":[{"tag":"script","content":"","attributes":{"src":"https://example.com/script1.js","async":true}}],"filters":{"clients":[{"id":"qoiqa7dK8UGRpHXij1VwQzgXD3nRTfvz"}],"match_type":"includes_any"},"use_page_template":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 338.068417ms
    - id: 5
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/prompts/signup-id/screen/signup-id/rendering
        method: GET
      response:
        body: '{"tenant":"go-auth0-dev.eu.auth0.com","prompt":"signup-id","screen":"signup-id","rendering_mode":"advanced","context_configuration":["branding.themes.default"],"default_head_tags_disabled":true,"head_tags":[{"tag":"link","content":"","attributes":{"rel":"stylesheet","href":"https://example.com/styles.css"}}],"filters":null,"use_page_template":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 325.922333ms
    - id: 6
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/prompts/login/screen/login/rendering
        method: GET
      response:
        body: '{"tenant":"go-auth0-dev.eu.auth0.com","prompt":"login","screen":"login","rendering_mode":"advanced","context_configuration":["branding.settings","branding.themes.default"],"default_head_tags_disabled":false,"head_tags":[{"tag":"script","content":"","attributes":{"src":"https://example.com/login-script.js","defer":true}}],"filters":null,"use_page_template":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 347.0215ms
    - id: 7
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/clients/qoiqa7dK8UGRpHXij1VwQzgXD3nRTfvz
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 475.122458ms
[...]
    - id: 9
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_ghXKoh8KuBOyxomT
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 366.265042ms
