---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"connection":"Username-Password-Authentication","email":"chuck750@example.com","given_name":"Chuck","family_name":"Sanchez","username":"test-user362","nickname":"Chucky","password":"Passwords hide their chuck","user_metadata":{"favourite_attack":"roundhouse_kick"},"verify_email":false,"app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]},"picture":"https://example-picture-url.jpg","blocked":false,"email_verified":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"blocked":false,"created_at":"2023-01-25T17:48:13.425Z","email":"chuck750@example.com","email_verified":true,"family_name":"Sanchez","given_name":"Chuck","identities":[{"connection":"Username-Password-Authentication","user_id":"63d16b5d2b2c1a2ae38bad23","provider":"auth0","isSocial":false}],"name":"chuck750@example.com","nickname":"Chucky","picture":"https://example-picture-url.jpg","updated_at":"2023-01-25T17:48:13.425Z","user_id":"auth0|63d16b5d2b2c1a2ae38bad23","user_metadata":{"favourite_attack":"roundhouse_kick"},"username":"test-user362","app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 883.699416ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"user_id":"auth0|63d16b5d2b2c1a2ae38bad23"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/jobs/verification-email
        method: POST
      response:
        body: '{"type":"verification_email","status":"pending","created_at":"2023-01-25T17:48:14.201Z","id":"job_9zpIFCI3DAnZieXY"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 147.932209ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/jobs/job_9zpIFCI3DAnZieXY
        method: GET
      response:
        body: '{"type":"verification_email","status":"pending","created_at":"2023-01-25T17:48:14.201Z","id":"job_9zpIFCI3DAnZieXY"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 80.518583ms
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C63d16b5d2b2c1a2ae38bad23
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 128.103083ms
