---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-form","languages":{"primary":"en"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/forms
        method: POST
      response:
        body: '{"id":"ap_8594yY9xHBqMJtJskjeMWq","name":"test-form","languages":{"primary":"en"},"ending":{"resume_flow":true},"created_at":"2024-09-23T11:09:12.797Z","updated_at":"2024-09-23T11:09:12.797Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 2.093616334s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"updated-test-form"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/forms/ap_8594yY9xHBqMJtJskjeMWq
        method: PATCH
      response:
        body: '{"id":"ap_8594yY9xHBqMJtJskjeMWq","name":"updated-test-form","languages":{"primary":"en"},"ending":{"resume_flow":true},"created_at":"2024-09-23T11:09:12.797Z","updated_at":"2024-09-23T11:09:13.273Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 465.88375ms
[...]
