---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Username-Password-Authentication&per_page=50
        method: GET
      response:
        body: '{"total":1,"start":0,"limit":50,"connections":[{"id":"con_o1RfqDaIvuekh5T5","options":{"mfa":{"active":true,"return_enroll_settings":true},"attributes":{"email":{"signup":{"status":"optional","verification":{"active":true}},"identifier":{"active":true},"profile_required":false,"verification_method":"link"},"username":{"signup":{"status":"inactive"},"identifier":{"active":true},"validation":{"max_length":15,"min_length":1,"allowed_types":{"email":false,"phone_number":false}},"profile_required":false},"phone_number":{"signup":{"status":"optional","verification":{"active":false}},"identifier":{"active":true},"profile_required":false}},"import_mode":false,"configuration":{},"customScripts":{"login":"function login(email, password, callback) {\n  // This script should authenticate a user against the credentials stored in\n  // your database.\n  // It is executed when a user attempts to log in or immediately after signing\n  // up (as a verification that the user was successfully signed up).\n  //\n  // Everything returned by this script will be set as part of the user profile\n  // and will be visible by any of the tenant admins. Avoid adding attributes\n  // with values such as passwords, [...]
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: "--686438b8a4ccd9d173087936dfbf54af07fa7f6c95196e40424947407865\r\nContent-Disposition: form-data; name=\"connection_id\"\r\n\r\ncon_o1RfqDaIvuekh5T5\r\n--686438b8a4ccd9d173087936dfbf54af07fa7f6c95196e40424947407865\r\nContent-Disposition: form-data; name=\"upsert\"\r\n\r\ntrue\r\n--686438b8a4ccd9d173087936dfbf54af07fa7f6c95196e40424947407865\r\nContent-Disposition: form-data; name=\"external_id\"\r\n\r\n\r\n--686438b8a4ccd9d173087936dfbf54af07fa7f6c95196e40424947407865\r\nContent-Disposition: form-data; name=\"send_completion_email\"\r\n\r\nfalse\r\n--686438b8a4ccd9d173087936dfbf54af07fa7f6c95196e40424947407865\r\nContent-Disposition: form-data; name=\"users\"; filename=\"users.json\"\r\nContent-Type: application/json\r\n\r\n[{\"email\":\"niloptionstest@example.com\",\"email_verified\":true}]\r\n--686438b8a4ccd9d173087936dfbf54af07fa7f6c95196e40424947407865--\r\n"
        form: {}
        headers:
            Content-Type:
                - multipart/form-data; boundary=686438b8a4ccd9d173087936dfbf54af07fa7f6c95196e40424947407865
        url: https://go-auth0-dev.eu.auth0.com/api/v2/jobs/users-imports?test=value
        method: POST
      response:
        body: '{"type":"users_import","status":"pending","connection_id":"con_o1RfqDaIvuekh5T5","connection":"Username-Password-Authentication","created_at":"2025-08-29T09:10:39.791Z","id":"job_NJQUHUxmrS4XUNAA"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 1.407792458s
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users-by-email?email=niloptionstest%40example.com
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 385.053666ms
