---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Auth0-Connection-List-1728906778","strategy":"auth0"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_cy0JidyLdNLUSodi","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"authentication_methods":{"password":{"enabled":true},"passkey":{"enabled":false}},"passkey_options":{"challenge_ui":"both","progressive_enrollment_enabled":true,"local_enrollment_enabled":true},"brute_force_protection":true},"strategy":"auth0","name":"Test-Auth0-Connection-List-1728906778","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Auth0-Connection-List-1728906778"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 360.0515ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections?fields=id&include_fields=true&include_totals=true&per_page=50
        method: GET
      response:
        body: '{"total":5,"start":0,"limit":50,"connections":[{"id":"con_7Xp23hOsnh7EQXTE","is_domain_connection":false},{"id":"con_NwYK1fgcPuPaFAgr","is_domain_connection":false},{"id":"con_WtSg8alXaOqmWHxI","is_domain_connection":false},{"id":"con_cy0JidyLdNLUSodi","is_domain_connection":false},{"id":"con_mTJBC8YsDRafWFmB","is_domain_connection":false}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 311.776791ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_cy0JidyLdNLUSodi
        method: DELETE
      response:
        body: '{"deleted_at":"2024-10-14T11:52:59.283Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 313.879166ms
