---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/actions/actions?per_page=10
        method: GET
      response:
        body: '{"actions":[{"id":"bc394804-a1fb-460b-9d2b-a9e8059a0a90","name":"Test Action (Apr  4 15:12:21.370)","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2024-04-04T09:42:21.630872761Z","updated_at":"2024-08-22T10:08:11.689317899Z","code":"exports.onExecutePostLogin = async (event, api) => {}","dependencies":[{"name":"lodash","version":"4.0.0"}],"runtime":"node18","status":"built","secrets":[{"name":"mySecretName","updated_at":"2024-04-04T09:42:21.652315123Z"}],"current_version":{"id":"92c31b73-03ca-4eeb-aad7-d2bb4a37b945","code":"exports.onExecutePostLogin = async (event, api) => {}","runtime":"node18","status":"BUILT","number":11,"build_time":"2024-08-22T10:08:13.157203168Z","created_at":"2024-08-22T10:08:13.090603718Z","updated_at":"2024-08-22T10:08:13.158235041Z"},"deployed_version":{"code":"exports.onExecutePostLogin = async (event, api) => {}","dependencies":[{"name":"lodash","version":"4.0.0"}],"id":"92c31b73-03ca-4eeb-aad7-d2bb4a37b945","deployed":true,"number":11,"built_at":"2024-08-22T10:08:13.157203168Z","secrets":[{"name":"mySecretName","updated_at":"2024-04-04T09:42:21.652315123Z"}],"status":"built","created_at":"2024-08-22T10:08:13.090603718Z","updated_at":"2024-08-22T10:08:13.158235041Z","runtime":"node18","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":true},{"id":"0a4daf88-3bc3-4119-9fbf-01ced2b48393","name":"Test Trigger Binding Foo TestAccTriggerActions","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2024-06-13T19:39:21.855815843Z","updated_at":"2024-08-22T10:08:11.705549995Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node18-actions","status":"built","secrets":[],"current_version":{"id":"e2a8f3ef-89e1-4f81-ae42-b9fa049d49ee","code":"ex[...]
