---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-rule487","script":"function (user, context, callback) { callback(null, user, context); }","enabled":false}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/rules
        method: POST
      response:
        body: '{"id":"rul_mCPeH7Fy0W9IWU9c","enabled":false,"script":"function (user, context, callback) { callback(null, user, context); }","name":"test-rule487","order":1,"stage":"login_success"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 116.109708ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/rules/rul_mCPeH7Fy0W9IWU9c
        method: GET
      response:
        body: '{"id":"rul_mCPeH7Fy0W9IWU9c","enabled":false,"script":"function (user, context, callback) { callback(null, user, context); }","name":"test-rule487","order":1,"stage":"login_success"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 89.104333ms
[...]
