---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"1736161800-Test-Action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"code":"exports.onExecutePostLogin = async (event, api) =\u003e {}","runtime":"node18"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"1fd75d02-0608-4132-8d35-b3cd6d845a62","name":"1736161800-Test-Action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"created_at":"2025-01-06T11:10:00.602862355Z","updated_at":"2025-01-06T11:10:00.626112162Z","code":"exports.onExecutePostLogin = async (event, api) => {}","dependencies":[],"runtime":"node18","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 860.324625ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/actions/actions/1fd75d02-0608-4132-8d35-b3cd6d845a62
        method: GET
      response:
        body: '{"id":"1fd75d02-0608-4132-8d35-b3cd6d845a62","name":"1736161800-Test-Action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"created_at":"2025-01-06T11:10:00.602862355Z","updated_at":"2025-01-06T11:10:00.626112162Z","code":"exports.onExecutePostLogin = async (event, api) => {}","dependencies":[],"runtime":"node18","status":"built","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 338.155416ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/actions/actions/1fd75d02-0608-4132-8d35-b3cd6d845a62/deploy
        method: POST
      response:
        body: '{"code":"exports.onExecutePostLogin = async (event, api) => {}","dependencies":[],"id":"d9ad5d91-b2cd-47e3-9267-4574426b63a6","deployed":false,"number":1,"secrets":[],"status":"built","created_at":"2025-01-06T11:10:01.610366520Z","updated_at":"2025-01-06T11:10:01.610366520Z","runtime":"node18","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"action":{"id":"1fd75d02-0608-4132-8d35-b3cd6d845a62","name":"1736161800-Test-Action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"created_at":"2025-01-06T11:10:00.602862355Z","updated_at":"2025-01-06T11:10:00.602862355Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 337.812ms
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"1736161801-Test-Token-Exchange-Profile","subject_token_type":"https://acme.com/cis-token","action_id":"1fd75d02-0608-4132-8d35-b3cd6d845a62","type":"custom_authentication"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/token-exchange-profiles
        method: POST
      response:
        body: '{"id":"tep_J6in0iklGxk77b4h","name":"1736161801-Test-Token-Exchange-Profile","type":"custom_authentication","subject_token_type":"https://acme.com/cis-token","action_id":"1fd75d02-0608-4132-8d35-b3cd6d845a62","created_at":"2025-01-06T11:10:01.992Z","updated_at":"2025-01-06T11:10:01.992Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 363.29075ms
    - id: 4
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/token-exchange-profiles/tep_J6in0iklGxk77b4h
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 362.635125ms
    - id: 5
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/token-exchange-profiles/tep_J6in0iklGxk77b4h
        method: GET
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"Token exchange profile not found."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 1.09975075s
[...]
