---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"status":"enabled","name":"failing-webhook-test-stream","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"destination":{"type":"webhook","configuration":{"webhook_authorization":{"method":"bearer","token":"123456789"},"webhook_endpoint":"https://api.hooklistener.com/w/random-turquoise-mead-xb3v"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/event-streams
        method: POST
      response:
        body: '{"id":"est_aD5AUDqZbHFcMoEx2LxAk9","status":"enabled","name":"failing-webhook-test-stream","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"created_at":"2025-09-08T06:34:34.198Z","updated_at":"2025-09-08T06:34:34.198Z","destination":{"type":"webhook","configuration":{"webhook_endpoint":"https://api.hooklistener.com/w/random-turquoise-mead-xb3v","webhook_authorization":{"method":"bearer"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.244733791s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"event_type":"user.created"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/event-streams/est_aD5AUDqZbHFcMoEx2LxAk9/test
        method: POST
      response:
        body: '{"id":"evt_7PhFNYbTW8At5NiLxgUn4D","event_stream_id":"est_aD5AUDqZbHFcMoEx2LxAk9","event_type":"user.created","status":"pending","attempts":[],"event":{"specversion":"1.0","id":"evt_7PhFNYbTW8At5NiLxgUn4D","source":"urn:auth0:go-auth0-dev.eu.auth0.com.sus.auth0.com","type":"user.created","time":"2025-09-08T06:34:34.645Z","data":{"object":{"user_id":"auth0|507f1f77bcf86cd799439020","email":"john.doe@gmail.com","email_verified":false,"username":"johndoe","phone_number":"+15555555555","phone_verified":false,"created_at":"2025-02-01T12:34:56Z","updated_at":"2025-02-01T12:34:56Z","identities":[{"provider":"auth0","isSocial":false,"connection":"Username-Password-Authentication","user_id":"507f1f77bcf86cd799439020","profileData":{"email":"john.doe@gmail.com","email_verified":false,"name":"John Doe","username":"johndoe","given_name":"John","family_name":"Doe","phone_number":"+15555555555","phone_verified":false}}],"app_metadata":{"plan":"pro"},"user_metadata":{"hobby":"skydiving"},"picture":"https://secure.gravatar.com/avatar/15626c5e0c749cb912f9d1ad48dba440?s=480&r=pg&d=https%3A%2F%2Fssl.gstatic.com%2Fs2%2Fprofiles%2Fimages%2Fsilhouette80.png","name":"John Doe","nickname":"John Doe","multifactor":["sample"],"last_ip":"10.0.0.1","last_login":"2025-02-01T12:34:56Z","logins_count":42,"blocked":false,"given_name":"John","family_name":"Doe"}},"a0purpose":"test","a0stream":"est_aD5AUDqZbHFcMoEx2LxAk9","a0tenant":"go-auth0-dev.eu.auth0.com"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 504.894584ms
[...]
    - id: 5
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/event-streams/est_aD5AUDqZbHFcMoEx2LxAk9/deliveries?event_types=user.created%2Cuser.updated&take=50
        method: GET
      response:
        body: '{"deliveries":[{"id":"evt_7PhFNYbTW8At5NiLxgUn4D","event_stream_id":"est_aD5AUDqZbHFcMoEx2LxAk9","event_type":"user.created","status":"failed","attempts":[{"status":"failed","error_message":"Post \"https://api.hooklistener.com/w/random-turquo ...","timestamp":"2025-09-08T06:34:56.383Z","duration":27.042698},{"status":"failed","error_message":"Post \"https://api.hooklistener.com/w/random-turquo ...","timestamp":"2025-09-08T06:34:57.404Z","duration":20.530268},{"status":"failed","error_message":"Post \"https://api.hooklistener.com/w/random-turquo ...","timestamp":"2025-09-08T06:34:59.427Z","duration":21.675832},{"status":"failed","error_message":"Post \"https://api.hooklistener.com/w/random-turquo ...","timestamp":"2025-09-08T06:35:03.448Z","duration":[...]
    - id: 6
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/event-streams/est_aD5AUDqZbHFcMoEx2LxAk9/stats
        method: GET
      response:
        body: '{"id":"est_aD5AUDqZbHFcMoEx2LxAk9","name":"failing-webhook-test-stream","window":{"date_from":"2025-08-25T06:00:00.000Z","date_to":"2025-09-08T07:00:00.000Z","bucket_interval":{"scale_factor":86400}},"buckets":["2025-08-25T00:00:00.000Z","2025-08-26T00:00:00.000Z","2025-08-27T00:00:00.000Z","2025-08-28T00:00:00.000Z","2025-08-29T00:00:00.000Z","2025-08-30T00:00:00.000Z","2025-08-31T00:00:00.000Z","2025-09-01T00:00:00.000Z","2025-09-02T00:00:00.000Z","2025-09-03T00:00:00.000Z","2025-09-04T00:00:00.000Z","2025-09-05T00:00:00.000Z","2025-09-06T00:00:00.000Z","2025-09-07T00:00:00.000Z","2025-09-08T00:00:00.000Z"],"metrics":[{"name":"auth0.event_streams.successful_deliveries","window_total":0,"type":"sum","data":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]},{"name":"auth0.event_streams.failed_deliveries","window_total":4,"type":"sum","data":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,4]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 432.079916ms
    - id: 7
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/event-streams/est_aD5AUDqZbHFcMoEx2LxAk9/redeliver
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 341.117917ms
[...]
    - id: 9
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/event-streams/est_aD5AUDqZbHFcMoEx2LxAk9/deliveries?event_types=user.updated&take=50
        method: GET
      response:
        body: '{"deliveries":[{"id":"evt_q273LFcsfrNovuzswy8qBz","event_stream_id":"est_aD5AUDqZbHFcMoEx2LxAk9","event_type":"user.updated","status":"failed","attempts":[{"status":"failed","error_message":"P[...]
    - id: 10
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/event-streams/est_aD5AUDqZbHFcMoEx2LxAk9/redeliver/evt_q273LFcsfrNovuzswy8qBz
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 324.79225ms
    - id: 11
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/event-streams/est_aD5AUDqZbHFcMoEx2LxAk9/deliveries/evt_q273LFcsfrNovuzswy8qBz
        method: GET
      response:
        body: '{"id":"evt_q273LFcsfrNovuzswy8qBz","event_stream_id":"est_aD5AUDqZbHFcMoEx2LxAk9","event_type":"user.updated","status":"failed","attempts":[{"status":"failed","error_message":"Post \"https://api.ho[...]
    - id: 12
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/event-streams/est_aD5AUDqZbHFcMoEx2LxAk9
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 310.613833ms
