---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Client (Sep 26 12:14:51.749)","description":"This is a test client with organization discovery methods.","organization_usage":"allow","organization_require_behavior":"pre_login_prompt","organization_discovery_methods":["email","organization_name"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Test Client (Sep 26 12:14:51.749)","description":"This is a test client with organization discovery methods.","client_id":"vd7TGcJWd9JvQxGVohqXfafPAyGFZoml","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"organization_usage":"allow","organization_require_behavior":"pre_login_prompt","organization_discovery_methods":["email","organization_name"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.036854708s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/clients/vd7TGcJWd9JvQxGVohqXfafPAyGFZoml
        method: GET
      response:
        body: '{"name":"Test Client (Sep 26 12:14:51.749)","description":"This is a test client with organization discovery methods.","client_id":"vd7TGcJWd9JvQxGVohqXfafPAyGFZoml","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"organization_usage":"allow","organization_require_behavior":"pre_login_prompt","organization_discovery_methods":["email","organization_name"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 226.535541ms
[...]
    - id: 4
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"organization_discovery_methods":["email","organization_name"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/clients/Yar6aO2yYQnAoToGEt4Zzu7RjOvinjZw
        method: PATCH
      response:
        body: '{"name":"Test Client (Sep 26 12:14:53.320)","description":"This is a test client for updating discovery methods.","client_id":"Yar6aO2yYQnAoToGEt4Zzu7RjOvinjZw","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"organization_usage":"allow","organization_require_behavior":"pre_login_prompt","organization_discovery_methods":["email","organization_name"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 265.760208ms
[...]
