---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-flow","description":"A test flow","synchronous":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows
        method: POST
      response:
        body: '{"id":"af_ekhE2XqtGUcmhLLYLCeh2j","name":"test-flow","description":"A test flow","synchronous":true,"actions":[],"triggers":{"webhook":{"enabled":false,"secret":null}},"security":{"rateLimits":[]},"created_at":"2024-09-10T07:12:19.895Z","updated_at":"2024-09-10T07:12:19.895Z","executed_at":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 790.970167ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/af_ekhE2XqtGUcmhLLYLCeh2j
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 239.359ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/af_ekhE2XqtGUcmhLLYLCeh2j
        method: DELETE
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"Flow not found"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 231.523833ms
