---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Client (Apr 25 21:20:38.073)","description":"This is just a test client.","jwt_configuration":{"alg":"RS256"},"organization_usage":"allow","client_authentication_methods":{"private_key_jwt":{"credentials":[{"name":"Test Credential (Apr 25 21:20:38.073)","credential_type":"public_key","pem":"-----BEGIN PUBLIC KEY-----\nMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAua6LXMfgDE/tDdkOL1Oe\n3oWUwg1r4dSTg9L7RCcI5hItUzmkVofHtWN0H4CH2lm2ANmaJUsnhzctYowYW2+R\ntHvU9afTmtbdhpy993972hUqZSYLsE3iGziphYkOKVsqq38+VRH3TNg93zSLoRao\nJnTTkMXseVqiyqYRmFN8+gQQoEclHSGPUWQG5XMZ+hhuXeFyo+Yw/qbZWca/6/2I\n3rsca9jXR1alhxhHrXrg8N4Dm3gBgGbmiht6YYYT2Tyl1OqB9+iOI/9D7dfoCF6X\nAWJXRE454cmC8k8oucpjZVpflA+ocKshwPDR6YTLQYbXYiaWxEoaz0QGUErNQBnG\nI+sr9jDY3ua/s6HF6h0qyi/HVZH4wx+m4CtOfJoYTjrGBbaRszzUxhtSN2/MhXDu\n+a35q9/2zcu/3fjkkfVvGUt+NyyiYOKQ9vsJC1g/xxdUWtowjNwjfZE2zcG4usi8\nr38Bp0lmiipAsMLduZM/D5dFXkRdWCBNDfULmmg/4nv2wwjbjQuLemAMh7mmrztW\ni/85WMnjKQZT8NqS43pmgyIzg1gK1neMqdS90YmQ/PvJ36qALxCs245w1JpN9BAL\nJbwxCg/dbmKT7PalfWrksx9hGcJxtGqebldaOpw+5GVIPxxtC1C0gVr9BKeiDS3f\naibASY5pIRiKENmbZELDtucCAwEAAQ==\n-----END PUBLIC KEY-----"}]}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Test Client (Apr 25 21:20:38.073)","description":"This is just a test client.","client_id":"4kTtC10PpErb6UiXkA0nsRmt20596Kcy","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"alg":"RS256"},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"organization_usage":"allow","client_authentication_methods":{"private_key_jwt":{"credentials":[{"id":"cred_9eScX1Md8CCXwHkWdnEwVM","name":"Test Credential (Apr 25 21:20:38.073)","kid":"4e7yYf0TKdyTLbVnpq2wLN6mZ8t7eb9UJkMksyHj9iU","credential_type":"public_key","alg":"RS256","created_at":"2024-04-25T15:50:38.977Z","updated_at":"2024-04-25T15:50:38.977Z"}]}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.06730875s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-conn153","display_name":"Test Connection 441","strategy":"ad","enabled_clients":["QjlAo2nIDERZYBBZozsv8apykJUBtCq4","4kTtC10PpErb6UiXkA0nsRmt20596Kcy"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_6fUiQeazlpjyM00z","options":{"ips":null,"brute_force_protection":true},"strategy":"ad","name":"test-conn153","provisioning_ticket_url":"https://go-auth0-dev.eu.auth0.com.us.auth0.com/p/ad/cKoAR60QK4wW4ezlpjhNKshJFM4YamU7","is_domain_connection":false,"show_as_button":false,"display_name":"Test Connection 441","enabled_clients":["4kTtC10PpErb6UiXkA0nsRmt20596Kcy","QjlAo2nIDERZYBBZozsv8apykJUBtCq4"],"realms":["test-conn153"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 481.124791ms
[...]
    - id: 4
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-organization110","display_name":"Test Organization","branding":{"logo_url":"https://example.com/logo.gif"},"enabled_connections":[{"connection_id":"con_6fUiQeazlpjyM00z","assign_membership_on_login":true,"show_as_button":true},{"connection_id":"con_g1TIjToKF1ZWSBQt","assign_membership_on_login":true,"show_as_button":true}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"name":"test-organization110","display_name":"Test Organization","branding":{"logo_url":"https://example.com/logo.gif"},"enabled_connections":[{"connection_id":"con_6fUiQeazlpjyM00z","assign_membership_on_login":true,"show_as_button":true},{"connection_id":"con_g1TIjToKF1ZWSBQt","assign_membership_on_login":true,"show_as_button":true}],"id":"org_kppEAG7SMhxyoPDo"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 519.078042ms
    - id: 5
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/organizations/org_kppEAG7SMhxyoPDo
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 376.369708ms
    - id: 6
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_g1TIjToKF1ZWSBQt
        method: DELETE
      response:
        body: '{"deleted_at":"2024-04-25T15:50:42.270Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 406.799792ms
    - id: 7
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/clients/GEEKan59VUsQSvCg38tDgPubual5o4t7
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 372.123458ms
    - id: 8
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_6fUiQeazlpjyM00z
        method: DELETE
      response:
        body: '{"deleted_at":"2024-04-25T15:50:42.964Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 330.4075ms
    - id: 9
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/clients/4kTtC10PpErb6UiXkA0nsRmt20596Kcy
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 367.008375ms
