---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"appId":"HTTP","name":"test-vault-connection"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/vault/connections
        method: POST
      response:
        body: '{"id":"ac_iWFurRgbwci3ahcAmKEPQo","app_id":"HTTP","name":"test-vault-connection","ready":false,"created_at":"2024-09-11T08:25:48.866Z","updated_at":"2024-09-11T08:25:48.866Z","refreshed_at":null,"fingerprint":"3200a4f67605ae5c1a9ce15cdfbf44ca"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 246.23ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/vault/connections/ac_iWFurRgbwci3ahcAmKEPQo
        method: GET
      response:
        body: '{"id":"ac_iWFurRgbwci3ahcAmKEPQo","app_id":"HTTP","name":"test-vault-connection","ready":false,"created_at":"2024-09-11T08:25:48.866Z","updated_at":"2024-09-11T08:25:48.866Z","fingerprint":"3200a4f67605ae5c1a9ce15cdfbf44ca"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 267.440667ms
[...]
