---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/logs?page=1&per_page=5
        method: GET
      response:
        body: '[{"_id":"90020230314144709188593000000000000001223372037868840734","log_id":"90020230314144709188593000000000000001223372037868840734","date":"2023-03-14T14:47:08.713Z","type":"seccft","description":"","connection":null,"connection_id":"","organization_id":null,"organization_name":null,"client_id":"naTYUHwINwCEtmhj8umEL7bHoB57L5e2","client_name":"CDT Testing","ip":"[REDACTED]","hostname":"go-auth0-dev.eu.auth0.com.eu.auth0.com","details":null,"user_id":"","user_name":"","user_agent":"Other 0.0.0 / Other 0.0.0","audience":"https://go-auth0-dev.eu.auth0.com.eu.auth0.com/api/v2/","scope":"read:client_grants create:client_grants delete:client_grants update:client_grants read:users update:users delete:users create:users read:users_app_metadata update:users_app_metadata delete:users_app_metadata create:users_app_metadata read:user_custom_blocks create:user_custom_blocks delete:user_custom_blocks create:user_tickets read:clients update:clients delete:clients create:clients read:client_keys update:client_keys delete:client_keys create:client_keys read:connections update:connections d[...]
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/logs/90020230314144709188593000000000000001223372037868840734
        method: GET
      response:
        body: '{"_id":"90020230314144709188593000000000000001223372037868840734","log_id":"90020230314144709188593000000000000001223372037868840734","dat[...]
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/logs?per_page=5&q=type%3A%22sapi%22
        method: GET
      response:
        body: '[{"_id":"90020230314134133705143000000000000001223372037861798014","log_id":"90020230314134133705143000000000000001223372037861798014","date":"2023-03-14T13:41:29.534Z","type":"sapi","description":"Delete a User","connection":null,"connection_id":null,"organization_id":null,"organization_name":null,"client_id":"naTYUHwINwCEtmhj8umEL7bHoB57L5e2","client_name":"","ip":"[REDACTED]","hostname":null,"details":{"request":{"auth":{"credentials":{"scopes":["read:client_grants","create:client_grants","delete:client_grants","update:client_grants","read:users","update:users","delete:users","create:users","read:users_app_metadata","update:users_app_metadata","delete:users_app_metadata","create:users_app_metadata","read:user_custom_blocks","create:user_custom_blocks","delete:user_custom_blocks","create:user_tickets","read:clients","update:clients","delete:clients","create:clients","read:client_keys","update:client_keys","delete:client_keys","create:cl[...]
{"request":{"auth":{"credentials":{"scopes":["read:client_grants","create:client_grants","delete:client_grants","update:client_grants","read:users","update:users","delete:users","create:users","read:users_app_metadata","update:users_app_metadata","delete:users_app_metadata","create:users_app_metadata","read:user_custom_blocks","create:user_custom_blocks","delete:user_custom_blocks","create:user_tickets","read:clients","update:clients","delete:clients","create:clients","read:client_keys","update:[...]
[...]
{"request":{"auth":{"credentials":{},"strategy":"jwt","user":{}},"body":{"description":"Test Role","name":"test-role256"},"channel":"api","ip":"2a02:8084:601e:7700:489b:3cbd:5918:67af","method":"post","path":"/api/v2/roles","query":{},"userAgent":"Go-Auth0-SDK/latest"},"response":{"body":{"description":"Test Role","id":"rol_DOPHBiWKzIuAJihL","name":"test-role256"},"statusCode":200}},"user_id":null,"user_name":null,"user_agent":"Other 0.0.0 / Other 0.0.0","audience":null,"scope":null,"strategy":null,"strategy_type":null,"isMobile":false,"location_info":null},{"_id":"90020230314134133126616000000000000001223372037861797164","log_id":"90020230314134133126616000000000000001223372037861797164","date":"2023-03-14T13:41:28.539Z","type":"sapi","description":"Create a User","connection":null,"connection_id":null,"organization_id":null,"organization_name":null,"client_id":"naTYUHwINwCEtmhj8umEL7bHoB57L5e2","client_name":"","ip":"[REDACTED]","hostname":null,"details":[...]
