---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Express Config Client (Nov 14 12:15:14.650)","app_type":"express_configuration"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Express Config Client (Nov 14 12:15:14.650)","client_id":"0v4ARY1WxQi9ICbbSUMZPYimMarvlo5Y","client_secret":"[REDACTED]","app_type":"express_configuration","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":true,"callbacks":["https://system-admin.okta.com/admin/app/generic/oauth20redirect"],"jwt_configuration":{"secret_encoded":false,"alg":"RS256"},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"organization_usage":"require","organization_require_behavior":"pre_login_prompt","client_authentication_methods":{"private_key_jwt":{"credentials":[]}},"async_approval_notification_channels":["guardian-push"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.018667s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/client-grants?client_id=0v4ARY1WxQi9ICbbSUMZPYimMarvlo5Y&include_totals=true&per_page=50
        method: GET
      response:
        body: '{"total":1,"start":0,"limit":50,"client_grants":[{"id":"cgr_F59AaazknDG6nxPP","client_id":"0v4ARY1WxQi9ICbbSUMZPYimMarvlo5Y","audience":"https://go-auth0-dev.eu.auth0.com.us.auth0.com/api/v2/","scope":["read:clients","read:user_attribute_profiles","read:connection_profiles","read:organizations_summary","read:connections","create:connections","update:connections","read:connections_options","update:connections_options","read:organization_connections","create:organization_connections","update:organization_connections","create:scim_config","read:scim_token","create:scim_token","delete:scim_token"],"is_system":true,"subject_type":"client"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 335.695542ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/clients/0v4ARY1WxQi9ICbbSUMZPYimMarvlo5Y
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 418.540833ms
[...]
    - id: 4
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Resource Server (Nov 14 12:15:16.893)","identifier":"https://api.example.com/","scopes":[{"value":"create:resource","description":"Create Resource"},{"value":"create:organization_client_grants","description":"Create Org Client Grants"}],"signing_alg":"HS256","token_lifetime":7200,"token_lifetime_for_web":3600,"enforce_policies":false,"token_dialect":"access_token","subject_type_authorization":{"user":{"policy":"allow_all"},"client":{"policy":"require_client_grant"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"6916cffdcfdefc81a038df18","name":"Test Resource Server (Nov 14 12:15:16.893)","identifier":"https://api.example.com/","scopes":[{"value":"create:resource","description":"Create Resource"},{"value":"create:organization_client_grants","description":"Create Org Client Grants"}],"signing_alg":"HS256","allow_offline_access":false,"token_lifetime":7200,"token_lifetime_for_web":3600,"skip_consent_for_verifiable_first_party_clients":false,"enforce_policies":false,"token_dialect":"access_token","subject_type_authorization":{"user":{"policy":"allow_all"},"client":{"policy":"require_client_grant"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 381.215ms
    - id: 5
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"client_id":"Yys4z9sD9EnVECDeiRGVllOBePEQkHs4","audience":"https://api.example.com/","scope":["create:resource"],"subject_type":"client"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/client-grants
        method: POST
      response:
        body: '{"statusCode":400,"error":"Bad Request","message":"Client of type express_configuration cannot be used","errorCode":"validation_error"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 368.502583ms
    - id: 6
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/resource-servers/6916cffdcfdefc81a038df18
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 326.926917ms
    - id: 7
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/clients/Yys4z9sD9EnVECDeiRGVllOBePEQkHs4
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 428.52525ms
