---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"appId":"HTTP","name":"test-vault-connection","setup":{"token":"my-token","type":"BEARER"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/vault/connections
        method: POST
      response:
        body: '{"id":"ac_puuFJbSNUeBPZ9Yu3gVJnY","app_id":"HTTP","name":"test-vault-connection","account_name":"Bearer my-***ken","ready":true,"created_at":"2024-09-11T08:25:48.325Z","updated_at":"2024-09-11T08:25:48.325Z","fingerprint":"29d927aa13c635acd32b0013c7341857"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 628.159459ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/vault/connections/ac_puuFJbSNUeBPZ9Yu3gVJnY
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 284.984042ms
