---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"type":"customer-provided-root-key"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/keys/encryption
        method: POST
      response:
        body: '{"kid":"1b3fbf52-80f0-455f-aaa8-26a97ebf7796","type":"customer-provided-root-key","state":"pre-activation","created_at":"2024-08-21T09:34:56.313Z","updated_at":"2024-08-21T09:34:56.313Z","parent_kid":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 881.877708ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/keys/encryption/1b3fbf52-80f0-455f-aaa8-26a97ebf7796
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 738.39125ms
