---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-form","description":"A test form","languages":{"primary":"en"},"style":{"version":"MODERN","theme":"SOFT"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/forms
        method: POST
      response:
        body: '{"id":"ap_imxbc76XhpAQkuXuarhfyw","name":"test-form","description":"A test form","messages":{"custom":{},"errors":{}},"languages":{"primary":"en","default":null},"translations":{},"start":{"hiddenFields":[],"nextNode":null,"coordinates":null},"nodes":[],"ending":{"content":null,"redirection":null,"callback":null,"afterSubmit":{"flowId":null,"email":null},"resumeFlow":true,"coordinates":null},"social":[],"style":{"version":"MODERN","theme":"SOFT","css":null},"tags":[],"created_at":"2024-09-10T07:08:31.305Z","updated_at":"2024-09-10T07:08:31.305Z","embedded_at":null,"submitted_at":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 595.066ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/forms?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"limit":50,"start":0,"total":3,"forms":[{"id":"ap_oKKYYRKoVD1CCuFgoAo5DN","name":"Onboarding User","description":null,"flow_count":1,"created_at":"2024-08-11T18:50:34.406Z","updated_at":"2024-08-12T11:06:32.728Z","embedded_at":null,"submitted_at":null},{"id":"ap_vHcEKGZJ5oaTYTePwe2W1T","name":"policies flow","description":null,"flow_count":1,"created_at":"2024-08-12T11:13:33.350Z","updated_at":"2024-08-12T11:14:25.590Z","embedded_at":null,"submitted_at":null},{"id":"ap_imxbc76XhpAQkuXuarhfyw","name":"test-form","description":"A test form","flow_count":0,"created_at":"2024-09-10T07:08:31.305Z","updated_at":"2024-09-10T07:08:31.305Z","embedded_at":null,"submitted_at":null}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 229.992542ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/forms/ap_imxbc76XhpAQkuXuarhfyw
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 270.743792ms
