---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Client (Jan 20 13:26:24.459)","description":"This is just a test client.","jwt_configuration":{"alg":"RS256"},"organization_usage":"allow","client_authentication_methods":{"private_key_jwt":{"credentials":[{"name":"Test Credential (Jan 20 13:26:24.460)","credential_type":"public_key","pem":"-----BEGIN PUBLIC KEY-----\nMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAua6LXMfgDE/tDdkOL1Oe\n3oWUwg1r4dSTg9L7RCcI5hItUzmkVofHtWN0H4CH2lm2ANmaJUsnhzctYowYW2+R\ntHvU9afTmtbdhpy993972hUqZSYLsE3iGziphYkOKVsqq38+VRH3TNg93zSLoRao\nJnTTkMXseVqiyqYRmFN8+gQQoEclHSGPUWQG5XMZ+hhuXeFyo+Yw/qbZWca/6/2I\n3rsca9jXR1alhxhHrXrg8N4Dm3gBgGbmiht6YYYT2Tyl1OqB9+iOI/9D7dfoCF6X\nAWJXRE454cmC8k8oucpjZVpflA+ocKshwPDR6YTLQYbXYiaWxEoaz0QGUErNQBnG\nI+sr9jDY3ua/s6HF6h0qyi/HVZH4wx+m4CtOfJoYTjrGBbaRszzUxhtSN2/MhXDu\n+a35q9/2zcu/3fjkkfVvGUt+NyyiYOKQ9vsJC1g/xxdUWtowjNwjfZE2zcG4usi8\nr38Bp0lmiipAsMLduZM/D5dFXkRdWCBNDfULmmg/4nv2wwjbjQuLemAMh7mmrztW\ni/85WMnjKQZT8NqS43pmgyIzg1gK1neMqdS90YmQ/PvJ36qALxCs245w1JpN9BAL\nJbwxCg/dbmKT7PalfWrksx9hGcJxtGqebldaOpw+5GVIPxxtC1C0gVr9BKeiDS3f\naibASY5pIRiKENmbZELDtucCAwEAAQ==\n-----END PUBLIC KEY-----"}]}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Test Client (Jan 20 13:26:24.459)","description":"This is just a test client.","client_id":"ShyVaW4TECXJhL60bMy7LBf0wwOsDkbu","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"alg":"RS256"},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"organization_usage":"allow","client_authentication_methods":{"private_key_jwt":{"credentials":[{"id":"cred_ihjVJCCe9v9xSCVmzR6Unq","name":"Test Credential (Jan 20 13:26:24.460)","kid":"4e7yYf0TKdyTLbVnpq2wLN6mZ8t7eb9UJkMksyHj9iU","credential_type":"public_key","alg":"RS256","created_at":"2026-01-20T07:56:25.155Z","updated_at":"2026-01-20T07:56:25.155Z"}]}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 888.824292ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Resource Server (Jan 20 13:26:25.351)","identifier":"https://api.example.com/","scopes":[{"value":"create:resource","description":"Create Resource"},{"value":"create:organization_client_grants","description":"Create Org Client Grants"}],"signing_alg":"HS256","token_lifetime":7200,"token_lifetime_for_web":3600,"enforce_policies":false,"token_dialect":"access_token","authorization_details":[{"type":"payment"},{"type":"shipping"}],"subject_type_authorization":{"user":{"policy":"allow_all"},"client":{"policy":"require_client_grant"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"696f3529fe85bccfd4e6ff89","name":"Test Resource Server (Jan 20 13:26:25.351)","identifier":"https://api.example.com/","scopes":[{"value":"create:resource","description":"Create Resource"},{"value":"create:organization_client_grants","description":"Create Org Client Grants"}],"signing_alg":"HS256","allow_offline_access":false,"token_lifetime":7200,"token_lifetime_for_web":3600,"skip_consent_for_verifiable_first_party_clients":false,"enforce_policies":false,"token_dialect":"access_token","authorization_details":[{"type":"payment"},{"type":"shipping"}],"subject_type_authorization":{"user":{"policy":"allow_all"},"client":{"policy":"require_client_grant"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 352.045041ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"client_id":"ShyVaW4TECXJhL60bMy7LBf0wwOsDkbu","audience":"https://api.example.com/","scope":["create:resource"],"subject_type":"user"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/client-grants
        method: POST
      response:
        body: '{"id":"cgr_c76MTGFJU1QkRugT","client_id":"ShyVaW4TECXJhL60bMy7LBf0wwOsDkbu","audience":"https://api.example.com/","scope":["create:resource"],"subject_type":"user"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 331.022709ms
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/client-grants/cgr_c76MTGFJU1QkRugT
        method: GET
      response:
        body: '{"id":"cgr_c76MTGFJU1QkRugT","client_id":"ShyVaW4TECXJhL60bMy7LBf0wwOsDkbu","audience":"https://api.example.com/","scope":["create:resource"],"subject_type":"user"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 337.783ms
[...]
    - id: 5
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/resource-servers/696f3529fe85bccfd4e6ff89
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 373.016834ms
    - id: 6
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/clients/ShyVaW4TECXJhL60bMy7LBf0wwOsDkbu
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 385.03875ms
[...]
    - id: 10
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/client-grants?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"total":50,"start":0,"limit":50,"client_grants":[{"id":"cgr_1ORzN1E7D067WSC2","client_id":"v6aQ0C1TdWuxtldBygkXGKKqRVDft9Cq","audience":"go-jwt-middleware","scope":["write:messages"],"subject_type":"client"},{"id":"cgr_2X1Mqb015jsbMi6L","client_id":"3ihEwMkDE0Jr4zWedAEvZDxgrPUarLKW","audience":"https://go-auth0-dev.eu.auth0.com.us.auth0.com/api/v2/","scope":[],"subject_type":"client"},{"id":"cgr_2wOmlzWi4jfgkVOl","client_id":"R2GqD9dgVZnL5WLWCZ3cn4iCgIW1rH4M","audience":"https://go-auth0-dev.eu.auth0.com.us.auth0.com/api/v2/","scope":["read:clients","read:user_attribute_profiles","read:connection_profiles","read:organizations_summary","read:connections","create:connections","update:connections","read:connections_options","update:connections_options","read:organization_connections","create:organization_connections","update:organization_connections","create:scim_config","read:scim_token","create:scim_token","delete:scim_token"],"is_system":true,"subject_type":"client"},{"id":"cgr_2xKo38iQLSUPHNLq","client_id":"BXUQ69RCKtH2Ef0kqQv2zIKW8gH9JdDz","audience":"https://periscope/hs256","scope":["read:foo","read:baz"],"subject_type":"client"},{"id":"cgr_6bZNZfSQ1Gk93Mcc","client_id":"scCKDRkV4gnlzRujGEsAzss1UzXsrZN4","audience":"test.example.com","scope":["access:serve_read","access:store_contrib","access:store_read"],"subject_type":"client"},{"id":"cgr_6dvpsP1iR0wj4E7G","client_id":"OztEgTxn4GXweDkj8Rj6Mn9LXJPF0uAG","audience":"https://[...]
    - id: 11
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/client-grants/cgr_6whuS4K6OUZCMT7X
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 356.447958ms
[...]
    - id: 13
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/clients/VcAQ1Ur1miGTzbnUpwWQFsM36UsdowZe
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 435.47225ms
