---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Auth0-Connection-List-1674668736","strategy":"auth0"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_uDjgqwHVu4PxYE7U","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"brute_force_protection":true},"strategy":"auth0","name":"Test-Auth0-Connection-List-1674668736","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Auth0-Connection-List-1674668736"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 132.511792ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections?fields=id&include_fields=true&include_totals=true&per_page=50
        method: GET
      response:
        body: '{"total":8,"start":0,"limit":50,"connections":[{"id":"con_HMVQGtsmSqSxkSVh","is_domain_connection":false},{"id":"con_47S3hqmuxbaOvPiB","is_domain_connection":false},{"id":"con_OX3PbtQiHlGEFyjC","is_domain_connection":false},{"id":"con_bj23KQ8QtEd1l4EV","is_domain_connection":false},{"id":"con_AyuS1yvUEQjoFaoX","is_domain_connection":false},{"id":"con_vdBe5gMM9KrNxicl","is_domain_connection":false},{"id":"con_uDjgqwHVu4PxYE7U","is_domain_connection":false},{"id":"con_ftSSLHb0O7rcUGmF","is_domain_connection":false}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 94.039292ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_uDjgqwHVu4PxYE7U
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 150.248708ms
