---
version: 2
interactions:
  - id: 0
    request:
      host: go-auth0-dev.eu.auth0.com
      body: |
        {"name":"Test Client (Jan 25 18:43:10.125)","description":"This is just a test client.","organization_usage":"allow"}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://go-auth0-dev.eu.auth0.com/api/v2/clients
      method: POST
    response:
      body: '{"name":"Test Client (Jan 25 18:43:10.125)","description":"This is just a test client.","client_id":"islY6yTOEAXx2oB1YRCI2BXrDf279Q2k","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"organization_usage":"allow"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 465.240625ms
  - id: 1
    request:
      host: go-auth0-dev.eu.auth0.com
      body: |
        {"name":"Test Resource Server (Jan 25 18:43:10.591)","identifier":"https://api.example.com/","scopes":[{"value":"create:resource","description":"Create Resource"}],"signing_alg":"HS256","token_lifetime":7200,"token_lifetime_for_web":3600}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://go-auth0-dev.eu.auth0.com/api/v2/resource-servers
      method: POST
    response:
      body: '{"id":"63d16a2e5299c7ac2ed8e262","name":"Test Resource Server (Jan 25 18:43:10.591)","identifier":"https://api.example.com/","scopes":[{"value":"create:resource","description":"Create Resource"}],"signing_alg":"HS256","allow_offline_access":false,"token_lifetime":7200,"token_lifetime_for_web":3600,"skip_consent_for_verifiable_first_party_clients":false}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 97.081833ms
  - id: 2
    request:
      host: go-auth0-dev.eu.auth0.com
      body: |
        {"client_id":"islY6yTOEAXx2oB1YRCI2BXrDf279Q2k","audience":"https://api.example.com/","scope":["create:resource"]}
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://go-auth0-dev.eu.auth0.com/api/v2/client-grants
      method: POST
    response:
      body: '{"id":"cgr_ELKvKN1Yf2gYGGyK","client_id":"islY6yTOEAXx2oB1YRCI2BXrDf279Q2k","audience":"https://api.example.com/","scope":["create:resource"]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 108.261125ms
  - id: 3
    request:
      host: go-auth0-dev.eu.auth0.com
      body: |
        null
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://go-auth0-dev.eu.auth0.com/api/v2/client-grants?client_id=islY6yTOEAXx2oB1YRCI2BXrDf279Q2k&include_totals=true&per_page=50
      method: GET
    response:
      body: '{"total":1,"start":0,"limit":50,"client_grants":[{"id":"cgr_ELKvKN1Yf2gYGGyK","client_id":"islY6yTOEAXx2oB1YRCI2BXrDf279Q2k","audience":"https://api.example.com/","scope":["create:resource"]}]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 98.526708ms
  - id: 4
    request:
      host: go-auth0-dev.eu.auth0.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://go-auth0-dev.eu.auth0.com/api/v2/client-grants/cgr_ELKvKN1Yf2gYGGyK
      method: DELETE
    response:
      body: ""
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 204 No Content
      code: 204
      duration: 93.633833ms
  - id: 5
    request:
      host: go-auth0-dev.eu.auth0.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://go-auth0-dev.eu.auth0.com/api/v2/resource-servers/63d16a2e5299c7ac2ed8e262
      method: DELETE
    response:
      body: ""
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 204 No Content
      code: 204
      duration: 209.032375ms
  - id: 6
    request:
      host: go-auth0-dev.eu.auth0.com
      body: ""
      form: {}
      headers:
        Content-Type:
          - application/json
      url: https://go-auth0-dev.eu.auth0.com/api/v2/clients/islY6yTOEAXx2oB1YRCI2BXrDf279Q2k
      method: DELETE
    response:
      body: ""
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 204 No Content
      code: 204
      duration: 106.576917ms