---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/keys/encryption?include_totals=true&page=0&per_page=50
        method: GET
      response:
        body: '{"keys":[{"kid":"17e4c13f-07a2-445b-9c9e-4e8df7d3452a","type":"tenant-master-key","state":"active","created_at":"2024-08-20T08:30:41.934Z","updated_at":"2024-08-20T08:30:41.934Z","parent_kid":"4f90f167-867a-4a31-a8a0-ba2669af2c6b"},{"kid":"4599a800-498f-4b3d-a5ef-ddf9e891c103","type":"customer-provided-root-key","state":"pre-activation","created_at":"2024-08-20T06:30:16.303Z","updated_at":"2024-08-20T06:30:16.303Z","parent_kid":null},{"kid":"55323fdc-eff3-48d2-8de5-e672c5855f75","type":"tenant-master-key","state":"destroyed","created_at":"2024-08-20T06:30:09.225Z","updated_at":"2024-08-20T08:30:42.270Z","parent_kid":"4f90f167-867a-4a31-a8a0-ba2669af2c6b"},{"kid":"f6bb4963-b342-4abe-a[...]
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/keys/encryption/rekey
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 901.461125ms
[...]
