---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"eventbridge-example","subscriptions":[{"event_type":"user.created"},{"event_type":"user.deleted"}],"destination":{"type":"eventbridge","configuration":{"aws_account_id":"242109005777","aws_region":"us-east-2"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/event-streams
        method: POST
      response:
        body: '{"id":"est_71tv5N87Pp6qDnynqDCJ7m","status":"enabled","name":"eventbridge-example","subscriptions":[{"event_type":"user.created"},{"event_type":"user.deleted"}],"created_at":"2025-07-29T04:20:27.246Z","updated_at":"2025-07-29T04:20:27.246Z","destination":{"type":"eventbridge","configuration":{"aws_region":"us-east-2","aws_account_id":"242109005777","aws_partner_event_source":"aws.partner/auth0.com/go-auth0-dev.eu.auth0.com-b9f04bb6-3968-45f9-976a-d52b169c5ad1/auth0.events"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.364284167s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/event-streams
        method: GET
      response:
        body: '{"eventStreams":[{"id":"est_tDC5h6Ywj37t8HDZWgu2hp","status":"enabled","name":"webhook-test-live","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"},{"event_type":"user.deleted"}],"created_at":"2025-07-26T05:34:09.261Z","updated_at":"2025-07-26T05:34:09.261Z","destination":{"type":"webhook","configuration":{"webhook_endpoint":"https://api.hooklistener.com/w/kjbsdkfgbsad-turquoise-mead-xb3v","webhook_authorization":{"method":"bearer"}}}},{"id":"est_71tv5N87Pp6qDnynqDCJ7m","status":"enabled","name":"eventbridge-example","subscriptions":[{"event_type":"user.created"},{"event_type":"user.deleted"}],"created_at":"2025-07-29T04:20:27.246Z","updated_at":"2025-07-29T04:20:27.246Z","destination":{"type":"eventbridge","configuration":{"aws_region":"us-east-2","aws_account_id":"242109005777","aws_partner_event_source":"aws.partner/auth0.com/go-auth0-dev.eu.auth0.com-b9f04bb6-3968-45f9-976a-d52b169c5ad1/auth0.events"}}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 330.588917ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/event-streams/est_71tv5N87Pp6qDnynqDCJ7m
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 445.527708ms
