---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users/UserID/refresh-tokens?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"tokens":[{"id":"RefreshTokenID","user_id":"UserID","created_at":"2024-05-01T13:00:30.038Z","idle_expires_at":null,"expires_at":null,"client_id":"CLIENTID","session_id":null,"rotating":false,"resource_servers":[{"audience":"https://go-auth0-dev.eu.auth0.com.us.auth0.com/api/v2/","scopes":"openid profile offline_access"}]},{"id":"RefreshTokenID","user_id":"UserID","created_at":"2024-05-03T11:58:27.035Z","idle_expires_at":null,"expires_at":null,"client_id":"CLIENTID","session_id":null,"rotating":false,"resource_servers":[{"audience":"https://go-auth0-dev.eu.auth0.com.us.auth0.com/api/v2/","scopes":"openid profile email address phone delete:current_user_device_credentials create:current_user_device_credentials offline_access"}]}],"next":"RefreshTokenID","total":2}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 948.362375ms
