---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Action (Jan 28 20:38:33.401)","supported_triggers":[{"id":"password-hash-migration","version":"v1"}],"code":"exports.onExecutePostLogin = async (event, api) =\u003e {}","runtime":"node22","deploy":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"7f672754-5549-4ea3-8b40-7f2347c533b1","name":"Test Action (Jan 28 20:38:33.401)","supported_triggers":[{"id":"password-hash-migration","version":"v1"}],"created_at":"2026-01-28T15:08:34.318166116Z","updated_at":"2026-01-28T15:08:34.331655123Z","code":"exports.onExecutePostLogin = async (event, api) => {}","dependencies":[],"runtime":"node22","status":"pending","secrets":[],"current_version":{"id":"9adc738d-23e0-406e-8236-75b86cee546f","code":"exports.onExecutePostLogin = async (event, api) => {}","runtime":"node22","status":"PENDING","number":1,"created_at":"2026-01-28T15:08:34.366306291Z","updated_at":"2026-01-28T15:08:34.366306291Z"},"deployed_version":{"code":"exports.onExecutePostLogin = async (event, api) => {}","dependencies":[],"id":"9adc738d-23e0-406e-8236-75b86cee546f","deployed":true,"number":1,"secrets":[],"status":"pending","created_at":"2026-01-28T15:08:34.366306291Z","updated_at":"2026-01-28T15:08:34.366306291Z","runtime":"node22","supported_triggers":[{"id":"password-hash-migration","version":"v1"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.121450208s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Auth0-Connection-1769612914","strategy":"auth0","options":{"custom_password_hash":{"action_id":"7f672754-5549-4ea3-8b40-7f2347c533b1"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_aKb6APrxvwt8venf","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","custom_password_hash":{"action_id":"7f672754-5549-4ea3-8b40-7f2347c533b1"},"strategy_version":2,"authentication_methods":{"password":{"enabled":true,"api_behavior":"required"},"passkey":{"enabled":false},"email_otp":{"enabled":false},"phone_otp":{"enabled":false}},"passkey_options":{"challenge_ui":"both","progressive_enrollment_enabled":true,"local_enrollment_enabled":true},"brute_force_protection":true},"strategy":"auth0","name":"Test-Auth0-Connection-1769612914","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"enabled_clients":[],"realms":["Test-Auth0-Connection-1769612914"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 543.154708ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_aKb6APrxvwt8venf
        method: DELETE
      response:
        body: '{"deleted_at":"2026-01-28T15:08:35.387Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 489.086917ms
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/actions/actions/7f672754-5549-4ea3-8b40-7f2347c533b1
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 499.90875ms
[...]
