---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"domain":"1773751522084267000.tempdomain.com","type":"auth0_managed_certs","tls_policy":"recommended","domain_metadata":{"key":"value"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains
        method: POST
      response:
        body: '{"custom_domain_id":"cd_agylgHaR9A4fk9z4","domain":"1773751522084267000.tempdomain.com","primary":false,"is_default":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"go-auth0-dev.eu.auth0.com-cd-agylghar9a4fk9z4.edge.tenants.us.auth0.com","domain":"1773751522084267000.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key":"value"},"created_at":"2026-03-17T12:45:22.400Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 454.088333ms
[...]
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains?take=2
        method: GET
      response:
        body: '{"custom_domains":[{"custom_domain_id":"cd_agylgHaR9A4fk9z4","domain":"1773751522084267000.tempdomain.com","primary":false,"is_default":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"go-auth0-dev.eu.auth0.com-cd-agylghar9a4fk9z4.edge.tenants.us.auth0.com","domain":"1773751522084267000.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key":"value"},"created_at":"2026-03-17T12:45:22.400Z"},{"custom_domain_id":"cd_ZbQ4pDk2NsykvT2l","domain":"1773751522538512000.tempdomain.com","primary":false,"is_default":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"go-auth0-dev.eu.auth0.com-cd-zbq4pdk2nsykvt2l.edge.tenants.us.auth0.com","domain":"1773751522538512000.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key":"value"},"created_at":"2026-03-17T12:45:22.807Z"}],"next":"Fe26.2*API2_1772519743*2b3df08788016c4480f66e0b4771725c55972cd5da9360e8447e76efc8ef10e7*hdcCJ79Qm03b7vwkWwRExQ*5dmWdC81viXzfSAzK3tB1w8GoY0N1Su6iNqB0BknKW0eJXSqATv9NN80ZUPseyxR*1773837923605*d35d8fdbe2c5b1f6ccc32689a7df982ede3f59d90651995278f82e5f6d64ae73*iqGYtkOfXRM_FRAvqxm_fxOihXMhrXQ0Ukgx3HXJMx0"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 366.605458ms
    - id: 4
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains?from=Fe26.2%2AAPI2_1772519743%2A2b3df08788016c4480f66e0b4771725c55972cd5da9360e8447e76efc8ef10e7%2AhdcCJ79Qm03b7vwkWwRExQ%2A5dmWdC81viXzfSAzK3tB1w8GoY0N1Su6iNqB0BknKW0eJXSqATv9NN80ZUPseyxR%2A1773837923605%2Ad35d8fdbe2c5b1f6ccc32689a7df982ede3f59d90651995278f82e5f6d64ae73%2AiqGYtkOfXRM_FRAvqxm_fxOihXMhrXQ0Ukgx3HXJMx0&take=2
        method: GET
      response:
        body: '{"custom_domains":[{"custom_domain_id":"cd_UUjqFP42iem2WuwJ","domain":"1773751522932822000.tempdomain.com","primary":false,"is_default":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"go-auth0-dev.eu.auth0.com-cd-uujqfp42iem2wuwj.edge.tenants.us.auth0.com","domain":"1773751522932822000.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key":"value"},"created_at":"2026-03-17T12:45:23.189Z"},{"custom_domain_id":"cd_x3nQ29h09nUFod1e","domain":"acul.acmetest.org","primary":false,"is_default":false,"status":"ready","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"go-auth0-dev.eu.auth0.com-cd-x3nq29h09nufod1e.edge.tenants.us.auth0.com","domain":"acul.acmetest.org"}],"last_verified_at":"2025-11-07T00:29:50Z","status":"failed"},"tls_policy":"recommended","domain_metadata":{},"certificate":{"certificate_authority":"letsencrypt","renews_before":"2026-02-04T23:31:22Z","status":"provisioned"},"created_at":"2025-09-08T07:01:05.000Z"}],"next":"Fe26.2*API2_1772519743*b82df355a4ca1460afe27ae6b649be9755c055b4375b7ad8cd5318ef8def4d36*HUueQZV5J7igNYpa6-iVmg*0yuHXcY1gXUzTzs9mrvNvjoOGVCJ-h2_eopCYlQm28w*1773837923958*72303587c2c5337814fddcf5f06c7c71854bf7c0a38360b63ac4f4286390bb1c*cUJcO2WbKhO4Vr-3E1uYX_CFhKTpxtptXFIiu_HvhOs"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 350.26175ms
    - id: 5
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_UUjqFP42iem2WuwJ
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 394.924375ms
    - id: 6
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_ZbQ4pDk2NsykvT2l
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 460.144ms
    - id: 7
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_agylgHaR9A4fk9z4
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 382.64025ms
