---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"connection":"Username-Password-Authentication","email":"chuck630@example.com","given_name":"Chuck","family_name":"Sanchez","username":"test-user506","nickname":"Chucky","password":"Passwords hide their chuck","user_metadata":{"favourite_attack":"roundhouse_kick"},"verify_email":false,"app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]},"picture":"https://example-picture-url.jpg","blocked":false,"email_verified":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"blocked":false,"created_at":"2023-01-25T17:48:19.103Z","email":"chuck630@example.com","email_verified":true,"family_name":"Sanchez","given_name":"Chuck","identities":[{"connection":"Username-Password-Authentication","user_id":"63d16b633416c557f7d02a3c","provider":"auth0","isSocial":false}],"name":"chuck630@example.com","nickname":"Chucky","picture":"https://example-picture-url.jpg","updated_at":"2023-01-25T17:48:19.103Z","user_id":"auth0|63d16b633416c557f7d02a3c","user_metadata":{"favourite_attack":"roundhouse_kick"},"username":"test-user506","app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 222.688042ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Username-Password-Authentication&per_page=50
        method: GET
      response:
        body: '{"total":1,"start":0,"limit":50,"connections":[{"id":"con_ftSSLHb0O7rcUGmF","options":{"mfa":{"active":true,"return_enroll_settings":true},"validation":{"username":{"max":15,"min":1}},"import_mode":false,"configuration":{},"customScripts":{},"passwordPolicy":"good","password_history":{"size":5,"enable":false},"strategy_version":2,"requires_username":true,"password_dictionary":{"enable":false,"dictionary":[]},"brute_force_protection":true,"password_no_personal_info":{"enable":false},"password_complexity_options":{"min_length":8},"enabledDatabaseCustomization":false},"strategy":"auth0","name":"Username-Password-Authentication","is_domain_connection":false,"realms":["Username-Password-Authentication"],"enabled_clients":["x6JQCUgTHFxLjAUqJE7Fx2Iyud62IlhI","8IgJbmEeGNsF7A4GXnYaiO6hScFYMjAv","JjLnHphshQijjCMloEAHgJFRmI0EUpgE","ExUOsL33W3KwCF6eOHIlTJdlrCxr6CT9","rpj0to9e68MdNFAQCh3DmCWo81OvqK6c","oZGzW6Pcxf3rZdzSUPv8NlPA7ij7MlM1","Z3FKRhWMsXg7iwljDHcNtAkUnCRXYttO","uRWKdiFmUEC3Kohfpq4HKjgKe26ynMSj","3tjbn4dFI04fpHKnVlGs1GYDzQKIEmbF"]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 111.321041ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: "--8f1e39afd318bb401e8c54f52de61964f1e6d28cebe87ff0c71c5f559150\r\nContent-Disposition: form-data; name=\"connection_id\"\r\n\r\ncon_ftSSLHb0O7rcUGmF\r\n--8f1e39afd318bb401e8c54f52de61964f1e6d28cebe87ff0c71c5f559150\r\nContent-Disposition: form-data; name=\"upsert\"\r\n\r\nfalse\r\n--8f1e39afd318bb401e8c54f52de61964f1e6d28cebe87ff0c71c5f559150\r\nContent-Disposition: form-data; name=\"external_id\"\r\n\r\n\r\n--8f1e39afd318bb401e8c54f52de61964f1e6d28cebe87ff0c71c5f559150\r\nContent-Disposition: form-data; name=\"send_completion_email\"\r\n\r\nfalse\r\n--8f1e39afd318bb401e8c54f52de61964f1e6d28cebe87ff0c71c5f559150\r\nContent-Disposition: form-data; name=\"users\"; filename=\"users.json\"\r\nContent-Type: application/json\r\n\r\n[{\"email\":\"chuck630@example.com\",\"email_verified\":true}]\r\n--8f1e39afd318bb401e8c54f52de61964f1e6d28cebe87ff0c71c5f559150--\r\n"
        form: {}
        headers:
            Content-Type:
                - multipart/form-data; boundary=8f1e39afd318bb401e8c54f52de61964f1e6d28cebe87ff0c71c5f559150
        url: https://go-auth0-dev.eu.auth0.com/api/v2/jobs/users-imports
        method: POST
      response:
        body: '{"type":"users_import","status":"pending","connection_id":"con_ftSSLHb0O7rcUGmF","connection":"Username-Password-Authentication","created_at":"2023-01-25T17:48:19.680Z","id":"job_Msbc3YRyjuAREpPy"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 756.669042ms
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/jobs/job_Msbc3YRyjuAREpPy/errors
        method: GET
      response:
        body: '[{"user":{"email":"chuck630@example.com","email_verified":true},"errors":[{"code":"DUPLICATED_USER","message":"The user already exist and upsert parameter is false"}]}]'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 195.127125ms
    - id: 4
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C63d16b633416c557f7d02a3c
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 102.571083ms
