---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-rule","script":"function (user, context, callback) { callback(null, user, context); }","enabled":false}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/rules
        method: POST
      response:
        body: '{"id":"rul_Ln1AL2RnmmqogX5g","enabled":false,"script":"function (user, context, callback) { callback(null, user, context); }","name":"test-rule","order":1,"stage":"login_success"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 132.314333ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/rules/rul_Ln1AL2RnmmqogX5g
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 101.933541ms
