---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"app_id":"HTTP","name":"test-vault-connection"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/vault/connections
        method: POST
      response:
        body: '{"id":"ac_6t5kdaPvkcH3WQ6BnELSDa","app_id":"HTTP","name":"test-vault-connection","ready":false,"created_at":"2024-09-12T12:52:17.605Z","updated_at":"2024-09-12T12:52:17.605Z","refreshed_at":null,"fingerprint":"af9152e9fc291c0a4c364c8755753ad2"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 409.098667ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"new-connection-name"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/vault/connections/ac_6t5kdaPvkcH3WQ6BnELSDa
        method: PATCH
      response:
        body: '{"id":"ac_6t5kdaPvkcH3WQ6BnELSDa","app_id":"HTTP","name":"new-connection-name","ready":false,"created_at":"2024-09-12T12:52:17.605Z","updated_at":"2024-09-12T12:52:18.049Z","refreshed_at":null,"fingerprint":"6724a8a63ea2e97f62af6e378f93a0ba"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 411.437125ms
[...]
