---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"connection":"Username-Password-Authentication","email":"chuck253@example.com","given_name":"Chuck","family_name":"Sanchez","username":"test-user892","nickname":"Chucky","password":"Passwords hide their chuck","user_metadata":{"favourite_attack":"roundhouse_kick"},"verify_email":false,"app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]},"picture":"https://example-picture-url.jpg","blocked":false,"email_verified":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"blocked":false,"created_at":"2023-11-10T11:08:18.661Z","email":"chuck253@example.com","email_verified":true,"family_name":"Sanchez","given_name":"Chuck","identities":[{"connection":"Username-Password-Authentication","user_id":"654e0f2209d0e266cf0aa508","provider":"auth0","isSocial":false}],"name":"chuck253@example.com","nickname":"Chucky","picture":"https://example-picture-url.jpg","updated_at":"2023-11-10T11:08:18.661Z","user_id":"auth0|654e0f2209d0e266cf0aa508","user_metadata":{"favourite_attack":"roundhouse_kick"},"username":"test-user892","app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 500.39925ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-organization368","display_name":"Test Organization","branding":{"logo_url":"https://example.com/logo.gif"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"name":"test-organization368","display_name":"Test Organization","branding":{"logo_url":"https://example.com/logo.gif"},"id":"org_VvIJTfJhf3NwyCie"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 156.833458ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"members":["auth0|654e0f2209d0e266cf0aa508"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/organizations/org_VvIJTfJhf3NwyCie/members
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 136.61225ms
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C654e0f2209d0e266cf0aa508/organizations?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"organizations":[{"branding":{"logo_url":"https://example.com/logo.gif"},"id":"org_VvIJTfJhf3NwyCie","display_name":"Test Organization","name":"test-organization368"}],"start":0,"limit":50,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 150.128208ms
    - id: 4
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/organizations/org_VvIJTfJhf3NwyCie
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 141.614541ms
    - id: 5
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C654e0f2209d0e266cf0aa508
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 162.259ms
