---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-flow","description":"A test flow","synchronous":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows
        method: POST
      response:
        body: '{"id":"af_n31RZTvrURthW7c2aykugW","name":"test-flow","description":"A test flow","synchronous":true,"actions":[],"triggers":{"webhook":{"enabled":false,"secret":null}},"security":{"rateLimits":[]},"created_at":"2024-09-11T08:25:20.656Z","updated_at":"2024-09-11T08:25:20.656Z","executed_at":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 251.681ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"description":"Updated flow description test"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/af_n31RZTvrURthW7c2aykugW
        method: PATCH
      response:
        body: '{"id":"af_n31RZTvrURthW7c2aykugW","name":"test-flow","description":"Updated flow description test","synchronous":true,"actions":[],"triggers":{"webhook":{"secret":null,"enabled":false}},"security":{"rateLimits":[]},"created_at":"2024-09-11T08:25:20.656Z","updated_at":"2024-09-11T08:25:20.961Z","executed_at":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 292.765958ms
[...]
