---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: GET
      response:
        body: '{"allowed_logout_urls":["https://mycompany.org/logoutCallback"],"change_password":{"enabled":false,"html":"<html>Change Password</html>"},"default_audience":"","default_directory":"","default_redirection_uri":"https://mycompany.org/login","enabled_locales":["en"],"error_page":{"html":"<html>Error Page</html>","show_log_link":false,"url":""},"flags":{"allow_changing_enable_sso":false,"allow_legacy_delegation_grant_types":true,"allow_legacy_ro_grant_types":true,"change_pwd_flow_v1":false,"disable_impersonation":true,"disable_management_api_sms_obfuscation":true,"enable_apis_section":false,"enable_client_connections":true,"enable_custom_domain_in_emails":false,"enable_dynamic_client_registration":false,"enable_legacy_logs_search_v2":false,"enable_public_signup_user_exists_error":true,"enable_sso":true,"new_universal_login_experience_enabled":false,"universal_login":false,"use_scope_descriptions_for_consent":false,"no_disclose_enterprise_connections":false,"revoke_refresh_token_grant":false,"disable_fields_map_fix":true,"disable_clickjack_protection_headers":false,"enable_pipeline2":false},"friendly_name":"My Test Tenant","guardian_mfa_page":{"enabled":false,"html":"<html>MFA</html>"},"idle_session_lifetime":73,"picture_url":"https://mycompany.org/v1/logo.png","sandbox_version":"16","session_lifetime":168,"support_email":"support@mycompany.org","support_url":"https://mycompany.org/support","universal_login":{"colors":{"primary":"#0059d6","page_background":"#000000"}},"session_cookie":{"mode":"persistent"},"sandbox_versions_available":["16","12"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 631.25675ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"friendly_name":"My Example Tenant","support_email":"support@example.com","support_url":"https://support.example.com","allowed_logout_urls":["https://app.com/logout","http://localhost/logout"],"session_lifetime":1080,"idle_session_lifetime":720,"default_redirection_uri":"https://example.com/login","enabled_locales":["fr","en","es"],"session_cookie":{"mode":"non-persistent"}}
        form: {}
        h[...]
[...]
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"change_password":{"enabled":false,"html":"\u003chtml\u003eChange Password\u003c/html\u003e"},"guardian_mfa_page":{"enabled":false,"html":"\u003chtml\u003eMFA\u003c/html\u003e"},"default_audience":"","default_directory":"","error_page":{"html":"\u003chtml\u003eError Page\u003c/html\u003e","show_log_link":false,"url":""},"friendly_name":"My Test Tenant","picture_url":"https://mycompany.org/v1/logo.png"[...]
