---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"connection":"Username-Password-Authentication","email":"chuck45@example.com","given_name":"Chuck","family_name":"Sanchez","username":"test-user204","nickname":"Chucky","password":"Passwords hide their chuck","user_metadata":{"favourite_attack":"roundhouse_kick"},"verify_email":false,"app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]},"picture":"https://example-picture-url.jpg","blocked":false,"email_verified":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"blocked":false,"created_at":"2025-09-24T11:56:09.632Z","email":"chuck45@example.com","email_verified":true,"family_name":"Sanchez","given_name":"Chuck","identities":[{"connection":"Username-Password-Authentication","user_id":"68d3dc59e9de8a798f7b95d2","provider":"auth0","isSocial":false}],"name":"chuck45@example.com","nickname":"Chucky","picture":"https://example-picture-url.jpg","updated_at":"2025-09-24T11:56:09.632Z","user_id":"auth0|68d3dc59e9de8a798f7b95d2","user_metadata":{"favourite_attack":"roundhouse_kick"},"username":"test-user204","app_metadata":{"facts":["count_to_infinity_twice","kill_two_stones_with_one_bird","can_hear_sign_language"]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.187606208s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C68d3dc59e9de8a798f7b95d2/connected-accounts?take=50
        method: GET
      response:
        body: '{"connected_accounts":[{"id":"cac_bvbDn28uA7BmeX7xL8atZT","connection":"google-oauth2","access_type":"offline","scopes":["profile","email"],"created_at":"2023-01-15T10:30:00.000Z","expires_at":"2024-01-15T10:30:00.000Z"},{"id":"cac_bvbDn28uA7BmeX7xL8atZU","connection":"google-oauth2-work","access_type":"offline","scopes":["profile","email","https://www.googleapis.com/auth/calendar"],"created_at":"2023-02-01T14:45:00.000Z","expires_at":"2024-02-01T14:45:00.000Z"},{"id":"cac_bvbDn28uA7BmeX7xL8atZV","connection":"google-workspace","access_type":"offline","scopes":["profile","email","https://www.googleapis.com/auth/drive"],"created_at":"2023-02-15T09:20:00.000Z","expires_at":"2024-02-15T0[...]
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C68d3dc59e9de8a798f7b95d2
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 439.016417ms
