---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/logs?page=1&per_page=5
        method: GET
      response:
        body: '[{"date":"2023-01-25T17:49:09.692Z","type":"sapi","description":"Create a log stream","client_id":"3tjbn4dFI04fpHKnVlGs1GYDzQKIEmbF","client_name":"","ip":"90.166.243.57","user_agent":"Other 0.0.0 / Other 0.0.0","details":{"request":{"method":"post","path":"/api/v2/log-streams","query":{},"userAgent":"Go-Auth0-SDK/latest","body":{"name":"Test-LogStream-1674668511","type":"sumo","sink":{"sumoSourceAddress":"https://example.com"}},"channel":"api","ip":"90.166.243.57","auth":{"user":{},"strategy":"jwt","credentials":{}}},"response":{"statusCode":200,"body":{"id":"lst_0000000000011646","name":"Test-LogStream-1674668511","type":"sumo","sink":{"sumoSourceAddress":"https://example.com"}}}},"log_id":"90020230125174911517956897028748113047822407136570245170","_id":"90020230125174911517956897028748113047822407136570245170","isMobile":false},{"date":"2023-01-25T17:49:08.464Z","type":"sapi","description":"Delete log stream","client_id":"3tjbn4dFI04fpHKnVlGs1GYDzQKIEmbF","client_name":"","ip":"90.166.243.57","user_agent":"Other 0.0.0 / Other 0.0.0","details":{"request":{"method":"delete","path":"/api/v2/log-streams/lst_0000000000011643","query":{},"userAgent":"Go-Auth0-SDK/latest","body":{},"channel":"api","ip":"90.166.243.57","auth":{"user":{},"strategy":"jwt","credentials":{}}},"response":{"statusCode":204,"body":{}}},"log_id":"90020230125174911195244741572462619216896253190771572818","_id":"90020230125174911195244741572462619216896253190771572818","isMobile":false},{"date":"2023-01-25T17:49:09.360Z","type":"sapi","description":"Delete log stream","client_id":"3tjbn4dFI04fpHKnVlGs1GYDzQKIEmbF","client_name":"","ip":"90.166.243.57","user_agent":"Other 0.0.0 / Other 0.0.0","details":[...]
{"request":{"method":"delete","path":"/api/v2/log-streams/lst_0000000000011641","query":{},"userAgent":"Go-Auth0-SDK/latest","body":{},"channel":"api","ip":"90.166.243.57","auth":{"user":{},"strategy":"jwt","credentials":{}}},"response":{"statusCode":204,"body":{}}},"log_id":"90020230125174906292999107184141827692878358823194067042","_id":"90020230125174906292999107184141827692878358823194067042","isMobile":false}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 114.053958ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/logs/90020230125174911517956897028748113047822407136570245170
        method: GET
      response:
        body: '{"date":"2023-01-25T17:49:09.692Z","type":"sapi","description":"Create a log stream","client_id":"3tjbn4dFI04fpHKnVlGs1GYDzQKIEmbF","client_name":"","ip":"90.166.243.57","user_agent":"Other 0.0.0 / Other 0.0.0","details":[...]
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/logs?per_page=5&q=type%3A%22sapi%22
        method: GET
      response:
        body: '[{"date":"2023-01-25T17:49:09.107Z","type":"sapi","description":"Delete log stream","client_id":"3tjbn4dFI04fpHKnVlGs1GYDzQKIEmbF","client_name":"","ip":"90.166.243.57","user_agent":"Other 0.0.0 / Other 0.0.0","details":[...]
{"request":{"method":"post","path":"/api/v2/log-streams","query":{},"userAgent":"Go-Auth0-SDK/latest","body":{"name":"Test-LogStream-1674668511","type":"splunk","sink":{"splunkDomain":"demo.splunk.com"}},"channel":"api","ip":"90.166.243.57","auth":{"user":{},"strategy":"jwt","credentials":{}}},"response":{"statusCode":200,"body":{"id":"lst_0000000000011645","name":"Test-LogStream-1674668511","type":"splunk","sink":{"splunkDomain":"demo.splunk.com"}}}},"log_id":"90020230125174912019503351092186835631483766884800659522","_id":"90020230125174912019503351092186835631483766884800659522","isMobile":false},{"date":"2023-01-25T17:49:08.799Z","type":"sapi","description":"Create a log stream","client_id":"3tjbn4dFI04fpHKnVlGs1GYDzQKIEmbF","client_name":"","ip":"90.166.243.57","user_agent":"Other 0.0.0 / Other 0.0.0","details":[...]
