---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"domain":"1746693333416853000.tempdomain.com","type":"auth0_managed_certs","tls_policy":"recommended","domain_metadata":{"key":"value"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains
        method: POST
      response:
        body: '{"custom_domain_id":"cd_dfcjGmzdZX3SY8gE","domain":"1746693333416853000.tempdomain.com","primary":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"go-auth0-dev.eu.auth0.com-cd-dfcjgmzdzx3sy8ge.edge.tenants.us.auth0.com","domain":"1746693333416853000.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key":"value"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 448.738042ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_dfcjGmzdZX3SY8gE
        method: GET
      response:
        body: '{"custom_domain_id":"cd_dfcjGmzdZX3SY8gE","domain":"1746693333416853000.tempdomain.com","primary":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"go-auth0-dev.eu.auth0.com-cd-dfcjgmzdzx3sy8ge.edge.tenants.us.auth0.com","domain":"1746693333416853000.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key":"value"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 333.477584ms
[...]
