---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"app_id":"HTTP","name":"test-vault-connection"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/vault/connections
        method: POST
      response:
        body: '{"id":"ac_faf7YF2FwNxHdXT8BCnJih","app_id":"HTTP","name":"test-vault-connection","ready":false,"created_at":"2024-09-12T12:52:18.770Z","updated_at":"2024-09-12T12:52:18.770Z","refreshed_at":null,"fingerprint":"afdcf7ae0431402bd79eb8a4f3bc3f4a"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 327.585875ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/vault/connections/ac_faf7YF2FwNxHdXT8BCnJih
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 366.0705ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/flows/vault/connections/ac_faf7YF2FwNxHdXT8BCnJih
        method: DELETE
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"Connection not found"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 325.472834ms
