---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/log-streams
        method: GET
      response:
        body: '[{"id":"lst_0000000000001960","name":"stream1","type":"sumo","status":"suspended","sink":{"sumoSourceAddress":"sumoaourceaddresshere"},"isPriority":false}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 876.122875ms
