---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Client ThirdPartyClientAccess (Aug 26 17:32:29.453)","description":"Client with my_organization_configuration.third_party_client_access.","my_organization_configuration":{"allowed_strategies":["okta"],"connection_deletion_behavior":"allow","third_party_client_access":{"default_value":"block","allowed_values":["allow","block"]}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Test Client ThirdPartyClientAccess (Aug 26 17:32:29.453)","description":"Client with my_organization_configuration.third_party_client_access.","client_id":"I7EwZ84QCNypGQGzjqHG3QK0SD8Yhkln","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"my_organization_configuration":{"allowed_strategies":["okta"],"connection_deletion_behavior":"allow","third_party_client_access":{"default_value":"block","allowed_values":["allow","block"]}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.125675417s
[...]
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/clients/I7EwZ84QCNypGQGzjqHG3QK0SD8Yhkln
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 379.318625ms
