---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/custom-domains/default
        method: GET
      response:
        body: '{"custom_domain_id":"cd_iIbzL46jkFFkSuXf","domain":"1769586907952489000.tempdomain.com","primary":true,"is_default":true,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"go-auth0-dev.eu.auth0.com-cd-iibzl46jkffksuxf.edge.tenants.us.auth0.com","domain":"1769586907952489000.tempdomain.com"}],"status":"pending"},"tls_policy":"recommended","domain_metadata":{"key":"value"},"certificate":{"certificate_authority":"letsencrypt"},"created_at":"2026-01-28T07:55:08.292Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 368.16175ms
