---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: client_id=test-client_id&grant_type=refresh_token&refresh_token=test-refresh-token&scope=openid+profile+test-scope
        form:
            client_id:
                - test-client_id
            grant_type:
                - refresh_token
            refresh_token:
                - test-refresh-token
            scope:
                - openid profile
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://go-auth0-dev.eu.auth0.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"test-access-token","expires_in":86400,"token_type":"Bearer","scope":"openid profile offline_access","refresh_token":"test-refresh-token"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 188.872875ms
