---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: '{"client_id":"test-client_id","audience":"https://api.example.com","otp":"123456","username":"+123456789","grant_type":"http://auth0.com/oauth/grant-type/passwordless/otp","realm":"sms","scope":"openid profile email offline_access"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"test-access-token","expires_in":86400,"refresh_token":"test-refresh-token","token_type":"Bearer"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 328.364125ms
