---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/mfa/authenticators
        method: GET
      response:
        body: '[{"id":"sms|dev_klnv5yshzzoosSUm","authenticator_type":"oob","active":false,"oob_channel":"sms","name":"XXXXXXXXX9167"},{"id":"recovery-code|dev_i1kgKoFSZLbPt6G1","authenticator_type":"recovery-code","active":false},{"id":"push|dev_BBTKYpxKHOXVBnql","authenticator_type":"oob","active":false,"oob_channel":"auth0"},{"id":"totp|dev_WzMZ2sZbUw1wbC2F","authenticator_type":"otp","active":false},{"id":"totp|dev_wLdxko6pjg6ziKL9","authenticator_type":"otp","active":false},{"id":"email|dev_hdkmORJuqOmjRRQU","authenticator_type":"oob","active":true,"oob_channel":"email","name":"****@exam*******"}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 324.845792ms
