---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: '{"client_id":"test-client_id","connection":"Username-Password-Authentication","email":"not-an-email","allow_signup":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/otp/challenge
        method: POST
      response:
        body: '{"error":"invalid_request","error_description":"Invalid email format","validation_errors":[{"field":"email","message":"Invalid email format"}]}'
        headers:
            Content-Type:
                - application/json
        status: 400 Bad Request
        code: 400
        duration: 312.5ms
