---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: '{"client_id":"test-client_id","connection":"sms","phone_number":"+123456789"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/passwordless/start
        method: POST
      response:
        body: '{"_id":"6492b5a75bedeae7449299fa","phone_number":"+123456789","phone_verified":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 546.050417ms
