---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: '{"client_id":"test-client_id","connection":"Username-Password-Authentication","password":"mypassword","username":"mytestaccount"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/dbconnections/signup
        method: POST
      response:
        body: '{"_id":"668fbaac724b1bf53b436693","username":"mytestaccount"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 743.526708ms
