---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers: {}
        url: https://go-auth0-dev.eu.auth0.com/userinfo
        method: GET
      response:
        body: '{"sub":"test-sub","nickname":"test-user","name":"test-user@example.com","picture":"https://s.gravatar.com/avatar/3664adb7d1eea0bd7d0b134577663889?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2023-06-14T21:36:26.399Z","email":"test-user@example.com","email_verified":true,"unknown-param":"test-value"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 180.613667ms
