---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: '{"client_id":"test-client_id","connection":"Username-Password-Authentication","password":"mypassword","phone_number":"+12345678900","username":"mytestaccount"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/dbconnections/signup
        method: POST
      response:
        body: '{"_id":"668fbab0ca9ad18c8c5c4bf2","username":"mytestaccount","phone_number":"+12345678900","phone_verified":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 468.674292ms
