---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: '{"client_id":"test-client_id","connection":"Username-Password-Authentication","email":"mytestaccount@example.com","password":"mypassword"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/dbconnections/signup
        method: POST
      response:
        body: '{"_id":"668fbaab724b1bf53b436691","email":"mytestaccount@example.com","email_verified":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 498.375417ms
