---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: '{"client_id":"test-client_id","email":"mytestaccount@example.com","password":"mypassword","connection":"Username-Password-Authentication","username":"mytestaccount"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/dbconnections/signup
        method: POST
      response:
        body: '{"_id":"6486fc52049355c8fda30e21","email_verified":false,"email":"mytestaccount@example.com","username":"mytestaccount","app_metadata":{},"user_metadata":{}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 365.410542ms
