---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: client_id=test-client_id&grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Atoken-exchange&subject_token=test-external-token&subject_token_type=urn%3Aexample%3Alegacy-idp-token
        form:
            client_id:
                - test-client_id
            grant_type:
                - urn:ietf:params:oauth:grant-type:token-exchange
            subject_token:
                - test-external-token
            subject_token_type:
                - urn:example:legacy-idp-token
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://go-auth0-dev.eu.auth0.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"test-access-token","expires_in":86400,"scope":"openid profile email","token_type":"Bearer"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 1ms
