---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: client_id=test-client_id&client_secret=test-client_secret&code=my-code&grant_type=authorization_code
        form:
            client_id:
                - test-client_id
            client_secret:
                - test-client_secret
            code:
                - my-code
            grant_type:
                - authorization_code
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://go-auth0-dev.eu.auth0.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"test-access-token","expires_in":86400,"id_token":"test-id-token","token_type":"Bearer"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 174.818584ms
