---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Email-Connection-1714039292","strategy":"email"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_RBiLlSz3urXl5DtS","options":{"brute_force_protection":true},"strategy":"email","name":"Test-Email-Connection-1714039292","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Email-Connection-1714039292"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 297.275209ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"options":{"name":"Test-Connection-Email","email":{"syntax":"liquid","from":"{{application.name}} \u003ctest@example.com\u003e","subject":"Email Login - {{application.name}}","body":"\u003chtml\u003e\u003cbody\u003eemail contents\u003c/body\u003e\u003c/html\u003e"},"totp":{"time_step":100,"length":4},"authParams":{"scope":"openid profile"},"disable_signup":true,"brute_force_protection":true,"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_RBiLlSz3urXl5DtS
        method: PATCH
      response:
        body: '{"id":"con_RBiLlSz3urXl5DtS","options":{"name":"Test-Connection-Email","totp":{"length":4,"time_step":100},"email":{"body":"<html><body>email contents</body></html>","from":"{{application.name}} <test@example.com>","syntax":"liquid","subject":"Email Login - {{application.name}}"},"authParams":[...]
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_RBiLlSz3urXl5DtS
        method: DELETE
      response:
        body: '{"deleted_at":"2024-04-25T10:01:38.208Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 955.824208ms
