---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-SalesForce-Connection-1728906681","strategy":"salesforce"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_CztEt7OuiH6f4slo","options":{"scope":[]},"strategy":"salesforce","name":"Test-SalesForce-Connection-1728906681","is_domain_connection":false,"enabled_clients":[],"realms":["Test-SalesForce-Connection-1728906681"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 347.0125ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"options":{"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_CztEt7OuiH6f4slo
        method: PATCH
      response:
        body: '{"id":"con_CztEt7OuiH6f4slo","options":[...]
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_CztEt7OuiH6f4slo
        method: DELETE
      response:
        body: '{"deleted_at":"2024-10-14T11:52:56.978Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 323.858917ms
