---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-GoogleOAuth2-Connection-1747381128","strategy":"google-oauth2"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_AFHDSGgOtfOyLwRT","options":{"email":true,"profile":true,"scope":["email","profile"]},"strategy":"google-oauth2","name":"Test-GoogleOAuth2-Connection-1747381128","is_domain_connection":false,"enabled_clients":[],"realms":["Test-GoogleOAuth2-Connection-1747381128"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 383.922541ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"options":{"profile":true,"calendar":true,"youtube":false,"upstream_params":{"screen_name":{"alias":"login_hint"}},"allowed_audiences":["example.com","api.example.com"]}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_AFHDSGgOtfOyLwRT
        method: PATCH
      response:
        body: '{"id":"con_AFHDSGgOtfOyLwRT","options":{"email":true,"scope":["profile","https://www.googleapis.com/auth/calendar","email"],"profile":true,"youtube":false,"calendar":true,"upstream_params":{"screen_name":{"alias":"login_hint"}},"allowed_audiences":["example.com","api.example.com"]},"strategy":"google-oauth2","name":"Test-GoogleOAuth2-Connection-1747381128","is_domain_connection":false,"enabled_clients":[],"realms":["Test-GoogleOAuth2-Connection-1747381128"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 384.446459ms
[...]
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_AFHDSGgOtfOyLwRT
        method: DELETE
      response:
        body: '{"deleted_at":"2025-05-16T07:38:53.535Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 520.680875ms
