---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-AD-Connection-1674668511","strategy":"ad"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_K5yV8wcNOae1TEtP","options":{"ips":null,"brute_force_protection":true},"strategy":"ad","name":"Test-AD-Connection-1674668511","provisioning_ticket_url":"https://go-auth0-dev.eu.auth0.com.eu.auth0.com/p/ad/KjSJXUxJmhHkEdnBrXOPNC0ZUQ8Duiuz","is_domain_connection":false,"show_as_button":false,"enabled_clients":[],"realms":["Test-AD-Connection-1674668511"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 135.522666ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"options":{"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_K5yV8wcNOae1TEtP
        method: PATCH
      response:
        body: '{"id":"con_K5yV8wcNOae1TEtP","options":{"ips":null,"upstream_params":{"screen_name":{"alias":"login_hint"}}},"strategy":"ad","name":"Test-AD-Connection-1674668511","provisioning_ticket_url":"https://go-auth0-dev.eu.auth0.com.eu.auth0.com/p/ad/KjSJXUxJmhHkEdnBrXOPNC0ZUQ8Duiuz","is_domain_connection":false,"show_as_button":false,"enabled_clients":[],"realms":["Test-AD-Connection-1674668511"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 213.811666ms
[...]
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_K5yV8wcNOae1TEtP
        method: DELETE
      response:
        body: '{"deleted_at":"2023-01-25T17:45:18.850Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 179.288042ms
