---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-WindowsLive-Connection-1713861888","strategy":"windowslive"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_1LYYq46YuJqfNIBT","options":{"signin":true,"scope":["wl.signin"]},"strategy":"windowslive","name":"Test-WindowsLive-Connection-1713861888","is_domain_connection":false,"enabled_clients":[],"realms":["Test-WindowsLive-Connection-1713861888"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 383.215541ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"options":{"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_1LYYq46YuJqfNIBT
        method: PATCH
      response:
        body: '{"id":"con_1LYYq46YuJqfNIBT","options":[...]
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_1LYYq46YuJqfNIBT
        method: DELETE
      response:
        body: '{"deleted_at":"2024-04-23T08:45:12.556Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 390.783042ms
