---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Facebook-Connection-1714473349","strategy":"facebook"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_XjRQTRVnj4CIqfZt","options":{"scope":""},"strategy":"facebook","name":"Test-Facebook-Connection-1714473349","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Facebook-Connection-1714473349"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 337.285667ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"options":{"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_XjRQTRVnj4CIqfZt
        method: PATCH
      response:
        body: '{"id":"con_XjRQTRVnj4CIqfZt","options":[...]
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_XjRQTRVnj4CIqfZt
        method: DELETE
      response:
        body: '{"deleted_at":"2024-04-30T10:36:10.070Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 6.617861667s
