---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Wordpress-Connection-1726765770","strategy":"wordpress"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_cPRZCuO6ad6Y3rEZ","options":{"profile":true,"scope":["profile"]},"strategy":"wordpress","name":"Test-Wordpress-Connection-1726765770","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Wordpress-Connection-1726765770"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 151.118542ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"options":{"strategy_version":2,"authorizationURL":null,"tokenURL":null,"upstream_params":{"screen_name":{"alias":"login_hint"}},"scope":["email","profile","openid"]}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_cPRZCuO6ad6Y3rEZ
        method: PATCH
      response:
        body: '{"id":"con_cPRZCuO6ad6Y3rEZ","options":[...]
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_cPRZCuO6ad6Y3rEZ
        method: GET
      response:
        body: '{"id":"con_cPRZCuO6ad6Y3rEZ","options":[...]
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_cPRZCuO6ad6Y3rEZ
        method: DELETE
      response:
        body: '{"deleted_at":"2024-09-19T17:11:31.094Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 174.969625ms
