---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-AD-Connection-1747381128","strategy":"ad"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_owW765dlcbVqIjK5","options":{"ips":null,"brute_force_protection":true},"strategy":"ad","name":"Test-AD-Connection-1747381128","provisioning_ticket_url":"https://go-auth0-dev.eu.auth0.com.us.auth0.com/p/ad/SYz4p8fMyctsmpqmOKfenyQJNm8ZEBl5","is_domain_connection":false,"show_as_button":false,"enabled_clients":[],"realms":["Test-AD-Connection-1747381128"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 402.682125ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"options":{"strategy_version":2,"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_owW765dlcbVqIjK5
        method: PATCH
      response:
        body: '{"id":"con_owW765dlcbVqIjK5","options":{"ips":null,"upstream_params":{"screen_name":{"alias":"login_hint"}},"strategy_version":2},"strategy":"ad","name":"Test-AD-Connection-1747381128","provisioning_ticket_url":"https://go-auth0-dev.eu.auth0.com.us.auth0.com/p/ad/SYz4p8fMyctsmpqmOKfenyQJNm8ZEBl5","is_domain_connection":false,"show_as_button":false,"enabled_clients":[],"realms":["Test-AD-Connection-1747381128"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 410.791417ms
[...]
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_owW765dlcbVqIjK5
        method: DELETE
      response:
        body: '{"deleted_at":"2025-05-16T07:39:01.502Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 347.497833ms
