---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-LinkedIn-Connection-1728906681","strategy":"linkedin"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_EPWXONCkLtw51A9u","options":{"profile":true,"scope":["r_basicprofile"]},"strategy":"linkedin","name":"Test-LinkedIn-Connection-1728906681","is_domain_connection":false,"enabled_clients":[],"realms":["Test-LinkedIn-Connection-1728906681"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 328.253959ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"options":{"strategy_version":2,"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_EPWXONCkLtw51A9u
        method: PATCH
      response:
        body: '{"id":"con_EPWXONCkLtw51A9u","options":[...]
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_EPWXONCkLtw51A9u
        method: DELETE
      response:
        body: '{"deleted_at":"2024-10-14T11:52:52.986Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 321.97475ms
