---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Apple-Connection-1747381128","strategy":"apple"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_9mrGy0Kr8HK3UkK8","options":{},"strategy":"apple","name":"Test-Apple-Connection-1747381128","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Apple-Connection-1747381128"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 379.385542ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"options":{"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_9mrGy0Kr8HK3UkK8
        method: PATCH
      response:
        body: '{"id":"con_9mrGy0Kr8HK3UkK8","options":{"upstream_params":{"screen_name":{"alias":"login_hint"}}},"strategy":"apple","name":"Test-Apple-Connection-1747381128","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Apple-Connection-1747381128"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 379.278625ms
[...]
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_9mrGy0Kr8HK3UkK8
        method: DELETE
      response:
        body: '{"deleted_at":"2025-05-16T07:39:04.672Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 406.487583ms
