---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-SalesForce-Connection-1714380842","strategy":"salesforce"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_vEty4aDoXzZ1tkqv","options":{"scope":[]},"strategy":"salesforce","name":"Test-SalesForce-Connection-1714380842","is_domain_connection":false,"enabled_clients":[],"realms":["Test-SalesForce-Connection-1714380842"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 351.100541ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"options":{"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_vEty4aDoXzZ1tkqv
        method: PATCH
      response:
        body: '{"id":"con_vEty4aDoXzZ1tkqv","options":[...]
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_vEty4aDoXzZ1tkqv
        method: DELETE
      response:
        body: '{"deleted_at":"2024-04-29T08:54:31.049Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 337.658375ms
