---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Facebook-Connection-1674668511","strategy":"facebook"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_Gg4Yt0GbYiNPIh9B","options":{"scope":""},"strategy":"facebook","name":"Test-Facebook-Connection-1674668511","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Facebook-Connection-1674668511"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 122.856458ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"options":{"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_Gg4Yt0GbYiNPIh9B
        method: PATCH
      response:
        body: '{"id":"con_Gg4Yt0GbYiNPIh9B","options":[...]
