---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-LinkedIn-Connection-1726595088","strategy":"linkedin"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_QM7CLbgaiNG7jIa2","options":{"profile":true,"scope":["r_basicprofile"]},"strategy":"linkedin","name":"Test-LinkedIn-Connection-1726595088","is_domain_connection":false,"enabled_clients":[],"realms":["Test-LinkedIn-Connection-1726595088"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 6.306040542s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"options":{"strategy_version":2,"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_QM7CLbgaiNG7jIa2
        method: PATCH
      response:
        body: '{"id":"con_QM7CLbgaiNG7jIa2","options":[...]
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_QM7CLbgaiNG7jIa2
        method: DELETE
      response:
        body: '{"deleted_at":"2024-09-17T17:47:28.092Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 151.005334ms
