---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-SalesForce-Connection-1674668511","strategy":"salesforce"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_kux0PbGgPfxwYITb","options":{"scope":[]},"strategy":"salesforce","name":"Test-SalesForce-Connection-1674668511","is_domain_connection":false,"enabled_clients":[],"realms":["Test-SalesForce-Connection-1674668511"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 153.522292ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"options":{"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_kux0PbGgPfxwYITb
        method: PATCH
      response:
        body: '{"id":"con_kux0PbGgPfxwYITb","options":[...]
