---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-SalesForce-Connection-1747381128","strategy":"salesforce"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_iNgeI7Jxisz52Kbr","options":{"scope":[]},"strategy":"salesforce","name":"Test-SalesForce-Connection-1747381128","is_domain_connection":false,"enabled_clients":[],"realms":["Test-SalesForce-Connection-1747381128"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 360.681167ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"options":{"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_iNgeI7Jxisz52Kbr
        method: PATCH
      response:
        body: '{"id":"con_iNgeI7Jxisz52Kbr","options":[...]
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_iNgeI7Jxisz52Kbr
        method: DELETE
      response:
        body: '{"deleted_at":"2025-05-16T07:39:14.242Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 388.777625ms
