---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-GitHub-Connection-1714039292","strategy":"github"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_CP8FLjqc8XFBUREC","options":{"scope":[]},"strategy":"github","name":"Test-GitHub-Connection-1714039292","is_domain_connection":false,"enabled_clients":[],"realms":["Test-GitHub-Connection-1714039292"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 927.687875ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"options":{"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_CP8FLjqc8XFBUREC
        method: PATCH
      response:
        body: '{"id":"con_CP8FLjqc8XFBUREC","options":[...]
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_CP8FLjqc8XFBUREC
        method: DELETE
      response:
        body: '{"deleted_at":"2024-04-25T10:01:52.516Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 351.685416ms
