---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Apple-Connection-1713861888","strategy":"apple"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_KwjQZt1myG9FB6D1","options":{},"strategy":"apple","name":"Test-Apple-Connection-1713861888","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Apple-Connection-1713861888"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 471.870833ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"options":{"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_KwjQZt1myG9FB6D1
        method: PATCH
      response:
        body: '{"id":"con_KwjQZt1myG9FB6D1","options":{"upstream_params":{"screen_name":{"alias":"login_hint"}}},"strategy":"apple","name":"Test-Apple-Connection-1713861888","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Apple-Connection-1713861888"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 344.131833ms
[...]
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_KwjQZt1myG9FB6D1
        method: DELETE
      response:
        body: '{"deleted_at":"2024-04-23T08:45:02.709Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 397.289083ms
