---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Wordpress-Connection-1741359670","strategy":"wordpress"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_pRqhueikoVpWweKV","options":{"profile":true,"scope":["profile"]},"strategy":"wordpress","name":"Test-Wordpress-Connection-1741359670","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Wordpress-Connection-1741359670"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.008415083s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"options":{"strategy_version":2,"authorizationURL":null,"tokenURL":null,"upstream_params":{"screen_name":{"alias":"login_hint"}},"custom_headers":{"X-Auth0-Client":"my-client"},"scope":["email","profile","openid"]}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_pRqhueikoVpWweKV
        method: PATCH
      response:
        body: '{"id":"con_pRqhueikoVpWweKV","options":[...]
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_pRqhueikoVpWweKV
        method: GET
      response:
        body: '{"id":"con_pRqhueikoVpWweKV","options":[...]
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_pRqhueikoVpWweKV
        method: DELETE
      response:
        body: '{"deleted_at":"2025-03-07T15:01:12.639Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 406.49425ms
