---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-LinkedIn-Connection-1714039292","strategy":"linkedin"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_oziq1YEBqFiBR92e","options":{"profile":true,"scope":["r_basicprofile"]},"strategy":"linkedin","name":"Test-LinkedIn-Connection-1714039292","is_domain_connection":false,"enabled_clients":[],"realms":["Test-LinkedIn-Connection-1714039292"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 307.984875ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"options":{"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_oziq1YEBqFiBR92e
        method: PATCH
      response:
        body: '{"id":"con_oziq1YEBqFiBR92e","options":[...]
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_oziq1YEBqFiBR92e
        method: DELETE
      response:
        body: '{"deleted_at":"2024-04-25T10:01:48.488Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 1.044783292s
