---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-SalesForce-Connection-1713861888","strategy":"salesforce"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_Zab9JIzH4LEcAW03","options":{"scope":[]},"strategy":"salesforce","name":"Test-SalesForce-Connection-1713861888","is_domain_connection":false,"enabled_clients":[],"realms":["Test-SalesForce-Connection-1713861888"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 391.866459ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"options":{"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_Zab9JIzH4LEcAW03
        method: PATCH
      response:
        body: '{"id":"con_Zab9JIzH4LEcAW03","options":[...]
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_Zab9JIzH4LEcAW03
        method: DELETE
      response:
        body: '{"deleted_at":"2024-04-23T08:45:13.980Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 392.426791ms
