---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-SMS-Connection-1714039292","strategy":"sms"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_pi37EtqyVqePsI4f","options":{"brute_force_protection":true},"strategy":"sms","name":"Test-SMS-Connection-1714039292","is_domain_connection":false,"enabled_clients":[],"realms":["Test-SMS-Connection-1714039292"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.795596666s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"options":{"name":"Test-Connection-SMS","from":"+17777777777","syntax":"liquid","template":"Your verification code is { code }}","totp":{"time_step":110,"length":5},"authParams":{"scope":"openid profile"},"twilio_sid":"abc132asdfasdf56","twilio_token":"234127asdfsada23","messaging_service_sid":"273248090982390423","disable_signup":true,"brute_force_protection":true,"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_pi37EtqyVqePsI4f
        method: PATCH
      response:
        body: '{"id":"con_pi37EtqyVqePsI4f","options":{"from":"+17777777777","name":"Test-Connection-SMS","totp":{"length":5,"time_step":110},"syntax":"liquid","template":"Your verification code is { code }}","authParams":[...]
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_pi37EtqyVqePsI4f
        method: DELETE
      response:
        body: '{"deleted_at":"2024-04-25T10:01:41.588Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 313.56ms
