---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Line-Connection-1768388449","strategy":"line"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_awGzV9G0Jf63RRS6","options":{"profile":true,"scope":["openid","profile"]},"strategy":"line","name":"Test-Line-Connection-1768388449","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"enabled_clients":[],"realms":["Test-Line-Connection-1768388449"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 902.236875ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"options":{"client_id":"line_client_id","client_secret":"line_client_secret","authorizationURL":null,"tokenURL":null,"upstream_params":{"screen_name":{"alias":"login_hint"}},"email":true,"scope":["profile","openid","email"]}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_awGzV9G0Jf63RRS6
        method: PATCH
      response:
        body: '{"id":"con_awGzV9G0Jf63RRS6","options":{"email":true,"scope":["openid","email","profile"],"profile":true,"tokenURL":null,"client_id":"line_client_id","client_secret":"line_client_secret","upstream_params":{"screen_name":{"alias":"login_hint"}},"authorizationURL":null},"strategy":"line","name":"Test-Line-Connection-1768388449","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"enabled_clients":[],"realms":["Test-Line-Connection-1768388449"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 436.360459ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_awGzV9G0Jf63RRS6
        method: GET
      response:
        body: '{"id":"con_awGzV9G0Jf63RRS6","options":{"email":true,"scope":["openid","email","profile"],"profile":true,"client_id":"line_client_id","client_secret":"line_client_secret","upstream_params":{"screen_name":{"alias":"login_hint"}}},"strategy":"line","name":"Test-Line-Connection-1768388449","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"enabled_clients":[],"realms":["Test-Line-Connection-1768388449"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 367.194625ms
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_awGzV9G0Jf63RRS6
        method: DELETE
      response:
        body: '{"deleted_at":"2026-01-14T11:00:51.111Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 373.431625ms
