---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-AD-Connection-1713861888","strategy":"ad"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_W4ueOvcW3faH3cp1","options":{"ips":null,"brute_force_protection":true},"strategy":"ad","name":"Test-AD-Connection-1713861888","provisioning_ticket_url":"https://go-auth0-dev.eu.auth0.com.us.auth0.com/p/ad/KWBNBlVn4sLizsg5izyA1T0M2ZnOD0yz","is_domain_connection":false,"show_as_button":false,"enabled_clients":[],"realms":["Test-AD-Connection-1713861888"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 382.260708ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"options":{"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_W4ueOvcW3faH3cp1
        method: PATCH
      response:
        body: '{"id":"con_W4ueOvcW3faH3cp1","options":{"ips":null,"upstream_params":{"screen_name":{"alias":"login_hint"}}},"strategy":"ad","name":"Test-AD-Connection-1713861888","provisioning_ticket_url":"https://go-auth0-dev.eu.auth0.com.us.auth0.com/p/ad/KWBNBlVn4sLizsg5izyA1T0M2ZnOD0yz","is_domain_connection":false,"show_as_button":false,"enabled_clients":[],"realms":["Test-AD-Connection-1713861888"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 359.775083ms
[...]
    - id: 3
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_W4ueOvcW3faH3cp1
        method: DELETE
      response:
        body: '{"deleted_at":"2024-04-23T08:44:59.596Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 359.272041ms
