---
version: 1
interactions:
- request:
    body: |
      {"name":"Test-LogStream-1654521050","type":"eventbridge","sink":{"awsAccountId":"999999999999","awsRegion":"us-west-2"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/log-streams
    method: POST
  response:
    body: '{"id":"lst_0000000000009095","name":"Test-LogStream-1654521050","type":"eventbridge","status":"active","sink":{"awsAccountId":"999999999999","awsRegion":"us-west-2","awsPartnerEventSource":"aws.partner/auth0.com/go-auth0-dev-9406e432-7cae-405e-90c0-eca572fec37d/auth0.logs"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000009095
    method: DELETE
  response:
    body: ""
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 204 No Content
    code: 204
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000009095
    method: GET
  response:
    body: '{"statusCode":404,"error":"Not Found","message":"The log stream does not
      exist."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 404 Not Found
    code: 404
    duration: 1ms
[...]
