---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Auth0-Connection-RequireUsername-1726595088","strategy":"auth0","options":{"requires_username":true,"precedence":["username","email","phone_number"]}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_X0nARj0toNVhp3D9","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","requires_username":true,"precedence":["username","email","phone_number"],"strategy_version":2,"authentication_methods":{"password":{"enabled":true},"passkey":{"enabled":false}},"passkey_options":{"challenge_ui":"both","progressive_enrollment_enabled":true,"local_enrollment_enabled":true},"brute_force_protection":true},"strategy":"auth0","name":"Test-Auth0-Connection-RequireUsername-1726595088","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Auth0-Connection-RequireUsername-1726595088"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 168.100875ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_X0nARj0toNVhp3D9
        method: DELETE
      response:
        body: '{"deleted_at":"2024-09-17T17:45:09.369Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 173.135917ms
