---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Auth0-Connection-PasswordOptions-ProfileData-1736241923","strategy":"auth0","options":{"password_options":{"profile_data":{"active":true,"blocked_fields":["name","username","email"]}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_PasswordProfile1234","options":{"password_options":{"profile_data":{"active":true,"blocked_fields":["name","username","email"]}},"mfa":{"active":true,"return_enroll_settings":true},"strategy_version":2,"authentication_methods":{"password":{"enabled":true},"passkey":{"enabled":false}},"passkey_options":{"challenge_ui":"both","progressive_enrollment_enabled":true,"local_enrollment_enabled":true},"brute_force_protection":true},"strategy":"auth0","name":"Test-Auth0-Connection-PasswordOptions-ProfileData-1736241923","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Auth0-Connection-PasswordOptions-ProfileData-1736241923"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.023456789s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_PasswordProfile1234
        method: DELETE
      response:
        body: '{"deleted_at":"2025-01-07T09:25:25.332Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 349.379959ms
