---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Auth0-Connection-PasswordOptions-Complexity-1777519532","strategy":"auth0","options":{"password_options":{"complexity":{"min_length":12,"character_types":["uppercase","lowercase","number","special"],"character_type_rule":"three_of_four","identical_characters":"block","sequential_characters":"block","max_length_exceeded":"error"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_rDtaMQKr3JoToqQc","options":{"mfa":{"active":true,"return_enroll_settings":true},"password_options":{"complexity":{"character_type_rule":"three_of_four","identical_characters":"block","sequential_characters":"block","max_length_exceeded":"error","min_length":12,"character_types":["uppercase","lowercase","number","special"]},"profile_data":{"active":false,"blocked_fields":["name","username","nickname","email","phone_number","user_metadata.name","user_metadata.first","user_metadata.last"]},"history":{"active":false,"size":3},"dictionary":{"active":false,"custom":[],"default":"en_100k"}},"strategy_version":2,"authentication_methods":{"password":{"enabled":true,"api_behavior":"required","signup_behavior":"allow"},"passkey":{"enabled":false}},"passkey_options":{"challenge_ui":"both","progressive_enrollment_enabled":true,"local_enrollment_enabled":true},"brute_force_protection":true},"strategy":"auth0","name":"Test-Auth0-Connection-PasswordOptions-Complexity-1777519532","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"enabled_clients":[],"realms":["Test-Auth0-Connection-PasswordOptions-Complexity-1777519532"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.336283875s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_rDtaMQKr3JoToqQc
        method: DELETE
      response:
        body: '{"deleted_at":"2026-04-30T03:26:03.811Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 1.352661459s
