---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Auth0-Connection-Username-1720679132","strategy":"auth0","options":{"attributes":{"username":{"identifier":{"active":true},"profile_required":true,"signup":{"status":"required"}}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_j4m7pWHVBIcSXNEJ","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","attributes":{"username":{"identifier":{"active":true},"profile_required":true,"signup":{"status":"required"},"validation":{"min_length":1,"max_length":15,"allowed_types":{"email":false,"phone_number":false}}}},"strategy_version":2,"authentication_methods":{"password":{"enabled":true},"passkey":{"enabled":false}},"passkey_options":{"challenge_ui":"both","progressive_enrollment_enabled":true,"local_enrollment_enabled":true},"brute_force_protection":true},"strategy":"auth0","name":"Test-Auth0-Connection-Username-1720679132","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Auth0-Connection-Username-1720679132"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 426.863959ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_j4m7pWHVBIcSXNEJ
        method: DELETE
      response:
        body: '{"deleted_at":"2024-07-11T06:25:35.951Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 414.330208ms
