---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Auth0-Connection-No-Active-Attributes-1720679132","strategy":"auth0","options":{"attributes":{"email":{"identifier":{"active":false},"profile_required":false,"signup":{"status":"required","verification":{"active":false}}},"phone_number":{"identifier":{"active":false},"profile_required":false,"signup":{"status":"required","verification":{"active":false}}},"username":{"identifier":{"active":false},"profile_required":false,"signup":{"status":"required"}}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"statusCode":400,"error":"Bad Request","message":"attributes must contain one active identifier","errorCode":"invalid_body"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 357.934708ms
