---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/attack-protection/breached-password-detection
        method: GET
      response:
        body: '{"enabled":true,"shields":["admin_notification","user_notification","block"],"admin_notification_frequency":["weekly","immediately","monthly","daily"],"method":"standard","stage":{"pre-user-registration":{"shields":["admin_notification","block"]}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 297.036209ms
