// Code generated by Fern. DO NOT EDIT.

package experiments

import (
	context "context"
	http "net/http"

	management "github.com/auth0/go-auth0/v3/management"
	core "github.com/auth0/go-auth0/v3/management/core"
	internal "github.com/auth0/go-auth0/v3/management/internal"
	option "github.com/auth0/go-auth0/v3/management/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Retrieve a paginated list of experiments for the tenant, with optional filters.
func (c *Client) List(
	ctx context.Context,
	request *management.ListExperimentsRequestParameters,
	opts ...option.RequestOption,
) (*core.Page[*string, *management.ExperimentListItem, *management.ListExperimentsResponseContent], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://%7BTENANT%7D.auth0.com/api/v2",
	)
	endpointURL := baseURL + "/experimentation/experiments"
	queryParams, err := internal.QueryValuesWithDefaults(
		request,
		map[string]any{
			"take": 50,
		},
	)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("from", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(management.ErrorCodes),
		}
	}
	readPageResponse := func(response *management.ListExperimentsResponseContent) *core.PageResponse[*string, *management.ExperimentListItem, *management.ListExperimentsResponseContent] {
		var zeroValue *string
		next := response.Next
		results := response.Experiments
		return &core.PageResponse[*string, *management.ExperimentListItem, *management.ListExperimentsResponseContent]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.From)
}

// Create a new experiment with traffic allocations for A/B testing.
func (c *Client) Create(
	ctx context.Context,
	request *management.CreateExperimentRequestContent,
	opts ...option.RequestOption,
) (*management.CreateExperimentResponseContent, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieve a single experiment with its allocations by ID.
func (c *Client) Get(
	ctx context.Context,
	// The ID of the experiment to retrieve.
	id string,
	opts ...option.RequestOption,
) (*management.GetExperimentResponseContent, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		id,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Permanently delete an experiment and its allocations by ID. Active experiments cannot be deleted; pause or complete first. Idempotent: returns 204 even if the experiment does not exist.
func (c *Client) Delete(
	ctx context.Context,
	// The ID of the experiment to delete.
	id string,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Delete(
		ctx,
		id,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Partially update an experiment by ID. Only provided fields are updated. Providing allocations replaces the entire allocations set.
func (c *Client) Update(
	ctx context.Context,
	// The ID of the experiment to update.
	id string,
	request *management.UpdateExperimentRequestParameters,
	opts ...option.RequestOption,
) (*management.UpdateExperimentResponseContent, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		id,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Transitions an experiment through its lifecycle: draft → active, active → paused, paused → active, active/paused → completed. Activation runs full readiness validation.
func (c *Client) UpdateStatus(
	ctx context.Context,
	// The ID of the experiment to transition.
	id string,
	request *management.UpdateExperimentStatusRequestContent,
	opts ...option.RequestOption,
) (*management.UpdateExperimentStatusResponseContent, error) {
	response, err := c.WithRawResponse.UpdateStatus(
		ctx,
		id,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Checks whether an experiment is ready to be activated. Returns is_valid boolean and an errors array describing any blockers. Read-only; no state is modified.
func (c *Client) Validate(
	ctx context.Context,
	// The ID of the experiment to validate.
	id string,
	opts ...option.RequestOption,
) (*management.ValidateExperimentResponseContent, error) {
	response, err := c.WithRawResponse.Validate(
		ctx,
		id,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
