---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/guardian/factors/sms/providers/twilio
        method: GET
      response:
        body: '{"auth_token":"bar","sid":"foo","from":"from bar","messaging_service_sid":"foo"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 118.953792ms
[...]
