// Code generated by Fern. DO NOT EDIT.

package discoverydomains

import (
	context "context"
	management "github.com/auth0/go-auth0/v2/management"
	core "github.com/auth0/go-auth0/v2/management/core"
	internal "github.com/auth0/go-auth0/v2/management/internal"
	option "github.com/auth0/go-auth0/v2/management/option"
	http "net/http"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// Retrieve list of all organization discovery domains associated with the specified organization.
func (c *Client) List(
	ctx context.Context,
	// ID of the organization.
	id string,
	request *management.ListOrganizationDiscoveryDomainsRequestParameters,
	opts ...option.RequestOption,
) (*core.Page[*string, *management.OrganizationDiscoveryDomain, *management.ListOrganizationDiscoveryDomainsResponseContent], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://%7BTENANT%7D.auth0.com/api/v2",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/organizations/%v/discovery-domains",
		id,
	)
	queryParams, err := internal.QueryValuesWithDefaults(
		request,
		map[string]any{
			"take": 50,
		},
	)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("from", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(management.ErrorCodes),
		}
	}
	readPageResponse := func(response *management.ListOrganizationDiscoveryDomainsResponseContent) *core.PageResponse[*string, *management.OrganizationDiscoveryDomain, *management.ListOrganizationDiscoveryDomainsResponseContent] {
		var zeroValue *string
		next := response.Next
		results := response.Domains
		return &core.PageResponse[*string, *management.OrganizationDiscoveryDomain, *management.ListOrganizationDiscoveryDomainsResponseContent]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.From)
}

// Update the verification status and/or use_for_organization_discovery for an organization discovery domain. The <code>status</code> field must be either <code>pending</code> or <code>verified</code>. The <code>use_for_organization_discovery</code> field can be <code>true</code> or <code>false</code> (default: <code>true</code>).
func (c *Client) Create(
	ctx context.Context,
	// ID of the organization.
	id string,
	request *management.CreateOrganizationDiscoveryDomainRequestContent,
	opts ...option.RequestOption,
) (*management.CreateOrganizationDiscoveryDomainResponseContent, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		id,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Retrieve details about a single organization discovery domain specified by ID.
func (c *Client) Get(
	ctx context.Context,
	// ID of the organization.
	id string,
	// ID of the discovery domain.
	discoveryDomainID string,
	opts ...option.RequestOption,
) (*management.GetOrganizationDiscoveryDomainResponseContent, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		id,
		discoveryDomainID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Remove a discovery domain from an organization. This action cannot be undone.
func (c *Client) Delete(
	ctx context.Context,
	// ID of the organization.
	id string,
	// ID of the discovery domain.
	discoveryDomainID string,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Delete(
		ctx,
		id,
		discoveryDomainID,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Update the verification status and/or use_for_organization_discovery for an organization discovery domain. The <code>status</code> field must be either <code>pending</code> or <code>verified</code>. The <code>use_for_organization_discovery</code> field can be <code>true</code> or <code>false</code> (default: <code>true</code>).
func (c *Client) Update(
	ctx context.Context,
	// ID of the organization.
	id string,
	// ID of the discovery domain to update.
	discoveryDomainID string,
	request *management.UpdateOrganizationDiscoveryDomainRequestContent,
	opts ...option.RequestOption,
) (*management.UpdateOrganizationDiscoveryDomainResponseContent, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		id,
		discoveryDomainID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
