---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-LinkedIn-Connection-1747380988","strategy":"linkedin","options":{"strategy_version":2,"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_b6ZjY2GHZbStChBO","options":{"strategy_version":2,"upstream_params":{"screen_name":{"alias":"login_hint"}},"profile":true,"scope":["r_liteprofile"]},"strategy":"linkedin","name":"Test-LinkedIn-Connection-1747380988","is_domain_connection":false,"enabled_clients":[],"realms":["Test-LinkedIn-Connection-1747380988"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 384.5235ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_b6ZjY2GHZbStChBO
        method: DELETE
      response:
        body: '{"deleted_at":"2025-05-16T07:36:41.218Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 385.217334ms
