---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-AzureAD-Connection-1747380988","strategy":"waad","options":{"client_id":"123456","client_secret":"123456","strategy_version":2,"tenant_domain":"example.onmicrosoft.com","domain":"example.onmicrosoft.com","upstream_params":{"screen_name":{"alias":"login_hint"}},"userid_attribute":"sub"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_nwzZiABineEkfLT7","options":{"client_id":"123456","client_secret":"123456","strategy_version":2,"tenant_domain":"example.onmicrosoft.com","domain":"example.onmicrosoft.com","upstream_params":{"screen_name":{"alias":"login_hint"}},"userid_attribute":"sub","thumbprints":["2588523ac1e10d9adce647ea420f2e8e41cc4cd6","08dbf4388dd1c2a9471445676a8300b21087d971","3e854a7a2ac83af993c8b43d1bd05e9c1c28b3b9","fe33708de4a7bd34caf1711daf94143e40512cba","f9c800be39a6436e0ab36d332290c1e125bcf78c","2a6f2868351b6ffa55506b13dfc7875fceefd3bf"],"app_domain":"go-auth0-dev.eu.auth0.com.us.auth0.com","identity_api":"microsoft-identity-platform-v2.0","useCommonEndpoint":false,"should_trust_email_verified_connection":"never_set_emails_as_verified","waad_common_endpoint":false,"use_wsfed":false,"waad_protocol":"openid-connect"},"strategy":"waad","name":"Test-AzureAD-Connection-1747380988","provisioning_ticket_url":"https://go-auth0-dev.eu.auth0.com.us.auth0.com/go-auth0-dev.eu.auth0.com/p/waad/HETEkunG","is_domain_connection":false,"show_as_button":false,"display_name":"Test-AzureAD-Connection-1747380988","enabled_clients":[],"realms":["Test-AzureAD-Connection-1747380988"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 868.86275ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_nwzZiABineEkfLT7
        method: DELETE
      response:
        body: '{"deleted_at":"2025-05-16T07:36:37.352Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 390.4965ms
