---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-AzureAD-Connection-1726765770","strategy":"waad","options":{"client_id":"123456","client_secret":"123456","strategy_version":2,"tenant_domain":"example.onmicrosoft.com","domain":"example.onmicrosoft.com","upstream_params":{"screen_name":{"alias":"login_hint"}},"user_id_attribute":"userName"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_i15x4wejYHrPK4uj","options":{"client_id":"123456","client_secret":"123456","strategy_version":2,"tenant_domain":"example.onmicrosoft.com","domain":"example.onmicrosoft.com","upstream_params":{"screen_name":{"alias":"login_hint"}},"user_id_attribute":"userName","thumbprints":["1fd9e3e40392b30329860d52171ee3695fa507dc","8a48f046b8d93d1e7c6bfc10c54ce9cc6b94378b","31cee5dc8cfdde0eeec2035e1269b0fd66063e4a","824f47a0658299810b52ad51110d0290783e46c6"],"app_domain":"go-auth0-dev.eu.auth0.com.eu.auth0.com","identity_api":"microsoft-identity-platform-v2.0","useCommonEndpoint":false,"should_trust_email_verified_connection":"never_set_emails_as_verified","waad_common_endpoint":false,"use_wsfed":false,"waad_protocol":"openid-connect","userid_attribute":"oid"},"strategy":"waad","name":"Test-AzureAD-Connection-1726765770","provisioning_ticket_url":"https://go-auth0-dev.eu.auth0.com.eu.auth0.com/go-auth0-dev.eu.auth0.com/p/waad/eNNGNndi","is_domain_connection":false,"show_as_button":false,"display_name":"Test-AzureAD-Connection-1726765770","enabled_clients":[],"realms":["Test-AzureAD-Connection-1726765770"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 422.7585ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_i15x4wejYHrPK4uj
        method: DELETE
      response:
        body: '{"deleted_at":"2024-09-19T17:09:39.864Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 175.485292ms
