---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Line-Connection-1768388363","strategy":"line","options":{"client_id":"line_client_id","client_secret":"line_client_secret","authorizationURL":null,"tokenURL":null,"upstream_params":{"screen_name":{"alias":"login_hint"}},"email":true,"scope":["profile","openid","email"]}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_XeoveiGCaRyV5jnS","options":{"client_id":"line_client_id","client_secret":"line_client_secret","authorizationURL":null,"tokenURL":null,"upstream_params":{"screen_name":{"alias":"login_hint"}},"email":true,"scope":["openid","email","profile"],"profile":true},"strategy":"line","name":"Test-Line-Connection-1768388363","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"enabled_clients":[],"realms":["Test-Line-Connection-1768388363"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 997.678375ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_XeoveiGCaRyV5jnS
        method: DELETE
      response:
        body: '{"deleted_at":"2026-01-14T10:59:24.282Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 435.200417ms
