---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-OAuth1-Connection-1761733286","strategy":"oauth1","options":{"consumer_key":"test-consumer-key","consumer_secret":"test-consumer-secret","requestTokenURL":"https://api.twitter.com/oauth/request_token","accessTokenURL":"https://api.twitter.com/oauth/access_token","userAuthorizationURL":"https://api.twitter.com/oauth/authorize","signatureMethod":"HMAC-SHA1","scripts":{"fetchUserProfile":"function(token, tokenSecret, ctx, cb) { return cb(null, {}); }"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_0Yij77AiO0x4bw7M","options":{"consumer_key":"test-consumer-key","consumer_secret":"test-consumer-secret","requestTokenURL":"https://api.twitter.com/oauth/request_token","accessTokenURL":"https://api.twitter.com/oauth/access_token","userAuthorizationURL":"https://api.twitter.com/oauth/authorize","signatureMethod":"HMAC-SHA1","scripts":{"fetchUserProfile":"function(token, tokenSecret, ctx, cb) { return cb(null, {}); }"}},"strategy":"oauth1","name":"Test-OAuth1-Connection-1761733286","is_domain_connection":false,"enabled_clients":[],"realms":["Test-OAuth1-Connection-1761733286"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.005689625s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_0Yij77AiO0x4bw7M
        method: DELETE
      response:
        body: '{"deleted_at":"2025-10-29T10:21:28.007Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 371.350459ms
