---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-WindowsLive-Connection-1726765770","strategy":"windowslive","options":{"strategy_version":2,"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_w7b5jTS3SbM9TxlT","options":{"strategy_version":2,"upstream_params":{"screen_name":{"alias":"login_hint"}},"signin":true,"scope":[]},"strategy":"windowslive","name":"Test-WindowsLive-Connection-1726765770","is_domain_connection":false,"enabled_clients":[],"realms":["Test-WindowsLive-Connection-1726765770"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 5.326614875s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_w7b5jTS3SbM9TxlT
        method: DELETE
      response:
        body: '{"deleted_at":"2024-09-19T17:09:47.461Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 162.667959ms
