---
version: 1
interactions:
- request:
    body: |
      {"name":"Test-LogStream-1654521050","type":"sumo","sink":{"sumoSourceAddress":"https://example.com"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/log-streams
    method: POST
  response:
    body: '{"id":"lst_0000000000009094","name":"Test-LogStream-1654521050","type":"sumo","status":"active","sink":{"sumoSourceAddress":"https://example.com"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      {"filters":[{"name":"auth.login.fail","type":"category"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000009094
    method: PATCH
  response:
    body: '{"id":"lst_0000000000009094","name":"Test-LogStream-1654521050","type":"sumo","status":"active","sink":{"sumoSourceAddress":"https://example.com"},"filters":[{"name":"auth.login.fail","type":"category"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
