---
version: 1
interactions:
- request:
    body: |
      {"name":"Test-LogStream-1654521050","type":"datadog","sink":{"datadogRegion":"us","datadogApiKey":"121233123455"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/log-streams
    method: POST
  response:
    body: '{"id":"lst_0000000000009092","name":"Test-LogStream-1654521050","type":"datadog","status":"active","sink":{"datadogApiKey":"121233123455","datadogRegion":"us"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      {"filters":[{"name":"auth.login.fail","type":"category"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000009092
    method: PATCH
  response:
    body: '{"id":"lst_0000000000009092","name":"Test-LogStream-1654521050","type":"datadog","status":"active","sink":{"datadogApiKey":"121233123455","datadogRegion":"us"},"filters":[{"name":"auth.login.fail","type":"category"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
