---
version: 1
interactions:
- request:
    body: |
      {"name":"Test-LogStream-1654521050","type":"http","sink":{"httpContentFormat":"JSONLINES","httpContentType":"application/json","httpEndpoint":"https://example.com/logs","httpAuthorization":"Bearer f2368bbe77074527a37be2fdd5b92bad"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/log-streams
    method: POST
  response:
    body: '{"id":"lst_0000000000009091","name":"Test-LogStream-1654521050","type":"http","status":"active","sink":{"httpAuthorization":"Bearer
      f2368bbe77074527a37be2fdd5b92bad","httpContentFormat":"JSONLINES","httpContentType":"application/json","httpEndpoint":"https://example.com/logs"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      {"filters":[{"name":"auth.login.fail","type":"category"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000009091
    method: PATCH
  response:
    body: '{"id":"lst_0000000000009091","name":"Test-LogStream-1654521050","type":"http","status":"active","sink":{"httpAuthorization":"Bearer
      f2368bbe77074527a37be2fdd5b92bad","httpContentFormat":"JSONLINES","httpContentType":"application/json","httpEndpoint":"https://example.com/logs"},"filters":[{"name":"auth.login.fail","type":"category"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
