---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-OIDC-Connection-1726595088","strategy":"oidc","options":{"client_id":"4ef8d976-71bd-4473-a7ce-087d3f0fafd8","discovery_url":"https://www.paypalobjects.com/.well-known/openid-configuration","authorization_endpoint":"https://example.com","issuer":"https://example.com","jwks_uri":"https://example.com/jwks","type":"front_channel","userinfo_endpoint":null,"token_endpoint":null,"scope":"openid","upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_yT4gZ2YgwUCD7Mo2","options":{"client_id":"4ef8d976-71bd-4473-a7ce-087d3f0fafd8","discovery_url":"https://www.paypalobjects.com/.well-known/openid-configuration","authorization_endpoint":"https://example.com","issuer":"https://example.com","jwks_uri":"https://example.com/jwks","type":"front_channel","userinfo_endpoint":"https://api.paypal.com/v1/oauth2/token/userinfo","token_endpoint":"https://api.paypal.com/v1/oauth2/token","scope":"openid","upstream_params":{"screen_name":{"alias":"login_hint"}},"oidc_metadata":{"issuer":"https://www.paypal.com","authorization_endpoint":"https://www.paypal.com/signin/authorize","registration_endpoint":"https://api.paypal.com/v1/oauth2/applications","token_endpoint":"https://api.paypal.com/v1/oauth2/token","userinfo_endpoint":"https://api.paypal.com/v1/oauth2/token/userinfo","jwks_uri":"https://api.paypal.com/v1/oauth2/certs","revocation_endpoint":"https://api.paypal.com/v1/oauth2/revoke","token_endpoint_auth_methods_supported":["client_secret_basic"],"response_types_supported":["code","code id_token"],"response_modes_supported":["query","form_post"],"grant_types_supported":["authorization_code","refresh_token"],"subject_types_supported":["pairwise"],"scopes_supported":["email","address","phone","openid","profile","https://uri.paypal.com/services/wallet/sendmoney","https://uri.paypal.com/services/payments/futurepayments","https://uri.paypal.com/services/expresscheckout"],"id_token_signing_alg_values_supported":["HS256","RS256"],"claims_supported":["aud","iss","iat","exp","auth_time","nonce","sessionIndex","user_id"],"code_challenge_methods_supported":["RS256","ES256","S256"],"claims_parameter_supported":false,"request_parameter_supported":false,"request_uri_parameter_supported":false,"require_request_uri_registration":false},"schema_version":"oidc-V4","attribute_map":{"mapping_mode":"bind_all"},"connection_settings":{"pkce":"auto"}},"strategy":"oidc","name":"Test-OIDC-Connection-1726595088","is_domain_connection":false,"show_as_button":false,"display_name":"Test-OIDC-Connection-1726595088","enabled_clients":[],"realms":["Test-OIDC-Connection-1726595088"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 6.473072709s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Test-OIDC-Connection-1726595088&per_page=50
        method: GET
      response:
        body: '{"total":1,"start":0,"limit":50,"connections":[{"id":"con_yT4gZ2YgwUCD7Mo2","options":{"type":"front_channel","scope":"openid","issuer":"https://example.com","jwks_uri":"https://example.com/jwks","client_id":"4ef8d976-71bd-4473-a7ce-087d3f0fafd8","attribute_map":{"mapping_mode":"bind_all"},"discovery_url":"https://www.paypalobjects.com/.well-known/openid-configuration","oidc_metadata":{"issuer":"https://www.paypal.com","jwks_uri":"https://api.paypal.com/v1/oauth2/certs","token_endpoint":"https://api.paypal.com/v1/oauth2/token","claims_suppo[...]
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_yT4gZ2YgwUCD7Mo2
        method: DELETE
      response:
        body: '{"deleted_at":"2024-09-17T17:46:46.346Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 183.530791ms
[...]
