---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Wordpress-Connection-1714380929","strategy":"wordpress","options":{"authorizationURL":null,"tokenURL":null,"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_ikCWJhC06mBIhdrO","options":{"authorizationURL":null,"tokenURL":null,"upstream_params":{"screen_name":{"alias":"login_hint"}},"profile":true,"scope":["profile"]},"strategy":"wordpress","name":"Test-Wordpress-Connection-1714380929","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Wordpress-Connection-1714380929"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 427.174ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Test-Wordpress-Connection-1714380929&per_page=50
        method: GET
      response:
        body: '{"total":1,"start":0,"limit":50,"connections":[{"id":"con_ikCWJhC06mBIhdrO","options":[...]
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_ikCWJhC06mBIhdrO
        method: DELETE
      response:
        body: '{"deleted_at":"2024-04-29T08:55:34.597Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 376.76375ms
[...]
