---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-GoogleOAuth2-Connection-1674668511","strategy":"google-oauth2","options":{"allowed_audiences":["example.com","api.example.com"],"profile":true,"calendar":true,"youtube":false,"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_bRmdYowNkYVswKT9","options":{"allowed_audiences":["example.com","api.example.com"],"profile":true,"calendar":true,"youtube":false,"upstream_params":{"screen_name":{"alias":"login_hint"}},"email":true,"scope":["profile","https://www.googleapis.com/auth/calendar","email"]},"strategy":"google-oauth2","name":"Test-GoogleOAuth2-Connection-1674668511","is_domain_connection":false,"enabled_clients":[],"realms":["Test-GoogleOAuth2-Connection-1674668511"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 120.937625ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Test-GoogleOAuth2-Connection-1674668511&per_page=50
        method: GET
      response:
        body: '{"total":1,"start":0,"limit":50,"connections":[{"id":"con_bRmdYowNkYVswKT9","options":{"email":true,"scope":["profile","https://www.googleapis.com/auth/calendar","email"],"profile":true,"youtube":false,"calendar":true,"upstream_params":{"screen_name":{"alias":"login_hint"}},"allowed_audiences":["example.com","api.example.com"]},"strategy":"google-oauth2","name":"Test-GoogleOAuth2-Connection-1674668511","is_domain_connection":false,"realms":["Test-GoogleOAuth2-Connection-1674668511"],"enabled_clients":[]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 109.587ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_bRmdYowNkYVswKT9
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 226.604042ms
[...]
