---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Facebook-Connection-1747381016","strategy":"facebook","options":{"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_ZiesXSxwU329Pztz","options":{"upstream_params":{"screen_name":{"alias":"login_hint"}},"scope":""},"strategy":"facebook","name":"Test-Facebook-Connection-1747381016","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Facebook-Connection-1747381016"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 495.538833ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Test-Facebook-Connection-1747381016&per_page=50
        method: GET
      response:
        body: '{"total":1,"start":0,"limit":50,"connections":[{"id":"con_ZiesXSxwU329Pztz","options":[...]
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_ZiesXSxwU329Pztz
        method: DELETE
      response:
        body: '{"deleted_at":"2025-05-16T07:37:58.375Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 433.03625ms
[...]
