---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-SalesForce-Connection-1714039119","strategy":"salesforce","options":{"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_pbupNl5E5iKEDlaQ","options":{"upstream_params":{"screen_name":{"alias":"login_hint"}},"scope":[]},"strategy":"salesforce","name":"Test-SalesForce-Connection-1714039119","is_domain_connection":false,"enabled_clients":[],"realms":["Test-SalesForce-Connection-1714039119"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 330.258958ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Test-SalesForce-Connection-1714039119&per_page=50
        method: GET
      response:
        body: '{"total":1,"start":0,"limit":50,"connections":[{"id":"con_pbupNl5E5iKEDlaQ","options":[...]
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_pbupNl5E5iKEDlaQ
        method: DELETE
      response:
        body: '{"deleted_at":"2024-04-25T09:59:54.022Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 318.626625ms
[...]
