---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Wordpress-Connection-1741359646","strategy":"wordpress","options":{"strategy_version":2,"authorizationURL":null,"tokenURL":null,"upstream_params":{"screen_name":{"alias":"login_hint"}},"custom_headers":{"X-Auth0-Client":"my-client"},"scope":["email","profile","openid"]}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_lZXfNWlpy7fCMeYO","options":{"strategy_version":2,"authorizationURL":null,"tokenURL":null,"upstream_params":{"screen_name":{"alias":"login_hint"}},"custom_headers":{"X-Auth0-Client":"my-client"},"scope":["profile"],"profile":true},"strategy":"wordpress","name":"Test-Wordpress-Connection-1741359646","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Wordpress-Connection-1741359646"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 403.832875ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Test-Wordpress-Connection-1741359646&per_page=50
        method: GET
      response:
        body: '{"total":1,"start":0,"limit":50,"connections":[{"id":"con_lZXfNWlpy7fCMeYO","options":[...]
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_lZXfNWlpy7fCMeYO
        method: DELETE
      response:
        body: '{"deleted_at":"2025-03-07T15:00:49.242Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 349.307792ms
[...]
