---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-SalesForce-Connection-1714380929","strategy":"salesforce","options":{"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_OigUsYbgAztCXXhp","options":{"upstream_params":{"screen_name":{"alias":"login_hint"}},"scope":[]},"strategy":"salesforce","name":"Test-SalesForce-Connection-1714380929","is_domain_connection":false,"enabled_clients":[],"realms":["Test-SalesForce-Connection-1714380929"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 409.236667ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Test-SalesForce-Connection-1714380929&per_page=50
        method: GET
      response:
        body: '{"total":1,"start":0,"limit":50,"connections":[{"id":"con_OigUsYbgAztCXXhp","options":[...]
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_OigUsYbgAztCXXhp
        method: DELETE
      response:
        body: '{"deleted_at":"2024-04-29T08:56:02.151Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 356.59775ms
[...]
