---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Apple-Connection-1747381016","strategy":"apple","options":{"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_M2aadWNRxxJEBYe0","options":{"upstream_params":{"screen_name":{"alias":"login_hint"}}},"strategy":"apple","name":"Test-Apple-Connection-1747381016","is_domain_connection":false,"enabled_clients":[],"realms":["Test-Apple-Connection-1747381016"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 378.788292ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Test-Apple-Connection-1747381016&per_page=50
        method: GET
      response:
        body: '{"total":1,"start":0,"limit":50,"connections":[{"id":"con_M2aadWNRxxJEBYe0","options":{"upstream_params":{"screen_name":{"alias":"login_hint"}}},"strategy":"apple","name":"Test-Apple-Connection-1747381016","is_domain_connection":false,"realms":["Test-Apple-Connection-1747381016"],"enabled_clients":[]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 426.500375ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_M2aadWNRxxJEBYe0
        method: DELETE
      response:
        body: '{"deleted_at":"2025-05-16T07:37:59.992Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 382.292083ms
[...]
