---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-AD-Connection-1726668924","strategy":"ad","options":{"strategy_version":2,"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_LLzKWuJD5Ft0QHDn","options":{"strategy_version":2,"upstream_params":{"screen_name":{"alias":"login_hint"}},"ips":null,"brute_force_protection":true},"strategy":"ad","name":"Test-AD-Connection-1726668924","provisioning_ticket_url":"https://go-auth0-dev.eu.auth0.com.eu.auth0.com/p/ad/cybDryXd8WWz1Sc7qikNSyPswSi0F66c","is_domain_connection":false,"show_as_button":false,"enabled_clients":[],"realms":["Test-AD-Connection-1726668924"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 220.15075ms
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Test-AD-Connection-1726668924&per_page=50
        method: GET
      response:
        body: '{"total":1,"start":0,"limit":50,"connections":[{"id":"con_LLzKWuJD5Ft0QHDn","options":{"ips":null,"upstream_params":{"screen_name":{"alias":"login_hint"}},"strategy_version":2,"brute_force_protection":true},"strategy":"ad","name":"Test-AD-Connection-1726668924","provisioning_ticket_url":"https://go-auth0-dev.eu.auth0.com.eu.auth0.com/p/ad/cybDryXd8WWz1Sc7qikNSyPswSi0F66c","is_domain_connection":false,"show_as_button":false,"realms":["Test-AD-Connection-1726668924"],"enabled_clients":[]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 6.306271584s
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_LLzKWuJD5Ft0QHDn
        method: DELETE
      response:
        body: '{"deleted_at":"2024-09-18T14:16:34.145Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 157.357167ms
[...]
