---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-Line-Connection-1768388430","strategy":"line","options":{"client_id":"line_client_id","client_secret":"line_client_secret","authorizationURL":null,"tokenURL":null,"upstream_params":{"screen_name":{"alias":"login_hint"}},"email":true,"scope":["profile","openid","email"]}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_VxhbDl1Oh5gmyCmR","options":{"client_id":"line_client_id","client_secret":"line_client_secret","authorizationURL":null,"tokenURL":null,"upstream_params":{"screen_name":{"alias":"login_hint"}},"email":true,"scope":["openid","email","profile"],"profile":true},"strategy":"line","name":"Test-Line-Connection-1768388430","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"enabled_clients":[],"realms":["Test-Line-Connection-1768388430"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.072500917s
    - id: 1
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&name=Test-Line-Connection-1768388430&per_page=50
        method: GET
      response:
        body: '{"total":1,"start":0,"limit":50,"connections":[{"id":"con_VxhbDl1Oh5gmyCmR","options":{"email":true,"scope":["openid","email","profile"],"profile":true,"client_id":"line_client_id","client_secret":"line_client_secret","upstream_params":{"screen_name":{"alias":"login_hint"}}},"strategy":"line","name":"Test-Line-Connection-1768388430","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"realms":["Test-Line-Connection-1768388430"],"enabled_clients":[]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 382.788583ms
    - id: 2
      request:
        host: go-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_VxhbDl1Oh5gmyCmR
        method: DELETE
      response:
        body: '{"deleted_at":"2026-01-14T11:00:32.070Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 417.598625ms
[...]
