---
version: 1
interactions:
- request:
    body: |
      {"name":"Test-SalesForce-Connection-1654521050","strategy":"salesforce","options":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
    method: POST
  response:
    body: '{"id":"con_Da8ENwWWfThbw5kp","options":{"scope":[]},"strategy":"salesforce","name":"Test-SalesForce-Connection-1654521050","is_domain_connection":false,"enabled_clients":[],"realms":["Test-SalesForce-Connection-1654521050"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_Da8ENwWWfThbw5kp
    method: GET
  response:
    body: '{"id":"con_Da8ENwWWfThbw5kp","options":[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_Da8ENwWWfThbw5kp
    method: DELETE
  response:
    body: '{"deleted_at":"2022-06-06T13:13:04.649Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 202 Accepted
    code: 202
    duration: 1ms
[...]
