---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: binding_message=TEST-BINDING-MESSAGE&client_id=test-client_id&client_secret=test-client_secret&login_hint=%7B%22format%22%3A%22iss_sub%22%2C%22iss%22%3A%22https%3A%2F%2Fgo-auth0-dev.eu.auth0.com.sus.auth0.com%2F%22%2C%22sub%22%3A%22auth0%7CRandom-ID%22%7D&scope=openid
        form:
            binding_message:
                - TEST-BINDING-MESSAGE
            client_id:
                - test-client_id
            client_secret:
                - test-client_secret
            login_hint:
                - '{"format":"iss_sub","iss":"https://witty-silver-sailfish-sus1-staging-20240704.sus.auth0.com/","sub":"auth0|Random-ID"}'
            scope:
                - openid
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://go-auth0-dev.eu.auth0.com/bc-authorize
        method: POST
      response:
        body: '{"error":"unknown_user_id","error_description":"User ID is malformed or unknown"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 394.13825ms
