---
version: 2
interactions:
    - id: 0
      request:
        host: go-auth0-dev.eu.auth0.com
        body: client_id=test-client_id&client_secret=test-client_secret&grant_type=http%3A%2F%2Fauth0.com%2Foauth%2Fgrant-type%2Fmfa-otp&mfa_token=mfa-token&otp=853860
        form:
            client_id:
                - test-client_id
            client_secret:
                - test-client_secret
            grant_type:
                - http://auth0.com/oauth/grant-type/mfa-otp
            mfa_token:
                - mfa-token
            otp:
                - "853860"
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://go-auth0-dev.eu.auth0.com/oauth/token
        method: POST
      response:
        body: '{"access_token":"test-access-token","expires_in":86400,"scope":"openid profile","token_type":"Bearer"}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 388.255208ms
