---
version: 1
interactions:
- request:
    body: |
      {"name":"Test-AD-Connection-1654521050","strategy":"ad"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
    method: POST
  response:
    body: '{"id":"con_1s94mDL9UhlMCAst","options":{"ips":null,"brute_force_protection":true},"strategy":"ad","name":"Test-AD-Connection-1654521050","provisioning_ticket_url":"https://go-auth0-dev.eu.auth0.com/p/ad/NmxyyI27rUH4bk8VYgGxC15AJNheqT1v","is_domain_connection":false,"show_as_button":false,"enabled_clients":[],"realms":["Test-AD-Connection-1654521050"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      {"options":{"ips":null}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_1s94mDL9UhlMCAst
    method: PATCH
  response:
    body: '{"id":"con_1s94mDL9UhlMCAst","options":{"ips":null},"strategy":"ad","name":"Test-AD-Connection-1654521050","provisioning_ticket_url":"https://go-auth0-dev.eu.auth0.com/p/ad/NmxyyI27rUH4bk8VYgGxC15AJNheqT1v","is_domain_connection":false,"show_as_button":false,"enabled_clients":[],"realms":["Test-AD-Connection-1654521050"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/connections/con_1s94mDL9UhlMCAst
    method: DELETE
  response:
    body: '{"deleted_at":"2022-06-06T13:14:01.700Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 202 Accepted
    code: 202
    duration: 1ms
