---
version: 1
interactions:
    - request:
        body: |
            {"name":"Test-Okta-Connection-1667572714","strategy":"okta"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://go-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"statusCode":400,"error":"Bad Request","message":"options.domain is required","errorCode":"invalid_body"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 1ms
