name: govulncheck

on:
  pull_request:
    types:
      - opened
      - synchronize
  push:
    branches: [main]
  schedule:
    - cron: "30 0 1,15 * *"

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          ref: ${{ github.event.pull_request.head.sha || github.ref }}

      - name: Scan for Vulnerabilities in Code
        uses: golang/govulncheck-action@b625fbe08f3bccbe446d94fbf87fcc875a4f50ee # pin@1.0.4
        with:
          go-version-file: go.mod
          go-package: ./...
          check-latest: true
          repo-checkout: false
