name: Main Workflow

on:
  push:
    branches: [main, v2]
  pull_request:

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Check that the packages can be built
        run: go build ./...

      - name: Check for linting errors
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # pin@9.2.0
        with:
          version: latest
          args: -v -c .golangci.yml

  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Run tests
        run: make test

      - name: Update codecov report
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # pin@5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.out
          fail_ci_if_error: false
          verbose: true
