name: Main Workflow

on:
  push:
    branches: [main]
  pull_request:

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Check that files were correctly generated
        run: make check-getters

      - name: Check that the packages can be built
        run: go build ./...

      - name: Check for linting errors
        uses: golangci/golangci-lint-action@971e284b6050e8a5849b72094c50ab08da042db8 # pin@6.1.1
        with:
          version: latest
          args: -v -c .golangci.yml

  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Run tests
        run: make test

      - name: Update codecov report
        uses: codecov/codecov-action@05f5a9cfad807516dbbef9929c4a42df3eb78766 # pin@5.0.3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.out
          fail_ci_if_error: false
          verbose: true
