name: Main Workflow

on:
  push:
    branches: [main]
  pull_request:

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Check that files were correctly generated
        run: make check-getters

      - name: Check that the packages can be built
        run: go build ./...

      - name: Check for linting errors
        uses: golangci/golangci-lint-action@3a919529898de77ec3da873e3063ca4b10e7f5cc # pin@3.7.0
        with:
          version: latest
          args: -v -c .golangci.yml

  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Run tests
        run: make test

      - name: Update codecov report
        uses: codecov/codecov-action@ab904c41d6ece82784817410c45d8b8c02684457 # pin@3.1.6
        with:
          files: ./coverage.out
          fail_ci_if_error: false
          verbose: true
