name: Main Workflow

on:
  push:
    branches:
      - main
      - beta
  pull_request:

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Check that files were correctly generated
        run: make check-getters

      - name: Check that the packages can be built
        run: go build ./...

      - name: Check for linting errors
        uses: golangci/golangci-lint-action@639cd343e1d3b897ff35927a75193d57cfcba299 # pin@3.6.0
        with:
          version: latest
          args: -v -c .golangci.yml

  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Run tests
        run: make test

      - name: Update codecov report
        uses: codecov/codecov-action@eaaf4bedf32dbdc6b720b63067d99c4d77d6047d # pin@3.1.4
        with:
          files: ./coverage.out
          fail_ci_if_error: false
          verbose: true
