name: Main Workflow

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: go.mod

      - name: Check that files were correctly generated
        run: make check-getters

      - name: Check that the packages can be built
        run: go build ./...

      - name: Check for linting errors
        run: make lint

      - name: Check for go vulnerabilities
        run: make check-vuln

  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version-file: go.mod

      - name: Run tests
        run: make test

      - name: Update codecov report
        uses: codecov/codecov-action@v3
        with:
          files: ./coverage.out
          fail_ci_if_error: false
          verbose: true
