name: Main Workflow

on:
  push:
    branches: [main, v2]
  pull_request:

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Check that the packages can be built
        run: go build ./...

      - name: Check for linting errors
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # pin@9.0.0
        with:
          version: latest
          args: -v -c .golangci.yml

  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out the code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Run tests
        run: make test

      - name: Update codecov report
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # pin@5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.out
          fail_ci_if_error: false
          verbose: true
