---
version: 1
interactions:
- request:
    body: |
      {}
    form: { }
    headers:
      Content-Type:
        - application/json
    url: https://go-auth0-dev.eu.auth0.com/api/v2/attack-protection/breached-password-detection
    method: GET
  response:
    body: '{"enabled":true,"shields":["block","user_notification","admin_notification"],"admin_notification_frequency":["weekly","immediately","monthly","daily"],"method":"standard","stage":{"pre-user-registration":{"shields":["admin_notification","block"]}}}'
    headers:
      Content-Type:
        - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
