// Code generated by Fern. DO NOT EDIT.

package templates

import (
	context "context"
	management "github.com/auth0/go-auth0/v2/management"
	core "github.com/auth0/go-auth0/v2/management/core"
	internal "github.com/auth0/go-auth0/v2/management/internal"
	option "github.com/auth0/go-auth0/v2/management/option"
	verification "github.com/auth0/go-auth0/v2/management/verifiablecredentials/verification"
	http "net/http"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
	}
}

// List a verifiable credential templates.
func (c *Client) List(
	ctx context.Context,
	request *verification.ListVerifiableCredentialTemplatesRequestParameters,
	opts ...option.RequestOption,
) (*core.Page[*management.VerifiableCredentialTemplateResponse], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://%7BTENANT%7D.auth0.com/api/v2",
	)
	endpointURL := baseURL + "/verifiable-credentials/verification/templates"
	queryParams, err := internal.QueryValuesWithDefaults(
		request,
		map[string]any{
			"take": 50,
		},
	)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	errorCodes := internal.ErrorCodes{
		400: func(apiError *core.APIError) error {
			return &management.BadRequestError{
				APIError: apiError,
			}
		},
		401: func(apiError *core.APIError) error {
			return &management.UnauthorizedError{
				APIError: apiError,
			}
		},
		403: func(apiError *core.APIError) error {
			return &management.ForbiddenError{
				APIError: apiError,
			}
		},
		429: func(apiError *core.APIError) error {
			return &management.TooManyRequestsError{
				APIError: apiError,
			}
		},
	}
	prepareCall := func(pageRequest *internal.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("from", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		}
	}
	readPageResponse := func(response *management.ListVerifiableCredentialTemplatesPaginatedResponseContent) *internal.PageResponse[*string, *management.VerifiableCredentialTemplateResponse] {
		var zeroValue *string
		next := response.GetNext()
		results := response.GetTemplates()
		return &internal.PageResponse[*string, *management.VerifiableCredentialTemplateResponse]{
			Next:    next,
			Results: results,
			Done:    next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.From)
}

// Create a verifiable credential template.
func (c *Client) Create(
	ctx context.Context,
	request *verification.CreateVerifiableCredentialTemplateRequestContent,
	opts ...option.RequestOption,
) (*management.CreateVerifiableCredentialTemplateResponseContent, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Get a verifiable credential template.
func (c *Client) Get(
	ctx context.Context,
	// ID of the template to retrieve.
	id string,
	opts ...option.RequestOption,
) (*management.GetVerifiableCredentialTemplateResponseContent, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		id,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Delete a verifiable credential template.
func (c *Client) Delete(
	ctx context.Context,
	// ID of the template to retrieve.
	id string,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Delete(
		ctx,
		id,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Update a verifiable credential template.
func (c *Client) Update(
	ctx context.Context,
	// ID of the template to retrieve.
	id string,
	request *verification.UpdateVerifiableCredentialTemplateRequestContent,
	opts ...option.RequestOption,
) (*management.UpdateVerifiableCredentialTemplateResponseContent, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		id,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
